[2018-10-11 03:40] ngbinh commented on #798
@SethTisue are there any guide on how to help to add more projects to the community build? I would love to help if I can

[2018-10-11 18:01] SethTisue commented on #798
@ngbinh yup, lots of docs in https://github.com/scala/community-builds/wiki

[2018-10-11 21:05] SethTisue opened #800 "regression in 2.12.x build: play-core is failing"
at e.g. https://scala-ci.typesafe.com/view/scala-2.12.x/job/scala-2.12.x-integrate-community-build/3628/ we see

[code]

[2018-10-11 21:05] SethTisue commented on #800
diffing the log from green run 3625 we see:

[code]

[2018-10-11 21:07] SethTisue commented on #800
note that play itself is frozen. which change might be relevant? play's dependencies are:

[code]

and in the play-guice subproject specifically we see:

[code]

so this must be a specs2 thing?

[2018-10-11 21:11] SethTisue commented on #800
in specs2 repo, `git diff 9f93c270421a27bec8001d363f69ca02b5c6fa4f a3a350fcca989b99836ce45bcc2b92648142e166` shows

[code]

which is etorreborre/specs2@a3a350fcca989b99836ce45bcc2b92648142e166. see https://github.com/etorreborre/specs2/issues/714

[2018-10-11 21:12] SethTisue commented on #800
let's ask the "software monster". @marcospereira is it plausible that a specs2 bug was covering up a failure in `play.api.http.HttpErrorHandlerSpec`?

[2018-10-11 21:57] SethTisue commented on #800
@etorreborre you might actually be pleased if this is the only covered-up failure in the entire community build :-)

[2018-10-11 22:25] etorreborre commented on #800
Interesting indeed!

[2018-10-11 22:48] SethTisue commented on #796
https://github.com/coursier/coursier/issues/935 (just an issue, not a PR)

[2018-10-11 23:12] SethTisue commented on #796
scalameta: f4dfa8353ab976b527e8b44f403aa516560ff3ca

[2018-10-11 23:26] SethTisue commented on #796
https://github.com/scopt/scopt/pull/207

[2018-10-12 00:55] exoego commented on #796
https://github.com/lihaoyi/Scalatex/pull/67

[2018-10-12 18:39] SethTisue commented on #798
see Toni's remarks at
https://github.com/scala/community-builds/pull/799#issuecomment-429091848 about the technical feasibility and required effort level of this

[2018-10-12 19:35] SethTisue commented on #800
for now I've disabled the test, 12d42f8e9aca2ad0073fd2d3d22769f19930621a. I've verified that fixes the problem from the community build perspective. I leave it up to the Play team whether to pursue the matter further

[2018-10-12 19:35] #800 closed, assigned to SethTisue

[2018-10-16 19:42] SethTisue commented on #798
some previous discussion on this at https://github.com/lightbend/dbuild/issues/193

[2018-10-18 21:05] SethTisue commented on #796
139 green, up from 120 two weeks ago!

in some cases JDK 11 support PRs have been merged, in other cases I've (impatiently) changed our config to point to the PR branch

status as of https://scala-ci.typesafe.com/view/scala-2.12.x/job/scala-2.12.x-jdk11-integrate-community-build/105/ is:

[code]

from `report/Report.scala`:

[code]

[2018-10-19 04:22] xuwei-k commented on #796
fixed in master https://github.com/alexarchambault/case-app/commit/5023eaaf63894fd82dc653e94439e0789452985c

https://github.com/scala/community-builds/blob/01a80322b6a74d79a4181d56eb6c6200e813f050/configs/project-refs.conf#L27

https://github.com/functional-streams-for-scala/fs2/commit/226ff68e34bff56224ecef1c18d6bee4fe4cb0a2#diff-736c8aaa74103281c32f371842cf994bR41

https://github.com/scala/commu

[2018-10-19 20:59] SethTisue opened #803 "upgrade behemoths to JDK 11.0.1"
the JDK 11 community builds are plagued by JVM crashes. scala-xml crashes especially often. I've also seen wartremover crash.

maybe upgrading to 11.0.1 will fix it... it's worth a try

I can use the steps at https://github.com/scala/community-builds/issues/742#issuecomment-422973172 as a template

Linux x64 tarball URL is
https://download.java.net/java/GA/jdk11/13/GPL/openjdk-11.0.1_linux-x64_bin

[2018-10-19 21:10] SethTisue commented on #803
[code]

[code]

[2018-10-19 21:15] SethTisue commented on #803
* https://scala-ci.typesafe.com/view/scala-2.12.x/job/scala-2.12.x-jdk11-integrate-community-build/109/consoleFull
* https://scala-ci.typesafe.com/job/scala-2.13.x-jdk11-integrate-community-build/75/consoleFull

(although we only have JDK 11 jobs on 2 of the behemoths at present, I did the upgrade on all 3)

[2018-10-19 21:18] #803 closed, assigned to SethTisue

[2018-10-19 21:19] SethTisue commented on #803
time will tell whether 11.0.1 is any less crashy. I'll post a status update here next week

[2018-10-19 21:25] SethTisue commented on #803
hmm, magnolia already SIGSEGV'd in the 2.13 run

[2018-10-19 21:44] SethTisue opened #804 "move fs2 to 1.0.0"
1.0.0 was released 14 days ago. we are presently on 1.0.0-M5

moving to 1.0.0 is generally desirable, but would also fix it on JDK 11 by pulling in https://github.com/functional-streams-for-scala/fs2/commit/226ff68e34bff56224ecef1c18d6bee4fe4cb0a2#diff-736c8aaa74103281c32f371842cf994bR41

[2018-10-19 21:46] SethTisue commented on #796
@xuwei-k thanks for all this info. I've handled them as follows:

* case-app: cherry-picked the change onto our fork
* fs2: rather than mess with forking, let's move to 1.0.0 and get the fix that way. new ticket: https://github.com/scala/community-builds/issues/804
* scalamock: forked it and cherry-picked the change (f8d3fe73c0e039a944619bf330cea238d88b6446)
* twitter-util: for now, just added a c

[2018-10-19 22:16] SethTisue commented on #796
https://github.com/olafurpg/metaconfig/pull/61 , b08a23d31a677663b1b7e9eb9437811a84da934e

[2018-10-19 22:45] SethTisue opened #806 "weird FastTypeTag errors started recently"
[code]

@eed3si9n @cunei does the error message give you any immediate insight into what might be going on here? I would have to isolate whether it started with the sbt 1.2.6 upgrade, or the dbuild 0.9.16 upgrade, or what. I could also try to figure out what's special about these two projects.

I have now seen this both on MacOS (my laptop) and Linux (Jenkins), on these two projects in particular.

[2018-10-19 23:16] cunei commented on #806
The dbuild 0.9.16 upgrade may not be the cause: the change with respect to 0.9.15 is quite modest. It adds one additional dependency, but it is a simple java library that has [no other dependencies](http://central.maven.org/maven2/org/apache/servicemix/bundles/org.apache.servicemix.bundles.oro/2.0.8_6/org.apache.servicemix.bundles.oro-2.0.8_6.pom), so unlikely to have this effect.

[2018-10-20 08:19] exoego commented on #796
If [my investigation and understanding](https://github.com/slick/slick/pull/1959) is correct, JDK 9+ support on `slick` requires

* `Oracle XE 18c` that will be released on Octoberer 2018 or later.
* Public Docker image  for `Oracle XE 18c`

[2018-10-21 03:43] SethTisue commented on #806
I don't know but maybe 0e619c1c2de97803b5bc5b8549ecf8a57e97a36c will help

[2018-10-21 04:04] SethTisue commented on #806
a full stack trace:

[code]

[2018-10-21 04:05] SethTisue commented on #806
@eed3si9n I see stuff about cached resolution in the stack trace, perhaps this has to do with the cached resolution changes in sbt 1.2.6?

[2018-10-21 04:07] SethTisue commented on #806
gah, or not, actually both projects are on 0.13.7

[2018-10-21 04:12] SethTisue commented on #806
ah, but maybe it's a clue regardless. both projects use `withCachedResolution(true)`. they aren't the only two projects to use it, but it isn't a super common thing to have enabled, either

[2018-10-21 19:34] eed3si9n commented on #806
I see Scala Pickling in the stack trace so that probably something specific to sbt 0.13.
I'd recommend we try upgrading the build to use sbt 1.

[2018-10-21 19:40] eed3si9n commented on #806
Looks like HEAD is already at sbt 1 https://github.com/lightbend/ssl-config/blob/f417509e22006baba2a00d42481120b81ad972cd/project/build.properties but it was frozen in August https://github.com/scala/community-builds/commit/3514a6ce32d39417635320c19b1c9a03d2c786f0.

[2018-10-21 22:03] SethTisue commented on #806
okay, that's doable, and it's desirable anyway, I'll try that path

[2018-10-21 22:04] SethTisue commented on #806
@japgolly perhaps you've been meaning to move nyaya to sbt 1 anyway...?

[2018-10-23 19:36] SethTisue opened #807 "regression: enumeratum failing (2.12.x)"
lloydmeta/enumeratum@8a23bbd2a8467fd9141ac348c8065d95ae5bcf9a was green at https://scala-ci.typesafe.com/view/scala-2.12.x/job/scala-2.12.x-integrate-community-build/3663/

subsequent runs have been red, since lloydmeta/enumeratum@e8ded23f78038f3a1bde1577b6aa6e3f9010232f (a few more build tweaks were made sense then)

/cc @lloydmeta

[2018-10-23 19:37] SethTisue commented on #807
the stack trace is

[code]

[2018-10-23 19:53] SethTisue commented on #807
I don't know why this is about... some guesses:

* wartremover-related?
* related to  `version := Versions.Macros.head`?
* related to `crossScalaVersions := scalaVersionsAll`?
* related to `.crossType(CrossType.Pure)`?

[2018-10-23 19:54] SethTisue commented on #807
maybe we can just sweep it under the rug with `set every conflictWarning := ConflictWarning.disable`. trying that at https://scala-ci.typesafe.com/view/scala-2.12.x/job/scala-2.12.x-integrate-community-build/3672/

[2018-10-23 21:07] marcospereira commented on #800
Hum, this is probably related to https://github.com/playframework/playframework/pull/8712. What is interesting is that the test was failing silently, so maybe this was fixed recently in specs2 and exposed the test problem in Play.

@SethTisue, I think you can enable the test again. :-)

[2018-10-23 21:31] #807 closed, assigned to SethTisue

[2018-10-23 21:31] SethTisue commented on #807
that lump under the rug? oh, it's nothing

[2018-10-24 00:15] SethTisue commented on #800
okay, trying it as part of #808

[2018-10-24 00:45] SethTisue commented on #806
at #808 I'm attempting to bring in ssl-config's sbt 1 upgrade

[2018-10-24 01:16] SethTisue commented on #796
https://github.com/scalameta/scalafmt/pull/1304

[2018-10-24 03:35] SethTisue commented on #796
scalafmt is green at https://scala-ci.typesafe.com/view/scala-2.12.x/job/scala-2.12.x-jdk11-integrate-community-build/126/, we're up to 148 green now

[code]

I'm working on ssl-config at #808 and fs2 at #805

sbt-util is an easy fix if someone wants to grab that one

[2018-10-24 09:35] japgolly commented on #806
Hi. Yeah no problem, I'm happy to upgrade to new SBT but I won't have much
computer time until next week. I hope this isn't urgent...?

On Wed., 24 Oct. 2018, 11:45 am Seth Tisue, <notifications@github.com>
wrote:

[2018-10-24 12:24] SethTisue commented on #806
@japgolly definitely not urgent

[2018-10-24 21:24] SethTisue commented on #710
Haven't posted an update here in a while, since I have been concentrating instead on encouraging library authors to publish for 2.13.0-M5, since usually that results in the project going green in the community build as well.

but anyway, the current status in a recent run such as https://scala-ci.typesafe.com/job/scala-2.13.x-integrate-community-build/1529/ is:

[code]

once cats is published for

[2018-10-24 21:34] SethTisue commented on #710
(note that the logs on Jenkins now end with these stats and the sorted list, I added that in August, 1b5e0e6869fbf67e0b7a8f83c8281f5c57489ada)

[2018-10-25 18:26] #804 closed, assigned to SethTisue

[2018-10-26 03:32] SethTisue opened #809 "classutil fails to extract on JDK 11"
https://scala-ci.typesafe.com/view/scala-2.12.x/job/scala-2.12.x-jdk11-integrate-community-build/133/

coursier-related, fastparse-related. I should see if moving to a newer coursier fixes it, otherwise see if the problem is reproducible and report it upstream (to Brian and/or Alex)

[code]

/cc @bmc

[2018-10-26 03:35] SethTisue commented on #809
oh, it's https://github.com/coursier/coursier/pull/678, so it looks like a coursier version bump in classutil would take care of it

[2018-10-26 21:43] SethTisue commented on #803
I haven't seen any further JVM crashes recently. still keeping an eye on it

[2018-10-27 12:42] SethTisue commented on #809
8089afd8d5d3221fb8b2405d22e3aeb9ef6720c6, https://github.com/bmc/classutil/pull/32

[2018-10-27 12:42] #809 closed, assigned to SethTisue

[2018-10-27 12:45] SethTisue commented on #796
ssl-config, fs2, blaze went green

I'll ask the Akka folks about the akka-streams compile error

[code]

[2018-11-20 17:23] SethTisue commented on #710
a sample recent run is https://scala-ci.typesafe.com/job/scala-2.13.x-integrate-community-build/1593/console

the big news is that cats is now green... except it's missing cats-kernel-laws, which several downstream projects need (algebra, circe, kittens, paiges)

the current top-blockers list is:

[code]

the numbers are how many downstream projects are blocked

[2018-11-27 19:37] SethTisue commented on #796
I haven't had time to work on this in the past month. The blockers list remains as above.

[2018-11-28 19:14] ashawley opened #815 "2.13 metaconfig sbt 1.0"
Looks like the build in metaconfig was upgraded to sbt 1.0 today:

https://github.com/olafurpg/metaconfig/pull/63

Community build complains about Coursier for some reason:

[code]

https://scala-ci.typesafe.com/job/scala-2.13.x-integrate-community-build/1606/

May be related to the dropping of 2.10 support in sbt-coursier?

[2018-11-28 20:03] SethTisue commented on #815
c2eb9713b6fd70e254a8b82a733e0cbc0ea670f7

[2018-11-28 20:03] #815 closed, assigned to nobody

[2018-11-28 20:03] SethTisue commented on #815
(I'll probably have to backport this to 2.12.x after unfreezing after 2.12.8)

[2018-11-29 14:04] ashawley opened #816 "2.13 simulacrum sbt-gpg"
Yesterday, the project switched from sbt-pgp to sbt-gpg:

mpilquist/simulacrum@bdf9268a6bb0373149dff225a1e45ce26ad72eea

[code]

[2018-11-29 17:00] SethTisue commented on #816
fixed: d7e0afb

[2018-11-29 17:00] #816 closed, assigned to nobody

[2018-11-30 00:20] SethTisue opened #818 "add metals?"
@olafurpg would the new metals make sense to include?

[2018-12-01 08:57] olafurpg commented on #818
@SethTisue I think it's best to keep it out of the CB for now, the repo is under active development and even though I'm trying to keep Scala dependencies low I can't promise new Scala dependencies won't get added in the near future.

[2018-12-02 01:58] SethTisue commented on #806
nyaya is on sbt 1 now and I haven't seen this error on any other projects in the last couple months

[2018-12-02 01:58] #806 closed, assigned to SethTisue

[2018-12-03 22:40] SethTisue commented on #710
* geny: 4e4715eb76635173b78cd99a14ca4aa600b8e28c
* fastparse: 830c7c2c28ab764ec6c891cc21f17ef2720fd86d
* cats-kernel-laws: 7d058154eb27f88d8790a9ddf58f2bd9aa95abb0
* cats-effect: 7249547b3f76e709d24f57cb5c81036365c02c6d

let's see how https://scala-ci.typesafe.com/job/scala-2.13.x-integrate-community-build/1625/ does

[2018-12-04 23:44] SethTisue commented on #710
at https://scala-ci.typesafe.com/job/scala-2.13.x-integrate-community-build/1630/ we're up to 78 green projects

[code]

[2018-12-04 23:46] SethTisue commented on #710
[code]

looks like fastparse ran afoul of https://github.com/scala/scala/pull/6218, @som-snytt does this look as expected?

[2018-12-05 08:44] som-snytt commented on #710
I'm taking a look, but building fastparse against my local scalac snapshot is non-trivial because of dependencies. Is there a quick way for me to compile fastparse against some magic repo at lightbend?

I was about to just use scalac, which I don't mind for a one-off test, but `SequencerGen` is generated in the build, so everything is quickly out of scope.

The linked PR just specifies how to impo

[2018-12-05 22:55] SethTisue commented on #710
no (https://github.com/scala/community-builds/issues/611)

the easiest thing is to use dbuild with a reduced config file so it doesn't extract dependencies from 180 projects you don't care about. I made this branch of the community build that has only fastparse and its dependencies: https://github.com/SethTisue/community-builds/tree/fastparse-only . just grab the branch and `./run.sh`

[2018-12-06 10:48] soronpo commented on #710
Perhaps a nice feature will be to able to specify the required library as an (optional) argument and the community build script will only build that specific library and its dependencies.

[2018-12-06 20:35] SethTisue commented on #710
note that it does something like that already, in the sense that `./run.sh fastparse` will build only fastparse and its dependencies. but in order to discover what those dependencies even are, every project must be extracted, which takes a while. the changes @cunei is working on at https://github.com/lightbend/dbuild/issues/210 will speed up followup runs, but not first runs. so the "delete all th

[2018-12-06 23:52] soronpo commented on #710
Is it possible to somehow query scaladex to achieve this easier?

[2018-12-06 23:58] SethTisue commented on #710
@soronpo scaladex only has runtime dependencies. in this context we need compile-time dependencies, including test-only dependencies.

[2018-12-07 00:04] som-snytt commented on #710
Another great feature would be if Seth could stop by my cubicle. I ran the special branch but got errors, I'll spend time with it later.

[2018-12-07 22:39] ashawley opened #824 "2.13 dropping symbol literals"
I have a branch of Scala 2.13 that drops symbol literals:

https://github.com/scala/scala/pull/7499

There's a proposal to deprecate symbol literals in 2.13, but not to drop them.  So this is just an exploratory branch with no intent to merge in 2.13.

In preparation for dropping after 2.13, would it be possible to see what this branch breaks in the community build? I predict since ScalaTest uses

[2018-12-08 00:10] SethTisue commented on #796
https://scala-ci.typesafe.com/view/scala-2.12.x/job/scala-2.12.x-jdk11-integrate-community-build/231/

akka-stream is green now (I finally figured out a `-release 9` needed to be `-release 11` on some machines including our Jenkins, even though it worked on some other setups)

that brings us up to 165 green projects total, which is very satisfying. no major blockers remain

[code]

I tried unfreez

[2018-12-08 00:20] SethTisue opened #825 "2.12: akka-http-session and akka-http-cors are failing"
in both cases the error is `java.lang.ClassNotFoundException: akka.testkit.package$TestDuration$`

akka-http-session is a leaf project. we can try again after https://github.com/softwaremill/akka-http-session/pull/63 is merged

akka-http-cors is a dependency of sttp. we can try again after https://github.com/lomigmegard/akka-http-cors/pull/41 is merged

perhaps we moved to a too-new akka-http in c

[2018-12-08 00:49] SethTisue commented on #824
(I'll respond after my December vacation)

[2018-12-08 05:54] ashawley commented on #824
Happy vacationing!

[2018-12-11 15:43] ashawley opened #826 "sourcecode sbt 1.0"
Currently, things are frozen here but it was upgraded to sbt 1.0 a few weeks ago:

https://github.com/lihaoyi/sourcecode/pull/58

[2018-12-18 12:13] dwijnand commented on #796
@SethTisue https://github.com/SethTisue/playframework/pull/1

[2018-12-28 17:36] ashawley commented on #824
Closing in favor of #827.

[2018-12-28 17:36] #824 closed, assigned to SethTisue

[2019-01-02 14:29] dwijnand commented on #796
Actually https://github.com/scalacommunitybuild/playframework/pull/1.

[2019-01-09 02:12] SethTisue commented on #825
this is sorted now, both those PRs were merged, and we're tracking master for the relevant projects

[code]

[2019-01-09 02:12] #825 closed, assigned to SethTisue

[2019-01-16 22:03] SethTisue commented on #826
thank you for calling this to my attention.

I'd better jump on this before it switches to mill :-)

[2019-01-17 00:52] SethTisue opened #836 "regression: 2.11 JDK6 started failing, unable to retrieve sbt 0.13.18"
https://github.com/scala/scala-parser-combinators/pull/182 was, if not the actual _cause_, at least the trigger

first failed run is https://scala-ci.typesafe.com/view/scala-2.11.x/job/scala-2.11.x-integrate-community-build/1248/console

[code]

[2019-01-17 20:27] #826 closed, assigned to SethTisue

[2019-01-18 20:26] SethTisue commented on #836
probably as part of Adriaan's recent round of system upgrades, our Artifactory's certificate apparently changed, and I guess nothing failed as a result until now because artifacts were cached locally on behemoth 1

 I guess I need to add a certificate to `/usr/lib/jvm/jdk1.6.0_45/jre/lib/security/cacerts`

using https://stackoverflow.com/a/11617655/86485 as my guide, `ssh admin@jenkins-worker-behe

[2019-01-18 20:44] SethTisue commented on #836
it's working 🎉  https://scala-ci.typesafe.com/job/scala-2.11.x-integrate-community-build/1257/

[2019-01-18 20:44] #836 closed, assigned to SethTisue

[2019-01-21 04:24] SethTisue opened #841 "refreshing ScalaTest fork broke Akka and Parboiled"
seen at e.g. https://scala-ci.typesafe.com/view/scala-2.12.x/job/scala-2.12.x-integrate-community-build/3999/

[2019-01-21 18:19] SethTisue commented on #841
ah, so what these two projects have in common is that they use ScalaTest's JUnit or TestNG integrations, but they use them _from Java_. a recent commit on ScalaTest's 3.0.x branch moved those classes; deprecated type aliases were left in the old locations for source compatibility from Scala, but that doesn't help `javac`

[2019-01-21 20:52] #841 closed, assigned to SethTisue

[2019-01-21 20:53] SethTisue commented on #841
this was easy to work around in forks.

[2019-01-23 17:25] SethTisue commented on #825
@poohsen not sure what you mean or what you're referring to

[2019-01-23 21:14] poohsen commented on #825
Nvm, this was non-sense

[2019-01-24 18:38] SethTisue opened #842 "build compiler bridge independently of the rest of zinc/sbt"
reference: https://github.com/scala/scala-dev/issues/602

I'm thinking that it shouldn't fall only on scala-dist-smoketest to catch this, the community build ought to be catching it too. the community build includes sbt, but sbt has a ton of dependencies and hasn't been ported to 2.13 yet. the community build ought to build the compiler bridge by itself. I'll look into it.

ah, actually the commun

[2019-01-24 18:40] SethTisue commented on #842
so the community build does catch this, but I still feel that I'd feel safer if we built both bridges, the 0.13 and the 1.0 bridges, directly.

[2019-01-24 18:52] SethTisue commented on #842
working on this. I get a warm fuzzy feeling from:

[code]

as compared to

[code]

[2019-01-24 18:52] SethTisue commented on #842
fyi @eed3si9n

[2019-01-24 19:21] smarter commented on #842
(we just rewrote the dotty compiler bridge in Java which avoids this problem and a bunch of other issues: https://github.com/lampepfl/dotty/pull/5596, that's easier in dotty than in scalac because most of the logic that was in the bridge was moved into the compiler: https://github.com/lampepfl/dotty/tree/master/compiler/src/dotty/tools/dotc/sbt)

[2019-01-24 19:26] SethTisue commented on #842
keeping this open until I merge it onto 2.13.x

[2019-01-24 19:32] SethTisue commented on #842
during dependency extraction on 2.13.x,

[code]

looks like I might need to submit a little patch to the 0.13 branch of sbt in order to get around this

[2019-01-25 20:18] SethTisue commented on #842
I added it to https://github.com/sbt/sbt/pull/4518 . so we're not waiting, it's also now in the community-build-2.12 branch of the scalacommunitybuild fork

so that gets it extracting. still leaving this open until it doesn't just extract, but is actually green

[2019-01-25 20:25] SethTisue commented on #842
it isn't green on 2.13, in local testing I see a bunch of compile errors, for example:

[code]

but this looks like we're building more code than just the compiler bridge.

[2019-01-25 20:31] SethTisue commented on #842
the problem is in `compileInterfaceProj`. we definitely want to include that, it contains the source file that prompted this ticket.

the problem seems to be that `compileInterfaceProj` has test-only dependencies that bring in code we don't want to compile in this context:

[code]

[2019-01-25 21:00] SethTisue commented on #842
gah. this is getting difficult. `compileInterfaceProj` isn't the first reason this failing (or maybe isn't a reason at all)

the first reason it's failing is that `interfaceProj` has a `sourceGenerators` setting that uses `fullClasspath in Compile in datatypeProj`, and then `datatypeProj` pulls in `ioProj` and `controlProj`. none of this is actually part of the compiler bridge and shouldn't be exp

[2019-01-25 21:01] SethTisue commented on #842
gah. starting to feel like maybe this is a boondoggle and I should just forget about it, and back out the work I already did, too. I'll ponder further

[2019-01-29 02:33] SethTisue opened #843 "re-add scalaz 8?"
the story so far:

* added it in early 2018
* froze it in June 2018 because of a weird `MatchError` I didn't understand
* removed it in #831

see #831 for further details

I don't think there's any point in keeping the frozen-at-June-2018 one around, even though doing so (in a separate space) would be easy once scalaz-zio's needless dependency on pascal is removed

so a re-add becomes a matter of

[2019-01-30 10:36] dwijnand commented on #667
I've stuck to pinning (still on 5.1.3) and editing `/usr/local/opt/artifactory/libexec/bin/artifactory.default`.  I posted in Lukas' gist.

[2019-01-30 10:36] dwijnand commented on #667
I think I was the "I don't use Docker, and use the brew install way too", JFYI I'm thinking of switching to Docker in the future.

[2019-01-30 17:27] SethTisue opened #846 "add more playframework/* and lagom/* repos, more Lagom projects?"
the following seem like candidates:

Play

* https://github.com/playframework/play-slick
* https://github.com/playframework/anorm
* https://github.com/playframework/play-grpc
* https://github.com/playframework/play-iteratees
* https://github.com/playframework/play-scala-starter-example

Lagom (repos)

* https://github.com/lagom/online-auction-scala
* https://github.com/lagom/lagom-scala-grpc-examp

[2019-01-30 17:45] dwijnand commented on #846
cc @renatocaval @ignasi35 for those lagom projects

[2019-01-30 23:40] marcospereira commented on #846
You may also include:

- https://github.com/playframework/scalatestplus-play/

Or is it there already? :-)

[2019-01-31 21:06] SethTisue commented on #846
omnidoc seems like another likely candidate.

(note to self, note the omnidoc exclusion in play-webgoat)

[2019-01-31 22:36] SethTisue commented on #796
https://github.com/lightbend/ssl-config/issues/142 / https://github.com/lightbend/play-meta/issues/4 makes the Play situation messy, so I'm just going to sit tight and wait for that to get sorted out

[2019-01-31 22:38] SethTisue commented on #796
if anyone else is watching this ticket and would like to help out, the current failures list is: scala-refactoring, compiler-bridge-1-0, twitter-util, slick, kxbmap-configs, coursier, sconfig, scala-debugger, breeze, doobie, playframework, sbt-util

and what's blocking downstream projects is:

[code]

[2019-02-01 12:53] ignasi35 commented on #846
@SethTisue I'm not familiar with the setup or how the build works, but [IIUC](https://github.com/scala/community-builds/blob/2.12.x/configs/community.dbuild#L1638
), _only_ `"server"` and `"testkit-scaladsl"` are being referenced but all its dependenceies will be built, is that correct?

`testkit-scaladsl` and `server` together depend on almost all the `scaladsl` projects, if not all. There's scal

[2019-02-01 16:54] SethTisue commented on #846
candidate: https://github.com/lagom/shopping-cart-scala

[2019-02-01 16:55] SethTisue commented on #846
@ignasi35 right

[2019-02-05 00:57] SethTisue commented on #842
removed everything in 86832b96d4787a5e0c5a36df4b452884ddffc502

maybe I'll come back to this, idk

[2019-02-06 13:07] ashawley opened #857 "SSL error scala-ci.typesafe.com"
Running the 2.13 build on Java 8, I'm getting this error when trying to retrieve dependencies:

[code]

From what I read, it might be a Let's Encrypt! certificate issue.  My laptop is old and I only have the free version of Oracle's JDK, so maybe it's just me.

[2019-02-06 14:43] ashawley commented on #857
Looks like you ran in to this with as well with JDK6 in #836.

I did something similar and just added [the intermediate certificate for Let's Encrypt](https://letsencrypt.org/certificates/#intermediate-certificates).

[code]

[2019-02-07 03:17] SethTisue commented on #857
fwiw, I have not had to mess with certificate stuff on any Java 8+ JVMs. if you find that the issue can be resolved by using a newer Java 8 release, then I think we could close the ticket.

[2019-02-07 04:08] ashawley commented on #857
Ok, good to know.  Yeah, it was probably just me.  I was using `jdk1.8.0_40.jdk`.

[2019-02-07 04:08] #857 closed, assigned to nobody

[2019-02-08 22:00] SethTisue commented on #846
https://github.com/lightbend/play-meta/pull/35 refreshes the list of Play and Lagom repos out there

[2019-02-11 20:25] SethTisue commented on #733
current status:

* I'm not currently actively pursuing further improvements in this area
* I'm happy to provide new frozen configs on request
    * (you can also try using the `freeze` script in this repo yourself, but you might prefer to just ask me and not fumble with it yourself, and that's totally fine)

[2019-02-13 22:50] SethTisue opened #862 "add JDK 12 community build"
JDK 12 "overall feature set is frozen" (according to https://openjdk.java.net/projects/jdk/12/) as of Feb 13 2019)

we might as well install an early-access JDK 12 build and try it, see what happens, perhaps it will turn up something we ought to do something about

ea builds are here: https://jdk.java.net/12/

behemoth 1 has the lightest community build load at present

[2019-02-13 22:51] SethTisue commented on #796
it's time to start testing on JDK 12, too: https://github.com/scala/community-builds/issues/862

[2019-02-13 23:03] SethTisue commented on #862
using
https://github.com/scala/community-builds/issues/742#issuecomment-422973172 as a guide,

[code]

[2019-02-13 23:07] SethTisue commented on #862
went to https://scala-ci.typesafe.com/view/scala-2.12.x/newJob and cloned the scala-2.12.x-jdk11-integrate-community-build job to scala-2.12.x-jdk12-integrate-community-build , changing jvmVersion to 12 and assigning it to behemoth 1

https://scala-ci.typesafe.com/view/scala-2.12.x/job/scala-2.12.x-jdk12-integrate-community-build/

first run: https://scala-ci.typesafe.com/view/scala-2.12.x/job/sca

[2019-02-13 23:41] SethTisue commented on #710
I've deleted
https://github.com/scala/community-builds/wiki/scala-2.13.x-migration as it had fallen completely out of date. sorry, I know this was well-intentioned, but I didn't find it useful in my own (informal) process.

the best way for anyone to check the current status is to look at the log of a recent run at https://scala-ci.typesafe.com/job/scala-2.13.x-integrate-community-build/ and the e

[2019-02-13 23:45] SethTisue commented on #710
overall the current status is: we've been hovering at around 80 green projects. I've been tackling any significant regressions myself, enlisting project maintainers' help as needed

it's now been so long since M5, and so many little breaking changes have accumulated, that it's not really productive at present to do any better than ~80

after 2.13.0-RC1 is out, we can make a fresh attempt to get mo

[2019-02-14 06:37] dwijnand commented on #710
I think https://github.com/scala/community-builds/wiki/scala-2.13.x-migration served the initial purpose of bootstrapping the ecosystem for the new breaking pre-release of 2.13.  When 2.13.0-RC1 comes out it'll be useful to swarm over those usual suspect libraries that'll need updating.  And when 2.13.0 is out we'll port even more than usual.

[2019-02-14 21:51] SethTisue commented on #862
`EXTRACTION FAILED (failed: scala-async, scala-collection-compat, scala-continuations, scala-java8-compat, scala-partest, scala-swing)`

darn those third-party libraries and their flaky builds! oh, wait... who, us?

[code]

* [x] scala-async https://github.com/scala/scala-async/pull/211
* [x] scala-collection-compat scala/scala-collection-compat@7b3516c8e324daaa3aca7f5aa53474da6ed290c0
* [x] scala

[2019-02-14 23:28] SethTisue commented on #862
https://scala-ci.typesafe.com/view/scala-2.12.x/job/scala-2.12.x-jdk12-integrate-community-build/6/

[2019-02-14 23:54] SethTisue commented on #862
everything extracts now except:

[code]

I'll have to come back to this.

[2019-02-15 20:19] SethTisue commented on #843
rather than keep this ticket open, I've added a link to it from https://github.com/scala/community-builds/issues/161

[2019-02-15 20:19] #843 closed, assigned to nobody

[2019-02-15 22:26] SethTisue commented on #862
outside of dbuild, if I build scala-java8-compat on JDK 12, it works fine. I see `error while loading String, class file '/Library/Java/JavaVirtualMachines/jdk-12.jdk/Contents/Home(java/lang/String.class)' is broken` but sbt keeps on trucking, and `test` passes (on Scala 2.12.8)

back in the community build context, I note that `warning: Class sun.invoke.empty.Empty not found - continuing with a s

[2019-02-15 23:08] SethTisue commented on #862
queued:
https://scala-ci.typesafe.com/view/scala-2.12.x/job/scala-2.12.x-jdk12-integrate-community-build/8/

[2019-02-16 00:13] SethTisue commented on #796
#862 is complete, all projects extract. I've broadened the scope of this ticket to cover both 11 and 12

[2019-02-16 00:14] SethTisue commented on #862
everything extracts now 🎉

we can track further progress at #796

[2019-02-16 00:14] #862 closed, assigned to SethTisue

[2019-02-16 11:32] xuwei-k commented on #862
https://github.com/scala/bug/issues/11381

[2019-02-16 13:11] plokhotnyuk opened #864 ""Unsupported class file major version 56" error in JDK 12 build"
[code]
Here is a list of projects that are immediately affected by this kind of error [in the latest build](https://scala-ci.typesafe.com/view/scala-2.12.x/job/scala-2.12.x-jdk12-integrate-community-build/16/consoleFull):
- breeze
- curryhoward
- log4s
- jsoniter-scala
- scala-async
- scala-partest
- scalaz
- utest

[2019-02-18 05:55] SethTisue commented on #846
and https://github.com/lagom/shopping-cart-java — wouldn't be a bad idea to include some application-level Java code consuming Scala-based stuff

[2019-02-20 00:43] SethTisue commented on #862
in the first runs, 98 projects are green. that's encouraging, it means nothing catastrophic is wrong. about 10 projects fail that didn’t fail on JDK 11. I’ll gradually investigate them. usually it’s just that some silly thing in the build isn’t expecting a “12”. occasionally it’s something more substantial

[2019-02-20 02:13] SethTisue commented on #864
thanks for the report. I'm not sure what the cause is. I plan to investigate, but I have some other, more pressing community build stuff to attend to first. I've assigned myself the issue so I don't forget.

[2019-02-21 01:19] SethTisue commented on #864
reproducible outside of dbuild, in e.g. scala-async with just `compile`

the problem is also present with `++2.13.0-M5` but goes away with `++2.13.0-pre-481a78b!`. that and the error message strongly suggest that fixing this requires moving to ASM 7, as was done for the 2.13.x series by https://github.com/scala/scala/pull/7384

an existing ticket in this general area: https://github.com/scala/bug/

[2019-02-22 01:06] SethTisue commented on #864
hopefully scala/scala#7780 will do the trick

[2019-02-24 01:26] SethTisue commented on #864
it seems very likely that scala/bug#11372 is the only bug here

[2019-02-24 01:26] #864 closed, assigned to SethTisue

[2019-02-25 19:46] #842 closed, assigned to SethTisue

[2019-03-01 17:00] SethTisue opened #873 "add JDK 13 community build"
what, already? sure, why not. setting it up is easy, I know the drill now, and we have enough disk space on the workers.

early access builds are available from https://jdk.java.net/13/

[2019-03-05 23:17] SethTisue opened #876 "upgrade json4s from 3.5 to 3.6 (or master)"
worth a try

as per @seratch at
https://github.com/json4s/json4s/pull/588#issuecomment-469897479

[2019-03-06 21:39] SethTisue commented on #228
in this vein, see also my remarks at
https://github.com/scala/community-builds/pull/278#issuecomment-248475941

[2019-03-09 13:45] #876 closed, assigned to SethTisue

[2019-03-18 13:00] SethTisue commented on #796
the JDK 12 build is now fully on par with the JDK 11 one; both have 165 green projects

[2019-03-18 13:01] SethTisue commented on #862
now tracking any further progress at #796

[2019-03-27 16:22] SethTisue commented on #836
to delete before re-adding it's `sudo keytool -delete -trustcacerts -keystore /usr/lib/jvm/jdk1.6.0_45/jre/lib/security/cacerts -alias mycert -storepass changeit`

not sure why I needed to do a re-add. failure log https://scala-ci.typesafe.com/view/scala-2.11.x/job/scala-2.11.x-integrate-community-build/1337/

[2019-03-28 06:15] SethTisue commented on #710
potential 2.13.0-RC1 release blockers in the community build are being tracked at https://github.com/scala/bug/issues/11453 until RC1 is out

[2019-04-02 12:40] SethTisue opened #885 "continue gracefully if `cloc` isn't installed"
line-counting isn't essential functionality, the build should proceed even if `cloc` isn't installed

reported by @patriknw when trying to follow the https://github.com/scala/community-builds/wiki/Troubleshooting-a-failure instructions. this shouldn't be a hurdle for library authors trying to help

also fwiw

[2019-04-02 13:26] SethTisue commented on #885
fixed by bfadba96d6d441a5586eb242ec724e6dd8bd33fb (2.12.x will get the fix when we unfreeze)

[2019-04-02 13:26] #885 closed, assigned to SethTisue

[2019-04-05 14:21] ashawley opened #887 "2.13: lift-json fails"
I was looking at 2.13 community builds on Jenkins and saw a scala-xml related error for lift-json:

[code]

[2019-04-05 15:01] SethTisue commented on #887
I believe they've made no effort yet to upgrade to 2.13. Perhaps that will change now that 2.13.0-RC1 is out.

There are a great many such projects, so I'm not keeping individual tickets open on them.

[2019-04-05 15:01] #887 closed, assigned to nobody

[2019-04-05 15:03] SethTisue commented on #887
`object xml is not a member of package scala` just means scala-xml isn't even on the classpath

[2019-04-05 16:05] ashawley commented on #887
Great, thanks for confirming.

That's what I suspected, but wanted to confirm.

[2019-04-06 12:34] SethTisue commented on #710
RC1 is out. I'm going to close this ticket, since:

* enough of the build (94 projects) was green to permit RC1 to come out
* now that RC1 is out, most of the action now will happen because maintainers themselves will publish for RC1 and 2.13.0, and their projects will go green in the community build as a result
* improving the 2.13 community build is a constant background task for me, we don't ne

[2019-04-06 12:34] #710 closed, assigned to SethTisue

[2019-04-10 12:29] SethTisue opened #889 "add GraalVM community build"

[2019-04-28 12:53] jdegoes opened #896 "Add ZIO & Scalaz to community builds"
I was recently made aware of the fact that in a [single unreviewed commit](https://github.com/scala/community-builds/commit/be8d3f07832c78044a65d3840a9338dc05943af7), ZIO and Scalaz were unilaterally removed from the community build.

As far as I can tell, no explanation has been provided, just a commit message that I personally find quite cryptic (_CoC-incompatible_ ?). Moreover, I cannot find an

[2019-04-28 13:24] nmcb commented on #896
If we are going to have the CoC compliancy discussion at all, please let that (future) CoC be phrased in terms of actions and not intentions. As for the originating action to the commit removing scalaz projects, I am not aware of _any_ action taken by the scalaz community that was against an agreed upon CoC. If any, I would like to know of agreed upon due processes regarding decisions to allow and

[2019-04-28 13:57] SethTisue commented on #896
see https://contributors.scala-lang.org/t/coc-compatible-community-builds/3097

[2019-04-28 13:57] #896 closed, assigned to nobody

[2019-04-28 22:36] SethTisue opened #897 "projects are moving to Fastparse 2"
which is hard because it isn't remotely source-compatible with Fastparse 1

this is timely because right now is an important time to be testing on Scala 2.13, but if a project's 2.13 support is landing in a branch that also requires Fastparse 2, we have a problem

perhaps this can be addressed with splitting the build into spaces

or perhaps we could keep everything in the same space, but use dbui

[2019-04-28 23:11] SethTisue opened #898 "projects are moving to ScalaTest 3.1"
Scala 2.13 support is landing in important projects on branches that have upgraded to ScalaTest 3.1, e.g. in the Typelevel ecosystem

not sure whether addressing this might require making separate 3.0/3.1 spaces, or whether the change can be worked through without that, with a little help from maintainers. I'll see how it goes

the good news is that ScalaTest modularized out its ScalaCheck depende

[2019-04-29 00:49] SethTisue commented on #898
https://scala-ci.typesafe.com/view/scala-2.12.x/job/scala-2.12.x-integrate-community-build/4432/

[2019-05-02 06:28] dwijnand opened #899 "Subsume akka-more"
The comment above akka-more says:

The circular dependency isn't there any more (AFAICT).  So is it work merging them back together, or should it be kept for the second reason?

[2019-05-02 20:51] SethTisue commented on #896
the linked thread has become extremely long, but this recent addition is especially relevant: https://contributors.scala-lang.org/t/coc-compatible-community-builds/3097/245

[2019-05-06 16:29] SethTisue opened #903 "remove all uses of `check-missing: false`"
I've been doing this wrong.

in 2.12.x, this has been resulting in binaries being retrieved from Maven Central instead of dbuild-built ones being used (e.g. for kind-projector)

in 2.13.x, it just doesn't work at all (because Maven Central doesn't have matching binaries), which is how the problem turned up

this will take some work to make the change build-wide

[2019-05-08 07:34] dwijnand opened #904 "Switch akka-persistence-cassandra to older version"
The community build (using the 2.13 one as reference) akka-persistence-cassandra (APC) is present as it is a dependency of Lagom.  However, it's building on APC 0.85, while real Lagom uses APC 0.61.

For some background context, there was a jump in versioning from 0.59 to 0.80, with 0.60/0.61 being on a separate branch.  Oh and latest APC is 0.96.

[2019-05-08 22:09] SethTisue commented on #904
will you be PRing this yourself, coming out of your recent Lagom-in-the-community-build work, or is it I something I should look at myself...?

[2019-05-08 22:29] dwijnand commented on #904
I'm not sure what strategy to use.  I'm not sure how to min-max here, i.e. minimise the time spent and maximise the improvement.  I could push the web of branches I used to build up Lagom on RC1, but maybe that'll be too many changes.

Also, how does PRing changes work?  I see no PR validation.  Do I test locally first, then open a PR, then verify on Jenkins and leave a comment?  Or would you rath

[2019-05-09 14:48] SethTisue opened #905 "behemoths are running low on disk space"
in the last couple weeks especially, but also in recent months generally, the behemoths sometimes run out of disk space. between community build runs, 80-100GB is free, but during runs, we're running out of space

the community build's temporary disk space requirements are *really* high. during a run, a ton of space is used which ends up being freed up again at the end

so usually the community bu

[2019-05-09 14:49] SethTisue commented on #905
Adriaan has been disabling the JDK11 and/or JDK12 jobs as a temporary measure

[2019-05-09 15:35] cunei commented on #905
@SethTisue I have a commit in a devel branch of dbuild that allows the user to specify as cleanup time "-1", which means each successful extraction or build dir is deleted immediately after completion, rather than at the end: https://github.com/lightbend/dbuild/pull/221/commits/644481ed2c779c4727ed91f954df094e65d4ca2c
I could cut a beta release of dbuild which includes the latest changes, for your

[2019-05-14 23:11] SethTisue commented on #836
[code]

seen in recent runs such as https://scala-ci.typesafe.com/view/scala-2.11.x/job/scala-2.11.x-integrate-community-build/1387/

[2019-05-14 23:15] SethTisue commented on #836
I did the same delete/re-add steps and that seems to have fixed it

[2019-05-22 15:04] SethTisue opened #911 "json4s tests in community build?"
@xuwei-k at https://twitter.com/not_xuwei_k/status/1130817276310151169 you write:

you can advise me on how we might improve this? the project's entry is:

[code]

[2019-05-22 15:20] xuwei-k commented on #911
FYI, json4s-tests subproject depens on scalaz 😇

https://github.com/json4s/json4s/blob/6d9ceb1ed4cbf6457f11e40553826b4d42103d3c/build.sbt#L103-L115

[2019-05-22 16:25] SethTisue commented on #911
workaround for missing scalaz: https://github.com/scalacommunitybuild/json4s/commit/ddfaa0bb65c9904b1670ee6b2a6ed4abc90ae084

[2019-05-22 16:26] #911 closed, assigned to nobody

[2019-05-22 16:27] SethTisue commented on #911
thanks for calling this to my attention!

afaict, there's no particular reason I'd never tackled this before

[2019-05-22 17:03] SethTisue commented on #911
green in 2.13 as well, `[info] Project json4s----------------------: SUCCESS (project rebuilt ok)`

[2019-05-23 04:28] SethTisue opened #912 "regression: play-ws failing (joda-time related)"
https://scala-ci.typesafe.com/view/scala-2.12.x/job/scala-2.12.x-integrate-community-build/4531/

[code]

@dwijnand can you guide me on whether I should freeze play-ws at an older version, or move some dependency of play-ws to a newer version, or what?

[2019-05-23 05:46] dwijnand commented on #912
I fixed that in https://github.com/playframework/play-ws/pull/350.  So just need to be using master play-json and master play-ws.  But then play might break (and downstream).  So you might want to pin back until I've finished climbing this dependency tree (FML).

[2019-05-23 14:34] SethTisue commented on #898
note to self, note the recently merged PRs at https://github.com/scalatest/scalatestplus-scalacheck/pulls?q=is%3Apr+is%3Aclosed

[2019-05-23 14:35] SethTisue commented on #912
well, at least there's plenty of other monkeys up in this tree to keep us company :-)

[2019-05-24 18:25] #912 closed, assigned to nobody

[2019-05-25 00:16] SethTisue commented on #899
86855a32a24fa924c801f99f7a3654d3ef06f2d1

[2019-05-25 00:16] #899 closed, assigned to SethTisue

[2019-05-25 00:20] SethTisue commented on #904
the lack of PR validation is https://github.com/scala/scala-jenkins-infra/issues/92

well, it depends, I guess. I don't always test locally first, sometimes I just go straight to Jenkins. but yeah, whatever you do, just leave a comment on the PR so it's clear what the status is.

[2019-05-25 00:33] SethTisue commented on #898
let's track this on #913 rather than keeping the issue open

[2019-05-25 00:33] #898 closed, assigned to SethTisue

[2019-05-25 00:38] SethTisue commented on #903
closing in favor of #914

[2019-05-25 00:38] #903 closed, assigned to SethTisue

[2019-05-25 00:52] SethTisue commented on #897
this might be easier than I feared. eyeballing the config, it appears that fastparse is used by:

* coursier, scalatex, scala-xml-quote: these are leaf projects
* scalapb, scalameta (and scalapb may be a leaf other than being used in scalameta)

I can't tell just from eyeballing whether there are any projects that are downstream of scalapb and/or scalameta that might also use fastparse directly. b

[2019-05-25 00:59] SethTisue commented on #897
there's some question of whether I can track scalameta master, or whether I need to stick with the one I have. but I would probably be able to use the shaded version of fastparse 1 regardless

https://github.com/scala/community-builds/pull/910 was an attempt to move the 2.13 build to scalameta master; perhaps the difficulties I ran into there were 2.13-specific

/cc @olafurpg

[2019-05-25 01:06] SethTisue commented on #897
the fastparse repo still has an sbt build in it, but presumably the mill build is the main build these days?

[2019-05-25 01:08] SethTisue commented on #897
the fastparse repo doesn't have a proper sbt build anymore, there is a `build.sbt`, but it is vestigial and doesn't actually build the main code

[2019-05-25 01:09] SethTisue commented on #897
perhaps I should start by just fetching fastparse 2 from Maven Central, get everything working, and then worry about whether it's necessary to actually build it ourselves

[2019-05-25 01:25] SethTisue commented on #897
PR #915

[2019-05-25 07:59] dwijnand commented on #903
JFYI you can change an issue into a pull-request by using the `-i` flag in hub's `pull-request`. https://hub.github.com/hub-pull-request.1.html

[2019-05-25 09:06] dwijnand commented on #899
Perhaps it's fine or perhaps it's not intended, but it's strange to run Akka's "classic" actor tests, but not the typed ones, but still compile the akka-actor-typed (in the "akka" dbuild project).

Also perhaps "akka-more" could have a more explicit name: at first I thought it was some extension of Akka I wasn't aware of (like commercial addons/enhancements).

[2019-05-25 12:30] olafurpg commented on #897
The Scalameta fork of Fastparse is identical to Fastparse v1 except that the code lives in the `scala.meta.internal.fastparse` package instead of toplevel `fastparse` package. User source code needs to be manually rewritten to use that namespace in order to use the fork.

[2019-05-25 14:53] SethTisue commented on #899
yeah idk, it could go either way, it's maybe a bit strange, but it could also fall under "because it takes a long time to build and run the tests, and so failures in obscure subprojects don't take out too much of the build", if we figure that the plain actor tests are enough to verify that Akka isn't completely broken

hmm... "akka-remainder"? "akka-full"?

[2019-05-25 14:54] SethTisue commented on #903
oh, does that still work? I had thought they removed that capability

[2019-05-25 15:21] dwijnand commented on #903
Yeah, it was gone but it was brought back (a few months ago).  Not sure why.

[2019-05-25 15:26] dwijnand commented on #899
"akka-rest-of-the-owl"

But actually it sounds like it would be a major enhancement in dbuild if it wired between projects.  So a downstream project to akka-actor wasn't cut off from running due to a flaky akka-streams test.

[2019-05-26 00:37] SethTisue commented on #710
RC2 is out

122 projects are green now (up from 94 six weeks ago)

there aren't currently isn't anything readily actionable blocking many downstream projects. `BLOCKERS: 12 scalameta, 9 jawn-0-10, 3 twitter-util, 3 scalamock, 3 algebra, 3 mockito-scala, 3 tut, 2 enumeratum, 1 doobie, 1 lift-json, 1 monix, 1 elastic4s, 1 circe-jackson, 1 sttp, 1 magnolia, 1 parboiled2, 1 tsec, 1 classutil`

scalame

[2019-05-29 06:46] SethTisue opened #917 "reorganize Scala 2.11 community builds"
motivation
* Scala 2.11.13 is planned to add JDK 11 support and drop support for Java 6 and 7
* experiments on the 2.11.x-jdk11 branch in this repo have already revealed that we can easily replace the old 2.11-on-JDK8 community build with a backport of the 2.12 community build, which is much larger

changes
* old 2.11.x branch is now 2.11x-jdk6
* old 2.11.x-jdk8 branch is renamed to 2.11.x-jdk8-ol

[2019-05-29 06:47] SethTisue commented on #917
the branch changes are done and the Jenkins changes are done, leaving the issue open while I:

* make sure everything is working like it should
* finish getting the new 2.11.x job (JDK 8) entirely green
* finish getting the new 2.11.x-jdk11 job as green as reasonably possible

[2019-05-29 06:53] SethTisue commented on #917
new merging strategy (need to update wiki):

* 2.11.x-jdk6 branch goes its own way, it will no longer participate in merges in either direction
* most changes originate on 2.12.x branch
* changes are merged *backwards* 2.12.x->2.11.x and *forwards* 2.12.x->2.13.x

[2019-05-29 07:11] SethTisue opened #918 "move to sbt 1.3.x when we can"
for a while we were using 1.3.0-RC1 for most projects (#909), but Adriaan reverted the change because he was seeing intermittent errors during extraction

it can wait until after 2.13.0 is out, but we should try again, perhaps once there's an 1.3.0- RC2

/cc @eed3si9n

[2019-05-29 07:12] SethTisue commented on #918
@adriaanm what kinds of problem did you see? did it look like https://github.com/sbt/sbt/issues/4723 , or was it something else?

[2019-05-29 07:50] adriaanm commented on #918
In https://scala-ci.typesafe.com/view/scala-2.11.x/job/scala-2.11.x-jdk11-integrate-community-build/58/consoleFull

[code]

mima hadn't moved in a while, so i suspect sbt

[2019-05-29 08:05] adriaanm commented on #918
And also at  https://scala-ci.typesafe.com/view/scala-2.11.x/job/scala-2.11.x-jdk11-integrate-community-build/60/consoleFull

[code]

[2019-05-29 08:06] adriaanm commented on #918
https://scala-ci.typesafe.com/job/scala-2.11.x-jdk11-integrate-community-build/62/console should tell us whether going back to 1.2.8 fixed it, or whether it's the changes in 2.11.x

[2019-05-29 08:28] SethTisue commented on #918
the MiMa one is because `Class.newInstance` is deprecated in JDK 11. it should go away if we switch off `-Xfatal-warnings` (either for that repo only, or build-wide; the 2.13 build has it switched off build-wide, but the 2.12 & 2.11 builds don't, perhaps they should)

not sure about the scala-swing one

[2019-05-29 08:36] adriaanm commented on #918
Ah, thanks -- let's turn off fatal warnings everywhere.

[2019-05-29 08:37] adriaanm commented on #918
As far as I understand, extraction run time should not be impacted in this way by the scala version. I mean, sbt doesn't use that version to compile the build, right? It's just for resolving dependencies that we need the scala version there (??)

[2019-05-29 08:47] dwijnand commented on #918
That MiMa issue I solved already https://github.com/lightbend/mima/pull/308

[2019-05-29 08:52] dwijnand commented on #918
I thought I saw that swoval failure, but I can't find anything.  Perhaps @eed3si9n is aware of it otherwise we can report it.

[2019-05-29 21:31] eed3si9n commented on #918
The only file-not-found error that I've seen thus far are Coursier's https://github.com/coursier/coursier/issues/1185.
The scala-swing issue might be some transient issue while loading Swoval (native code that's used to list files). I've reported it as https://github.com/sbt/sbt/issues/4741

[2019-06-04 12:42] adriaanm opened #922 "Any reason scalamock is not pointing to https://github.com/paulbutcher/ScalaMock ?"
Any reason scalamock is not pointing to https://github.com/paulbutcher/ScalaMock ?

_Originally posted by @Philippus in https://github.com/scala/scala-dev/issues/563#issuecomment-496222471_

[2019-06-04 13:10] SethTisue commented on #922
says 2.12.x configs/community.build:

[code]

I haven't checked recently whether this still applies.

and in any case, in the 2.13.x branch we make these judgment calls differently. if a base project lands 2.13 support, we move to that branch, and if downstream projects like github4s break, so be it.

I see that in the 2.13.x build scalamock is blocking 3 downstream projects, so I guess we should

[2019-06-04 13:17] SethTisue commented on #763
I have resumed work on this. I'll report back here once I know more

initially I'm just going to grab binary JARs of dependencies from Maven Central as needed, and then later go back and see what we could be building from source instead

(oh, we can do that? we sure can! we just try hard not to, since if we do it that way, it doesn't help us test Scala prereleases, where everything really must be

[2019-06-05 10:21] SethTisue commented on #763
the good news: though Spark's primary build is Maven-based, Spark also has an sbt build, and it seems to actually be maintained

the bad news: the sbt build isn't a vanilla sbt build; it sbt-pom-reader to define its subprojects

this causes dbuild to choke during dependency extraction with the following mysterious error message (@cunei does this ring any bells, does working around this somehow see

[2019-06-06 18:14] eatkins opened #924 "Subprojects run all tests"
I am testing a new sbt version and noticed that when dbuild was checking sbt itself that it seems to be running `test` without scoping to the subproject. For instance, in the sbt build, I will see something in the logs like: `Processing subproject: commandProj ` and then, below that, I'll see the output of ParserSpec, which is in the mainProj subproject. This makes the sbt dbuild take forever sinc

[2019-06-06 18:20] eatkins commented on #924
I now see that this may be specific to the sbt dbuild configuration which has this line:
`extra.test-tasks: ["safeUnitTests"]`
which is a custom sbt command that runs all of the tests in the entire build.

[2019-06-14 18:33] SethTisue commented on #918
all three builds are now mostly on 1.3.0-RC2 (some individual projects remain on 1.2.8 for mostly uninvestigated reasons, uninvestigated by me anyway)

[2019-06-14 18:33] #918 closed, assigned to SethTisue, eed3si9n

[2019-06-17 12:47] SethTisue commented on #905
I haven't had time to try @cunei's build yet :-/

we got through the 2.13.0 release frenzy without running out of space by disabling some less essential jobs (JDK 6, 11, 12) and (important!) clearing their workspaces. I have since re-enabled some but not all of the jobs; I'll probably re-enable the JDK 12 ones in July. (the JDK 6 one can stay permanently disabled, there is no point anymore.)

anot

[2019-06-17 23:13] cunei commented on #905
![image](https://user-images.githubusercontent.com/686260/59642017-b7072780-9163-11e9-8709-116d19d5546f.png)
[code]
([info](https://github.com/lightbend/dbuild/commit/644481ed2c779c4727ed91f954df094e65d4ca2c#diff-8f90661ddc4840debe6dffbf6c4ef3e5R1023))

[2019-06-20 08:33] SethTisue opened #927 "explore the possibility of supporting Dotty"
this is only one possible path forward for building community projects on Dotty; the overarching ticket is https://github.com/lampepfl/dotty/issues/6708

I'm hoping that we can adjust the "scala" section of the config file to pull Dotty JARs using either, set the Scala version to 0.16.0-RC3 or what have you, and go. maybe dbuild will blow up. if that happens @cunei can advise us on whether we're s

[2019-06-20 08:37] SethTisue commented on #927
one obstacle I already see coming is that we need the included projects to have sbt-dotty plugin.

we have not previously attempted to inject an sbt plugin into every build. there's a ticket on that at https://github.com/scala/community-builds/issues/553. Toni has specific advice on what to try at https://github.com/scala/community-builds/issues/553#issuecomment-305484145

fortunately, automatical

[2019-06-20 08:44] liufengyun commented on #927
@SethTisue The branch `3.1.x` https://github.com/scalatest/scalatest/tree/3.1.x has Dotty support.

We run the following SBT commands to run the test set of ScalaTest:

[code]

[2019-06-20 08:44] liufengyun commented on #927
@SethTisue The branch `3.1.x` https://github.com/scalatest/scalatest/tree/3.1.x has Dotty support.

We run the following SBT commands to run the test set of ScalaTest:

[code]

[2019-06-20 09:57] SethTisue commented on #927
progress so far: to set the Scala version for all projects, in the community build we normal use dbuild's `assemble` build system, which has hardcoded expectations about scala-library.jar

our choices here:
* patch dbuild to allow `dotty-library` instead?
* figure out how to do without the `scala` build system

it seems to me that we shouldn't need `assemble` to assemble a scala for us, that was m

[2019-06-20 10:03] liufengyun commented on #927
@SethTisue we have a version of `scala-library`, which seems can be used for the purpose:

[code]

https://github.com/lampepfl/dotty/blob/0a67182e84c577575a181af95732e970054fc9a9/project/Build.scala#L979-L990

[2019-06-20 11:22] SethTisue commented on #927
the scala-library check in dbuild hardcodes `l.info.organization == "org.scala-lang"`, but of course that would be easy to patch

but we can disable the check with `cross-version: disabled`, but I'm not sure what the implications of that are in this case. I'll keep experimenting

[2019-06-20 12:43] SethTisue commented on #927
(I'm out of time to mess with this any further until July)

[2019-06-20 12:49] liufengyun commented on #927
Thanks a lot @SethTisue 👍  I'll spend some time to get familiar with the relevant tools and think about the alternatives too.

Have a nice holiday !

[2019-06-20 12:51] SethTisue commented on #927
oh, I forgot to say: I had a local run that actually built scala-xml, generated doc, and ran the tests. I thought that I'd pushed that config to GitHub, but it seems not because the same thing didn't happen in the Jenkins run. oh well, I'll get back to it...

[2019-07-04 15:57] ennru opened #932 "Add Alpakka Kafka"
Alpakka Kafka https://github.com/akka/alpakka-kafka/ (aka akka-stream-kafka) could be included it builds for both 2.12.8 and 2.13.0 (by excluding a few tests that need an embedded Kafka broker).

Lagom depends on Alpakka Kafka (relevant for #846)

[2019-07-09 20:50] SethTisue commented on #922
on 2.13.x, as of f04284dd24d4d8a1d51a87b751d78262b7cc6569 we are now tracking scalamock master `[info] Project scalamock-------------------: SUCCESS (project rebuilt ok)` 👍

(on 2.12.x it's okay to stay forked, for now or even indefinitely)

[2019-07-09 20:50] #922 closed, assigned to SethTisue

[2019-07-09 22:46] SethTisue opened #935 "scalafix failing (in 2.12 build)"
this is a weird one. or maybe it's something dumb and I'm just not seeing it

* last green run was https://scala-ci.typesafe.com/view/scala-2.12.x/job/scala-2.12.x-integrate-community-build/4583/console (June 7)
* first red run was https://scala-ci.typesafe.com/view/scala-2.12.x/job/scala-2.12.x-integrate-community-build/4593/console (June 11)

[code]

downgrading to sbt 1.2 fixes one of the test

[2019-07-09 23:09] SethTisue commented on #935
June 11, we moved from sbt 1.3.0-RC1 to RC2. so whatever the issue is with filtering, perhaps on RC1 it resulted in everything being filtered out, whereas with RC2, nothing is filtered?

what if we go back to when everything was on sbt 1.2? f39cf1b8b41ca6ddba6dee4cc3e6d039d4e956eb is the May 18 commit that moved us to 1.3.0-RC1

here's a May 15 run where scalafix was rebuilt: https://scala-ci.type

[2019-07-09 23:12] SethTisue commented on #935
well now hey these look relevant: https://github.com/scalameta/scalameta/issues/1274, https://github.com/scalameta/scalameta/pull/1278 👀 👀 👀

[2019-07-09 23:33] SethTisue commented on #935
on scalameta master, there are test failures with `++2.12.9-bin-a995c4d` that don't occur on 2.12.8, and at least one of them (e.g. `ExpectSuite`) mentions `NOFOLLOW_LINKS`

what about on the community-build-2.12 branch of scalameta, the one we actually use? there, `++2.12.8` followed by `testsJVM/testOnly *ExpectSuite*` doesn't even compile, not sure why. and I see that in the community build we

[2019-07-09 23:43] SethTisue commented on #935
currently scalafix master is on scalameta 4.1.9, scalafmt master is on scalameta 4.2.0

looking at the scalafmt version history, it jumped straight from scalameta 4.0.0 to 4.2.0 at the time 2.13 support was added. so I think the course of action here should probably be to move to scalameta 4.2.0 with `testsJVM` enabled (making or requesting any needed fixes), scalafmt master, and then if scalafix

[2019-07-10 01:01] SethTisue commented on #935
there are several references, above, to file filtering not working in sbt 1.3. I looked into it and yeah, it was broken in 1.3.0-RC1 (everything got filtered), but it seems I have no evidence of anything being wrong in 1.3.0-RC2 👍

[2019-07-10 01:06] SethTisue commented on #935
I'm now confident it's okay to simply exclude the failing test for now, so I've done so: 1857b85deca85c8ece155e309c9fce407b4ceb46

[2019-07-10 01:06] #935 closed, assigned to SethTisue

[2019-07-10 01:06] SethTisue opened #936 "move to scalameta master (or v4.2.0 tag) and enable `testsJVM`"
see https://github.com/scala/community-builds/issues/935 for background

[2019-07-10 01:07] SethTisue commented on #935
tracking that at #936

[2019-07-10 01:51] SethTisue commented on #936
this is currently blocked because scalameta master uses a version of scalapb that depends on fastparse 2

scalameta still uses fastparse 1 internally, but it uses a shaded version that we can retrieve with aether, so we won't have a fastparse 1 vs 2 conflict, but adding fastparse 2 is still work. (it's #897)

[2019-07-11 06:14] olafurpg commented on #936
See scalameta/fastparse for the manually shaded version of fastparse v1. It might be possible to add it to the community build since the package name doesn’t conflict with fastparse v2.

[2019-07-29 03:28] SethTisue opened #942 "update to AdoptOpenJDK 11 on all 3 behemoths"
the immediate motivation is that https://scala-ci.typesafe.com/job/scala-2.13.x-jdk11-integrate-community-build/ is crashing the JVM and I suspect that upgrading from 11.0.1 to 11.0.4 would fix it

but also, this ought to happen anyway because:

* 11.0.1 is old
* we're standardizing on AdoptOpenJDK Lightbend-wide

installation instructions: https://adoptopenjdk.net/installation.html

[2019-07-29 03:32] SethTisue commented on #942
this worked on behemoth 1:

[code]

[2019-07-29 03:38] SethTisue commented on #942
done on all 3 behemoths

[2019-07-29 03:38] #942 closed, assigned to SethTisue

[2019-07-29 03:43] SethTisue commented on #942
might as well do JDK 12 too. additionally on all 3 behemoths I did:

[code]

result is

[code]

[2019-07-29 03:46] SethTisue commented on #942
fyi @eed3si9n

[2019-07-30 20:04] SethTisue opened #945 "eliminate usage of `check-missing: false`"
previously: #903 and #914

I don't think I'll ever get to this if I try to do it as one big PR. better if I chip away at it

[2019-07-30 20:04] SethTisue commented on #945
recent increment of progress: https://github.com/scala/community-builds/commit/cdaedc77fa6135a84e6ff0317acc71969de028a8

[2019-07-30 23:16] SethTisue commented on #945
round of progress at 4f4ca9369af727407d09825fe8a9ff29c4d2c871

[2019-07-31 01:23] SethTisue commented on #796
the JDK 11 and 12 builds had fallen behind the 8 one somewhat while my attention was elsewhere

but with the Scala 2.12.9 release coming up, it was important to return to it, so after some fixes, the 11 and 12 builds are green again (not counting a handful of known failures that I've evaluated and/or reported to upstream maintainers)

[2019-07-31 01:32] SethTisue commented on #796
closing, as keeping the 11 & 12 builds in shape is now part of normal maintenance.

[2019-07-31 01:32] #796 closed, assigned to SethTisue

[2019-07-31 14:44] SethTisue commented on #936
wip on this at #946

[2019-08-01 01:34] SethTisue commented on #945
the ones that involve scripted-plugin, I spent half a day trying to fix about 20 different ways and failed. (and now I wish I'd written down all the things I tried; I was too optimistic that surely I would hit on something that would work)

[2019-08-01 06:07] SethTisue commented on #936
#946 fixes this on 2.13.x and will be merged soon

in 2.12-land, I think I'm content to leave things where they are.

[2019-08-01 06:07] #936 closed, assigned to SethTisue

[2019-08-01 06:07] SethTisue commented on #682
Scaladex isn't currently under active development, so I'm content to leave it frozen

[2019-08-01 06:07] #682 closed, assigned to nobody

[2019-08-01 06:09] SethTisue commented on #897
in 2.13.x land, #946, which will be merged soon, fixes this by including both fastparse 2 (using an sbt build I artisanally handcrafted) and the scalameta fork of fastparse 1

in 2.12.x, I'm content to leave things as they are, freezing projects as needed

[2019-08-01 06:09] #897 closed, assigned to SethTisue

[2019-08-01 06:11] SethTisue commented on #904
@dwijnand do you plan on returning this soon? if not, I would prefer that the ticket be closed, and be replaced with a comment in the config file explaining the situation

[2019-08-01 06:13] SethTisue commented on #924
@eed3si9n @eatkins can you suggest (or even PR) a fix?

[2019-08-01 09:57] dwijnand commented on #904
Let's close it.  Lagom master is moving to APC 0.98 which is much better (there's a more ambitious 1.x, but Lagom 1.6 won't be migrating to it).

[2019-08-01 09:57] #904 closed, assigned to nobody

[2019-08-02 05:02] #924 closed, assigned to nobody

[2019-08-02 05:06] SethTisue commented on #924
I dealt with the immediate performance problem (thank you @eatkins, I've very glad to have this noticed and reported!) in the linked commit. @eed3si9n up to you if there's a need to do anything else here. (if I start having problems with flaky tests I'll disable them individually.)

[2019-08-02 23:28] SethTisue commented on #945
#948 fixed a bunch more

[2019-08-03 01:40] SethTisue commented on #917
on JDK 8 https://scala-ci.typesafe.com/view/scala-2.11.x/job/scala-2.11.x-integrate-community-build/1177/ has 180 green projects — declaring victory, it's sufficient.

next: look into the JDK 11 failures (https://scala-ci.typesafe.com/view/scala-2.11.x/job/scala-2.11.x-jdk11-integrate-community-build/)

[2019-08-03 21:50] SethTisue commented on #917
all JDK 11 failures investigated at least briefly. https://scala-ci.typesafe.com/view/scala-2.11.x/job/scala-2.11.x-jdk11-integrate-community-build/159/ is now green (there are some failures, but they are classified as "expected", which allows the overall status to be green), with 167 passing projects

[2019-08-03 21:51] SethTisue commented on #917
https://github.com/scala/community-builds/wiki now reflects the current branches and merging strategy

[2019-08-03 21:51] #917 closed, assigned to SethTisue

[2019-08-04 21:02] SethTisue commented on #945
c4a85b8e76ce58b6265d2344fc72d5f7f2236915 fixes scalameter

[2019-08-05 20:58] SethTisue commented on #945
5ba300a2f809fba46bc6ca875105015a2c021edb fixes a few more

[2019-08-08 23:23] SethTisue commented on #733
we recently froze the 2.12 build for the Scala 2.12.9 release. and then since then we have unfrozen again, but the frozen state is here: https://github.com/scala/community-builds/commit/56eae0fa173f8ef3a1534a038fe5c5bb6f783817 ; a Jenkins log for a green run at that commit is https://scala-ci.typesafe.com/view/scala-2.12.x/job/scala-2.12.x-integrate-community-build/4794/consoleFull

[2019-08-08 23:23] SethTisue commented on #733
I'm going to close this ticket; I remain happy to provide a link to a frozen-and-fully-green state any time, to anyone who could use it

[2019-08-08 23:23] #733 closed, assigned to nobody

[2019-08-09 00:57] SethTisue commented on #945
current status:
* cause: scripted-plugin
  * projects: a bunch
  * status: I give up
* cause: scalacheck-shapeless _1.13 / _1.14 suffix confuses dbuild
  * projects: curryhoward, metaconfig, pureconfig
  * can I work around this? worth a try, at least
* cause: scalafmt
  * projects: tsec
  * this one is different than the other scalafmt ones I fixed. it's a build level dependency involved in code

[2019-08-13 07:33] xerial opened #956 "Unfreeze airframe"
@SethTisue

I've fixed the cyclic dependency issue of airframe in https://github.com/wvlet/airframe/pull/592, by making Airspec (a new testing framework, which depends on airframe's code itself) a standalone project.

I think the latest master branch of airframe fixed the issue of https://github.com/scala/community-builds/commit/31459b014e49b2333bf51bc7d884baa481a3ab1c

Thank you for reporting thi

[2019-08-13 21:24] SethTisue opened #957 "Scala 2.13 nightly + JDK 12 + Play = weird javacOptions fail"
this came up in the 2.13 community build running on JDK 12, but it's reproducible outside as well, as follows:

[code]

@eed3si9n what do you make of this? why would switching from Scala 2.13.0 to a 2.13.0 nightly affect how javac is invoked on a subproject that isn't even cross-built? (it contains only Java code). this seems quite bizarre...

the problem is reproducible with both 1.2.8 and 1.3.0-

[2019-08-13 21:53] SethTisue opened #959 "try to handle scalacheck-shapeless normally"
offshoot of #945

[2019-08-13 21:54] SethTisue commented on #945
opened separate scalacheck-shapeless ticket (https://github.com/scala/community-builds/issues/959), declaring victory and defeat on the rest

[2019-08-13 21:54] #945 closed, assigned to SethTisue

[2019-08-13 22:06] eed3si9n commented on #957
I'm not sure what's going on.

[code]

`Attempting to call com.sun.tools.javac.api.JavacTool@3a8c914f directly` is I think coming from https://github.com/sbt/zinc/blob/4b414b66778399f044beccf749073b52e63bf5ef/internal/zinc-compile-core/src/main/scala/sbt/internal/inc/javac/LocalJava.scala#L169. I wonder whatever in https://docs.oracle.com/en/java/javase/12/docs/api/java.compiler/javax/tools/JavaCo

[2019-08-13 23:03] SethTisue commented on #796
for e.g. spray-json I was able to do

[code]

but it might be harder in a multi-project build

I finally got around to opening a ticket-of-record on the underlying bug: https://github.com/scala/bug/issues/11682

[2019-08-13 23:24] SethTisue opened #961 "we are wildly overcounting LOC, there are not 15 million lines"
LOL `15155450 TOTAL`. not!

not sure when this started, I'll have to look at the history of how cloc-plugin is getting added

here's an example log excerpt from one of the overcounted projects, showing the same numbers being repeated

[code]

[2019-08-13 23:25] SethTisue commented on #961
looking at some of the obviously over-counted projects:

[code]

I suspect the common denominator is "build has lots of subprojects"

[2019-08-14 03:33] #956 closed, assigned to SethTisue

[2019-08-14 03:34] SethTisue commented on #956
thanks for letting me know

[2019-08-14 20:42] smarter commented on #961
How about dropping cloc-plugin ?

[2019-08-14 21:21] SethTisue commented on #961
well, the line counts are useful for publicity, and this was working before, it probably just needs a little tweak

but you're right that it might make sense to just drop it, and run it again every 6 months or so to get updated counts, come blogging time

it was added in the first place partly as an exercise in seeing whether we could inject a compiler plugin into every project, something we thoug

[2019-08-14 21:23] smarter commented on #961
Honestly I think at this point you could just say "millions of lines of code" and leave it at that, humans can barely comprehend such numbers anyway :).

[2019-08-14 21:52] SethTisue commented on #961
I haven't said so yet, but one of the reasons the overcounting concerns me is that in the above transcript, it isn't just the `LINE COUNT` lines that are repeated, there's also these repeated lines:

[code]

which seems to indicate that we're compiling the same sources over and over again. I'd like to get to the bottom of that: is it sbt? dbuild? or what? does it happen even when cloc-plugin is re

[2019-08-14 23:18] SethTisue commented on #961
an example of a zero-dependency project (easy to do testing on) that's affected is scala-parser-combinators

the overcompilation still happens even if I remove cloc-plugin entirely from the config file

the overcompilation stops if I downgrade from sbt 1.3.0-RC3 to sbt 1.2.8. (downgrading to 1.3.0-RC2 or RC1 does not help.)

so that narrows it down. it's either an sbt regression, or a latent dbuil

[2019-08-14 23:19] SethTisue commented on #961
minimal(-ish?) config file at https://github.com/SethTisue/community-builds/blob/overcount/configs/community.dbuild

[2019-08-14 23:33] SethTisue commented on #961
hmm, the problem isn't specific to `publish`:

if I run sbt in the dbuild debugging environment, with commands such as:

[code]

then do `project scala-parser-combinators` and run `compile` twice in a row, the second time everything is recompiled — it should be a no-op

enabling `debug`, every time we run `compile` we see:

[code]

followed by full recompilation. that copy of `scala-library.jar` i

[2019-08-15 00:03] SethTisue commented on #961
dbuild isn't monkeying with scala-library.jar:

[code]

[2019-08-15 00:46] SethTisue commented on #961
I wonder about https://github.com/sbt/sbt/commit/25e97f99f588d1ddc9bbd114740bfb25c2a955c6#diff-324c154efade6a91675ce59c16db4b9d (part of https://github.com/sbt/sbt/pull/4335) /cc @eatkins

(conceivably related: https://github.com/sbt/sbt/pull/4679 — it seems that nobody ever figured out _why_ `rt.jar` was being invalidated, and just excluded it)

[2019-08-15 15:08] eed3si9n commented on #961
I'll escalate this to an issue on sbt/sbt.

[2019-08-15 15:47] SethTisue commented on #846
currently working on unfreezing Lagom and adding Lagom sample apps over at #869

[2019-08-15 17:54] SethTisue commented on #961
sbt fix incoming!!! https://github.com/sbt/sbt/pull/4949

[2019-08-16 01:54] eatkins commented on #961
I think the sbt fix will also fix some of the projects like playframework and circe that had to be pinned to 1.2.8.

[2019-08-16 02:03] SethTisue commented on #961
when RC4 comes out, I will retest every project that was pinned to 1.2.8

[2019-08-16 19:35] SethTisue opened #963 "2.13: move to Akka 2.6, revive Lagom"
Lagom's 2.13 support is on their master branch where they have also moved to Akka 2.6. the CB is still on Akka 2.5

(it's true that we had Lagom on 2.13 green here for a while, but that was using a special branch, I don't see any value in continuing with that)

at some point we could/should move everything forward to Akka 2.6, but I think attempting to do so now would likely not have good cost/ben

[2019-08-21 01:05] SethTisue commented on #961
using scala-parser-combinators as my test repo, I verified that 1.3.0-RC4 fixes the problem. 1.2.8 and 1.3.0-RC4 both give a line count of `2202 scala-parser-combinators`, where 1.3.0-RC3 gave `4600 scala-parser-combinators`

[2019-08-21 01:05] #961 closed, assigned to SethTisue

[2019-08-21 01:06] SethTisue commented on #961
this in process now, beginning with https://github.com/scala/community-builds/commit/0b65e06cd9712fab0dfbe66437cd3038517df848 (which I'll revert pieces of as needed, e.g. https://github.com/scala/community-builds/commit/d5d87f582d56ae145e650260bf1def0296e195e6)

UPDATE: ticket is #966

[2019-08-21 01:21] SethTisue commented on #957
in 3358c6f7a97dea00c1b62f7ae7f5f5aae6300659 I just marked it as expected-to-fail on JDK 12

looking into it further is out-of-scope for me, so I'll notify @dwijnand and @marcospereira and call it a day

[2019-08-21 01:21] #957 closed, assigned to SethTisue

[2019-08-21 05:03] marcospereira commented on #957
Can we work around this by explicitly setting `-source` and `-target` to "1.8"?

[2019-08-21 06:49] dwijnand commented on #957
Tracking as https://github.com/playframework/playframework/issues/9586.  Thanks for the heads up, Seth.

[2019-08-21 17:09] SethTisue opened #966 "push sbt 1.3.0-RC4 upgrade through"
including re-testing all projects that failed on RC3

/cc @eed3si9n @eatkins

[2019-08-21 17:13] SethTisue commented on #338
ok, I've finally flipped the switch on this. all the builds are now fully frozen except when I'm actually working on something.

2.11 I'll unfreeze-then-refreeze every 1-2 months, 2.12 and 2.13 maybe every 2-3 weeks, something like that

if a Scala release is coming up or when some particularly important/risky Scala PR gets merged, I think it's fine to just bump the Scala SHA and not worry about r

[2019-08-21 17:13] #338 closed, assigned to nobody

[2019-08-21 17:16] SethTisue commented on #338
this has turned out to be less of a problem than I had feared. I think at the time I wrote the above, we had just lost a commit, but in the years since, it has happened pretty much never. I think maybe one time I had to rescue a commit from a clone (I don't remember whether I used a clone on one of my laptops, or a clone on one of the Jenkins servers).

it's not worth adding extra infra and extra

[2019-08-21 17:26] SethTisue commented on #966
this is now done on 2.12 as of https://scala-ci.typesafe.com/view/scala-2.12.x/job/scala-2.12.x-integrate-community-build/4923/

the full list of projects that didn't work on RC4 is:

* fs2 (worked on RC3)
* genjavadoc
* scala-js
* blaze
* sbt-io, sbt-util, sbt-librarymanagement (very old versions)
* sttp
* tsec

Error details are in comments in https://github.com/scala/community-builds/blob/2.12.

[2019-08-21 19:54] SethTisue opened #967 "move all of the community builds to AdoptOpenJDK"
we're standardizing on AdoptOpenJDK for testing, Lightbend-wide

[2019-08-21 20:25] SethTisue commented on #967
https://github.com/scala/community-builds/issues/942 covered 11 + 12, but I still need to do 8

[2019-08-21 20:29] eatkins commented on #966
I think sttp will pass with -Dsbt.classloader.close=false. We should probably bump the sbt pinned versions to something more recent. The tsec tests passed when I ran them locally so it may have just been a flaky test or something about the community build. The genjavadoc tests worked for me with 2.12.8 but failed in the same way the community build did with 2.13.0.

[2019-08-21 20:50] SethTisue commented on #966
let's find out! https://github.com/scala/community-builds/pull/968 (UPDATE: green, merged)

I think the 1.3.0 release would be a good opportunity for that, but I'm hoping @eed3si9n will tackle it for me :-)

[2019-08-21 21:06] SethTisue commented on #967
with the steps at #942 already done, the additional work needed here (via `ssh admin@...` to all 3 behemoths) was:

[code]

it's a bit annoying because `jvmSelect` (in `/usr/local/share/jvm/jvm-select`) expects the JVM "flavor" to come after the version number in the pathname, rather than before. so just setting the flavor to `adoptopenjdk` in the Jenkins job configs doesn't work, we need the syml

[2019-08-21 21:07] SethTisue commented on #942
JDK 8 at https://github.com/scala/community-builds/issues/967

[2019-08-21 21:16] #967 closed, assigned to SethTisue

[2019-08-21 22:48] SethTisue commented on #763
abandoning this effort. given the nature of the Spark build, it's easier to just test it with a Scala nightly outside of the dbuild context. that will use Maven Central retrieved dependencies rather than dbuild-built dependencies, but it's fine, the likelihood of some obscure bug being missed that way are very low

[2019-08-21 22:48] #763 closed, assigned to SethTisue

[2019-08-21 22:49] SethTisue commented on #321
I don't think I'm ever going to do this.

[2019-08-21 22:49] #321 closed, assigned to nobody

[2019-08-21 22:50] SethTisue commented on #161
closing. this ticket has served its purpose; the build is now big enough, overall. we'll still add specific things from time to time, but there's no point to keeping this neglected ticket open.

[2019-08-21 22:50] #161 closed, assigned to nobody

[2019-08-21 22:51] SethTisue commented on #553
I don't think we need to leave this ticket open, as the compiler-plugin aspect is solved, and no need has arisen for the sbt plugin aspect.

[2019-08-21 22:51] #553 closed, assigned to nobody

[2019-08-21 22:53] SethTisue commented on #616
closing, as this was sort of a vague idea, a clear need hasn't arisen

[2019-08-21 22:53] #616 closed, assigned to nobody

[2019-08-21 22:53] SethTisue commented on #644
It seems unlikely we will ever get around to this.

[2019-08-21 22:53] #644 closed, assigned to nobody

[2019-08-21 22:55] SethTisue commented on #798
it seems unlikely this will progress, unless new impetus comes from outside. I don't think the ticket needs to stay open

[2019-08-21 22:55] #798 closed, assigned to nobody

[2019-08-22 22:14] SethTisue commented on #966
on 2.13, scala-parallel-collections weirdness: f09999ddaccdf659f3758a0bf573d90daf9d8c50

[2019-08-22 22:15] #966 closed, assigned to SethTisue

[2019-08-22 22:23] SethTisue commented on #932
let's tackle this!

[2019-08-22 22:32] SethTisue commented on #932
let's discuss the gory details on the new PR, #969

[2019-08-23 23:10] SethTisue commented on #667
the doc at https://github.com/scala/community-builds/wiki/Local-Artifactory is in reasonably good shape

[2019-08-23 23:10] #667 closed, assigned to nobody

[2019-08-27 17:42] SethTisue commented on #959
#960 had some WIP on this, I decided it isn't worth messing with. we don't need an open ticket either, it's in the config comments

[2019-08-27 17:42] #959 closed, assigned to SethTisue

[2019-08-27 17:59] SethTisue commented on #846
closing, as it's a very open-ended ticket and I don't currently have a clear directive to pursue this further.

Lagom is unfrozen on 2.12, but is failing in 2.13 for now, but I don't think it makes sense to pursue until it's on Akka 2.6 (see #963, which remains open)

Lagom samples app PR remains open and will hopefully still progress.

[2019-08-27 17:59] #846 closed, assigned to nobody

[2019-08-27 18:00] SethTisue commented on #442
this is a longstanding todo that never seems to rise to top of anybody's priority list. closing, but happy to reopen if someone considers it a priority

[2019-08-27 18:00] #442 closed, assigned to lrytz

[2019-08-27 18:05] SethTisue opened #970 "try Toni's dbuild beta (with disk-space improvement)"
see https://github.com/scala/community-builds/issues/905#issuecomment-490954630

[2019-08-27 18:05] #905 closed, assigned to SethTisue

[2019-08-27 18:07] SethTisue commented on #905
closing, since the main difficulty here was resolved by clearing the workspaces whenever I bump the Scala SHA

as for trying Toni's dbuild beta, I split that off as #970

[2019-08-27 18:23] SethTisue commented on #710
162 green projects these days (2.12 has 204)

[2019-08-28 20:12] #932 closed, assigned to SethTisue

[2019-08-29 03:48] SethTisue commented on #699
Jason's thing is useful (thank you!), but it only runs server-side, and I'm often doing local runs, and it doesn't address all the use cases for this

in particular, I want to be able to direct a project maintainer to a file containing the complete build log for their project only

Toni's suggested approach (thank you!) would be elegant, but it having find the right logfiles seems a bit trickier t

[2019-08-29 04:09] SethTisue commented on #699
and I went around and added an "archive the artifacts" post-build step to all of the jobs

example results: https://scala-ci.typesafe.com/view/scala-2.11.x/job/scala-2.11.x-integrate-community-build/1276/artifact/

[2019-08-29 04:09] #699 closed, assigned to nobody

[2019-08-29 08:02] ennru commented on #699
Great! Thank you.

[2019-09-18 18:54] SethTisue commented on #873
JDK 13 is in final release, so it's time for this.

to conserve resources, we can get rid of the JDK 12 jobs.

[2019-09-18 19:43] eed3si9n commented on #873
It might require sbt 1.3.1 that uses Scala 2.12.10.

[2019-09-26 03:26] SethTisue opened #981 "unfreezing scala-parallel-collections caused failures downstream"
something to do with sbt-scala-module 2.1

there are some notes at https://github.com/scala/community-builds/pull/980#issuecomment-535314171

splitting that out as a separate issue so I can get #980 merged. #980 freezes scala-parallel-collections at an older version for now

[2019-09-26 06:48] lrytz commented on #981
https://github.com/sbt/sbt/issues/5043 maybe?

I hit this bug here: https://github.com/scala/scala-collection-contrib/blob/master/project/build.properties

[2019-09-27 02:55] SethTisue commented on #981
the problem is reproducible outside of dbuild by cloning scala-parallel-collections, doing `core/publishLocal`, and then cloning twitter-util (`develop` branch), replacing e.g.

[code]

and then doing `++2.13.1` and `util-stats/Test/compile`. (regardless of what sbt version twitter-util uses, 1.2.8 or 1.3.2)

[2019-09-27 02:58] SethTisue commented on #981
and you can cut twitter-util out of the picture with:

[code]

[2019-09-27 03:03] SethTisue commented on #981
the classes in question are in fact missing from the published JAR:

[code]

[2019-09-27 03:07] SethTisue commented on #981
in the `publishLocal` output, this seems possibly relevant:

[code]

@lrytz note that I charge extra for OSGi work

[2019-09-27 03:20] SethTisue commented on #981
`GenericParTemplate.class` is in the `core/package` JAR but not the `core/publishLocal` JAR

some of the `scala.collection.generic` classes make it through, but not all of them

[2019-09-27 03:24] SethTisue commented on #981
surely the problem is here somewhere?

[code]

[2019-09-27 03:31] SethTisue commented on #981
so it seems we want `-split-package:=merge-first` here, instead of `:=first`, but the comment seems to indicate that was already tried

but something is different now or this wouldn't be breaking, so it's worth another try I guess

the newer sbt-scala-modules includes an sbt-osgi version bump from 0.9.4 to 0.9.5. not clear to me at a glance if any of https://github.com/sbt/sbt-osgi/milestone/6?clo

[2019-09-27 03:41] SethTisue commented on #981
hey @szeiger that's your code and your comment, how much do _you_ charge for OSGi work? (and how much when you're on vacation?)

[2019-09-27 04:11] SethTisue commented on #981
oops, no, those are being copied from scala-library, rather than coming from within scala-parallel-collections

[2019-09-27 04:27] SethTisue commented on #981
do we need to make scala-parallel-collections a "bundle fragment"? https://www.ibm.com/support/knowledgecenter/SSRTLW_9.5.0/com.ibm.aries.osgi.doc/topics/cbundlefragment.html

[2019-09-27 05:17] SethTisue commented on #981
what's the old saying, a child can split a package and ten wise men can't put it back together, something like that?

[2019-09-30 20:43] mr-git commented on #873
and https://jdk.java.net/14/ early builds are available too ;)

[2019-09-30 20:49] SethTisue commented on #981
the ticket on the unfortunateness of having split packages at all is https://github.com/scala/scala-parallel-collections/issues/5

[2019-10-03 17:37] SethTisue commented on #873
instructions for installing new OpenJDK versions on the behemoths: https://github.com/scala/community-builds/issues/942#issuecomment-515833620

[2019-10-03 17:38] SethTisue opened #984 "add JDK 14 community build"
I'm not sure we really have the resources for this at present, and I think adding Graal is a higher priority.

Regardless, yes at some point we should replace the JDK 13 build with a JDK 14 one.

The JDK 13 ticket is #873, we should work through that one first.

Note that JDK 14 isn't LTS. (JDK 17 will be LTS.)

[2019-10-03 17:39] SethTisue commented on #873
@mr-git I've made a separate ticket on that, though I don't plan to tackle it immediately: #984

[2019-10-03 17:45] SethTisue commented on #873
JDKs installed on all 3 behemoths

job names/configurations updated

first runs in progress:

* https://scala-ci.typesafe.com/job/scala-2.12.x-jdk13-integrate-community-build/494/
* https://scala-ci.typesafe.com/job/scala-2.13.x-jdk13-integrate-community-build/398/

[2019-10-03 20:02] SethTisue commented on #873
`EXTRACTION FAILED (failed: blaze, doodle, fs2, genjavadoc, monix, paradox, sbt, sbt-io, sbt-librarymanagement, sbt-util, scala-async, scala-collection-compat, scala-continuations, scala-js, scala-partest, scala-swing, sconfig, sttp, tsec, zinc)`

https://scala-ci.typesafe.com/job/scala-2.12.x-jdk13-integrate-community-build/494/artifact/logs/

I'll have to look at these one at a time.

[2019-10-03 20:09] SethTisue commented on #873
repos that don't extract because they're on old sbt 1.x versions that don't work on JDK 13 (as @eed3si9n anticipated): blaze, doodle, fs2, genjavadoc, monix, paradox, sbt, sbt-*, scala-js, sconfig, sttp, tsec, zinc

Scala modules with hardcoded JDK version check needs updating: scala-async, scala-collection-compat, scala-continuations, scala-partest, scala-swing

I don't see any other classes of f

[2019-10-03 20:30] SethTisue commented on #873
#986 should fix the modules. after that I'll think about what to do about the others

[2019-10-09 00:09] TimMoore commented on #873
I just updated the wiki page (https://github.com/scala/community-builds/wiki) which had some dead links to the jdk12 builds.

[2019-10-10 17:52] SethTisue commented on #846
I gave up on the Lagom samples app PR (#950)

[2019-10-10 18:06] SethTisue commented on #873
a couple possible workarounds I've thought of:

* for the projects that need sbt 1.2, can we override the Scala version that sbt itself uses to be 2.12.10 instead of 2.12.7?
* maybe we could make `sbt-1-2-version` be `1.2.8` on most JDKs but `1.3.2` on JDK 13+. the projects that need sbt 1.2 will fail, but at least they should extract, allowing other projects to build

[2019-10-10 18:35] SethTisue commented on #873
#991 tries this approach (`-Dsbt.scala.version=2.12.10`)

[2019-10-10 20:10] SethTisue commented on #873
#991 is merged. all projects extract now, on both the 2.12.x and 2.13.x branches

let's see how the actual builds go:

* https://scala-ci.typesafe.com/view/scala-2.12.x/job/scala-2.12.x-jdk13-integrate-community-build/521/
* ~~https://scala-ci.typesafe.com/view/scala-2.13.x/job/scala-2.13.x-jdk13-integrate-community-build/413/~~ https://scala-ci.typesafe.com/view/scala-2.13.x/job/scala-2.13.x-jdk1

[2019-10-11 01:58] SethTisue commented on #733
note that we always use fixed project SHAs now, and we only advance those SHAs after verifying that the new SHAs pass. so this whole ticket is much less relevant than it used to be

[2019-10-11 02:08] SethTisue commented on #733
also there's much less of a problem with intermittent test failures than before. it still happens, but I excluded a ton of tests in the last month or so and really reduced the problem a lot.

[2019-10-11 03:57] SethTisue commented on #873
2.13.x: `SUCCEEDED: 138`

* `[jawn-0-11] [error] java.lang.IllegalArgumentException: Unsupported class file major version 57`
* `[expression-evaluator] [error] java.lang.IllegalArgumentException: Unsupported class file major version 57`
* `[log4s] [error] Unsupported class file major version 57`
* `[mockito-scala] [info]   org.mockito.exceptions.base.MockitoException: Mockito cannot mock this clas

[2019-10-11 13:55] SethTisue commented on #873
2.12.x: `SUCCEEDED: 141` (https://scala-ci.typesafe.com/view/scala-2.12.x/job/scala-2.12.x-jdk13-integrate-community-build/526/)

failures are about as above, plus:

* `[utest] [error] java.lang.IllegalArgumentException: Unsupported class file major version 57`
* `[jawn-0-10] [error] Unsupported class file major version 57`
*` [playframework] [error] Failed tests: play.mvc.HttpFormsTest`
* `[scala

[2019-10-12 17:33] SethTisue opened #997 "I changed the repo name"
heads up: it's now `community-build` instead of `community-builds`

the extra s always bugged me

[2019-10-12 17:34] #997 closed, assigned to nobody

[2019-10-12 19:00] SethTisue commented on #873
declaring victory, according to our target ambition level

most of the 2.12 and 2.13 builds are green; the failures are don't look concerning, or are known issues in scala/bug

[2019-10-12 19:00] #873 closed, assigned to SethTisue

[2019-10-13 03:26] SethTisue commented on #981
if you do:

[code]

then you get all of the classes you want, but you *also* get a bunch of copies of stuff from Scala stdlib

in the community build context, this should be sufficient? let's try it

[2019-10-13 04:16] SethTisue commented on #981
yup that did it

[2019-10-13 04:16] #981 closed, assigned to SethTisue

[2019-10-16 02:40] SethTisue commented on #984
according to https://openjdk.java.net/projects/jdk/14/ ,

2020/02/06 |   | Initial Release Candidate
2020/02/20 |   | Final Release Candidate
2020/03/17 |   | General Availability

[2019-10-18 15:48] SethTisue commented on #963
@dwijnand is it time yet?

[2019-10-18 15:51] dwijnand commented on #963
At the very least not until https://github.com/lagom/lagom/pull/2350 (which upgrades and fixes a source-incompatible change with M7).  There might be similar breakages in Akka's RC1, but I'm not sure (upgrading tomorrow).

[2019-10-22 20:03] SethTisue commented on #984
on MacOS, one way to get 14 is:

1. `brew cask install java-beta`
1. (if on Catalina) `sudo xattr -dr com.apple.quarantine /Library/Java/JavaVirtualMachines/openjdk-14.jdk`
1. `export JAVA_HOME=$(/usr/libexec/java_home -v 14)`

[2019-10-23 15:48] SethTisue commented on #984
for now, just to make sure something isn't horribly broken build-wide, I did local runs of a subset of the build on MacOS using "OpenJDK Runtime Environment (build 14-ea+14-570)" and got similar results as we're seeing on JDK 13.

(on 2.12.x and 2.13.x I used `./narrow play-webgoat scala-pet-store` as the subset, on 2.11.x `./narrow play-webgoat http4s`)

[2019-11-06 00:05] SethTisue commented on #963
@dwijnand I see Lagom 1.6.0-RC1 is out; is now the right time?

[2019-11-06 06:15] dwijnand commented on #963
Yep!

[2019-11-06 18:20] SethTisue commented on #963
pursuing this now at https://github.com/scala/community-build/pull/1008

[2019-11-13 18:31] SethTisue opened #1009 "retain Scala.js in the community build? is it worth the effort?"
(this is on my mind because of https://github.com/scala-js/scala-js/pull/3805, which presents fresh difficulties for retaining Scala.js in the community build)

traditionally we have included Scala.js, but it's not obviously necessary. Scala.js has zero dependencies besides Scala itself, and it is a leaf project — nothing in the community build is downstream from it.

dbuild's forte is rewiring pr

[2019-11-13 21:25] sjrd commented on #1009
Since we never got to support downstream Scala.js projects in the community build, Scala.js ended up being a leaf project indeed.

For me, the real benefit is the early detection. The fact that it's a few weeks behind is not really problem. "Early" is early enough as long as we detect regressions several weeks before a new minor version of Scala gets released. I am open to obtain these notificatio

[2019-11-13 22:16] sjrd commented on #1009
Well ... I did that: https://github.com/scala-js/scala-js-test-scala-nightly
Travis at https://travis-ci.org/scala-js/scala-js-test-scala-nightly

[2019-11-14 07:34] SethTisue commented on #1009
works for me! I left a breadcrumb about it at https://github.com/scala/scala-dev/issues/648

okay to go ahead and remove Scala.js from this repo, then?

[2019-11-14 07:46] sjrd commented on #1009
Yes, let's remove it from this repo.

Thank you @SethTisue for all your help!

[2019-11-14 07:53] #1009 closed, assigned to nobody

[2019-11-14 19:00] SethTisue commented on #912
pursuing this now as part of #1008

[2019-11-16 17:57] SethTisue commented on #798
we ended up removing even Scala.js itself (see #1009), instead accomplishing equivalent testing here: https://github.com/scala-js/scala-js-test-scala-nightly

ticket on the possibility of taking that approach further: https://github.com/scala-js/scala-js-test-scala-nightly/issues/1

[2019-11-30 15:44] SethTisue opened #1014 "dependencies.txt should be in deterministic order"
because it's annoying for it constantly to show up in `git status` (and not only that,  it also leads to me being lazy about checking in the changes when something actually _has_ changed)

[2019-12-13 23:52] SethTisue commented on #963
done

[2019-12-13 23:52] #963 closed, assigned to SethTisue, dwijnand

[2019-12-14 00:07] SethTisue opened #1020 "2.13: upgrade to ScalaTest 3.1"
there is previous history on this at #913, #898, #875

as discussed there, I think it's fine for the 2.11 and 2.12 builds to stay on ScalaTest 3.0 forever, and we can just freeze things downstream as needed

but the 2.13 build, we should start moving now that 3.1 is in final release. we have already accumulated a substantial number of frozen projects (some green but frozen, some known-to-fail) tha

[2019-12-15 02:27] SethTisue commented on #1020
I don't think it would be feasible to put 3.0 and 3.1 in different spaces

so in order to support both versions, we'll need to change the artifact coordinates (name and/or org) of one of them

changing the coordinates of 3.0 is preferable, I think, since 3.1 is the direction we're heading (and because I think we've delayed this long enough that lots of projects will already be there)

in our confi

[2019-12-17 14:06] SethTisue opened #1024 "try Enno's new Kafka 2.4 branch"
@ennru writes:

I should give It a try

[2019-12-17 14:09] SethTisue commented on #1024
not sure whether to target both the 2.12.x and 2.13.x builds for this change, or leave 2.12.x alone and only worry about 2.13.x

[2019-12-20 15:04] ennru commented on #1024
Doing it for Scala 2.13 would be enough.
We should maybe PR the retirement of Scala-logging to Kafka so they can start looking into Scala 3...

[2019-12-30 20:07] SethTisue commented on #1024
PR: #1032

[2019-12-30 20:59] SethTisue commented on #1020
oh, I guess there's no need to publish. we could still build everything from source, we'd just do the 3.0 build from a fork where the organization name was different. or even just set the organization from dbuild, in `extra.settings`

[2019-12-30 21:52] SethTisue commented on #1020
that doesn't work, in my experimentation anyway. it's fine, changing it in a fork is easy

[2019-12-31 13:38] SethTisue commented on #1024
green :+1:

[2019-12-31 13:38] #1024 closed, assigned to SethTisue

[2020-01-14 02:43] SethTisue opened #1039 "2.13: try to get pfps-shopping-cart over the finish line"
over at #1033 I ran into this error. it isn't obvious to me what might be causing it

rather than hold up that massive PR over one repo, I will mark the repo as "expected to fail". lodging this ticket and hopefully I can return to it

[code]

[2020-01-14 02:45] SethTisue commented on #1039
rather than let pfps-shopping-cart hold up this whole PR, I've marked it as expected-to-fail and opened a separate ticket on it: #1039

[2020-01-14 03:18] SethTisue commented on #1039
new PR: #1040

[2020-01-14 03:25] SethTisue commented on #1020
fixed by #1040

[2020-01-14 03:25] #1020 closed, assigned to SethTisue

[2020-01-14 18:01] SethTisue opened #1041 "2.13: sttp is failing"
I merged #1040 regardless, but I should still try and fix this unless it's a can of worms

https://scala-ci.typesafe.com/job/scala-2.13.x-integrate-community-build/3045/artifact/logs/sttp-build.log

`[sttp] [error] scala.MatchError: org.apache.logging.log4j.simple.SimpleLoggerContext@17844ffe (of class org.apache.logging.log4j.simple.SimpleLoggerContext)`

[2020-01-14 18:01] SethTisue opened #1042 "2.13: scala-pet-store is failing"
I merged #1040 regardless, but I should still try and fix this unless it's a can of worms

https://scala-ci.typesafe.com/job/scala-2.13.x-integrate-community-build/3045/artifact/logs/scala-pet-store-build.log

[code]

[2020-01-14 18:02] SethTisue opened #1043 "2.13: ScalaTest 3.1 doesn't compile on JDK 11 (or 13)"
it's a trivial `.lines` thing

https://scala-ci.typesafe.com/job/scala-2.13.x-jdk11-integrate-community-build/1082/artifact/logs/scalatest-build.log

[2020-01-14 18:44] SethTisue opened #1044 "2.13: scalatest-tests is failing"
at least one of the subprojects has a dependency on `scalatestplus-testng` with the old artifact name (new artifact name is just `testng-6-7`)

I could try simply overriding the dependency to the correct artifact name. if it turns into a can of worms, I might just disable the failing projects

https://scala-ci.typesafe.com/job/scala-2.13.x-integrate-community-build/3045/artifact/logs/scalatest-tes

[2020-01-14 19:02] SethTisue commented on #1043
fixed by fb788aab15e1cf332fb04eac9fe8d28a6cae4d64

[2020-01-14 19:02] #1043 closed, assigned to SethTisue

[2020-01-14 19:22] SethTisue opened #1045 "change default branch to 2.13.x and update wiki to reflect that 2.12.x is now frozen-ish"

[2020-01-14 19:29] SethTisue commented on #1041
PR: #1046

[2020-01-14 19:30] SethTisue commented on #1045
and also let's change the merge direction: instead of 2.12 -> 2.11 and 2.12 -> 2.13, let's switch to 2.11 -> 2.12 -> 2.13. since the 2.11 and 2.12 builds are pretty much frozen these days, this will normally just be things like sbt version bumps and things like improvements to the various scripts

[2020-01-14 19:37] SethTisue commented on #1045
done

[2020-01-14 19:37] #1045 closed, assigned to SethTisue

[2020-01-14 22:24] SethTisue commented on #1042
I tried to fix this as follows.

I forked scala-pet-store to use ScalaTest 3.1 and the right scalatestplus-scalacheck artifact name

that fixed the above error, but then in trying to run scala-pet-store's tests we get:

[code]

I made one attempt to fix this; I thought it might be a doobie version mismatch, somehow. scala-pet-store currently expects doobie v0.8.8, so I forked doobie from that tag,

[2020-01-14 22:28] #1042 closed, assigned to SethTisue

[2020-01-14 22:32] SethTisue commented on #1044
oh whoops, it's scalatestplus-testng, not scalatestplus-scalacheck

[2020-01-14 23:08] SethTisue commented on #1044
PR #1048

[2020-01-14 23:38] SethTisue commented on #1039
I ran this locally and the error mentions a different package name:

[code]

[2020-01-14 23:40] SethTisue commented on #1039
ah, there's a ticket on this at https://github.com/fthomas/refined/issues/260

[2020-01-14 23:41] SethTisue commented on #1039
this seems like a refined issue rather than anything I should delve into any further myself, so I'm going to close this and leave the project as expected-to-fail

[2020-01-14 23:41] #1039 closed, assigned to SethTisue

[2020-01-15 04:52] #1044 closed, assigned to SethTisue

[2020-01-15 04:54] SethTisue commented on #1041
I now think the failures were intermittent. Intermittent, but perhaps annoyingly frequent. Let's wait and see. Closing for now.

[2020-01-15 04:54] #1041 closed, assigned to SethTisue

[2020-01-24 17:08] SethTisue commented on #873
the 2.13.x-on-JDK-13 build keeps SIGSEGV'ing when running the scalacheck-shapeless tests — not every time, but very often

hoping a version upgrade would fix it, I did `sudo apt-get install adoptopenjdk-13-hotspot` which updated JDK 13 from a September 2019 build to 13.0.2+8-2 (done on all 3 behemoths)

but the first scalacheck-shapeless run on the new version still [crashed](https://scala-ci.type

[2020-01-24 17:58] SethTisue commented on #984
14's release date is now just a couple months away, and I think we've learned everything we're going to learn from the 13 build, so now seems like a good time to swap in 14 for 13

`sudo apt-get install adoptopenjdk-14-hotspot` doesn't work yet, and 14 isn't available from https://adoptopenjdk.net/installation.html yet anyway

so installation steps are:

[code]

I did this on all 3 behemoths

then

[2020-01-24 20:44] SethTisue commented on #873
ha! scalacheck-shapeless segfaults even on JDK 14 (14-ea+32-1423) on macOS, even on 2.13.1 and outside dbuild. reported upstream: https://github.com/alexarchambault/scalacheck-shapeless/issues/149

[2020-01-25 17:04] SethTisue commented on #984
this is done

results are very similar to the JDK 13 results. I did a few more test runs, excluded a few tests, reported a new Akka failure upstream, marked a repo or two as expected-to-fail, little things like that

I may do some light followup work to see if we can shorten the expected-to-fail list

[2020-01-25 17:04] #984 closed, assigned to SethTisue

[2020-01-25 17:05] SethTisue commented on #611
I don't think this is ever going to happen, since there's no longer a plan to do Scala 2.14 (with concomitant rebuilding of the ecosystem), and the Scala 3 picture is different (TASTy!)

[2020-01-25 17:05] #611 closed, assigned to nobody

[2020-01-25 17:20] SethTisue commented on #970
@cunei during extraction I'm seeing:

[code]

and for other repos as well. perhaps the error is harmless? it doesn't seem to prevent the build from proceeding. but 0.9.16 didn't do this

[2020-01-28 00:26] SethTisue commented on #970
closing for now since https://github.com/lightbend/dbuild/pull/221 remains open

[2020-01-28 00:26] #970 closed, assigned to SethTisue

[2020-01-30 20:47] SethTisue commented on #889
there will likely be some failures related to `toString` on lambdas, judging from https://github.com/scala/scala/pull/8675

[2020-01-30 22:49] SethTisue commented on #803
JVM crashes have been rare lately, with a single consistent exception:

scalacheck-shapeless has been repeatedly SIGSEGV'ing, e.g. https://scala-ci.typesafe.com/job/scala-2.13.x-jdk11-integrate-community-build/1137/artifact/logs/scalacheck-shapeless-build.log

on all 3 behemoths, I ran `sudo apt-get upgrade adoptopenjdk-11-hotspot` in hopes the situation may improve. (I note that as a side effect,

[2020-01-31 03:42] SethTisue opened #1071 "`./narrow` shouldn't modify version-controlled files"
think about having `narrow` not modify `projs.conf` directly; it's annoying to have git always thinking it's a change I should check in

perhaps `narrow` could write out a `projs-narrowed.conf` file that would be `.gitignore`d and would be used when present (with `projs.conf` used as a fallback)

also note that after running `narrow` and then running `run.sh`, `dependencies.txt` gets overwritten,

[2020-01-31 03:44] SethTisue commented on #1014
and while I'm at it, it would be better if `dependencies.txt` only had one project per line. then it would be greppable

[2020-01-31 03:55] #1014 closed, assigned to SethTisue

[2020-01-31 03:56] SethTisue commented on #1014
new format: https://github.com/scala/community-build/blob/2.11.x/dependencies.txt

[2020-01-31 19:26] SethTisue opened #1072 "2.13.x: ScalaTest-related failures: akka-persistence-jdbc,scala-pe​t-store"
perhaps some nondeterminism lurking? since otherwise it's difficult to understand:

* why it's JDK 11 only, not 8 ~~or 14~~
* why it doesn't happen in my local runs on macOS

https://scala-ci.typesafe.com/job/scala-2.13.x-jdk11-integrate-community-build/1148/artifact/logs/akka-persistence-jdbc-build.log

[code]

https://scala-ci.typesafe.com/job/scala-2.13.x-jdk11-integrate-community-build/1148/ar

[2020-02-04 05:19] SethTisue commented on #1072
this will be a full rebuild, because the sbt version was bumped: https://scala-ci.typesafe.com/job/scala-2.13.x-jdk11-integrate-community-build/1157/

[2020-02-04 15:22] SethTisue commented on #1072
seen on JDK 14, where we haven't seen it before, supporting the hypothesis that there's nondeterminism here: https://scala-ci.typesafe.com/job/scala-2.13.x-jdk14-integrate-community-build/668/artifact/logs/akka-persistence-jdbc-build.log

[2020-02-04 22:25] SethTisue commented on #1072
the akka-persistence-jdbc error is reproducible outside of dbuild by bumping the ScalaTest version from 3.0.8 to 3.1.0 without changing anything else, and then running `core/Test/compile`

so, as I'd already assumed, this is a ScalaTest 3.0 vs 3.1 thing

I thought perhaps both 3.0 and 3.1 were somehow ending up on the classpath. but I don't see evidence of that here:

[code]

looks like just 3.0

[2020-02-04 22:48] SethTisue commented on #1072
our akka-persistence-jdbc is frozen, and the repo has different dependency stuff on master, so I think just forking but not bothering with a PR is the way to go here

[2020-02-05 00:30] SethTisue commented on #1072
okay, hopefully #1073 will take care of akka-persistence-jdbc.

now, as for scala-pet-store, hmm:

[code]

the scala-pet-store repo itself is on ScalaTest 3.1, so I hypothesize we have the opposite problem here: somewhere, a dependency on 3.0

an obvious suspect would be doobie-scalatest. I'll pursue that hypothesis now

[2020-02-05 00:55] SethTisue commented on #1072
added doobie fix to #1073

[2020-02-05 03:12] SethTisue commented on #1072
optimistically closing on the assumption that all will be well now that #1073 is merged, knock on wood

[2020-02-05 03:12] #1072 closed, assigned to SethTisue

[2020-02-06 00:39] SethTisue commented on #1071
meh, it's probably time I stopped tinkering with this stuff. it's fine as-is for now

[2020-02-06 00:39] #1071 closed, assigned to nobody

[2020-02-11 16:53] SethTisue commented on #1039
pfps-shopping-cart is green these days on 2.13.x, and I don't recall seeing this error (not even intermittently) in recent months

[2020-02-14 02:58] SethTisue opened #1084 "It's time for the annual blog post"
previously:

* https://www.scala-lang.org/2018/01/16/community-build-growth.html
* https://www.scala-lang.org/2019/01/18/community-build.html

I just updated README.md  to include links to my news posts on contributors.scala-lang.org, so I can start by just mashing those together into a single update

topics to cover:

* the main thing is to say, this is now basically done. “We now believe the Sca

[2020-02-14 04:22] SethTisue commented on #1084
draft PR at https://github.com/scala/scala-lang/pull/1113 , feedback very welcome

[2020-02-15 02:37] SethTisue commented on #1084
publishing next week

[2020-02-15 02:37] #1084 closed, assigned to SethTisue

[2020-02-19 20:31] SethTisue commented on #984
https://openjdk.java.net/projects/jdk/14/ says that the "final release candidate" is coming Feb 20. I should upgrade the behemoths as soon as it's available. I'll check it on Feb 21

[2020-02-22 02:10] SethTisue opened #1095 "run new Vector through 2.13 community build"
https://github.com/scala/scala/pull/8534

[2020-03-05 14:38] SethTisue commented on #889
closing because although it could still happen at some point, at present we have no concrete plans to move this forward.

if anyone else wants to try it, I'd be happy to provide whatever advice I can. see https://github.com/scala/community-build/issues/733 — that ticket arose the last time someone tried it. (they were successful, the build ran fine.)

over in scala/bug, there is a Graal label: htt

[2020-03-05 14:38] #889 closed, assigned to nobody

[2020-03-05 14:42] SethTisue commented on #927
closing since the dbuild-based option isn't currently moving forward. we can always reopen if it starts moving again. the broader ticket remains https://github.com/lampepfl/dotty/issues/6708

[2020-03-05 14:42] #927 closed, assigned to nobody

[2020-03-05 14:55] SethTisue commented on #733
Note that this has since progressed. Java 8 and 11 are 100% green. A few projects are known to fail on JDK 14, but the `report/Report.scala` script knows which ones they are and exempts them from failing the overall build status.

[2020-03-17 20:41] SethTisue opened #1109 "upgrade JDK 14 on behemoths to release builds which came out today 🎉"
https://blogs.oracle.com/java-platform-group/the-arrival-of-java-14

[2020-03-18 02:55] SethTisue commented on #984
final is out. ticket: #1109

[2020-03-20 17:38] som-snytt opened #1114 "Obsolete MaxPermSize"
Maybe there is a one-line config to eliminate:

[code]

[2020-03-20 19:50] SethTisue commented on #1114
after poking around the dbuild source code and the docs, it seems this is controlled by `sbt-java-options`. I'll try setting it

[2020-03-20 20:07] SethTisue commented on #1114
https://github.com/scala/community-build/pull/1115

[2020-03-20 23:14] #1114 closed, assigned to SethTisue

[2020-03-20 23:15] som-snytt commented on #1114
I forgot to say "good first issue".

[2020-03-25 21:48] SethTisue commented on #1109
[code]

done on all 3 behemoths

e.g. https://scala-ci.typesafe.com/view/scala-2.12.x/job/scala-2.13.x-jdk14-integrate-community-build/788/console now shows:

[code]

and same at https://scala-ci.typesafe.com/view/scala-2.12.x/job/scala-2.12.x-jdk14-integrate-community-build/809/console

closing the ticket on the assumption the runs will go fine; I'll notice if they don't

[2020-03-25 21:48] #1109 closed, assigned to SethTisue

[2020-07-19 19:09] barkhorn opened #1184 "moving scalamock to a new org"
Hi, I see Scalamock is referenced here:
https://github.com/scala/community-build/blob/e4b965e78a7284408fe636510b9f369cf2835ebc/proj/scalamock.conf#L7

If we (@paulbutcher and @barkhorn) were to move this to a new organisation, would this cause you a lot of grief or is it as easy as updating the file above?
Happy to throw you a PR if it's the latter.

[2020-07-20 14:03] SethTisue commented on #1184
it's as easy as updating that file

[2020-07-23 00:45] SethTisue commented on #1184
if you decide to make the move, happy to accept a PR, or just do it myself

[2020-07-23 00:45] #1184 closed, assigned to nobody

[2020-09-02 14:56] SethTisue commented on #408
I think https://github.com/scala/scala-dev/issues/720 and https://github.com/scala/community-build/commit/0a06655aa9fd5766c4c7d65cfd686f79e6ff16c1 may be some help here... don't know how much

[2020-09-02 14:58] SethTisue commented on #408
(scala/scala-dev#720 cut the number of virtual repos from 3 to 2, by eliminating dbuild-unchecked, but I didn't try to go all the way to 1 in this round)

[2020-09-09 20:52] SethTisue opened #1216 "2.11 build can't resolve Scala"
https://scala-ci.typesafe.com/view/scala-2.11.x/job/scala-2.11.x-integrate-community-build/2000/

[code]

this isn't intermittent, it's happening every time now, but only on the JDK 8 build (though perhaps if I zapped the workspace and/or the dbuild cache in the JDK 11 build it would happen there too?)

[2020-09-09 20:57] SethTisue commented on #1216
reproducible outside of dbuild with scala-runners:

[code]

perhaps this is a consequence of https://github.com/scala/scala-dev/issues/720 (Artifactory config changes) that just took time to rear its head

[2020-09-09 21:03] SethTisue commented on #1216
puzzling: 2.11.12-bin-3fd7aec does resolve — that's a July 2019 commit

whereas 2e2f65a is a December 2019 commit — it's the merge commit for the one PR we merged to 2.11.x in that time

but doesn't really make this any less mysterious. how/why was this working before?

[2020-09-09 21:26] SethTisue commented on #1216
aha, found a crucial clue

over at https://scala-ci.typesafe.com/view/scala-2.11.x/job/scala-2.11.x-integrate-bootstrap/ we've been endlessly rebuilding 2.11.12-bin-2e2f65a

the last green run was https://scala-ci.typesafe.com/view/scala-2.11.x/job/scala-2.11.x-integrate-bootstrap/1705/, 7 days ago

and then the runs from https://scala-ci.typesafe.com/view/scala-2.11.x/job/scala-2.11.x-integrate-b

[2020-09-09 21:38] SethTisue commented on #1216
ha, but the real error is in https://scala-ci.typesafe.com/view/scala-2.11.x/job/scala-2.11.x-integrate-bootstrap/1706/artifact/logs/builds/*view*/

[code]

so apparently I removed a resolver that the 2.11 build needs — just need to figure out which one it was and re-add it 👍

in the [last green build](https://scala-ci.typesafe.com/view/scala-2.11.x/job/scala-2.11.x-integrate-bootstrap/1705/artifa

[2020-09-09 21:47] SethTisue commented on #1216
huh, but Maven Central has it: https://search.maven.org/artifact/biz.aQute/bnd/1.50.0/jar

and Maven Central is definitely still part of our Artifactory config! or is it? it's there, but I guess it's conceivable that it's misconfigured, but due to caching this is the first time we noticed. hmm

[2020-09-09 22:04] SethTisue commented on #1216
and we have the files here: https://scala-ci.typesafe.com/artifactory/maven-central/biz/aQute/bnd/1.50.0/

but note the `maven-central` .whereas the error says `from the specified remote repositories: central-cache (https://scala-ci.typesafe.com/artifactory/central/)`. there is a `maven-central` vs `central` mismatch

[2020-09-09 22:13] SethTisue commented on #1216
on 2.11.x in `scripts/jobs/integrate/bootstrap` we use a custom resolvers config:

[code]

you would think that the `maven-central` would cause the needed artifacts to be retrieved directly from Maven Central without the scala-ci Artifactory config even mattering. but perhaps since the 2.11 build is ant-based, everything is ancient and `maven-central` tries to use `http` access, and that stopped w

[2020-09-09 22:45] SethTisue commented on #1216
trying it: https://github.com/scala/scala/pull/9201

UPDATE: dammit, it didn't help

[2020-09-09 22:55] SethTisue commented on #1216
dammit, I tried this too and it also didn't help: https://scala-ci.typesafe.com/view/scala-2.11.x/job/scala-2.11.x-integrate-bootstrap/1714/artifact/logs/builds/*view*/

now I'm stumped again...

[2020-09-09 23:03] SethTisue commented on #1216
why is it looking at `/central/`? it isn't anywhere in scala/scala that I can find, so maybe it's set up that way on our Jenkins

so I looked over in scala/scala-jenkins-infra, even though since we moved off Chef it isn't current anymore, but could still have clues... and lo and behold, at https://github.com/scala/scala-jenkins-infra/blob/master/roles/worker/vars/main.yml we see:

[code]

and then

[2020-09-09 23:08] SethTisue commented on #1216
I manually edited `~/.m2/settings.xml` to have `/maven-central/`. rerunning publish job: https://scala-ci.typesafe.com/view/scala-2.11.x/job/scala-2.11.x-integrate-bootstrap/1714/

[2020-09-10 00:02] SethTisue commented on #1216
https://scala-ci.typesafe.com/view/scala-2.11.x/job/scala-2.11.x-integrate-bootstrap/1715/ 👍
https://scala-ci.typesafe.com/view/scala-2.11.x/job/scala-2.11.x-integrate-community-build/2003/ 👍

haha that was a, uh, fun few hours... but all's well that ends well

[2020-09-10 00:02] #1216 closed, assigned to SethTisue

[2020-09-10 01:03] SethTisue commented on #1216
I disabled https://scala-ci.typesafe.com/view/scala-2.11.x/job/scala-2.11.x-integrate-bootstrap/ since there's no point in it running over and over again on the same thing. we can re-enable it if we start pushing changes to 2.11.x again (god forbid)

[2020-09-29 18:43] SethTisue opened #1225 "add a JDK 15 build"
It's time!

(Aside: while I'm doing this, I think I would like to rename the JDK 8 Jenkins jobs to have `-jdk8-` in the name, since on 2.13.x the `-jdk11-` build is now the "main" build — or perhaps there isn't any "main" build anymore, since we now have at least one repo that fails in all three builds (fs2 fails in JDK 8, shapeless-java-records fails on 8 and 11, and several repos still fail on J

[2020-09-29 20:34] ashawley opened #1226 "Run latest ScalaCheck"
Seth,

Would you be able to run the latest ScalaCheck in the build?

I'm wondering if the changes in https://github.com/typelevel/scalacheck/pull/677 cause problems or not.

Looks like ScalaCheck is frozen at a commit going back to May.

Thanks!

[2020-09-30 00:04] SethTisue opened #1227 "Re-enable Lagom tests"
on 2.13.x they are disabled, not sure when that happened, I think it was an oversight?

[2020-09-30 00:16] SethTisue commented on #1226
we're using the 1.14.x branch. I don't know if other changes made on master might cause breakage downstream. but we can find out: https://scala-ci.typesafe.com/job/scala-2.13.x-jdk11-integrate-community-build/1911/ (queued)

if it turns out there is too much breakage, then in order to evaluate the effect of typelevel/scalacheck#677, you would need to push a branch somewhere that backports the chan

[2020-09-30 02:19] ashawley commented on #1226
Ok, good to know.  Thanks for kicking off the build.  There hasn't been significant changes since the 1.14.3 last December, but it is enough to be worrying.

[2020-09-30 20:18] SethTisue commented on #984
the action is moving to JDK 15 now: #1225

[2020-09-30 23:58] SethTisue commented on #1225
after this is done fsvo "done", I should be sure and update https://docs.scala-lang.org/overviews/jdk-compatibility/overview.html

[2020-10-01 23:24] SethTisue commented on #1226
https://scala-ci.typesafe.com/job/scala-2.13.x-jdk11-integrate-community-build/1911/
https://scala-ci.typesafe.com/job/scala-2.13.x-jdk11-integrate-community-build/1913/
https://scala-ci.typesafe.com/job/scala-2.13.x-jdk11-integrate-community-build/1914/

the lagom failure is unrelated (and has since been addressed)

breeze:

[code]

does this mean anything to you?

advxml: https://scala-ci.typesa

[2020-10-01 23:25] #1226 closed, assigned to SethTisue

[2020-10-01 23:25] SethTisue commented on #1227
I'm going to close this since either the PR (#1235) will go through or it won't

[2020-10-01 23:25] #1227 closed, assigned to SethTisue

[2020-10-01 23:32] SethTisue commented on #1225
* [x] on all 3 behemoths:
  * `sudo apt-get install adoptopenjdk-15-hotspot`
  * `cd /usr/lib/jvm; sudo ln -s adoptopenjdk-15-hotspot-amd64 java-15-openjdk-x64`
* [x] rename JDK 8 jobs to include `-jdk8-` in name
* [x] rename jobs from `-jdk14-` to `-jdk15-` and change JDK version in job configs from 14 to 15
* [x] update `report/Report.scala` on both 2.12.x and 2.13.x branches
* [x] unfreeze shap

[2020-10-01 23:36] SethTisue commented on #1225
https://scala-ci.typesafe.com/view/scala-2.12.x/job/scala-2.12.x-jdk15-integrate-community-build/1124/console:

[code]

weird

[2020-10-01 23:51] SethTisue commented on #1225
[code]

I could try to figure out where this is coming from, but another option would be to `-XX:+IgnoreUnrecognizedVMOptions` it

[2020-10-02 00:47] SethTisue commented on #1225
I solved the `CMSClassUnloadingEnabled ` problem with https://github.com/scala/community-build/commit/71bcb4886db70c12f9686fc1eab8a412c8f1d711

[2020-10-02 18:06] ashawley commented on #1226
The breeze compiler error could be the Dotty change, i.e. https://github.com/typelevel/scalacheck/pull/498 or https://github.com/typelevel/scalacheck/pull/667, but I'll need to dig further.  The breeze project may just need the Scalafix.

The advxml test error is strange.  I wonder if ScalaCheck introduced a regression in the generators, or that advxml had a fragile test that got exposed by a Scal

[2020-10-03 18:32] SethTisue commented on #1225
153 green at https://scala-ci.typesafe.com/view/scala-2.12.x/job/scala-2.12.x-jdk15-integrate-community-build/1135/
176 green at https://scala-ci.typesafe.com/job/scala-2.13.x-jdk15-integrate-community-build/1251/

declaring victory

[2020-10-03 18:32] #1225 closed, assigned to SethTisue

[2020-10-03 18:36] SethTisue commented on #1225
PR updating JDK compat page: https://github.com/scala/docs.scala-lang/pull/1793

[2020-10-03 18:39] SethTisue opened #1240 "Continue improving JDK 15 builds"
#1225, now closed, was about getting the core of the build green on JDK 15

but there are still a lot of unnecessarily failing repos. there's no real rush, but we should gradually address them. also, as time passes, maintainers will probably address them themselves in their own repos.

[2020-10-03 18:39] SethTisue commented on #1225
followup ticket about getting even more repos green: #1240

[2020-10-03 18:42] SethTisue commented on #1240
I plan to focus on the 2.13.x build and worry about 2.12.x later.

failing projects at https://scala-ci.typesafe.com/job/scala-2.13.x-jdk15-integrate-community-build/1251/ (October 3):

`SUCCEEDED: 176`
`FAILURES (UNEXPECTED): akka,ssl-config,fs2,scalatestplus-mockito,scala-parallel-collections,pureconfig,mockito-scala,scala-async,ip4s,scalikejdbc,scala-swing,parboiled2,avro4s`
`BLOCKING DOWNSTREA

[2020-10-03 22:24] gvolpe commented on #1240
Hi @SethTisue ,

Fs2 has updated to the latest `sbt-osgi` a few days ago: https://github.com/typelevel/fs2/commit/8f899e6ab1cbb31ac4af8f3e705b81b9df0e62ef

I guess that should fix the issue?

[2020-10-06 00:30] SethTisue commented on #1240
@gvolpe thanks for letting me know. I'll get it in my next round of work on this.

UPDATE: done

[2020-10-06 08:38] ornicar opened #1243 "unresolved dependency: com.typesafe.dbuild#build_2.10;0.9.16: not found"
`./run.sh` completes with error.

OS: Linux 5.8.13
Branch: 2.13.x

[code]

[2020-10-06 08:40] ornicar commented on #1243
```cat /home/thib/.dbuild/boot/update.log```

[code]

[2020-10-06 19:41] SethTisue commented on #1243
The root cause here is that repo.typesafe.com no longer (since August, I think it was) accepts HTTP connections, only HTTPS.

You're running `run.sh` with the `-l` flag. Why? And do you get the same error without `-l`?

Personally, I do my local runs with `-l` and my reason is that I want it to use my local Artifactory, for better performance. So I have with a special `~/.sbt/repositories` file po

[2020-10-06 19:43] SethTisue commented on #1243
Also: I hadn't looked in a while, but I saw just now that the scalachess and lila repos no longer have a dependency on scalaz, which means we could potentially add them here again. Is that why you're here, perchance? I'd be happy to work with you on that. The community build is always long on libraries and short on full apps, so lila would definitely be a desirable re-addition.

[2020-10-07 05:52] ornicar commented on #1243
I get the same error without `-l`, because it still tries to reach `http://repo.typesafe.com`:

`version=2.13.3 ./run.sh -d`

[code]

I do not have a `~/.sbt/repositories`.

Yes I was looking to add scalachess, lila and [lila-ws](https://github.com/ornicar/lila-ws). They now use cats instead of scalaz.

[2020-10-07 19:18] SethTisue commented on #1243
I'm able to reproduce the problem if I first move my `~/.ivy2` and `~/.dbuild/boot` directories aside.

Looking into whether there's a workaround, or whether I need to publish a new version of dbuild to fix the problem.

[2020-10-07 20:37] #1243 closed, assigned to SethTisue

[2020-10-07 20:41] SethTisue commented on #1243
@ornicar hopefully fixed — pull and try again?

[2020-10-08 09:50] ornicar commented on #1243
Now it just stalls seemingly forever:

[code]
Then nothing happens, CPU and network are not being used. I tried with openjdk11, openjdk14, and graalvm with the same result.

[2020-10-08 09:57] ornicar commented on #1243
Scratch that, I let it run longer and it's now downloading stuff. I guess it was just very slow.

[2020-10-08 14:05] SethTisue commented on #1243
Ah, good.

I've noticed the same thing and wondered about the cause (bad resolvers that take a long time to time out?), but haven't bothered digging into it since subsequent runs hit don't hit that long pause, once the needed JARs have been cached.

[2020-10-15 03:09] SethTisue commented on #1240
I've been chipping away at this. current status (as of [run 1293](https://scala-ci.typesafe.com/job/scala-2.13.x-jdk15-integrate-community-build/1293/)): `SUCCEEDED: 215`, `BLOCKING DOWNSTREAM: mockito-scala (4), twitter-util (3), playframework (3), pureconfig (3), elastic4s (1), akka-persistence-cassandra (1), ip4s (1)`

[code]

I'm feeling like this is now good enough as far as my own efforts ar

[2020-10-15 03:12] #1240 closed, assigned to SethTisue

[2020-10-15 03:15] SethTisue commented on #1240
oh, for the record, on 2.12.x the status (as of [run 1170](https://scala-ci.typesafe.com/view/scala-2.12.x/job/scala-2.12.x-jdk15-integrate-community-build/1170/)) is: `SUCCEEDED: 157` and `BLOCKING DOWNSTREAM: akka (25), fs2 (9), twitter-util (4), sbt-util (3), scala-async (2), scala-logging (2)`

and I think that's good enough. that's enough green to give good assurance that Scala and sbt are wo

[2020-10-15 12:20] ornicar commented on #1243
`run.sh` still outputs a great variety of errors which I'm not looking forward to figuring out. I still think scalachess, lila and lila-ws could be candidates for this community build, but I'll admit that I'm not willing to take the time to add them myself atm.

[2020-10-15 14:22] SethTisue commented on #1243
#1259 re-adds scalachess and scalalib. offhand, it looks like lila itself has so many dependencies that adding them all is probably too ambitious.

[2020-10-15 15:23] SethTisue commented on #1227
I closed #1235 for inactivity, but it could be revived

[2020-10-30 00:46] SethTisue opened #1270 "build some kind of log comparer"
we want something that allows us to assess the impact of a change in scala/scala that changes what warnings are emitted without actually making any projects fail

there is a short term desire to assess the impact of @dwijnand's big exhaustivity PR (https://github.com/scala/scala/pull/9140) before we release 2.13.4. something janky for one-time use would be okay

but then also we'd like to have som

[2020-10-30 00:52] SethTisue commented on #1270
an implementation challenge here is that the community build is prone to intermittent failures. when we do a community build run that rebuilds everything, if we're lucky the whole thing might run to the end, but it's more typical that at least one repo fails, which then also usually means that some downstream repos don't run at all. so we have to do at least one followup run, and then reviewing th

[2020-10-30 01:00] SethTisue commented on #1270
just straight-up diffing the logs is likely to produce a lot of noise, because there will be all sorts of uninteresting differences: different ordering due to timing, different time stamps and timings, different Scala SHAs for the different runs turning up in the output, and so on and so forth

so a general purpose log comparer might be tricky to build. it isn't obvious to me without trying it how

[2020-10-30 15:00] dwijnand commented on #1270
Interestingly (or not) my instincts are again to go upstream in dbuild and build something at that level, rather than post-process the unstructured, jumble of differently-ordered log lines.  For example "Found cached project build" could be told to cache and redisplay the warnings it displayed when it did compile the sources.

For the exhaustivity warnings, yeah, something niche like all the lines

[2020-11-18 11:28] lrytz opened #1633 "Behemoths periodically run out of inodes"
Spinning off the discussion from https://github.com/scala/scala-dev/issues/732#issuecomment-728671079 into a new ticket

Indeed it looks like inodes is more likely the issue than actual disk space. On behemoth-1:

[code]

while disk space looks fine

[code]

The community build workspaces have huge numbers of files and directories. For example, for "scala-2.13.x-jdk11-integrate-community-build" th

[2020-11-19 02:06] SethTisue commented on #1633
Hmm — I remember talking with @cunei once about the possibility of shallow-cloning. I'll see if I can dig that conversation up.

[2020-11-24 14:25] lrytz commented on #1633
Alternatively we can create a new EBS volume with a new file system where we explicitly specify the number of inodes on creation (https://askubuntu.com/questions/600159/how-can-i-create-an-ext4-partition-with-an-extra-large-number-of-inodes), then copy over the files.

[2020-12-01 03:48] retronym opened #1311 "Investigate flaky ExtractionsTest in scala-refactoring"
yes, known flaky. it went green in https://scala-ci.typesafe.com/view/scala-2.12.x/job/scala-2.12.x-jdk8-integrate-community-build/6305/

_Originally posted by @SethTisue in https://github.com/scala/community-build/issues/1308#issuecomment-736194149_

[2020-12-01 03:50] retronym commented on #1311
Locally, I could repro the test failure with:

[code]

The exception is included in an XML report:

[code]
[code]

[2020-12-01 04:43] retronym commented on #1311
Adding `-a` to the `testOptions` (e.g. `testOnly scala.tools.refactoring.tests.implementations.extraction.ExtractionsTest -- -v -a`) includes the full `AssertionError` stack trace in the console output.

[2020-12-01 06:12] retronym commented on #1311
Here's the race:

[code]

[2020-12-01 07:34] retronym commented on #1311
I think I have a fix for this. WIP https://github.com/retronym/scala-refactoring/pull/1

[2020-12-02 23:14] retronym commented on #1311
https://github.com/scalacommunitybuild/scala-refactoring/pull/1

[2020-12-02 23:14] #1311 closed, assigned to retronym

[2021-01-20 05:06] SethTisue commented on #927
as of sbt 1.5.0-M1, sbt-dotty's functionality has been folded into sbt itself, so this is no longer an issue.

I first need to make sure that sbt 1.5.0-M1 works with dbuild at all, even for Scala 2. Assuming there's no problem there (probably there won't be), then I could re-try my previous experiment with Scala 3 and see what happens.

[2021-01-30 21:31] SethTisue opened #1352 "add a JDK 16 build"
It's time!

I'm not sure we really have enough space/inodes for this, but let's find out. The worst that can happen is we trigger runs manually from time to time, rather than running them daily, until we can either get more space or maybe ditch the 15 build.

The current JDK 16 build is "Build 34 (2021/1/27)".

* [x] on all 3 behemoths:
  * `cd /usr/lib/jvm`
  * `sudo curl -O -L 'https://download.

[2021-01-30 21:55] SethTisue commented on #1352
first runs:
* https://scala-ci.typesafe.com/view/scala-2.12.x/job/scala-2.12.x-jdk16-integrate-community-build/1/
* https://scala-ci.typesafe.com/view/scala-2.13.x/job/scala-2.13.x-jdk16-integrate-community-build/1/

[2021-01-31 00:27] SethTisue commented on #1352
everything extracts... that's encouraging

[2021-02-01 04:04] SethTisue commented on #1352
a number of projects are green

a number of projects have failures, so it seems this won't be entirely smooth sailing

but we don't even have a full scorecard yet, because something in airframe is failing so hard (every time) that it takes dbuild down with it. I'll have to dig into it

[2021-02-01 05:37] SethTisue commented on #1352
whatever is happening with airframe doesn't happen for me locally, so for now I made branches where airframe isn't present so I can make progress on more fundamental stuff first

* https://scala-ci.typesafe.com/view/scala-2.12.x/job/scala-2.12.x-jdk16-integrate-community-build/5/console
* https://scala-ci.typesafe.com/job/scala-2.13.x-jdk16-integrate-community-build/7/console

[2021-02-01 18:25] SethTisue commented on #1352
tons of projects are green on both branches, so that's great.

the top failure on 2.12 is:

* [utest] [error] java.lang.IllegalArgumentException: Unsupported class file major version 60

looks we need an ASM upgrade: https://github.com/scala/bug/issues/12328

[2021-02-01 20:17] SethTisue opened #1354 "address JDK 16 failures"
sequel to #1352

first we need an ASM 9 upgrade: https://github.com/scala/bug/issues/12328

but then there are also some miscellaneous other failures, as listed in:

* https://github.com/scala/community-build/blob/2.12.x/scripts/Report.scala
* https://github.com/scala/community-build/blob/2.13.x/scripts/Report.scala

[2021-02-01 20:18] SethTisue commented on #1352
basics are in place. sequel ticket on getting more green is #1354

[2021-02-01 20:18] #1352 closed, assigned to SethTisue

[2021-02-01 22:11] SethTisue commented on #1354
at team meeting today @retronym said there's a JVM flag we can pass to bypass errors such as "Unable to make private java.nio.DirectByteBuffer(long,int) accessible"

[2021-02-02 15:43] SethTisue commented on #1354
#1355 will get a bunch of projects green

[2021-02-03 05:23] retronym commented on #1354
@SethTisue See https://openjdk.java.net/jeps/396 ("Strongly Encapsulate JDK Internals by Default") for the relevant change. `java --illegal-access=permit ....` is the escape hatch (although it is deprecated for removal at some future release).

[2021-02-04 23:45] SethTisue opened #1357 "Mayday! Deal with Bintray's impending May 1 disappearance"
It's primarily sbt plugins that I'm worried about, since in this context that's mainly where we depend on binary artifacts. There's also dbuild itself.

Anything that's coming from repo.scala-sbt.org or repo.typesafe/lightbend.com, I'm assuming will be preserved somehow, although how that would happen remains under discussion for now. (Bintray doesn't vanish until May 1.)

So perhaps only a limite

[2021-02-05 00:20] SethTisue commented on #1354
or if you don't care to craft exceptions and wait to just throw the barn door open,  `--permit-illegal-access`

[2021-02-05 00:51] SethTisue commented on #1354
the three parboiled-related failures:

[code]

seem to have been addressed in this fork: https://github.com/Byoskill/parboiled

but we can't use that fork as-is -- for one thing, `build.sbt` was moved aside. for another thing, we are frozen on an older parboiled because they upgraded ScalaTest to a newer version. though I guess we could deal with that by not bothering compiling or running the test

[2021-02-05 00:59] SethTisue commented on #1354
the dispatch failure is (https://scala-ci.typesafe.com/view/scala-2.12.x/job/scala-2.12.x-jdk16-integrate-community-build/24/artifact/logs/dispatch-build.log):

[code]

dispatch and lift-json are pretty dead these days. there is a nonzero chance that if I investigated I'd turn up something interesting, but I think the chance is quite low, so I'm going to ignore this one too, especially since it is

[2021-02-05 01:02] SethTisue commented on #1354
on 2.12.x, that just leaves shapeless-java-records:

[code]

but @xuwei-k's own CI doesn't test on 16 (https://github.com/xuwei-k/shapeless-java-records/blob/main/.github/workflows/ci.yml), and the failure seems highly unlikely to be Scala's fault, so I'm not going to investigate

[2021-02-05 01:05] SethTisue commented on #1354
so now let's look at 2.13.x:

[code]

requests-scala doesn't seem worth investigating

akka just needs `--illegal-access=permit`, it looks like. so I've pushed that, and I can take a look tomorrow and see if that uncovers any additional failures downstream.

[2021-02-05 01:15] xuwei-k commented on #1354
https://github.com/openjdk/jdk/commit/637b0c64b0a5d67d31b4b61dee55e8d682790da0#diff-a6270f4b50989abe733607c69038b2036306d13f77276af005d023b7fc57f1a2R4424

- jdk15 `permittedSubclasses`
- jdk16 `getPermittedSubclasses`

😢

[2021-02-05 04:27] xuwei-k commented on #1354
fixed shapeless-java-records 🙇

- https://github.com/xuwei-k/shapeless-java-records/commit/388583b1244de1d7d287623247c1d3f7ec14c019
- https://github.com/xuwei-k/shapeless-java-records/commit/022db17c3692192724537573150c808206f8f678

[2021-02-05 17:35] SethTisue commented on #1354
@xuwei-k 9827559f4a25225991ab258cb809e7639affc248 :+1: (merged onto 2.13.x as well)

[2021-02-05 17:36] SethTisue commented on #1354
when adding this to a repo, we need to be attentive about whether to add it to `extra.options`, for unforked tests, or `javaOptions`, for forked tests

[2021-02-06 16:58] SethTisue commented on #1354
after a series of further tweaks, https://scala-ci.typesafe.com/view/scala-2.13.x/job/scala-2.13.x-jdk16-integrate-community-build/28/console has 237 green repos (out of 272). declaring victory

[2021-02-06 16:58] #1354 closed, assigned to SethTisue

[2021-02-10 23:39] SethTisue opened #1364 "discontinue 2.11 build"
we can always re-enable it again should the need arise

[2021-02-10 23:41] SethTisue commented on #1364
disabled (but not deleted):

* https://scala-ci.typesafe.com/view/scala-2.11.x/job/scala-2.11.x-jdk8-integrate-community-build/
* https://scala-ci.typesafe.com/view/scala-2.11.x/job/scala-2.11.x-jdk11-integrate-community-build/

it's not the community build, but while I'm at it, I also disabled:

* https://scala-ci.typesafe.com/view/scala-2.11.x/job/scala-2.11.x-integrate-windows/

[2021-02-10 23:41] SethTisue commented on #1364
and I will stop submitting PRs such as https://github.com/scala/community-build/pull/1358

[2021-02-10 23:42] #1364 closed, assigned to nobody

[2021-02-10 23:43] SethTisue commented on #1364
and I blew away the workspace directories on jenkins-worker-behemoth-1

[2021-02-11 21:34] SethTisue commented on #1357
https://jfrog.com/blog/into-the-sunset-bintray-jcenter-gocenter-and-chartcenter/ has additional detail

First, it says that JCenter isn't going away until February 1, 2022. So (if I understand correctly) on May 1 2021 we won't lose JCenter stuff, just `dl.bintray.com/<username>` stuff.

Second, it seems perhaps _everything_ will remain available _if resolved from Artifactory_? The community build

[2021-02-12 14:45] adriaanm commented on #1357
Unfortunately, we're not a customer in that sense.

I do think the community build should not directly be affected. I don't know what the retention policy is on the cache... We'll potentially have to configure new remote repos in our cache.

[2021-03-16 17:28] SethTisue opened #1390 "upgrade to JDK 16 final, drop JDK 15"
JDK 16 final just dropped, so we should be on that (currently we are using a prerelease)

and once that's done, I see no reason to keep testing on 15. (doing so would cost me a certain amount of effort every week, it's not just an entry in a matrix)

[2021-04-06 16:45] SethTisue commented on #1390
I deleted the 15 jobs

[2021-04-06 16:54] SethTisue commented on #1390
upgrading to JDK 16 final:

* [x] on all 3 behemoths, as `admin`:
  * `sudo apt-get install adoptopenjdk-16-hotspot`
  * `cd /usr/lib/jvm`
  * `sudo rm -rf openjdk-16-ea+34_linux-x64_bin`
  * `sudo rm java-16-openjdk-x64`
  * `sudo ln -s adoptopenjdk-16-hotspot-amd64 java-16-openjdk-x64`
  * `./java-16-openjdk-x64/bin/java -version`
* [x] make sure both 2.12.x and 2.13.x jobs are seeing the new ve

[2021-04-06 17:04] SethTisue commented on #1390
in progress: https://scala-ci.typesafe.com/view/scala-2.12.x/job/scala-2.12.x-jdk16-integrate-community-build/119/, https://scala-ci.typesafe.com/job/scala-2.13.x-jdk16-integrate-community-build/141/

both logs show:

[code]

👍

[2021-04-06 17:23] SethTisue commented on #1390
oh, I need to clear the workspaces or it's just using cached stuff

workspaces cleared, `~/.dbuild` cleared, new runs:

* https://scala-ci.typesafe.com/job/scala-2.12.x-jdk16-integrate-community-build/120/
* https://scala-ci.typesafe.com/job/scala-2.13.x-jdk16-integrate-community-build/143/

[2021-04-07 03:08] #1390 closed, assigned to SethTisue

[2021-04-08 18:47] SethTisue commented on #1270
returning this to the back burner — maybe it'll happen the next time we are feeling the pain of lacking it

[2021-04-08 18:52] SethTisue commented on #1357
my current plan is to ignore this unless and until something actually breaks, and when it does, deal it with it then

I recently retired the 2.11 build entirely, and that's where the truly ancient stuff was likeliest to be

I'm a little nervous how much breakage there will be in 2.12, but the 2.12 build is largely frozen anyway, so I think it will typically be fine to either 1) fork the repo and r

[2021-04-08 18:52] #1357 closed, assigned to nobody

[2021-04-08 18:55] SethTisue commented on #1357
this is in process at the Scala Center (repo.scala-sbt.org; ticket: https://github.com/sbt/sbt/issues/6294) and at Lightbend (the others)

[2021-04-12 14:07] ak0rz commented on #1357
@SethTisue
jfyi: every sbt build is broken today because of Bintray brown-out session https://status.bintray.com/

[2021-04-12 14:12] SethTisue commented on #1357
thanks! I'll keep an eye out for trouble

[2021-04-12 16:38] SethTisue commented on #1357
Today is Bintray brownout day (there will be another on April 26) and community builds are indeed failing: https://scala-ci.typesafe.com/view/scala-2.13.x/job/scala-2.13.x-jdk16-integrate-community-build/156/console

[code]

that's because we fetch dbuild itself `curl -LO "https://repo.lightbend.com/typesafe/ivy-releases/com.typesafe.dbuild/dbuild/${DBUILDVERSION}/tgzs/dbuild-${DBUILDVERSION}.tgz"

[2021-04-19 03:54] SethTisue commented on #1357
repo.scala-sbt-org is now redirecting to a JFrog URL instead of a Bintray URL, as of this afternoon

@JustinPihony says repo.lightbend.com is expected to start redirecting to Cloudsmith on Tuesday

[2021-04-19 15:04] jademanta commented on #1357
Thanks for updating this thread Seth! I followed it closely.

[2021-06-16 20:58] SethTisue opened #1432 "add JDK 17 build"
(...and drop 16, presumably)

JDK 17 is now feature-complete and the final release lands in September, so now is a good time for this

The current JDK 17 build is "Build 26 (2021/6/11)".

using https://github.com/scala/community-build/issues/1352 as a guide to steps needed:

* [x] on all 3 behemoths:
  * `cd /usr/lib/jvm`
  * `sudo curl -O -L 'https://download.java.net/java/early_access/jdk17/26/G

[2021-06-17 06:13] lrytz commented on #1432
👍 thank you, this is the perfect time to start testing 17.

[2021-06-17 15:03] fernandoracca commented on #1432
this is great! looking forward to start using the newer JVMs.

[2021-06-21 19:46] SethTisue opened #1435 "core repos failing in JDK 17 build, related to lambda deserialization"
but it doesn't happen for me locally on MacOS, I'm only seeing it on Jenkins, and only in 2.12.x, not 2.13.x

sample stack trace: https://gist.github.com/SethTisue/7d3f147f5061bae1978a73868f1941a2

@retronym I haven't really dug into this yet, but before I even start digging, does this ring any obvious bells...?

[2021-06-21 19:51] SethTisue commented on #1432
2.13.x core is green. I will dig into the specific failures

2.12.x core fails with some lambda deserialization problem. I've opened a separate ticket on it: https://github.com/scala/bug/issues/12419

[2021-06-21 20:19] retronym commented on #1435
https://github.com/openjdk/jdk/commit/fc08af58cb0571ed375a7937aac7a951ba224644#diff-d19e5ac459022586c38dfa9f2b111ac223484586091eaff12a24fb6d417a9506R510

We need to determine ASAP if this is a JDK bug or if we were relying on unspecified behaviour.

[2021-06-21 21:22] retronym commented on #1435
Found a real, but unrelated bug in `LambdaDeserializer`. The description of that ticket explains the terrain so could be useful for figuring out this one: https://github.com/scala/bug/issues/12418

[2021-06-21 21:35] retronym commented on #1435
The bug might not repro on typelevel/scalacheck:main because of a bug introduced to the `SerializationTest` [in April](https://github.com/retronym/scalacheck-1/commit/b21aa534135ed3c9d81d3951b51411f254b256a1#r52471760). I'd guess the community build is using an older version (YAY!)

[2021-06-21 22:37] SethTisue commented on #1435
I don't think so... all the recent runs have used scalacheck commits from June 2021.

[2021-06-21 22:45] SethTisue commented on #1435
I am now able to reproduce this locally on MacOS. I had been on 17-ea+22-1964 before, but (unless I was merely confused before) upgrading to 17-ea+27-2476 made the bug show up. On Jenkins, we presently have 17-ea+26-2439.

[2021-06-22 17:46] SethTisue commented on #1432
Jason fixed the deserialization thing, so the 2.12.x core is now green too (on 2.12.15-bin-b2b8816)

[2021-06-22 18:39] SethTisue commented on #1432
2.13.x status as of [this run](https://scala-ci.typesafe.com/view/scala-2.13.x/job/scala-2.13.x-jdk17-integrate-community-build/15/console): `FAILURES (UNEXPECTED): akka-http,akka-more,macwire,classutil`

all four repos are running afoul of https://openjdk.java.net/jeps/403, resulting in `java.lang.reflect.InaccessibleObjectException`s

I will mark them as expected-to-fail.

* macwire: notified ma

[2021-06-23 15:30] patriknw commented on #1432
Thanks @SethTisue .
I have created issues https://github.com/akka/akka-http/issues/3852 and https://github.com/akka/akka/issues/30341

[2021-06-23 15:37] SethTisue commented on #1432
declaring victory here. we'll want to ship 2.12.15 before too much longer, in order to get the serialization fix out

[2021-06-23 15:37] #1432 closed, assigned to SethTisue

[2021-06-23 15:57] SethTisue commented on #1432
2.12.15 planning thread: https://contributors.scala-lang.org/t/scala-2-12-15-planning/5152

[2021-07-12 15:58] SethTisue opened #1456 "radically simplify the build"
Dale and I were talking today and Dale was pushing a bit on whether it makes sense for the Scala 2 community build to continue in its present form.

It has come up repeatedly in the past that most of the time, we don't actually need dbuild's dependency-rewiring capability. Now that Scala 2.14 isn't happening and Scala 2 will remain binary compatible forever, it would be fine to simply build every

[2021-07-12 18:43] SethTisue commented on #1456
proof-of-concept branch: https://github.com/SethTisue/community-build/tree/issue-1456
green proof-of-concept run: https://scala-ci.typesafe.com/job/scala-2.13.x-jdk8-integrate-community-build/4381/

so far so good

[2021-07-12 19:45] SethTisue commented on #1456
Note that with this change, we wouldn't really need dbuild anymore. The GitHub Actions job that publishes Scala nightlies could also publish scalameta and friends to the same Artifactory the nightlies are published to (https://scala-ci.typesafe.com/artifactory/scala-integration/) . Then the main body of the community build could stay on dbuild, or we could replace it with some Scala code (or, god

[2021-07-12 21:42] SethTisue commented on #1456
Summary of discussion at team meeting:

General sentiment is favorable.

There was a bit of hesistancy/uncertainty around losing coverage:

  * The old setup heavily tests "new compiler generates binary artifact, new compiler then consumes those artifacts". The new setup will instead heavily test "new compiler consumes artifacts generated by previous compilers". Six of one, half a dozen of another

[2021-07-27 19:19] SethTisue commented on #1270
note that after #1456 the structure of the build will be different, so I don't think it makes sense to build a log comparer for the old structure (even though 2.12.x will continue to work the old way)

[2021-08-11 16:27] vasilmkd opened #1467 "Add Cats Effect 3 to the community build"
I'm going to attempt this soon. Are there any caveats that I should be aware of?

[2021-08-11 16:54] SethTisue commented on #1467
What's your motivation with wanting to see the CE2->CE3 upgrade happen here?

I would suggest you hold off until https://github.com/scala/community-build/issues/1456 is done, which will probably happen within the next month or so.

And I wonder whether the upcoming change in the nature of the build will affect your motivation for wanting to do this at all. The community build has always served a d

[2021-08-11 17:03] vasilmkd commented on #1467
For one, both CE2 and CE3 are part of the dotty/Scala 3 community build, so there's the completeness aspect of it. 😃

But more seriously, CE3 is the project which sees active development, with CE2 only receiving patches for bug reports. It's a much more active codebase.

I think I've also seen you mention somewhere online that you would like to have it in the community build.

Of course, I'm fine

[2021-08-11 17:05] SethTisue commented on #1467
Okay, let's revisit after #1456. The change will actually make it possible to have both CE2 and CE3 in the build, which is good.

[2021-08-11 17:08] vasilmkd commented on #1467
That's great news.

I really just wanted to add CE3, not remove CE2, but now I learned that the build cannot have them both at the same time.

Thanks for explaining. Sorry for the confusion.

[2021-08-11 17:10] vasilmkd commented on #1467
For the record, I'm interested in the regression suite aspect of the community build, and CE3 would be a better target for that in the future.

Feel free to close this issue. Thanks again.

[2021-08-11 17:41] SethTisue commented on #1456
3ec10e8d433d7915bef0520dbd3617b05535d14a adds a note to `proj/cats-effect.conf` explaining the situation.

[2021-08-11 17:42] SethTisue commented on #1467
3ec10e8d433d7915bef0520dbd3617b05535d14a adds a note to `proj/cats-effect.conf` explaining the situation.

[2021-08-11 17:42] #1467 closed, assigned to nobody

[2021-08-16 23:05] SethTisue commented on #1456
In the longer term, converging with whatever Scala 3 ends up doing in this area remains a possibility. For now, I think this approach is the shortest/easiest path to getting us to a build that 1) meets our current needs, but 2) is easier to maintain.

[2021-08-20 01:29] SethTisue commented on #1456
PR: #1472

[2021-08-26 01:54] #1456 closed, assigned to nobody

[2021-08-26 01:58] SethTisue commented on #1456
done. for now, both layers of the build remain dbuild-based, because it works and it's the path of least resistance since it allowed for the most reuse of what we already had.

I'm setting this idea aside for now. We can consider, at our leisure, whether we should make it a priority at some point.

[2021-08-26 06:07] lrytz commented on #1270
I did it manually at some point: https://github.com/scala/scala/pull/9672#issuecomment-878087963

[2021-08-26 13:18] SethTisue opened #1475 "dbuild launcher JARs seem to have gone missing"
specifically, `com.typesafe.dbuild#launcher-interface;1.0.1-d1` and `com.typesafe.dbuild#launcher;1.0.1-d1` don't resolve anymore

I assume this happened during the Bintray -> Cloudsmith migration some months ago but we didn't notice until now because the JARs were in cache at https://scala-ci.typesafe.com/artifactory/

but I did some config changes there that resulted in that part of the cache be

[2021-08-26 14:10] SethTisue commented on #1475
for troubleshooting this outside dbuild, you can make an empty directory with this `build.sbt`:

[code]

(the resolver URL was suggested by @sebastian-alfers)

when you run `sbt update`. you get:

[code]

looking at https://cloudsmith.io/~lightbend/repos/maven-releases/packages/detail/maven/launcher-interface/1.0.1-d1/a=noarch;xg=com.typesafe.dbuild/#files , it says all the files are 41 bytes, whi

[2021-08-26 14:32] SethTisue opened #1476 "policy for advancing project SHAs?"
We'll keep advancing the Scala version for years to come, of course.

But what about the project versions? How often should we run `./advance`, which talks to GitHub and gets the latest SHAs on the project branches we track?

We could decide that the build is already sufficient exactly as it is to validate new Scala 2.13.x releases and there isn't any point in changing anything except advancing to

[2021-08-26 14:46] sebastian-alfers commented on #1475
@SethTisue  I fixed the repos and tried the above resolver / dependency and it works 👍

[2021-08-26 15:54] SethTisue commented on #1475
seems also fixed in the community build context afaict. thank you Sebastian!

[2021-08-26 15:54] #1475 closed, assigned to nobody

[2021-09-02 13:32] SethTisue commented on #1476
2.13: I think it should be sufficient, and not overly burdensome, to advance the SHAs approximately once per release cycle.

2.12: I'm inclined not to do any further advancing (even of the small number of projects that aren't already unfrozen) unless we merge something specific that we think would get better testing if we advanced the project SHAs. Seems unlikely.

[2021-09-02 13:32] #1476 closed, assigned to nobody

[2021-09-28 01:27] SethTisue opened #1492 "Move the JDK 17 build off early-access, onto 17 final"
sequel to #1432

on all 3 behemoths,

  * `cd /usr/lib/jvm`
  * `sudo rm java-17-openjdk-x64`
  * `sudo curl -O -L 'https://github.com/adoptium/temurin17-binaries/releases/download/jdk-17%2B35/OpenJDK17-jdk_x64_linux_hotspot_17_35.tar.gz'`
  * `sudo dtrx -n OpenJDK17-jdk_x64_linux_hotspot_17_35.tar.gz `
  * `sudo rm OpenJDK17-jdk_x64_linux_hotspot_17_35.tar.gz `
  * `sudo chmod -R go+rX OpenJDK17-

[2021-09-28 02:04] SethTisue commented on #1492
https://scala-ci.typesafe.com/view/scala-2.12.x/job/scala-2.12.x-jdk17-integrate-community-build/153/

[code]

:+1:

[2021-09-28 02:08] SethTisue commented on #1492
https://scala-ci.typesafe.com/job/scala-2.13.x-jdk17-integrate-community-build/221/

[code]

👍

[2021-09-28 02:09] SethTisue commented on #1492
presumably the runs will be green, if not I'll come back

[2021-09-28 02:09] #1492 closed, assigned to nobody

[2021-12-07 20:45] SethTisue opened #1517 "install latest scala-cli on behemoths"
so I can use the new `scala-cli shebang` for scripting

[2021-12-07 21:01] SethTisue commented on #1517
I would prefer to use Coursier to manage the installation of scala-cli, but the capability to do that only recently landed, in Coursier 2.1.0-M1. We have an older version install, but `cs update` won't install a milestone by default. and also it looks like `coursier` is preferred to `cs` these days, but our starting point was having `cs` installed, so to get on the latest we ssh in as `jenkins` an

[2021-12-07 21:17] #1517 closed, assigned to SethTisue

[2021-12-07 23:19] SethTisue commented on #1517
gah, one annoying thing here is that you can't `#!/usr/bin/env -S scala-cli shebang <args>` because our coreutils on the behemoths is too old for `env` to support `-S` (and it definitely needs it in order to pass an argument such as `shebang`)

I don't feel confident attempting to upgrade coreutils systemwide (if doing so is even possible without a full OS upgrade)

so here's what I worked out. le

[2021-12-21 19:36] SethTisue opened #1524 "Delete and archive the Gitter room"

[2021-12-21 19:37] SethTisue commented on #1524
for the archaeologists: [scala-community-builds-messages-2021-12-16.ndjson.zip](https://github.com/scala/community-build/files/7757717/scala-community-builds-messages-2021-12-16.ndjson.zip)

[2021-12-21 19:37] #1524 closed, assigned to nobody

[2022-07-27 02:59] SethTisue opened #1581 "Run the build on JDK 20"
One reason I haven't done this yet is that three JDK versions is about all we have room for on our Jenkins config. We can't drop 8, and it isn't clear to me that dropping 11 or 17 in favor of 20 is a good trade.

Perhaps we should try dropping 17 for 20 and see how many projects break. If almost nothing breaks, then I guess we might as well upgrade. But if there is substantial breakage, then maybe

[2022-09-18 07:50] He-Pin commented on #1581
JDK 19 will be released on 9.20

[2022-09-20 14:57] SethTisue commented on #818
I'm interested in revisiting this. since #1472, the cost of adding a repo like this, with many dependencies, has dropped a lot

cc @tgodzik — thought prompted by https://github.com/scala/scala/pull/10148 — ideally these sorts of things would be caught by the community build

[2022-10-08 13:09] SethTisue commented on #611
This idea came up again recently at #1602. I noted the usual workarounds there, and I'll repeat it here for posterity:

[2022-11-01 17:58] #818 closed, assigned to SethTisue

[2022-11-01 19:32] SethTisue commented on #1581
JDK 19 is out. Early access builds of JDK 20 are available

[2022-11-23 04:51] SethTisue opened #1615 "Upgrade to sbt 1.8.0"
I tried but it's failing with some scala-xml 1.x vs 2.x conflict

I failed to find any workaround, so maybe I'll need to roll a new dbuild release: https://github.com/lightbend-labs/dbuild/issues/232

[2022-11-29 15:05] SethTisue commented on #1615
#1619, #1620

[2022-11-30 00:03] #1615 closed, assigned to SethTisue