[2014-03-05 05:34] adriaanm opened #12 "track slick"
currently at "slick/slick.git#pull/686/head"

[2014-03-05 05:34] adriaanm opened #13 "track scalacheck"
Currently at "rickynils/scalacheck.git#1.11.1", but master should be fine

[2014-03-05 05:35] adriaanm opened #14 "track scalatest"
now at "scalatest/scalatest.git#scala-2.11-M8", not sure which branch we should track

[2014-03-05 05:38] adriaanm opened #15 "make upstream dbuild friendly"
following projects are known to need patches -- turn our repos into something we can submit as a PR:

- [ ] adriaanm/framework.git#scala-2.11   // forked to make build dbuild friendly (only building lift-json)
- [x] adriaanm/json4s.git#scala-2.11   // forked to get rid of all sbt plugins that resulted in changes in the source code that refered to values generated by the buildinfo plugin
- [x] gkos

[2014-10-03 14:20] gkossakowski opened #58 "Document local Artifactory proxy usage"
The first step of dbuild run is analysis of project dependencies. For that to complete, dependencies of each project need to be resolved through Ivy. It means we have to hit remote repositories a lot and it takes time. The workaround for slow Ivy resolution that Typesafe uses when running Jenkins [jobs](https://jenkins-dbuild.typesafe.com:8499) is going through a local repository proxy. We are usi

[2014-10-07 11:38] gkossakowski opened #59 "Track automatically how many lines of code we are compiling"
We are tracking number of lines compiled by community build by manually running `cloc` from time to time. It would be great to run cloc automatically.

See also typesafehub/dbuild#133 and typesafehub/dbuild#142

[2014-10-20 14:08] sjrd opened #64 "Resolve exception: com.typesafe.dbuild#distributed-sbt-plugin;0.9.1"
Just cloning and running:

[code]

the whole thing fails horribly because it cannot resolve `com.typesafe.dbuild#distributed-sbt-plugin;0.9.1`.

Full spam:

[code]

and it goes on...

[2014-10-21 08:10] #64 closed, assigned to nobody

[2014-10-23 09:15] adriaanm opened #67 "upgrade to spray 1.3.2, run its test suite"
see comments in #66

[2014-11-24 16:20] gkossakowski opened #75 "Community buid fails due to unresolved dependency in Akka"
[code]

I suspect this failure is caused by adding dependency on jmh sbt plugin: https://github.com/akka/akka/pull/16373/files#diff-a84f91f20f040218bccd09fed4761fb3R26

//cc @ktoso

[2014-11-25 13:58] sjrd opened #78 "Unresolved dependency in spray when building locally"
I've been trying to build the community build locally for some time with

    $ ./community-2.11.x.sh -l

as I was advised in #64. I could never get it working (with various revisions of the master branch), due to an unresolved dependency during the extraction of `spray`. All other projects extract fine, but the build is still stuck because extraction as a whole failed.

I get this log for the spr

[2014-12-01 18:42] gkossakowski opened #80 "Upgrade to sbt 0.13.7"
We're running on top of sbt 0.13.5 in the community build. It's getting outdated and causes issues like mentioned in #79. We should consider upgrading to 0.13.7 (latest sbt version at the time of creating this ticket).

[2014-12-05 21:44] #80 closed, assigned to nobody

[2014-12-11 16:02] #75 closed, assigned to nobody

[2014-12-11 19:16] #67 closed, assigned to gkossakowski

[2014-12-11 19:20] gkossakowski opened #83 "Get off custom fork for Java 8 testing"
The [Community-2.11.x-Java8](https://jenkins-dbuild.typesafe.com:8499/job/Community-2.11.x-Java8/) jenkins job has been running stripped down version of community build. That version has been created by @retronym in his own fork.

We should figure out all necessary fixes so we can get off the fork and custom branch. Ideally, we should use exactly the same definition for both Java 6 and Java 8. If

[2014-12-12 12:16] gkossakowski opened #84 "Play's run-support breaks community build"
The playframework/playframework#3730 breaks community build with the following error:

[code]

The full log is available here: https://jenkins-dbuild.typesafe.com:8499/job/Community-2.11.x/380/consoleFull

Related: typesafehub/dbuild#145

[2015-03-04 22:59] gkossakowski opened #93 "Remove references to sbt-idea"
According to mpeltonen/sbt-idea#327 the `sbt-idea` plugin looks abandoned. That's not a big deal because IntelliJ imports Scala project natively now.

We should get rid of sbt-idea project from community build. However, we can do that only once all projects defined community build drop their references to sbt-idea plugin.

This ticket is created for tracking progress on this.

[2015-04-08 09:11] retronym opened #95 "ScalaJS broken in the 2.11.x community build since build 502 / Mar 29, 2015"
https://jenkins-dbuild.typesafe.com:8499/job/Community-2.11.x/502

[code]

/cc @sjrd

[2015-04-08 09:21] retronym commented on #95
That error message comes from scala:

[code]

[2015-04-08 09:33] retronym commented on #95
Looks like the regression comes form here: https://github.com/scala/scala/pull/4318/files

[2015-04-09 01:47] retronym commented on #95
https://jenkins-dbuild.typesafe.com:8499/job/Community-2.11.x/513/console

[2015-04-09 01:47] #95 closed

[2015-04-09 12:14] retronym commented on #93
Play has removed the dependency https://github.com/playframework/playframework/pull/4108

[2015-04-09 12:16] retronym opened #96 "Community build failing in Play's SBT plugin"
Recent community build failure: https://jenkins-dbuild.typesafe.com:8499/view/Shared/job/Community-2.11.x/513/console

Perhaps due to https://github.com/playframework/playframework/pull/4108:

[code]

/cc @jroper

[2015-04-10 04:29] jroper commented on #96
Hi @retronym,

That linked PR has nothing to do with it, it's on the master branch, and the community build of the Play SBT plugin appears to be building against the 2.3.x branch:

https://github.com/scala/community-builds/blob/master/common-2.11.x.conf#L718

It seems that the Play SBT plugin broke on April 2, it passed on April 1:

https://jenkins-dbuild.typesafe.com:8499/view/Shared/job/Communit

[2015-04-10 04:31] retronym commented on #96
We can just fix on a known-compatible tag of sbt-eclipse.

[2015-04-10 04:34] retronym commented on #96
Should I try v3.0.0 of sbt-eclipse?

I'll open a separate ticket to move the community build from 2.3.x to 2.4.x. Usually we try to focus on a widely used version, rather than a bleeding edge version, so it might not be appropriate to switch immediately.

[2015-04-10 04:36] jroper commented on #96
Fair enough.  v3.0.0 should be fine.  Perhaps there should be a 3.x branch of sbteclipse.

[2015-04-10 04:42] #96 closed

[2015-05-12 11:16] 2m opened #99 "Using older sbt version than defined?"
We have noticed that community build started failing with
[code]

after https://github.com/akka/akka/pull/17450 has been merged. It seems that even if logs print out that sbt `0.13.8` is being used
[code]
at some part dbuild still uses <=0.13.5 because `Resolver.jcenterRepo` can not be resolved.

[2015-05-12 11:18] ktoso commented on #99
Good to know, and thanks for the fix!

// cc @hseeberger

[2015-05-20 03:30] retronym opened #100 "scala-js failure since May 20, 2015"
https://jenkins-dbuild.typesafe.com:8499/view/Shared/job/Community-2.11.x/554/consoleFull

[code]

[2015-05-20 03:30] retronym commented on #100
@sjrd Does this look familiar to you?

[2015-05-20 03:36] retronym commented on #100
http://github.com/scala-js/scala-js/commit6dbab2c3ebb665efe0c1eee2af33202d6edc42e2

[2015-05-20 03:38] retronym commented on #100
But, that build successfully the day before. Could it be a change in scala/scala?

[2015-05-20 03:43] retronym commented on #100
The diff in the repeatable config:

[code]

[2015-05-20 03:44] retronym commented on #100
https://github.com/scala/scala/compare/454a1dcf0c3568ea99f669529b4819782b8b2f00...f635ba91d641d900ffd56ae0f4bbfb8e88bfe2d1

[2015-05-20 04:50] retronym commented on #100
This is reproducible with:

[code]

[2015-05-20 06:27] sjrd commented on #100
Does not seem familiar. I will investigate this in a couple hours when I'm at work, in front of a computer.

[2015-05-20 06:40] retronym commented on #100
Thanks. Would love it if you keep a share a few notes on how you diagnose this problem, so we can learn a little bit about ScalaJS in the process.

[2015-05-20 08:44] sjrd commented on #100
OK, so after having reproduced, this is how I approach such an issue.
First, a coarse dichotomic search to attribute the blame to one of the major components of the pipeline. Basically, the pipeline is as follows:

1. scalac until mixin, included
2. Scala.js compiler plugin -> produces .sjsir files
3. Linker: all the .sjsir files on the classpath are brought together and linked
4. Optimizer: optim

[2015-05-20 08:45] sjrd commented on #100
/cc @nicolasstucki The above write-up is also a good reading for you.

[2015-05-20 23:34] retronym commented on #100
Epic writeup, @sjrd. /cc @adriaanm @lrytz @sethtisue

This was the compiler change that change the parameter order: https://github.com/scala/scala/commit/1e7a990e028dffc5fa8ac07a02ff3f79bde24749

[2015-05-20 23:34] #100 closed

[2015-05-20 23:55] adriaanm commented on #100
+1 thanks for writing it down so nicely -- helped improve my understanding of the scala.js pipeline!

[2015-06-18 19:06] milessabin opened #105 "Add the current shapeless release to the community build"
Current release is 2.2.2 ... will be at least 2.2.3 by the time this ticket is closed.

[2015-06-18 19:58] SethTisue commented on #105
I'm on it... it might take a while since I'll have to ramp up on dbuild first and also deal with an existing sbt-web-related failure.

[2015-06-29 22:12] SethTisue opened #108 "upgrade to newer dbuild 0.9.3+"
this is not pressing, but presumably we should upgrade eventually

a previous attempt to upgrade from 0.9.1 to 0.9.2 went awry; gory details at https://github.com/scala-ide/uber-build/pull/64 . as of June 2015, there is no 0.9.3 release

[2015-06-30 01:58] cunei commented on #108
I would recommend 0.9.3-M3; despite the "M3", it should be fully stable.

[2015-06-30 18:24] #84 closed

[2015-06-30 19:18] SethTisue commented on #108
@cunei are there release notes for 0.9.2 and 0.9.3-M3?

[2015-06-30 19:26] SethTisue commented on #15
Adriaan has additional similar changes in https://github.com/adriaanm/community-builds/commits/2.11.x. “follow up to various upstream project to bump versions / drop dependencies on plugins that should not be in main repo” he says

[2015-06-30 19:38] adriaanm commented on #15
looks like this list is outdated

[2015-06-30 20:08] SethTisue opened #110 "re-enable Spray test suite"
figure out why https://scala-ci.typesafe.com/job/scala-2.11.x-integrate-community-build/33/console
failed spray.httpx.unmarshalling.ScalaXmlUnmarshallerSpec

[2015-06-30 20:09] SethTisue commented on #110
@adriaanm writes:

[2015-07-01 03:02] cunei commented on #108
@SethTisue Not as such; there is of course the commit log. The updated documentation pages are at https://github.com/typesafehub/dbuild/tree/v0.9.3-M3/docs/src/sphinx
At this point I could promote 0.9.3-M3 to 0.9.3-final, publish dbuild, update the website, and collect the release notes. Friday is a holiday in the US, but not in Switzerland: I should be able to take care of this matter then. @jsue

[2015-07-01 09:58] jrudolph commented on #110
In v1.3.3 we introduced a test (and some configuration changes) to guard against XXE attacks in spray/spray#1024. See here:

https://github.com/spray/spray/blob/master/spray-httpx/src/test/scala/spray/httpx/unmarshalling/ScalaXmlUnmarshallerSpec.scala

In [the failing run](https://scala-ci.typesafe.com/job/scala-2.11.x-integrate-community-build/34/console) the errors are these:

[code]

where the

[2015-07-01 17:37] adriaanm commented on #110
Thanks, @jrudolph!

[2015-07-06 15:28] SethTisue commented on #110
@jrudolph if or when you have a new version for us to test, let us know. for now, in the community build we are leaving the tests disabled and the version pegged at v1.3.3

[2015-07-06 15:38] SethTisue commented on #78
closing on the assumption that lots has changed since the initial report. we can reopen if it rears its head again.

running the full community build locally is generally not recommended since it takes forever because you won't benefit from the caching the real Jenkins jobs on scala-ci have. if you have a branch with changes to the community build config you want to test, let us know, we can run t

[2015-07-06 15:38] #78 closed

[2015-07-07 02:37] SethTisue opened #113 "add scalaz-stream so we can track specs2"
for a while now (since #44) the community build has been pegged to an older rev of specs2 from before the scalaz-stream dependency was introduced. we shouldn't leave it that way too long; specs2 is too important. and scalaz-stream is likely to to start turning up in other places too.

@retronym doesn't think adding scalaz-stream to the build was actually attempted previously, so maybe we'll be luc

[2015-07-07 21:15] SethTisue commented on #108
0.9.3 is out ([release notes](https://github.com/typesafehub/dbuild/pull/174))

[2015-07-07 23:42] adriaanm commented on #108
I [tried 0.9.3](https://github.com/adriaanm/community-builds/commit/592055dd5562d4b47446e39dbd693278f481bf13) but it [fails](https://scala-ci.typesafe.com/view/scala-2.12.x/job/scala-2.12.x-integrate-community-build/11/) because of https://github.com/typesafehub/config/issues/160. /cc @cunei

I'm not sure, but it looks like the config should be accepted, and the error message for https://github.co

[2015-07-10 02:26] SethTisue commented on #113
Adriaan has some work-in-progress on this in his fork.

[2015-07-10 02:27] SethTisue commented on #105
Note to self: look out for specs2's dependency on shapeless 2.1.0.

[2015-07-13 17:44] adriaanm commented on #105
I'd suggest building shapeless in a separate space, like i did to keep specs2_24 and specs2_36 separate.

[2015-07-16 00:44] adriaanm opened #117 "bump to akka 2.4-M3 in 2.12.x"
See https://github.com/akka/akka/pull/18009

That will enable removal of scala.concurrent.util.Unsafe.

[2015-07-20 16:13] SethTisue commented on #117
after which https://issues.scala-lang.org/browse/SI-9381 can be closed

[2015-07-21 09:06] milessabin commented on #105
Current shapeless master is green with 2.12.0-M2 ... I'll mostly likely publish a 2.2.5 fairly shortly.

I looked in the main configuration for the specs2 "separate space" setup but couldn't find it ... if someone can point me in the direction of an example I'll put together a PR.

[2015-07-22 18:25] milessabin commented on #105
FYI ... I've just published shapeless-2.2.5 with support for 2.12.0-M2.

[2015-07-22 18:38] SethTisue commented on #105
Thanks for the heads up. I am currently working on getting a 2.11.x community build going on JDK 8. Once that's done, I'll get back to the 2.12 community build.

[2015-07-22 20:05] SethTisue opened #119 "2.11.x failing due to missing spray-json-shapeless dependency for ensime-server"
https://scala-ci.typesafe.com/job/scala-2.11.x-integrate-community-build/49/console shows the failure:

the cause is https://github.com/ensime/ensime-server/commit/88cd6e33e946c472e1a1c3477942425211ac6974

perhaps it will be straightforward to just add the dependency? we'll see. spray-json-shapeless's dependencies are here: https://github.com/fommil/spray-json-shapeless/blob/master/build.sbt

[2015-07-23 02:43] adriaanm commented on #117
akka PR was merged

[2015-07-23 03:32] SethTisue commented on #119
go https://scala-ci.typesafe.com/job/scala-2.11.x-integrate-community-build/53/ !

[2015-07-23 05:30] lrytz commented on #119
specs2 failed, because there was a change in shapeless that changed `ToList` from a trait to a type alias (https://github.com/milessabin/shapeless/commit/dc9bc0d31e1a855a90c16d856c3f8b19143fac01).

It seems you need to update specs2 to include https://github.com/etorreborre/specs2/commit/0b08208fc89d6bc57a5435792cc3ed913bb01eb6

[code]

[2015-07-30 12:48] SethTisue commented on #105
now done for 2.12: https://github.com/scala/community-builds/pull/121

still working on 2.11. (the Shapeless part is "done", but there are some only indirectly related failures I have to address before the changes can be merged.)

[2015-07-30 12:50] milessabin commented on #105
Awesome thanks! :-)

[2015-08-25 23:40] SethTisue commented on #119
for 2.11.x, this was resolved by #126 simply by not upgrading ENSIME.

I plan to revisit this (am already revisiting it, on a wip branch) in the context of 2.11.x-jdk8. 2.11.x(jdk6) is more legacy at this point, more something we're content to freeze versions in.

[2015-08-25 23:47] SethTisue commented on #113
status on our various branches:
- 2.12.x: done!
- 2.11.x-jdk8: in progress
- 2.11.x (jdk6): abandoned. just stick with existing versions of things

[2015-08-25 23:52] SethTisue commented on #83
closing, because the current iteration of this work is (rather arbitrarily) being tracked in another repo: https://github.com/scala/scala-jenkins-infra/pull/112

the sbt plugin Greg mentions has gone away because we are no longer building sbt plugins from source as part of the community build; since they are Scala 2.10-based anyway, we just pull them as binary dependencies.

as for "Ideally, we sh

[2015-08-25 23:52] #83 closed

[2015-08-25 23:54] SethTisue commented on #113
closing since this is fixed in 2.12 and wontfix in 2.11/jdk6. the umbrella ticket for 2.11/jdk8 is https://github.com/scala/scala-jenkins-infra/pull/112

[2015-08-25 23:54] #113 closed, assigned to SethTisue

[2015-08-26 00:01] SethTisue commented on #99
fixed (by using newer sbt)

[2015-08-26 00:01] #99 closed

[2015-08-26 00:04] SethTisue commented on #13
moving to 1.12 is tricky because there are source-incompatible changes. gory details in the wip commits at https://github.com/scala/community-builds/pull/119

[2015-08-26 00:10] SethTisue commented on #117
I'll get back on this as soon as the regular 2.12.x build is green again.

[2015-08-26 19:51] SethTisue opened #127 "upgrade to sbt 0.13.9"
all three builds (2.11.x, 2.11.x-jdk8, 2.12.x) ought to be using this

[2015-08-26 20:27] SethTisue commented on #127
plus maybe we'll get some performance benefit from the cached resolution stuff

/me crosses fingers

[2015-08-27 12:42] SethTisue commented on #127
done for 2.11.x in #128. working on 2.12.x

[2015-08-28 02:22] SethTisue commented on #127
done for 2.12.x in #129. (haven't done 2.11.x-jdk8, but all of 2.11.x-jdk8 is still very wippy, so closing this ticket regardless.)

[2015-08-28 02:22] #127 closed, assigned to SethTisue

[2015-08-28 02:25] SethTisue commented on #117
2.12.x is green again. now running a community build with src/library/scala/concurrent/util/Unsafe.java removed at https://scala-ci.typesafe.com/view/scala-2.12.x/job/scala-2.12.x-integrate-community-build/146/consoleFull

[2015-08-28 02:37] SethTisue commented on #117
fixed in #129

[2015-08-28 02:37] #117 closed, assigned to SethTisue

[2015-09-04 19:17] SethTisue commented on #108
another reason to upgrade is to get the fix for https://github.com/typesafehub/dbuild/issues/175, except we'd actually need 0.9.4 published in order to get that fix, since it came after 0.9.3

that issue prevents dbuild from working at all locally, since sbt plugins can't be found. (I suspect it only works on Jenkins because the plugin artifacts are in the artifact cache we use there.)

[2015-09-05 01:52] SethTisue opened #133 "2.11.x/JDK6 build doesn't work on Mac OS X (can't find lib/tools.jar)"
the ensime-server project has code that assumes that any self-respecting JDK would have `$JAVA_HOME/lib/tools.jar`, but this isn't true of Apple-packaged JDKs. (Oracle took over the packaging on OS X starting with JDK 7, so that's why only 6 is affected.)

the error occurs during extraction, so at least you find out quickly.

we're not working on the 2.11.x/JDK6 build much these days; most of the

[2015-10-09 21:20] SethTisue commented on #12
fixed by https://github.com/scala/community-builds/pull/137 for the 2.12 build

[2015-10-10 15:11] SethTisue commented on #12
@szeiger on 2.11 I get the following. any idea what this is about?

[code]

this is from https://scala-ci.typesafe.com/job/scala-2.11.x-integrate-community-build/85/console

looks like the same thing when building on JDK8 too: https://scala-ci.typesafe.com/job/scala-2.11.x-jdk8-integrate-community-build/54/consoleFull

[2015-10-21 14:59] SethTisue commented on #12
@szeiger ping

[2015-10-21 15:29] szeiger commented on #12
Slick 3.2 will require Java 8, so I upgraded the build to Java 8 and also upgraded the OSGi test environment because the old version was broken on Java 8. That said, I can still build it and successfully run the OSGi tests locally under Java 7.

The osgitests project is the only one with `fork in Test := true`. Is the correct `java` command on the path for the build? Maybe the one on the path is J

[2015-10-21 15:53] SethTisue commented on #12
thanks, this is very helpful.

ok, it sounds like the OSGi tests are somewhat fragile, at least in a dbuild context, and I'm in shortcut-taking mode on community build stuff so I can devote more attention to other things, so I think I'll just disable the OSGi tests on any branches where they're failing.

since master now expects Java 8, I'll change the 2.11.x/jdk6 to use the 3.1 branch instead of

[2015-10-21 16:24] szeiger commented on #12
The problem on JDK8 with Slick master should now be fixed/

[2015-10-22 19:07] SethTisue commented on #12
progress: https://github.com/scala/community-builds/pull/138

[2015-10-22 19:59] #12 closed

[2015-10-23 19:59] SethTisue commented on #105
now done for 2.11.x-jdk6: https://github.com/scala/community-builds/pull/141

TODO: 2.11.x-jdk8

[2015-10-24 10:26] milessabin commented on #105
Thanks!

[2015-10-24 14:00] SethTisue commented on #14
in the 2.12 community build, we're on the `2.2.x-for-scala-2.12.0-M2` branch. the 2.2.x series is the current stable version, so that's plenty good enough for now, though we'll want to move it forward as 2.12 progresses.

[2015-10-24 14:02] SethTisue commented on #14
in the 2.11 community builds (jdk6 and jdk8), `scala-2.11-M8` looks like an early 2.1.x build, so we should first try upgrading to the `2.1.x` branch, and then perhaps go further to `2.2.x`.  (there is a 3.0 branch, but it's still in flux, so it doesn't make sense for us to track it yet.)

[2015-10-24 14:05] SethTisue commented on #14
mentioning @bvenners who might be mildly interested in following this

[2015-10-24 14:13] SethTisue commented on #108
actually running locally works fine as long as you run with `-n` instead of `-l`

regardless, we should be on the latest dbuild, if only to help dogfood it for RP

[2015-10-24 14:14] SethTisue commented on #93
we don't build sbt plugins anymore, so this is now n/a

[2015-10-24 14:14] #93 closed

[2015-10-24 14:21] SethTisue opened #142 "fix scala-xml related regression in 2.11.x-jdk8 build"
recent 2.11.x-jdk8 builds are failing during Scaladoc generation with "java.lang.ClassNotFoundException: scala.runtime.java8.JFunction1" errors, with scala-xml in the stack traces ([example](https://scala-ci.typesafe.com/job/scala-2.11.x-jdk8-integrate-community-build/57/consoleFull))

it appears that in the context of the community build, the new `crossScalaVersions` logic in https://github.com/s

[2015-10-24 19:54] SethTisue commented on #105
2.11.x-JDK 8 green build (except for a few non-Shapeless-related failures): https://scala-ci.typesafe.com/job/scala-2.11.x-jdk8-integrate-community-build/59/console

this shows that the merge of #141 was successful, so this is done!

the gears of the community build grind slowly, but they grind exceedingly fine...

[2015-10-24 19:54] #105 closed

[2015-10-25 00:46] bvenners commented on #14
The latest branch for the latest released version of ScalaTest is:

https://github.com/scalatest/scalatest/tree/2.2.3-and-greater

But is there a reason you want to track a development branch rather than a release tag?

[2015-10-25 11:27] SethTisue commented on #14
so we don't have to keep bumping the tag, and so we all find out sooner if something breaks.

we don't want to track a wild-west development branch, but a lot of projects have fairly stable branches where nothing is committed unless it has passed both code review and CI, and where source compatibility is broken only rarely, or only in edge cases; tracking that kind of branch usually works fine.

[2015-10-25 12:06] SethTisue opened #144 "unfork scalariform"
Adriaan forked to disable sbt-eclipse-plugin, but that probably doesn't matter anymore.

but, scalariform is still on ScalaTest 2.1, and we would like to be on ScalaTest 2.2 (#14). perhaps Daniel will voluntarily take care of it: https://github.com/daniel-trinh/scalariform/issues/87

[2015-10-25 12:19] SethTisue opened #145 "track ensime-server"
this requires adding fommil/spray-json-shapeless. we had held back from doing that before, but perusal of https://github.com/fommil/spray-json-shapeless/blob/master/build.sbt indicates it is probably possible now that we're on current Shapeless.

[2015-10-26 17:11] SethTisue opened #146 "add Akka HTTP and Akka Streams"
we should do this because it's Akka, but also because ensime-server's master branch now has them as a dependency

I tried changing our dep to `akka.git#releasing-akka-stream-and-http-experimental-1.0` but it didn't work and I decided to postpone rather than investigate. (for now we freeze ensime-server at the commit before the dependency was added)

(this was in the 2.11 build. it might be better

[2015-10-26 17:12] SethTisue commented on #145
#147 adds the spray-json-shapeless dependency successfully, but then the sticking point is #146

[2015-10-26 17:31] SethTisue commented on #14
done in 2.11.x-jdk6: https://github.com/scala/community-builds/pull/147

[2015-10-26 17:32] SethTisue commented on #144
I figured out how to add a resolver for the old plugin, so that's dealt with.

and, this is now done in 2.11.x-jdk6 as of https://github.com/scala/community-builds/pull/147

but not closing this yet til it gets merged onto 2.11.x-jdk8 and 2.12.x too

[2015-10-26 17:34] SethTisue opened #148 "unfork ScalaMock"
similar to #144

done in 2.11.x-jdk6 as of #147, but still needs to be pushed through to 2.11.x-jdk8 and 2.12.x

[2015-10-27 17:53] SethTisue opened #149 "scaladoc-related regression in recent scala-js build"
in the last few days, sometime after https://github.com/scala-js/scala-js/commit/9c5d21b1edb96e560ecfe651b9d6f0f22b00f4e7, something was merged that makes scala-js fail to find doc jars, in both the 2.11.x-jdk8 and 2.12.x builds (probably 2.11.x too):

[code]

perhaps the community build skips generating Scaladoc for Scala itself?

for now, freezing at the last known good commit

[2015-10-27 17:55] SethTisue opened #150 "get ensime and spray-json-shapeless working again in 2.12.x build"
some details are in the 2.12. common.conf. they are commented out right now — it hasn't been deeply investigated yet

the spray-json-shapeless error is:

[code]

after extraction, the log shows:

[code]

which isn't right; in 2.11.x-jdk8 we see many more dependencies:

[code]

[2015-10-28 00:49] SethTisue commented on #142
full log with dbuild debugging output enabled: https://gist.github.com/SethTisue/e8a9d603c3e597ec1bb9 (run against https://github.com/SethTisue/community-builds/commit/dcdc747d036e900a8c461775821e2c35b2c70f6c)

[2015-10-28 11:54] SethTisue opened #152 "real build is slow, testing fixes locally is slow too"
**slow in actual Jenkins runs:**

we keep having to up the limit on how many hours the community builds are allowed to take. lately they've been in the ~8 hour range

**slow during testing:**

e.g. I'm trying to fix an issue in the scala-xml build. even if I delete all of common.conf and all of community.dbuild except for two projects only (scala and scala-xml), and even once the scala project has

[2015-10-28 11:56] SethTisue commented on #152
read it and weep, here's a log of the slow resolution process. it takes 1-2 seconds per line.

note that you have to run dbuild with `-d` in order to watch this happening. otherwise you just see a really long pause at "Updating..."

[code]

and that's just resolution. it actually downloads the jars too, every time:

[code]

[2015-10-28 12:16] SethTisue commented on #152
@retronym comments: "Maybe that plugin should be uberjarred or some such... it could also just add a list of JARs to the build's `unmanagedJARs`"

[2015-10-28 12:19] SethTisue commented on #142
the problem is not scala-xml specific; it's general to all of the scala modules which are built with the "assemble" build system (because there is a circular dependency between them and scala itself)

and the problem isn't actually completely specific to the 2.11.x-jdk8 build. that's the build where it causes an error, but in the other builds too, the modules are built with the module repo's defau

[2015-10-28 12:22] SethTisue commented on #152
one of the issues here is that dbuild lets you tweak the build definition, but it doesn’t seem to offer a way to tweak the meta-project — the build definition’s build definition. (or maybe it does and I just can’t uncover any reference to it, I guess I’d have to ask @cunei to be sure.) and it’s the meta-project that is the problem here

[2015-10-28 12:28] SethTisue commented on #152
I spent a long time yesterday (and earlier) trying to find the "bug" here, but my current theory is that  dbuild is actually working as designed here, so there's no "bug" to be uncovered, it just isn't a suitable design.

dbuild builds Scala and its modules using the "assemble" build system. the doc on that build system says "the nested projects are built independently, each in isolation", which c

[2015-10-28 12:29] SethTisue commented on #142
I spent a long time yesterday (and earlier) trying to find the "bug" here, but my current theory is that  dbuild is actually working as designed here, so there's no "bug" to be uncovered, it just isn't the design I expected or the design I think we want.

dbuild builds Scala and its modules using the "assemble" build system. the doc on that build system says "the nested projects are built independ

[2015-10-28 17:54] SethTisue commented on #14
with `2.2.3-and-greater` I have seen green trial runs in all 3 builds, so even though it's not all merged through yet onto all branches (which may take a few days since the runs take so long), closing as done. :tada:

[2015-10-28 17:54] #14 closed

[2015-10-28 17:55] SethTisue commented on #144
I have now seen green trial runs in all 3 builds, so even though it's not all merged through yet onto all branches (which may take a few days since the runs take so long), closing as done

[2015-10-28 17:55] #144 closed, assigned to SethTisue

[2015-10-28 17:55] SethTisue commented on #148
I have now seen green trial runs in all 3 builds, so even though it's not all merged through yet onto all branches (which may take a few days since the runs take so long), closing as done

[2015-10-28 17:55] #148 closed, assigned to SethTisue

[2015-10-28 18:01] SethTisue commented on #142
#153 is arguably more of a workaround than a true fix, so keeping this open. a real fix would be to build the module using the Scala we just built, rather than a stock one

[2015-10-28 18:06] SethTisue commented on #142
on second thought, I'll open a new ticket on that

[2015-10-28 18:06] #142 closed, assigned to SethTisue

[2015-10-28 18:10] SethTisue opened #154 "build circularly dependent Scala modules with fresh, not stock compiler?"
as previously detailed at #142, dbuild's "assemble" builds Scala first, but then doesn't use the Scala it just built to build circularly dependent modules like scala-xml. this is arguably a bug, or at least not ideal, given that the whole idea of dbuild is to build everything using a freshly-built Scala compiler

dbuild builds Scala and its modules using the "assemble" build system. the doc on tha

[2015-10-28 18:19] SethTisue opened #155 "unfork Play in 2.12 build"
[code]

[2015-10-28 18:19] SethTisue opened #156 "unfork sbt in 2.12 build"
[code]

[2015-10-28 18:22] SethTisue opened #157 "unfork specs2 in 2.12 build"
[code]

maybe also see whether it's really necessary to have two specs2 versions. maybe now that we have everything on Shapeless 2.2.x, it isn't necessary? the spaces stuff necessary to have two different specs2 versions substantially complicates the build. also, it seems like that kind of thing shouldn't even be necessary given that specs2 is just a test dependency of stuff, not a runtime depende

[2015-10-28 18:26] SethTisue opened #158 "overall coverage and quality of 2.12 build leaves much to be desired"
around the time of 2.12.0-M2, we threw together a 2.12 build by-any-means-necessary. it's pretty janky. I've opened tickets on many of the most significant issues (frozen sbt, forked Play, frozen scala-js, commented-out ENSIME, and so on and so on), but there plenty more forked and frozen projects and projects where we aren't running the tests.

I believe we've already overspent our notional budge

[2015-10-28 18:26] adriaanm commented on #154
Maybe we should just use our own release script to build scala and have dbuild to the rest?

[2015-10-28 18:28] SethTisue opened #159 "suspicious scala-xml dependencies"
are these outdated scala-xml dependencies in common.conf actually necessary? they aren't commented, so they have the look of something that just got kept by accident. we'd have to investigate

in two places:

[code]

[2015-10-28 18:46] SethTisue opened #161 "add more projects"
(I edit this list frequently. except when I forget to update it at all.)

projects we'd like to include:
- high priority:
    - Spark #763 — volunteers needed
    - (nothing else right now?)
- would be nice:
    - scastie (not a lib, but good to have some apps)
    - Play sample repos (we do have play-webgoat)
    - macwire
    - [hamsters](https://github.com/scala-hamsters/hamsters)
    - squants

[2015-10-28 18:50] SethTisue commented on #152
note: I tried upgrading dbuild from 0.9.1 to 0.9.3. it didn't help.

[2015-10-28 18:50] SethTisue commented on #152
whenever one project needs a resolver, we add it to a global list. presumably this slows down everything. can we add resolvers for a particular project only?

[2015-10-28 18:52] SethTisue commented on #58
there is nice doc on this at https://docs.google.com/document/d/18fGjMz21J4-JMHXfDH4OyGOXu8NvWfsG4q83S9RT64M/edit, thanks @eed3si9n!

[2015-10-28 18:57] SethTisue opened #162 "need better documentation on doing local runs"
(accumulated random notes on this from the last few months)

though it may not even be worth documenting this better until something is done about the performance issues (its's #152)

I guess setting up local Artifactory helps performance; I haven't tried it yet. there is doc linked from #58

often, running dbuild with `-d` is key in order to see what's going on (I mean if it's the community build

[2015-10-28 18:58] SethTisue commented on #157
perhaps useful/relevant here? `set TestKeys.includeTestDependencies := false`

[2015-10-28 19:02] SethTisue commented on #161
note to self, one dbuild feature we aren't currently taking advantage of is that dependencies can be added as binary: "Although that rather defeats the point of compiling all code using the same Scala version, it can nonetheless be quite useful in the case in which only a specific binary is available, for example in case of libraries that are proprietary and closed-source, or that are currently un

[2015-10-28 19:19] SethTisue commented on #155
to consider at the same time, is the following still needed?

[code]

[2015-10-28 19:22] SethTisue opened #163 "improve documentation for library authors wanting to add their projects"
@milessabin writes “I think it would be helpful if the community build README had some information for community library providers on how to keep the build  up to date consistently with not breaking dependencies for other  libraries ... I would have put a PR for this together myself a while back if I'd known what was involved."

@adriaanm writes “Seth is also working on better documentation for th

[2015-10-28 19:26] SethTisue commented on #119
improvements to this are in #147

[2015-10-28 19:49] cunei commented on #152
@SethTisue, concerning tweaking the meta-build, check: http://typesafehub.github.io/dbuild/0.9.3/plugins.html#build-levels as well as the following section; it may help.
The resolvers list is global; however, you should ideally rely on a local artifactory proxy. Therefore the list of resolvers should only list the proxy in ivy and maven versions, and inside the artifactory instance you can then de

[2015-10-28 19:51] SethTisue opened #164 "write documentation on how to troubleshoot community build problems"
I've learned a lot about this in the last few months. I should write as much of it down as I can.

[2015-11-03 14:05] SethTisue commented on #108
0.9.4 is out and includes a better default repo list.

[2015-11-03 19:11] SethTisue commented on #149
perhaps helpful for disabling `-Xfatal-warnings` in Scaladoc generation in all subproject: http://stackoverflow.com/questions/18289766/what-is-the-difference-between-thisbuild-and-global-scopes

[2015-11-03 23:02] SethTisue commented on #149
#165 works around this by forking — not a true fix. a fix ought to be possible by customizing `extra.commands` to turn off `-Xfatal-warnings` in the doc task in all subprojects

punting on it for now

[2015-11-03 23:09] SethTisue opened #166 "move to Akka 2.4"
but note that 2.4 build requires JDK 8, so the 2.11.x branch will need to stay on Akka 2.3

related, if not part and parcel: #146

[2015-11-04 00:10] SethTisue commented on #164
an initial brain dump is now up at https://github.com/scala/community-builds/wiki . I'm sure I'll think of more additions over time, but the basics are there.

[2015-11-04 00:10] #164 closed, assigned to SethTisue

[2015-11-04 15:09] SethTisue opened #167 "regression: scala-partest failing (MiMa errors)"
failure log: https://scala-ci.typesafe.com/job/scala-2.11.x-integrate-community-build/124/consoleFull:

[code]

I think the responsible PR is https://github.com/scala/scala-partest/pull/40

maybe the MiMA files in the scala-partest repo just need to be updated? I haven't dealt with this before. @szeiger?

@adriaanm, is there any need for scala-partest to stay binary compatible from release to rele

[2015-11-04 15:16] szeiger commented on #167
It's not binary compatible. What's the process for updating it? Wouldn't this have to wait until a new release is published so it can be used as a baseline?

[2015-11-04 21:52] adriaanm commented on #167
i guess we can either turn off the checks until the next release or (preferred) cut a new release and use it as a baseline

[2015-11-04 22:18] SethTisue commented on #167
but what is the purpose of retaining the MiMa checks at all?

[2015-11-04 22:44] adriaanm commented on #167
Backstop against accidental breakage, so we can blindly accept PRs that don't break binco. It's not intended to stop binary changes, but we have no finer comb.

[2015-11-04 22:47] SethTisue commented on #167
I see. (@szeiger, perhaps add a bit of doc to that effect?)

[2015-11-05 18:14] SethTisue opened #169 "2.12.x: twitter-util fails to compile"
not immediately clear if this is some kind of regression in 2.12, or somehow the result of a difference in the context of the community build itself between 2.11.x-jdk8 and 2.12.x... or what

https://scala-ci.typesafe.com/job/scala-2.12.x-integrate-community-build/201/consoleFull

[2015-11-06 17:09] SethTisue commented on #163
the doc is now "good enough", I think

[2015-11-06 17:09] #163 closed, assigned to nobody

[2015-11-06 17:13] milessabin commented on #163
Thanks for that :-)

[2015-11-06 18:09] SethTisue commented on #169
there may be multiple problems here, but the obvious first one is that the Scala version testing logic in project/Build.scala fails to include the necessary scala-parser-combinators dependency on 2.12. testing a possible fix here: https://scala-ci.typesafe.com/job/scala-2.12.x-integrate-community-build/206/

[2015-11-07 00:15] SethTisue commented on #169
fixed in 18e10e3b1a3d0280acc5cde1b4f10ea90656da2c

I disabled the tests, a few of which were failing unknown reasons, in dbe5c62c663481689a8c0169ea3dc31828d823bd. (not bothering with a separate ticket on that for now; it is marked TODO)

[2015-11-07 00:15] #169 closed, assigned to SethTisue

[2015-11-09 18:35] SethTisue opened #171 "unfork scala-js (fatal warnings issue)"
I tried:

[code]

but it looks like `-=` and `set every` don't like each other:

[code]

perhaps some incantation involving `in ThisBuild` or `in Global` would do the trick. if not, maybe contribute an upstream patch that makes this easier to control

[2015-11-10 18:00] SethTisue commented on #156
possibly relevant: https://github.com/sbt/sbt/issues/1399

[2015-11-11 19:28] SethTisue opened #173 "2.11.x JDK6 and JDK8 builds interfere with each other"
I thought this was happening before, and tried to fix it with 77f26d49de89435917ca5059890574a661999429, which I later reverted because I wasn't sure whether it had any effect and I became unsure whether the problem even existed.

I'm now absolutely 100% sure the problem exists.  here's the smoking gun. in [a 2.11.x-jdk8 run](https://scala-ci.typesafe.com/job/scala-2.11.x-jdk8-integrate-community-b

[2015-11-11 19:42] SethTisue opened #174 "add MiMa"
some notes on this at https://github.com/typesafehub/migration-manager/pull/94#issuecomment-155860176

wip at https://github.com/SethTisue/community-builds/commits/add-mima but I got `java.lang.OutOfMemoryError: PermGen space` in https://scala-ci.typesafe.com/job/scala-2.11.x-integrate-community-build/131/consoleFull, sigh. (and [again](https://scala-ci.typesafe.com/job/scala-2.11.x-integrate-comm

[2015-11-13 03:20] SethTisue commented on #173
fixed by #175

[2015-11-13 03:20] #173 closed, assigned to SethTisue

[2015-11-13 03:42] SethTisue commented on #174
at https://github.com/typesafehub/migration-manager/pull/73 @dotta writes "I'm unsure if the way these tests are structured will exhaust memory", perhaps it's related. (see also https://github.com/typesafehub/migration-manager/pull/83, which I might want to do a test run with to see if the PermGen thing goes away)

[2015-11-13 22:20] SethTisue opened #176 "lots of resolver errors in build logs (maven.twttr.com)"
lukas [2:47 PM]
seth, it's a detail, but do you know why this line keeps appearing in the community build log?
`[...] [error] SERVER ERROR: Service Temporarily Unavailable url=https://maven.twttr.com/<some>/<maven>/<artifact>/<path>`

​sethtisue [2:49 PM]
it started when I added a resolver needed by twitter-util
I’ve asked Toni if it’s possible to add a resolver just to a single project, Toni says

[2015-11-13 23:50] SethTisue commented on #174
2.11.x-jdk6: punted, too much bother
2.11.x-jdk8: done in https://github.com/scala/community-builds/pull/177
working on 2.12.x

[2015-11-15 19:29] SethTisue commented on #174
green 2.12.x run: https://scala-ci.typesafe.com/view/scala-2.12.x/job/scala-2.12.x-integrate-community-build/219/consoleFull

[2015-11-15 19:29] #174 closed, assigned to SethTisue

[2015-11-16 23:55] SethTisue commented on #167
@szeiger checking, is this still on your radar?

[2015-11-18 19:12] SethTisue commented on #171
ah, it wasn't just that I couldn't find the right sbt gymnastics, the lack of a good solution for this general problem is https://github.com/typesafehub/dbuild/issues/144

[2015-11-19 23:04] SethTisue opened #185 "appendScalacOptions mechanism is broken"
in general, the whole `vars.base.extra` thing just doesn't work at all with `+=`, as discussed at https://github.com/typesafehub/dbuild/issues/178 . so e.g. any project that customizes `extra.commands`, the customization just wipes out the `appendScalacOptions` stuff. as a result e.g. every run Lukas did with `-Yopt:l:classpath` wasn’t actually testing the full set of projects, just the ones witho

[2015-11-19 23:06] SethTisue commented on #108
once https://github.com/scala/community-builds/issues/185 is fixed, we'll be free to upgrade to 0.9.4 afaict

[2015-11-20 00:20] SethTisue commented on #171
once https://github.com/scala/community-builds/issues/185 is fixed, we just need to generalize `appendScalacOptions` a little so `removeScalacOptions` is supported as well

[2015-11-20 04:05] #185 closed, assigned to SethTisue

[2015-11-20 04:05] #171 closed, assigned to nobody

[2015-11-24 15:47] SethTisue opened #188 "unfork twitter-util in 2.12 build"
should be safe now that https://github.com/twitter/util/pull/148 was merged

[2015-11-24 21:31] SethTisue commented on #108
fixed for 2.11.x-jdk8 (and 2.12, once I merge it forward) by https://github.com/scala/community-builds/pull/189 . I don't think it's necessary to mess with 2.11.x(-jdk6)

[2015-11-24 21:31] #108 closed

[2015-11-25 21:17] SethTisue commented on #188
hmm but my change hasn't actually shown up on their master branch yet. (I guess because they only sync their internal repo out to GitHub every so often?)

[2015-11-30 23:21] SethTisue commented on #188
oh, it's in their `develop` branch... maybe we should be tracking that? not sure how stable `develop` is, or how often `develop` gets merged onto `master`

[2015-12-03 21:15] SethTisue opened #193 "upgrade to dbuild 0.9.5 (for JDK version independence)"
0.9.5 has official support preventing #173, which means I can revert the hacks in #175, thanks @cunei!

[2015-12-03 21:18] SethTisue commented on #193
(but wait a bit first while it's tried for RP: https://github.com/typesafehub/reactive-platform/pull/177)

[2015-12-03 21:20] SethTisue commented on #156
directly relevant: https://github.com/typesafehub/dbuild/issues/172

[2015-12-04 19:22] SethTisue commented on #193
PR, test run: #194

[2015-12-05 13:43] #193 closed, assigned to SethTisue

[2015-12-05 19:23] SethTisue commented on #188
`develop` was merged onto `master` recently

[2015-12-06 07:20] #188 closed, assigned to SethTisue

[2015-12-07 19:10] matanox commented on #162
Nice doc! I'm consistently grinding close to a halt with ivy resolutions. (indeed with the `-d` option I can see something is happening v.s. just being stuck). Wondering whether a local proxy gives any gain beyond the caching already performed by default by ivy. I would assume that it would not make any difference in the single machine scenario.

Thanks for suggesting `-d`!

[2015-12-08 00:57] gkossakowski commented on #162
Local artifactory helps to speed up resolution for a few reasons:
- it appears to me that Ivy will resolve the same artifact multiple times; Artifactory is good at resolving only once
- when you add repos to Artifactory you can check the option to prefetch jars in the background triggered by poms requests
- Ivy cache might get corrupted and you have no option but start over
- Ivy cache is stored p

[2015-12-08 06:45] matanox commented on #162
I assume you are right, many thanks. But I can't really fathom why would
ivy resolve the same artifact multiple times.

On Tue, Dec 8, 2015 at 2:57 AM, Grzegorz Kossakowski <
notifications@github.com> wrote:

[2015-12-08 16:55] #167 closed, assigned to nobody

[2015-12-08 17:13] matanox commented on #162
Running for 24 hours and going, several restarts required after occasional
akka http timeouts over resolution.
Any idea why so much duplication in the resolution logging?

[code]

And I am very curious why the entire resolution process starts over when rerunning dbuild, it looks like no caching is taking place, or dbuild is invalidating the previous resolution. It would be nice being able to tell

[2016-01-14 19:37] SethTisue opened #202 "Shapeless build fails in recent 2.11.x builds"
[code]
- last 2.11.x-jdk6 success: d6a4f56e0783655c48244ec23c4f4c2d98401a72 (Jan 4)
- first 2.11.x-jdk6 failure: 7c0a87364c5d990fc50923dfd0af8aaada4683c2 (Jan 14)
- last 2.11.x-jdk8 success: same as above
- first 2.11.x-jdk8 failure: 2ce5d7dfa1fac107b277bee862708ff0c9ac71ca (Jan 13)

[code]

[2016-01-14 19:59] SethTisue commented on #202
looks like https://github.com/milessabin/shapeless/commit/aede308fc6fb22827a8bab0881f80adf6b4e88b6 is the culprit

[2016-01-14 20:19] SethTisue commented on #202
note that scalamacros/paradise used to be part of the community build, but was removed in https://github.com/scala/community-builds/commit/ecae16dbe68c024b68704c9658a1b475d674bb13

[2016-01-14 20:39] SethTisue commented on #202
test run w/ paradise added: https://scala-ci.typesafe.com/job/scala-2.11.x-integrate-community-build/190/console

[2016-01-14 22:38] SethTisue commented on #202
adding paradise wasn't enough, needed to add milessabin/macro-compat as well.

this led to (in [this run](https://scala-ci.typesafe.com/job/scala-2.11.x-integrate-community-build/192/console)):

[code]

for reasons I don't understand. the logic in https://github.com/milessabin/macro-compat/blob/master/build.sbt for only including the quasiquotes dependency on 2.10 seems correct to me:

[code]

no

[2016-01-14 22:53] SethTisue commented on #202
fyi @milessabin

[2016-01-14 23:01] SethTisue commented on #202
to get the build green again, in #204 I froze Shapeless at d6a4f56e0783655c48244ec23c4f4c2d98401a72 for now

[2016-01-14 23:02] SethTisue commented on #202
@gkossakowski any insight?

[2016-01-15 10:23] milessabin commented on #202
The change in https://github.com/milessabin/shapeless/commit/aede308fc6fb22827a8bab0881f80adf6b4e88b6 is a switch from a multi-branch build (ie. separate branches for 2.10.x and 2.11.x+) to a single branch build using macro-compat. macro-compat is needed as a dependency for 2.11.x+ but that should be incredibly lightweight ... just enough to completely eliminate an `@bundle` annotation.

We're cur

[2016-01-15 10:39] milessabin commented on #202
Is macro-compat itself part of the community build?

[2016-01-15 10:39] dwijnand commented on #202
It's a shame macro-compat isn't in the community builds as I guess it would also be broken, and would've broken long before this ticket. And it would've either been broken when trying to add it, or we would've been able to bisect to what broke it..

[2016-01-15 10:41] dwijnand commented on #202
@milessabin jinx, no it's not: https://github.com/scala/community-builds/blob/f805766e371e10719a1157b652202e4200d15c1a/common.conf

[2016-01-15 10:44] dwijnand commented on #202
Probably not useful given dbuild uses the sbt builds instead of the artefacts, but there's no macro paradise in the poms:
- https://oss.sonatype.org/content/repositories/snapshots/com/chuusai/shapeless_2.11/2.3.0-SNAPSHOT/shapeless_2.11-2.3.0-SNAPSHOT.pom
- https://oss.sonatype.org/content/repositories/snapshots/org/typelevel/macro-compat_2.11/1.1.1-SNAPSHOT/macro-compat_2.11-1.1.1-SNAPSHOT.pom

[2016-01-17 13:17] milessabin commented on #202
Any more info on this?

[2016-01-17 13:31] dwijnand commented on #202
I heard a rumour that you can't have builds in the community build without all its dependencies also in the community build. So perhaps the next step is to add macro-compat?

[2016-01-17 17:56] SethTisue commented on #202
it wasn't, but I tried adding it as part of my attempt to fix this. I already said so in https://github.com/scala/community-builds/issues/202#issuecomment-171804434, you might want to give that comment a closer re-read in order to understand where we stand with this.

[2016-01-17 18:46] dwijnand commented on #202
@SethTisue One suspect, to me at least, is the log line:

[code]

It looks to me like it wants to test building everything against scala version `2.11.8-dbuildx1df2747ab4cf758a246c29f4688c6bdee4ad043d` but then for some reason it switches the macro-compat project to 2.10.6.. and then fails to find quasiquotes?

Does that looks suspect to you? Do you know why it might be doing that?

[2016-01-18 11:52] milessabin commented on #202
macro-compat has a .sbtrc which contains,

[code]

Could that be the issue? It doesn't cause a problem on Travis.

[2016-01-18 11:57] dwijnand commented on #202
Good find, yeah it could very well be.

For reference that's there for the development convenience of test compiling and running tests under 2.10.6.

[2016-01-18 11:58] dwijnand commented on #202
Oh and the convenience of test compiling and running tests only for the JVM, not Scala.js, during development.

[2016-01-18 13:30] milessabin commented on #202
@SethTisue That's been merged now ... could you give it another try?

[2016-01-18 14:40] SethTisue commented on #202
new test run: https://scala-ci.typesafe.com/job/scala-2.11.x-integrate-community-build/198/console

[2016-01-18 15:45] dwijnand commented on #202
That seems to have worked?

[code]

[code]

[2016-01-19 15:15] #202 closed, assigned to SethTisue

[2016-01-19 15:16] SethTisue commented on #202
merged #206. thanks, Dale and Miles! nice not just to get the regression fixed, but to get two new projects in.

[2016-01-19 15:21] dwijnand commented on #202
Cool :)

[2016-02-11 19:26] SethTisue opened #215 "regression: scala/scala fails to extract after scala-parser-combinators added Scala.js support"
so at e.g. https://scala-ci.typesafe.com/job/scala-2.11.x-integrate-community-build/222/console we see

[code]

[2016-02-11 19:39] SethTisue opened #217 "2.12 community.dbuild has inappropriate references to 2.11"
looks like I forgot to update this when I merged 48f487c6988cf61bcdaaa4609fb74a7ce8e4a280

(but, check the whole file, not just the changes from that one commit. better check common.conf too while I'm at it)

[2016-02-11 20:11] SethTisue commented on #215
hmm, adding

[code]

changes the error to reference `scala-parser-combinatorsJVM` instead of `scala-parser-combinatorsJS`, but doesn't make it go away

[2016-02-11 20:33] SethTisue commented on #215
dbuild does nothing involving `crossScalaVersions`.

it's normal in scala modules for `scalaVersion` to depend on `crossScalaVersions`; we did it that way before Sébastien's changes, and we do it in other modules too.

normally in any sbt build if you don't set `crossScalaVersions` explicitly it's derived from `scalaVersion`, so it makes sense that a cycle _could_ arise in the course of reversing

[2016-02-12 17:22] #215 closed, assigned to SethTisue

[2016-02-15 23:04] SethTisue commented on #217
fixed by #219

[2016-02-15 23:04] #217 closed, assigned to SethTisue

[2016-02-16 20:35] SethTisue opened #223 "Shapeless regression in 2.12.x"
at https://scala-ci.typesafe.com/view/scala-2.12.x/job/scala-2.12.x-integrate-community-build/317/consoleFull we see:

[code]

fyi @milessabin. @scala/core anyone know of a recent 2.12 change that might be involved here?

[2016-02-17 09:25] milessabin commented on #223
Could you point me at a compiler artefact that I could test this with? It looks likely that tweaking the priorities of those instances will fix the problem here. I'm aiming for a 2.3.0 RC _today_ so it would be super helpful to get this resolved ASAP.

[2016-02-17 09:36] lrytz commented on #223
@milessabin this is the latest revision in 2.12.x:

[code]

[2016-02-17 09:40] milessabin opened #224 "Documentation for community members trying to reproduce build failures"
It would be helpful if there were a prominent section in the README explaining how to find the relevant scalac git hash in the community build logs and how to use it in a local SBT build ... replicating the information from [here](https://github.com/scala/scala#tips--tricks) would be a start.

[2016-02-17 09:44] dwijnand opened #225 "Mention or link to how to test one's own project"
The details in https://github.com/scala/scala/tree/v2.12.0-M3#tips--tricks are very useful, and in my opinion should be either mentioned or at least linked to in either the README or the wiki page.

[2016-02-17 09:51] dwijnand commented on #225
Duplicate of #224

[2016-02-17 09:51] #225 closed, assigned to nobody

[2016-02-17 09:52] lrytz commented on #224
See also https://github.com/scala/scala-jenkins-infra/issues/133

We're currently re-working the build and publish infra (fading out `build.xml`), so things are a bit in flux.

[2016-02-17 10:29] milessabin commented on #223
This change in shapeless fixes the problem,

[code]

I'm happy to merge this for shapeless-2.3.0 (RC2 due today), but my gut feeling is that a change in scalac affecting unification of `Id` like types will affect things other than shapeless.

[2016-02-17 13:18] SethTisue commented on #224
good idea. I'll take care of this.

[2016-02-17 13:24] SethTisue commented on #223
I see @retronym is doing a test run at https://scala-ci.typesafe.com/view/scala-2.12.x/job/scala-2.12.x-integrate-community-build/319/

[2016-02-17 13:26] milessabin commented on #223
FYI I have also pushed the fix above: https://github.com/milessabin/shapeless/commit/22cb6def0692d7694672fc8fd576b8fab0248213.

[2016-02-19 23:43] dwijnand commented on #223
Just happened in the area and Jenkins run https://scala-ci.typesafe.com/view/scala-2.12.x/job/scala-2.12.x-integrate-community-build/321/consoleFull proves that Miles' 22cb6de change fixes the failure.

[2016-02-19 23:49] #223 closed, assigned to nobody

[2016-02-20 16:18] SethTisue opened #226 "regression: spray-json-shapeless has started failing (macro issue in SimpleTraitFormat)"
https://scala-ci.typesafe.com/job/scala-2.11.x-integrate-community-build/232/consoleFull:

[code]

[2016-02-20 16:21] SethTisue commented on #226
@fommil as the comments in https://github.com/scala/community-builds/blob/2.11.x/common.conf indicate, the dependency situation in the community build w/r/t ENSIME and spray-json-shapeless is a bit tricky. any insight into what the right path forward here might be?

[2016-02-20 18:02] fommil commented on #226
I think this is because of the shapeless update. Can you maybe change to use the stable release tag which builds against the stable shapeless? I didn't even know we were in the community build :smile:

[2016-02-23 00:19] SethTisue commented on #226
I'm sorry, I don't know what means. Can you be more specific about what your suggestion is?

[2016-02-23 00:23] fommil commented on #226
This only happened building `master` spray-json-shapeless against `master` shapeless. If the build was https://github.com/fommil/spray-json-shapeless/tree/v1.1.0 vs https://github.com/milessabin/shapeless/tree/shapeless-2.2.5 there would have been no failure.

Shapeless introduced a regression, and then they fixed it. I expect you can close this now.

[2016-02-23 00:30] SethTisue commented on #226
ok, let's see how https://scala-ci.typesafe.com/job/scala-2.11.x-integrate-community-build/234/consoleFull does

[2016-02-23 01:54] dwijnand opened #228 "Add support for notification on build failure"
Such as @milessabin would be notified when shapeless failed to build.

[2016-02-23 02:14] SethTisue commented on #228
this would probably need to be hacked into dbuild? hmm, well, not necessarily — the hacky way would be to put something in this repo that parses the output of dbuild and then does something with it.

in general, it would be nice if generated a collection of Jenkins build artifacts, one per project, instead of a single gigantic log you have to search through.

things to ponder...

[2016-02-23 12:08] cunei commented on #228
Incidentally, dbuild already supports informing individual developers when their projects fail to build. See: http://typesafehub.github.io/dbuild/0.9.5/notifications.html
For example:
https://github.com/scala/community-builds/blob/04e4ecc78b685b1aba4d066332b699a62d976d0b/community-2.11.x.dbuild#L13
(this was removed with the move to scala-ci, in e944d66ba7e2fb2408f6d000285eff3b89628504)

[2016-02-23 13:17] milessabin commented on #228
Do you mean that the support is still there, and just the configuration has been removed? Or that the support was removed altogether?

[2016-02-23 19:59] SethTisue commented on #226
the play2-core failure is surely unrelated. closing. thanks @fommil

[2016-02-23 19:59] #226 closed, assigned to SethTisue

[2016-02-23 20:35] fommil commented on #226
Or is it? Muahahaha!

[2016-04-04 20:53] SethTisue opened #234 "regression: sbt-republish started failing recently"
a recent PR merged to sbt-republish broke integrate-ide, as discussed at https://github.com/scala/scala-dev/issues/104, and is also breaking the community build

to get the build green again, I pinned to an older SHA, but we should at least to start tracking master again

[2016-04-04 21:19] SethTisue commented on #234
~~as seen in #235 using an older SHA of sbt-republish didn't actually help. so much for that hypothesis.~~

~~looking into what else might be going on here...~~

trying again: #236

[2016-04-04 21:28] SethTisue commented on #234
not sure yet if relevant, but: PR in scala/scala repo where 2.11.x branch was upgraded to sbt 0.13.11: https://github.com/scala/scala/pull/4993

[2016-04-04 21:37] SethTisue commented on #234
[code]

last green run was: https://scala-ci.typesafe.com/job/scala-2.11.x-integrate-community-build/249/consoleFull  with scala/scala at fd7a15973d197d53b9c45dd06cb121372577e3f6 (which includes the sbt 0.13.11 upgrade), sbt-republish at 9f7109c705175c6d8e7e99c60e53959f9e4c5df0. sbt has been pinned to an old SHA for a while, and presumably sbinary and scalacheck are irrelevant here

first red run

[2016-04-04 22:31] SethTisue commented on #234
yeah this has got to be https://github.com/typesafehub/sbt-republish/pull/12/commits/8c799d687ea768e28ce2e21b92a77310f6d6b977 — and I don't understand the motivation for the change

[2016-04-05 00:00] SethTisue commented on #234
community build is fixed for now by pinning to an earlier commit, but we should still do something about the actual cause since we don't want to leave sbt-republish frozen forever

[2016-04-05 00:22] SethTisue commented on #234
the failure looks like:

[code]

in the last green run we saw:

[code]

I don't know what to make of the `org.scala-sbt` vs `com.typesafe.sbt` here.

in the first red run `grep -i delivering red.txt | grep compiler-interface` shows only:

[code]

[2016-04-05 00:32] SethTisue commented on #234
the failure occurs during:

[code]

in the green run we see:

[code]

which matches the `[sbt] [info] :: delivering` line from earlier in the log.

whereas in the red run we see:

[code]

which doesn't match the `[sbt] [info] :: delivering` line from earlier in the log, either in sbt version number or SHA.

[2016-04-05 00:39] SethTisue commented on #234
before @eed3si9n's recent changes to sbt-republish, `compilerInterfacePrecompiled`'s `compiler-interface` dependency was determined with:

[code]

after those changes, it's now:

[code]

it's not clear to me yet why with the old code, dbuild is able to substitute `0.13.6` for `0.13.9` successfully, but with the new code, dbuild leaves `0.13.11` as `0.13.11`

it's not as if dbuild isn't manipulatin

[2016-04-05 23:55] SethTisue opened #240 "sbinary won't build in 2.12 because `Predef.error` was removed"
also we're currently building harrah/sbinary, but Mark isn't active on GitHub anymore afaict, so I should investigate whether we should switch over to sbt/sbinary, which appears to be more maintained

[2016-04-07 00:03] performantdata commented on #234
Should this fix integrate-ide as well?

[2016-04-07 19:16] SethTisue commented on #240
fixed by #241 (which switches over sbt/sbinary, where my PR for the needed fix was merged)

[2016-04-07 19:16] #240 closed, assigned to SethTisue

[2016-04-17 18:19] ghost commented on #176
Following up on chat on https://gitter.im/typelevel/general?at=57136f222c9711166432a27e

I'm seeing constant local build time of around 2h 30 min, mainly achieved by using artifactory with virtual  repositories, as per https://github.com/scala/community-builds/issues/152#issuecomment-151970075

The setup is really rather easy:

Just add the extra repositories listed in `common.conf` to artifactory

[2016-04-20 01:18] SethTisue commented on #234
@sschaef can you try it and see?

[2016-04-22 03:30] adriaanm commented on #176
Should be resolved by #243 and #244 (via https://github.com/scala/scala-jenkins-infra/pull/171)

[2016-04-22 03:59] adriaanm commented on #176
Note that this moves all the resolver config into artifactory, whose config isn't under source control... (https://github.com/scala/scala-jenkins-infra/issues/172)

[2016-04-22 04:01] adriaanm commented on #176
ugh, well, it looks like now the slowness turned into resolver issues

[2016-04-22 04:08] adriaanm commented on #176
Looking into this, it seems the maven.twttr.com repo is returning jars using the text/html mimetype? E.g., https://maven.twttr.com/com/twitter/common/objectsize/0.0.10/objectsize-0.0.10.jar is showing up as text in my browser, and artifactory refuses to cache it. (https://scala-ci.typesafe.com/artifactory/twitter-maven/com/twitter/common/objectsize/0.0.10/objectsize-0.0.10.jar says:

[code]

)

[2016-07-05 20:04] adriaanm opened #246 "back to upstream for scalaz-stream"
our patch has been included upstream https://github.com/functional-streams-for-scala/fs2/pull/675

[2016-07-18 20:27] adriaanm opened #248 "experiment with coursier for faster maven/ivy resolution?"
https://github.com/alexarchambault/coursier

[2016-07-22 11:38] milessabin commented on #228
Bump ...

[2016-08-09 19:07] SethTisue commented on #248
would require some dbuild hacking, perhaps @cunei could comment on how ambitious a project it might be

[2016-08-09 23:54] adriaanm opened #249 "follow up for final tuple classes – scala/scala#5257"
[code]

ref scala/scala#5257

[2016-08-09 23:56] adriaanm opened #250 "follow up for BufferedIterator.headOption – scala/scala#5287"
[code]

see scala/scala#5287
fix in slick/slick#1573

[2016-08-09 23:58] adriaanm opened #251 "javadoc issues in akka"
fix wip at scala/scala#5304

[2016-08-09 23:58] adriaanm opened #252 "follow up for fields phase – scala/scala#5141"
submit PRs to deal with fallout from valsiginfer changes in scala/scala#5141:
- [ ] https://github.com/adriaanm/scalatest/commit/3668daf1144a7e078585c1e1d9145b55e5200092 (test: https://github.com/adriaanm/scala/commit/41724dac15b2aea4bdb26ac5cac89771459a753f from https://github.com/adriaanm/scala/tree/fields-valsiginfer-test)
- [ ] https://github.com/adriaanm/scala-swing/commit/e2b0bb44b4e79fc69dc

[2016-08-10 02:35] adriaanm opened #253 "Either deprecation in shapeless and -Xfatal-warnings"

[2016-08-12 12:30] cunei commented on #248
Ivy is quite deeply integrated into sbt, and dbuild uses sbt for resolution; it also uses Ivy directly, but only when the "ivy" build system is explicitly used. In order to use dbuild with coursier, that infrastructure would have to be integrated into sbt first, which is absolutely a major piece of work since Ivy behavior and structures are woven into many of the sbt internals. It would be a worth

[2016-08-12 12:43] eed3si9n commented on #248
There are some corner cases, but for the most part I think of dependency management engines to be just a function from `libraryDependencies` to a list of JARs.

Therefore, [caching the resolution](http://www.scala-sbt.org/0.13/docs/Cached-Resolution.html) and/or swapping the implementation out to sbt-maven-resolver or coursier, would be a natural logical step. I believe coursier tries hard to be c

[2016-08-17 16:32] SethTisue commented on #176
@stuhood is this something someone at Twitter could address? serving up artifacts with the wrong MIME type seems like something that could affect a variety of downstream tools, not just the Scala community build in particular

[2016-08-17 21:23] SethTisue opened #255 "Shapeless is failing to extract (starting in July 2016) — withLogRecompileOnMacro related"
last good runs were Jul 9, first bad runs Jul 16. both JDK 6 and 8 affected.

JDK 6:
- last success (Jul 9): https://scala-ci.typesafe.com/job/scala-2.11.x-integrate-community-build/275/
- first failure (Jul 16): https://scala-ci.typesafe.com/job/scala-2.11.x-integrate-community-build/276/

[code]

[2016-08-17 21:31] SethTisue commented on #255
looks like the culprit is milessabin/shapeless@78aa3542810ed3b62a51463dc68192b83c2e90d3 and simply bumping our own sbt version to 0.13.12 as well should fix it

[2016-08-17 21:43] SethTisue commented on #255
test run with sbt version bump: https://scala-ci.typesafe.com/job/scala-2.11.x-integrate-community-build/281/consoleFull

[2016-08-17 22:19] SethTisue commented on #255
extraction succeeded, but let's wait for the whole run, to make sure nothing regressed elsewhere

[2016-08-18 05:11] SethTisue commented on #255
all good, only failure was because some project's JavaScript dependency moved to a different URL

[2016-08-18 16:28] #255 closed, assigned to SethTisue

[2016-08-18 16:35] SethTisue opened #257 "browse is failing (JavaScript dependency moved)"
so e.g. https://scala-ci.typesafe.com/job/scala-2.11.x-integrate-community-build/281/consoleFull has:

[code]

let's see what `curl` says:

[code]

[2016-08-18 16:46] SethTisue commented on #257
sigh, no such package exists at that URL, and the package archive at http://qtip2.com/v/ only goes back to version 2.1.1

well, presumably for our purposes here 2.1.1 will be fine

[2016-08-18 16:52] SethTisue commented on #257
test run of fix: https://scala-ci.typesafe.com/job/scala-2.11.x-integrate-community-build/282/consoleFull (404 til Jenkins catches up)

[2016-08-18 17:15] #257 closed, assigned to SethTisue

[2016-08-18 17:33] SethTisue opened #259 "Mima won't extract on 2.11.x-jdk8 branch, thanks to sbt Build.scala deprecation"
after the bump to sbt 0.13.12 in #256, e.g. https://scala-ci.typesafe.com/job/scala-2.11.x-jdk8-integrate-community-build/201/consoleFull shows:

[code]

[2016-08-18 18:55] SethTisue commented on #259
switching from Build.scala to build.sbt style is blocked by https://github.com/sbt/sbt/issues/2532

[2016-08-18 19:02] dwijnand commented on #259
Why is that fatal?

[2016-08-18 19:11] SethTisue commented on #259
it's possible some other way of discovering and running the tests in MiMa's `reporter/functional-tests/src/test` directory could be found. but rather than spend time on it, I'd rather just disable `-Xfatal-warnings` in `project/plugins.sbt` and wait for sbt 1.0

[2016-08-18 19:11] SethTisue commented on #259
(especially since this is in the context of Scala community build work, rather in the context of MiMa itself having some burning need to be on a newer sbt version)

[2016-08-18 19:17] dwijnand commented on #259
Apologies for shipping a release of sbt with a deprecation without a (full) substitute. My mistake.

[2016-08-18 19:27] SethTisue commented on #259
no worries

[2016-08-18 19:28] SethTisue commented on #259
new test run now that https://github.com/typesafehub/migration-manager/pull/122 is merged: https://scala-ci.typesafe.com/job/scala-2.11.x-jdk8-integrate-community-build/202/consoleFull

[2016-08-18 19:39] SethTisue commented on #259
fixed (no change was necessary in this repo, since we're tracking master)

[2016-08-18 19:39] #259 closed, assigned to SethTisue

[2016-08-18 20:39] SethTisue commented on #224
related: #162

[2016-08-18 20:40] SethTisue commented on #158
now that RC1 is imminent it's probably time to put some concerted effort into this

[2016-08-18 21:08] SethTisue commented on #246
https://github.com/scala/make-release-notes/blob/2.12.x/projects-2.12.md lists two scalaz-stream releases, 0.8.3 and 0.8.3a. I couldn't find anywhere the difference is documented, but from `git diff origin/series/0.8 origin/series/0.8a` in the scalaz-stream repo I guess the primary difference is the scalaz version:

[code]

note that we only have scalaz-stream in the 2.12 community build, not in e

[2016-08-18 21:15] SethTisue commented on #246
we disabled running of tests a while back; re-enabling is worth a try, much time having passed

[2016-08-18 21:18] SethTisue commented on #246
test run https://scala-ci.typesafe.com/view/scala-2.12.x/job/scala-2.12.x-integrate-community-build/487/consoleFull

[2016-08-18 21:36] SethTisue commented on #152
fixed by @adriaanm in #243

[2016-08-18 21:36] #152 closed, assigned to nobody

[2016-08-19 05:31] SethTisue commented on #246
test run https://scala-ci.typesafe.com/view/scala-2.12.x/job/scala-2.12.x-integrate-community-build/489/consoleFull (the last one failed in scalaz probably because of Adriaan's changes, so scalaz-stream didn't even get to try to build)

[2016-08-19 15:55] SethTisue commented on #246
result: many compile errors, the first one being:

[code]

[2016-08-23 23:23] SethTisue commented on #146
definitely only worth tackling on JDK 8. the JDK 6 community build is pretty close to frozen these days; too many libs are dropping JDK 6 support, and the existing set is good enough to achieve our main goal of guarding against regressions in Scala 2.11.x

[2016-08-23 23:25] SethTisue commented on #251
5304 was replaced by scala/scala#5322 which has now been merged

[2016-08-23 23:27] SethTisue commented on #251
common.conf currently has `-Dakka.genjavadoc.enabled=false`

[2016-08-24 00:02] SethTisue commented on #166
this is high priority for Scala 2.12.0. details on the Akka team's own efforts on this at https://github.com/akka/akka/issues/20306

[2016-08-26 22:14] SethTisue opened #261 "regression: scala-js failing (org.scalajs.testsuite.javalib.util.DateTest)"
at e.g. https://scala-ci.typesafe.com/job/scala-2.11.x-integrate-community-build/287/console we see:

[code]

same error on the 2.11/JDK8 build: https://scala-ci.typesafe.com/job/scala-2.11.x-jdk8-integrate-community-build/207/console

https://github.com/scala-js/scala-js/pull/2567 seems like a possible culprit

[2016-08-27 03:19] sjrd commented on #261
I think this one is our fault, sorry. It seems we made a timezone-dependent test...

[2016-08-27 15:18] SethTisue commented on #261
green again: https://scala-ci.typesafe.com/job/scala-2.11.x-integrate-community-build/288/console

[2016-08-27 15:18] #261 closed, assigned to SethTisue

[2016-08-30 21:53] SethTisue opened #263 "add Scalactic"
at https://github.com/akka/akka/issues/20306 @szeiger wrote:

but we really ought to support Scalactic. it's part of the Scalatest repo/build

[2016-08-30 22:14] SethTisue commented on #251
fixed by @szeiger in f313974c5e492e5c0ec8681ca1e57769fd6dcaba

[2016-08-30 22:14] #251 closed, assigned to SethTisue

[2016-08-30 22:18] SethTisue commented on #166
fixed by @szeiger in #262

[2016-08-30 22:18] #166 closed, assigned to SethTisue

[2016-08-30 23:09] SethTisue opened #264 "add new sbt+zinc, remove old sbt+zinc"
typesafehub/zinc is obsolete and we don't need to be building it anymore

and we _should_ be building sbt/zinc, where the action is these days

[2016-08-31 11:17] szeiger commented on #263
I already added this to the master ticket https://github.com/scala/scala-dev/issues/203

[2016-08-31 22:52] SethTisue commented on #263
fixed in #267

[2016-08-31 22:52] #263 closed, assigned to SethTisue

[2016-08-31 23:33] SethTisue opened #269 "ScalaTest + Scalactic 3.0 upgrade"
already mentioned on https://github.com/scala/scala-dev/issues/203

[2016-09-01 00:29] SethTisue commented on #269
yuck, the 3.0.x branch won't even extract; dbuild finds a cycle in its subproject graph

hypothesis: could be because dbuild isn't taking `% "test"` into account. (ScalaTest depends on Scalactic; and Scalactic itself has tests that use ScalaTest; but it isn't a cycle as long as the non-test projects are built before the test ones.) I don't have any hard evidence for this, it's just a hunch. the cy

[2016-09-01 00:52] SethTisue commented on #269
taking the `aggregate` calls out makes extraction succeed:

[code]

but https://scala-ci.typesafe.com/job/scala-2.12.x-integrate-community-build/516/console shows:

[code]

looks fixable, but I think I should set this aside until after 2.12.0-RC1 is out the door

oh wait, it's fixed in Adriaan's fork, adriaanm/scalatest@3668daf1144a7e078585c1e1d9145b55e5200092

[2016-09-01 01:11] SethTisue commented on #269
ok that worked, just for ScalaTest & Scalactic, so here's a full run, surely the upgrade will break things... https://scala-ci.typesafe.com/job/scala-2.12.x-integrate-community-build/518/consoleFull

[2016-09-01 03:59] SethTisue commented on #269
oh and hey, pleasant surprise, this came really close to passing, just one failure in scalamock:

[code]

[2016-09-01 19:24] SethTisue commented on #269
fixed by #271

[2016-09-01 19:24] #269 closed, assigned to SethTisue

[2016-09-01 20:36] SethTisue opened #272 "re-add Play to 2.12.x community build for 2.12.0-RC1"
references:
- https://github.com/playframework/playframework/pull/6432
- https://github.com/adriaanm/twirl/commit/01e1b2de1303711f4a2cd6d5cf998aa9728b0190

[2016-09-01 22:55] SethTisue commented on #272
twirl changes submitted upstream: https://github.com/playframework/twirl/pull/118/files

[2016-09-02 00:40] SethTisue commented on #272
excluding Play-Streams subproject until akka-stream is added

[2016-09-02 01:07] SethTisue commented on #272
play-twirl re-added: https://github.com/scala/community-builds/pull/273; twirl changes submitted upstream: https://github.com/playframework/twirl/pull/118

[2016-09-02 21:50] SethTisue opened #274 "2.12 build: retrieve pre-built Scala instead of building it ourselves"
build's "scala" build system is ant-based and isn't really worth updating to use sbt, because there's no need anymore to "address the case in which a cycle exists between the core (library/compiler) and the modules" within dbuild — we can just let `scripts/jobs/validate/publish-core` do it for us and consume the artifacts it produces

once this is done, https://github.com/scala/scala/pull/5311 can

[2016-09-02 22:27] SethTisue commented on #274
Adriaan's WIP commits on this:
- https://github.com/adriaanm/community-builds/commit/bc9909aca200478e4b354271aebbee80bbafba73 ("resolve scala locker using aether")
  - a much older version: https://github.com/adriaanm/community-builds/commit/2b1ce1b9835b6451520cc343d567d164e25dd04a
- https://github.com/adriaanm/community-builds/commit/de77bb8f24dc70d0c24f723ea365cb934c2f5a73 ("sample jenkins.prope

[2016-09-02 23:09] SethTisue commented on #274
in Adriaan's WIP the publish-core-built Scala was used everywhere as the extraction version, but I think it's better to use STARR so dbuild doesn't think it needs to re-extract every project every time

[2016-09-02 23:09] SethTisue commented on #274
if we don't have jenkins.properties we need to get the Scala version from somewhere. I suggest we use `scala_ref`, but instead of a Git ref it will be e.g. `2.12.0-abcd123-SNAPSHOT`

[2016-09-02 23:24] SethTisue commented on #274
in Adriaan's WIP we are still using the "assemble" build system to pull JARs (for scala-library, scala-compiler, scala-reflect) even though we aren't using it to build anything. perhaps that's not actually necessary? I'm not sure. leaving it that way for now anyway

[2016-09-03 00:29] SethTisue commented on #274
my WIP branch: https://github.com/SethTisue/community-builds/commits/anticide . test run https://scala-ci.typesafe.com/view/scala-2.12.x/job/scala-2.12.x-integrate-community-build/539/consoleFull failed with a bunch of these errors: `sbt.ResolveException: unresolved dependency: org.scala-lang#scala-reflect;2.12.0-dbuildxeed9f5dad952ad70ecb8e07ca56059866ae0bd3c: not found`

here's the Scala JARs be

[2016-09-03 01:12] SethTisue commented on #274
oh, it's not normal that compiler, library, and reflect all have different dbuild-rewritten Scala version numbers. if you look at any recent green community build run you see e.g.

[code]

where it's `dbuildx0148c1c54...` every time. (and for further confirmation dbuild's CHANGELOG file says "all Scala artifacts will get the same dbuild-specific default version number as scala-library")

[2016-09-03 01:25] SethTisue commented on #274
hmm, maybe getting rid of the whole "system: assemble" thing would fix it. we don't need dbuild to rewrite Scala version numbers at all, do we? just leave the Scala version as e.g. `2.12.0-170373f-SNAPSHOT`?

[2016-09-03 01:28] SethTisue commented on #274
http://typesafehub.github.io/dbuild/0.9.5/dbuild.html#assemble-specific-options recommends (in bright yellow!) not using "assemble" at all: "It is therefore advisable to adopt a regular (non-cyclic) build as soon as that is feasible". so yeah, I'll try just getting rid of it

[2016-09-03 02:40] SethTisue commented on #274
looking at the RP build, it looks like another approach could be to use `set-version` to force the aether-retrieved JARs to have a shared version number

[2016-09-03 02:53] SethTisue commented on #274
getting somewhere with `set-version`. next error (from [log](https://scala-ci.typesafe.com/view/scala-2.12.x/job/scala-2.12.x-integrate-community-build/540/console)) is

[code]

taking a cue from the RP build again, it looks like we need `deps.inject: [ "org.scala-lang.modules#scala-xml"]`

[2016-09-03 03:49] SethTisue commented on #274
holy circularity Batman!

[code]

[2016-09-03 16:58] SethTisue commented on #274
Adriaan took a stab at it in https://github.com/scala/community-builds/compare/2.12.x...adriaanm:scala-resolve — looks like the key difference is to get scala-xml (and other modules? maybe only scala-xml is necessary?) via Aether. [test run](https://scala-ci.typesafe.com/view/scala-2.12.x/job/scala-2.12.x-integrate-community-build/543/console)

@adriaanm: "We'll need to run it against a build that

[2016-09-03 21:23] adriaanm commented on #274
Running that build here: https://scala-ci.typesafe.com/view/scala-2.12.x/job/scala-2.12.x-integrate-community-build/544/console

[2016-09-04 17:21] schmitch commented on #272
Actually Play (even core is dependent from akka-stream). Also play, needs play-doc to work against  RC1 first (but that shouldn't be a problem I guess, 2.12.0-M5 worked).

[2016-09-04 18:34] dwijnand commented on #248
A number of the corner cases have been dealt with in recent versions of coursier.

[2016-09-04 23:06] adriaanm commented on #274
I confused myself a bit, but that approach works. scala-js just needed a patch or two (see https://github.com/scala-js/scala-js/issues/2580)

I'm hopeful this one will be green: https://scala-ci.typesafe.com/view/scala-2.12.x/job/scala-2.12.x-integrate-community-build/553

[2016-09-06 17:24] adriaanm commented on #274
@SethTisue could you clean up my scala-resolve branch and make the necessary changes in the Jenkins jobs to run this downstream from release-main? @szeiger is working on the bootstrap script / sbt support to pass down version numbers

[2016-09-06 17:26] adriaanm commented on #274
We should also be able to trigger the community build job to consume the artifacts produced by publish-core (it will have to publish sources for scala-js to succeed, but otherwise good to go) when we don't need to bootstrap.

[2016-09-07 00:05] SethTisue commented on #274
Adriaan's changes for cleaning-up are at https://github.com/scala/community-builds/pull/275; his green test run was https://scala-ci.typesafe.com/job/scala-2.12.x-integrate-community-build/556/

[2016-09-07 15:31] adriaanm commented on #274
As I said on Slack, I'd like you to adopt & polish #275 along with the needed changes to the jenkins jobs (variable renames, incorporate into release-main flow). Please coordinate with Stefan for the sbt changes to propagate version from the release/nightly/publish-core jobs to the community build job.

[2016-09-11 21:22] dwijnand commented on #264
I'm going to be working on several aspects from the modules splitting of sbt, so I can do this.

[2016-09-11 21:53] SethTisue opened #279 "add scalike-jdbc to community build"
this would have caught https://issues.scala-lang.org/browse/SI-9918

[2016-09-11 21:58] dwijnand commented on #228
From searching and reading dbuild looks to me like support is still there (unless it's been removed in some parts but not others).

So I'm trialing if it works in #278.

It might need SMTP or encryption or other defaults set, but we'll see how it goes.

[2016-09-11 22:20] SethTisue opened #280 "make sure we are compiling tests"
even when we don't run them

in the run-up to 2.12 it happened at least twice that we missed out finding out about regressions because of this:
- scala-refactoring: https://github.com/scala/scala/pull/5388#issuecomment-246170392 (@Sciss)
- shapeless: https://github.com/scala/scala/pull/5394 (@milessabin)

[2016-09-12 21:02] SethTisue opened #282 "add kxbmap/configs to community build"
https://github.com/kxbmap/configs

this would have caught [SI-9920](https://issues.scala-lang.org/browse/SI-9920)

cc @kxbmap

[2016-09-14 01:23] seratch commented on #279
Good to hear. If there is anything I can help, please let me know.

[2016-09-14 19:25] schmitch commented on #272
I updated https://github.com/playframework/playframework/pull/6432 to try to build against Scala 2.12.0-RC1 however these are the things I run into when running the tests:

[code]

Looks like: https://github.com/scala/scala/pull/5395

---

Then I've run into:

[code]

Which happens cause the Implicits.global is no more a ExecutionContextProvider and gets down casted to ExecutionContext.
https://is

[2016-09-14 19:31] SethTisue commented on #272
because Play is so important in the Scala ecosystem, I would hope you would not wait, if it all possible, since waiting delays discovery of further problems, perhaps necessitating RC3, which we should try very hard to avoid

every commit of every PR against scala/scala, even before it is merged, results in a Scala version being published that you can test against, as described in https://github.co

[2016-09-15 20:02] SethTisue opened #284 "regression: scala-js tests fail (missing sources) when building PR-validated Scala (as opposed to nightly Scala)"
so with `scala-abcd123-nightly` it succeeds but with `scala-abcd123-SNAPSHOT` it fails. the former is fine for testing against already-merged PRs, but we commonly need the latter to test PRs that haven't been merged yet

[code]

[2016-09-15 20:04] SethTisue commented on #284
@adriaanm I know you hit this, any fix ideas, off the top of your head? (I haven't really thought about it yet, fighting fires elsewhere.).  FYI @sjrd

[2016-09-15 20:14] sjrd commented on #284
Scala.js needs the `src` artifacts of `scala-library`, so basically `scala-library-2.11.8-src.jar` or something like that. To get those we use `updateClassifiers`, which apparently also needs the `doc` artifacts not to crash.

I guess the PR validator doesn't publish the `src` and `doc` artifacts, for some reason?

[2016-09-15 20:35] dwijnand commented on #284
[code]

to disable downloading docs. (I have it globally as `~/.sbt/0.13/nojavadocs.sbt`)

[2016-09-15 23:05] SethTisue opened #285 "regression: `browse` failing because of missing JS dependencies on Google Code"
[code]

[2016-09-15 23:06] SethTisue commented on #285
fixed in https://github.com/SethTisue/browse/commit/cb66c7aaad618dc072d75f5899d9fdf3e8fde8d8 which is on a branch the community build already points to. test run: https://scala-ci.typesafe.com/job/scala-2.11.x-integrate-community-build/301/consoleFull

[2016-09-15 23:10] SethTisue commented on #285
yup, fixed

[2016-09-15 23:10] #285 closed, assigned to SethTisue

[2016-09-19 20:34] dwijnand commented on #264
sbt/zinc depends on a number of dependencies including more sbt modules.

We intend to setup a dbuild for sbt modules (and later plugins) for the purpose ensuring that the latest sbt continues to work (as opposed to the community build which is ensuring the libraries continue to work with changes to Scala).

Once we have that we can start more aggressively making changes across modules in preparat

[2016-09-20 22:44] SethTisue commented on #282
it depends on scalaprops/scalaprops, so we'll need that as well /cc @xuwei-k

[2016-09-21 00:05] SethTisue commented on #282
scalaprops wants scalaz 7.2 (it uses `FreeT`). the community build is on 7.1

[2016-09-21 00:17] SethTisue commented on #282
scalaprops has a `0.1.x` branch that's on 7.1, but we'll have to see whether configs is source-compatible with it

[2016-09-21 00:28] SethTisue commented on #279
https://scala-ci.typesafe.com/view/scala-2.12.x/job/scala-2.12.x-integrate-community-build/598/console has

[code]

as expected, this is SI-9918

[2016-09-21 00:33] seratch commented on #279
@SethTisue We've not published for RC1 because we couldn't compile due to SI-9918.

[2016-09-21 00:37] SethTisue commented on #282
https://scala-ci.typesafe.com/view/scala-2.12.x/job/scala-2.12.x-integrate-community-build/598/console : scalaprops passed, but configs gives

[code]

EDIT: as expected; that's SI-9920

[2016-09-21 00:38] SethTisue commented on #279
let's try again with scala/scala@be43eb5: https://scala-ci.typesafe.com/view/scala-2.12.x/job/scala-2.12.x-integrate-community-build/599/consoleFull

[2016-09-21 00:44] xuwei-k commented on #279
FYI compile and test successful with Scala [`2.12.0-RC1-be43eb5`](http://repo1.maven.org/maven2/org/scala-lang/scala-library/2.12.0-RC1-be43eb5/)
https://github.com/xuwei-k/scalikejdbc/commit/8a48c8fc732d4518635211572ac8f4cae1de72bf

[2016-09-21 00:54] SethTisue commented on #279
dammit, there is no scala-be43eb5-nightly, because string of failures at https://scala-ci.typesafe.com/view/scala-2.12.x/job/scala-2.12.x-integrate-bootstrap/, because https://github.com/scala/scala-jenkins-infra/issues/181 . I'll have to come back to this

[2016-09-21 00:56] SethTisue commented on #282
I'll return to this after https://github.com/scala/scala/pull/5397 gets merged

[2016-09-21 01:28] SethTisue commented on #279
oh, but hey wait, there is a `2.12.0-RC1-be43eb5` because Jason wanted to use it as STARR. so, https://scala-ci.typesafe.com/view/scala-2.12.x/job/scala-2.12.x-integrate-community-build/600/consoleFull

[2016-09-21 05:36] SethTisue commented on #282
@seratch any idea what this is about?

[code]

from https://scala-ci.typesafe.com/job/scala-2.12.x-integrate-community-build/600/consoleFull

[2016-09-21 05:36] SethTisue commented on #279
@seratch @xuwei-k any idea what this is about?

[code]

from https://scala-ci.typesafe.com/job/scala-2.12.x-integrate-community-build/600/consoleFull

[2016-09-21 20:03] SethTisue commented on #264
we also discussed this at https://github.com/scala/community-builds/pull/290. summary: tracking sbt 1.0 master is too fragile for now, because of module interdependencies, but we could build from a tag, and then try to remember to push that tag forward from time to time

in particular, it sounds like we can go ahead and add sbt/sbt.git#v1.0.0-M4, along with its modules including sbt/zinc — the tag

[2016-09-22 01:45] SethTisue opened #292 "add ssl-config to community build (needed by akka-http)"
needed by akka-http, which I'm trying to build by adding `"akka-http-core", "akka-http-tests"` to extra.projects in the "akka" entry in common.conf

[2016-09-22 01:48] SethTisue commented on #292
first hurdle: extraction was failing with

[code]

the error message and stack trace aren't helpful, since they're caused by no extraction output file having been written at all. how to troubleshoot?

git bisected it and found the first non-working commit in the ssl-config repo, namely https://github.com/typesafehub/ssl-config/pull/2/commits/e779642d020d6dfc53d8a16dea13b61b5476e955 . but @ktoso sa

[2016-09-22 01:50] SethTisue commented on #292
next hurdle: there is a circular dependency between akka-actor and ssl-config-akka. dbuild detects this and complains:

[code]

[2016-09-22 02:15] SethTisue commented on #292
fyi @schmitch. while you're working on 2.12 in the Play build directly, I'm working on this, but it's slooooooow going

[2016-09-22 05:20] seratch commented on #279
@SethTisue The test is a kind of naive micro benchmark code just to verify the benefits of simple cache built with TrieMap. The tests rarely fail on my local mache or Travis CI builds. But I found the test looks too naive. I just omitted the assertions in the test suite. Would you please try the latest again?

[2016-09-22 09:56] jrudolph commented on #292
Regarding the circular dependency: that's something that @ktoso and I were also discussing some time ago. It would probably make sense to clean this up to move `ssl-config-akka` into akka proper. We are having the same kinds of problems when releasing akka / ssl-config.

[2016-09-22 21:38] SethTisue commented on #292
I'll try to work around it in dbuild by putting akka-http in a separate section

[2016-09-22 21:44] SethTisue commented on #279
new test run: https://scala-ci.typesafe.com/view/scala-2.12.x/job/scala-2.12.x-integrate-community-build/607/consoleFull (404 temporarily while Jenkins catches up)

[2016-09-22 22:50] SethTisue commented on #279
oops, needs specs2 v3. try again: https://scala-ci.typesafe.com/view/scala-2.12.x/job/scala-2.12.x-integrate-community-build/609/consoleFull

[2016-09-22 23:03] ktoso commented on #292
Let me know if this blocks you in any way @SethTisue and we'll fix it ASAP.

[2016-09-22 23:09] SethTisue commented on #146
depends on https://github.com/scala/community-builds/issues/292

[2016-09-22 23:11] SethTisue commented on #146
wip in SethTisue/community-builds#akka-http:

[code]

[2016-09-22 23:52] SethTisue commented on #279
@seratch how about this one?

[code]

[2016-09-23 00:14] SethTisue commented on #279
fixed by #293, but running tests is disabled, unless/until we can sort out the DBSessionSpec/timeZone thing

[2016-09-23 00:14] #279 closed, assigned to SethTisue

[2016-09-23 00:18] SethTisue commented on #292
I thiiiiiink it's sorted, but I won't know for sure until I finish #146

[2016-09-23 00:22] SethTisue commented on #146
ah, this is a real incompatibility with Scala 2.12, because https://github.com/scala/scala/pull/5226

[2016-09-23 00:30] SethTisue commented on #146
this is an actual incompatibility with Scala 2.12, because Range.Inclusive is final since https://github.com/scala/scala/pull/5226

@ktoso can you guys work around this? in general, subclassing collections is iffy

[2016-09-23 01:03] SethTisue commented on #146
test run with forked akka with the subclassing simply [removed](https://github.com/SethTisue/akka/commit/383c1a2bcfdc663e0f4637201d796f32863a5d09)
- ~~https://scala-ci.typesafe.com/view/scala-2.12.x/job/scala-2.12.x-integrate-community-build/613/consoleFull~~
- ~~https://scala-ci.typesafe.com/view/scala-2.12.x/job/scala-2.12.x-integrate-community-build/614/consoleFull~~
- ~~https://scala-ci.typesa

[2016-09-23 02:21] seratch commented on #279
@SethTisue Thanks! After fixing the test failure issue, I'll make a pull request to enable tests for th project.

[2016-09-23 03:06] SethTisue opened #294 "regression: fastparse failing because it uses coursier now"
a recent commit has:

[code]

resulting in at e.g. https://scala-ci.typesafe.com/job/scala-2.12.x-integrate-community-build/617/console

[code]

[2016-09-23 03:10] SethTisue commented on #294
fyi @lihaoyi. not sure if I can disable an sbt plugin in dbuild without forking the project (or just freezing at an earlier commit). I'll look into it. or maybe the plugin has a setting that can be used to switch it off without actually removing it from the build.

[2016-09-23 05:27] som-snytt commented on #146
Also, Range got a compact toString at https://github.com/scala/scala/commit/214ea82573624bffb4d0f16f3e5c49f9370ba7a7

[2016-09-23 18:40] SethTisue commented on #146
in the above test runs I was trying an approach of building Akka in two separate phases, first with most of the modules, then again with akka-http + akka-stream. the first phase produced an akka-actors jar for ssl-config to depend on. that part worked, but akka-http-core failed to build, with dbuild/sbt saying it couldn't find the akka-testkit and/or akka-stream-testkit modules. I guess it has to

[2016-09-23 20:16] SethTisue commented on #146
latest attempt fails with a Scaladoc generation issue; reported upstream at https://github.com/akka/akka/issues/21543

[2016-09-23 21:58] SethTisue commented on #294
I don't see anything in the dbuild doc for this.

@cvogt does there happen to be some setting in the plugin that will disable it?

for now, I'll just fork: https://github.com/scala/community-builds/pull/296

[2016-09-23 22:05] SethTisue opened #297 "re-add breeze to 2.12 build"
it's in the 2.11.x-jdk8 build but not the 2.12 one. not sure how that happened, probably a mistake during merging

[2016-09-23 22:06] dwijnand commented on #294
There doesn't appear to be anything: https://github.com/alexarchambault/coursier/blob/v1.0.0-M14/plugin/src/main/scala-2.10/coursier/CoursierPlugin.scala#L78-L87

Also, you want to be pinging @alexarchambault, perhaps he'll consider adding one.

[2016-09-23 22:56] SethTisue commented on #292
done in https://github.com/scala/community-builds/pull/298

[2016-09-23 22:56] #292 closed, assigned to SethTisue

[2016-09-23 22:59] SethTisue commented on #146
done in https://github.com/scala/community-builds/pull/298 , but I had to fork akka to get the needed Range.Inclusive change in. reported upstream at https://github.com/akka/akka/issues/21548

[2016-09-23 22:59] #146 closed, assigned to SethTisue

[2016-09-23 23:01] SethTisue commented on #272
Play-Streams can presumably be re-added now that https://github.com/scala/community-builds/issues/146 is resolved

[2016-09-23 23:14] SethTisue commented on #150
we had ENSIME frozen at an old commit because it started depending on akka-http/akka-stream, which we didn't have

the akka thing finally got sorted out just now (in the 2.12 build only) by #298

so, we could try again with a current commit. fyi @fommil

[2016-09-24 00:29] fommil commented on #150
I can do spray-json-shapeless easily when i return from holiday. But ensime 2.12 is pretty big because of the dependency chain and java/scala matrix for akka. We're working on it.

[2016-09-24 00:31] fommil commented on #150
Oh btw we removed akka-http. See https://github.com/ensime/ensime-server/issues/1414 for our ticket.

[2016-09-24 00:32] fommil commented on #150
Probably sjs is picking up lots of sbt plugin/test deps.

[2016-09-24 00:34] SethTisue commented on #150
generally sbt plugins are not a problem in a community build context, since we don't build plugins, we just resolve them like normal (since they're Scala 2.10 based)

[2016-09-24 03:47] SethTisue commented on #264
@dwijnand what do you make of these errors:

[code]

at https://scala-ci.typesafe.com/job/scala-2.12.x-integrate-community-build/629/consoleFull ?

the changes I was testing are https://github.com/SethTisue/community-builds/commit/93f4fe2f1f678c9515cef209246b8f65c842af3d

it seems like dbuild must be using an old sbt somehow, but I've checked carefully that we're specifying 0.13.12 everywhere, and

[2016-09-24 06:53] dwijnand commented on #264
It's the very confusing https://github.com/sbt/sbt/issues/1696 which I'm sure you've found.

Haven't looked into why or how it's happening.

[2016-09-24 14:05] SethTisue commented on #264
yeah I couldn't tell if it was a real issue or just people confused about what version they're running

[2016-09-24 15:28] #272 closed, assigned to SethTisue

[2016-09-24 15:57] SethTisue commented on #155
still forked after #299 but at least it's newer. @schmitch is working on it

[2016-09-24 16:02] SethTisue commented on #249
this is being handled at https://github.com/twitter/util/issues/174 — we should be able to unfork very soon

[2016-09-24 16:03] SethTisue commented on #250
this got fixed in https://github.com/scala/community-builds/pull/271

[2016-09-24 16:03] #250 closed, assigned to SethTisue

[2016-09-24 16:06] SethTisue commented on #253
@milessabin in the 2.12 community build for Shapeless we have:

[code]

there might be other issues besides the Either.left/right deprecation, not sure. I'm not planning to tackle this myself, not sure if you're interested. (not worrying about warnings in a community build context might be acceptable)

[2016-09-24 19:57] SethTisue opened #300 "2.12 build: replace harrah/browse with sbt/sxr"
the latter receives light maintenance, the former is abandoned

(I discovered the latter only after putting together the changes in https://github.com/harrah/browse/pull/27)

[2016-09-24 20:01] SethTisue commented on #159
the `browse` one will be eliminated by my draft changes addressing https://github.com/scala/community-builds/issues/300

[2016-09-24 20:02] SethTisue commented on #159
and the `scalatest` one got fixed in the 2.12 build when we moved to ScalaTest 3.0.

[2016-09-24 20:02] #159 closed, assigned to nobody

[2016-09-24 20:08] SethTisue opened #302 "2.12 build: make sure macro paradise is up to date"
unforked if possible, with changes contributed upstream

Adriaan has some notes on this at https://github.com/scala/scala-dev/issues/203

[2016-09-24 22:24] SethTisue commented on #297
this might not be worth tackling unless we can upgrade spire at the same time. which requires adding machinist. which we should have anyway.

[2016-09-24 22:30] SethTisue commented on #15
we're more or less leaving the 2.11 builds alone these days (especially the JDK6 one). there is a new umbrella 2.12 ticket at https://github.com/scala/community-builds/issues/158

[2016-09-24 22:30] #15 closed

[2016-09-24 22:32] SethTisue commented on #133
wontfix

[2016-09-24 22:32] #133 closed, assigned to nobody

[2016-09-24 22:33] SethTisue commented on #149
this got fixed at some point with

[code]

[2016-09-24 22:33] #149 closed, assigned to nobody

[2016-09-25 04:39] SethTisue commented on #297
fixed by #303. fyi @dlwh

[2016-09-25 04:39] #297 closed, assigned to SethTisue

[2016-09-25 04:40] SethTisue commented on #279
no need, I took care of it in https://github.com/scala/community-builds/pull/303

[2016-09-26 07:26] milessabin commented on #253
I've disabled `-Xfatal-warnings` temporarily in master. I'm fine with it being disabled in the community build for the time being.

[2016-09-26 10:38] schmitch commented on #155
Guess if we merge that: https://github.com/playframework/playframework/pull/6593 it will work, however since sbt-rc isn't published i'm not sure if that will work?

Edit: if it's possible to override sbt-rc or if you disable the project it might already work. Or we might also add https://github.com/sbt/sbt-remote-control (client and actor-client)

[2016-09-26 15:00] #253 closed, assigned to nobody

[2016-09-26 18:56] SethTisue commented on #253
re: the Either.left/right deprecation, you might like to comment at https://github.com/scala/scala/pull/5135#issuecomment-249655722

[2016-09-26 18:59] SethTisue commented on #154
superseded by #274

[2016-09-26 18:59] #154 closed, assigned to nobody

[2016-09-26 19:13] SethTisue commented on #142
superseded by #274

[2016-09-26 19:31] SethTisue commented on #155
let's try it: https://scala-ci.typesafe.com/view/scala-2.12.x/job/scala-2.12.x-integrate-community-build/665/consoleFull (404 at the moment, til the Jenkins queue clears)

[2016-09-26 20:10] SethTisue commented on #155
looks like sbt-remote-control needs some updating for 2.12:

[code]

not sure what you mean by "if it's possible to override sbt-rc" (dbuild builds everything itself from source) or "or if you disable the project" (in the Play build? if you push a commit showing what you mean, I can trigger a build on it)

[2016-09-26 20:17] schmitch commented on #155
actually the problem with sbt-rc is that it doesn't use `%%` it uses the following version scheme: `"com.typesafe.sbtrc" % "client-2-12" % sbtRcVersion` however for running the `Play-Integration-Test` you won't need `sbt-remote-control` at all, thats why your branch worked with the 2.11 version.

Also there are only 4 projects that make use of it: `ForkRunProtocolProject`, `SbtForkRunProtocolProje

[2016-09-26 20:47] SethTisue commented on #155
ah, well we have `run-tests: false` anyway (not that fixing that wouldn't be good!), so maybe simply unforking will now work. I'll try it

sbt-remote-control looks pretty neglected, so I'm comfortable with not including it unless we must

[2016-09-26 20:52] schmitch commented on #155
yeah we should probably create another ticket for the test fail. after https://github.com/scala/scala-dev/issues/229 they should work (hopefully)

[2016-09-26 21:06] SethTisue opened #304 "2.12 build: try running Play tests"
at #155 @schmitch said it's worth a try once https://github.com/scala/scala-dev/issues/229 is resolved

[2016-09-26 21:06] SethTisue commented on #155
sure, I opened https://github.com/scala/community-builds/issues/304 on it

[2016-09-26 21:19] SethTisue commented on #155
yay, https://scala-ci.typesafe.com/view/scala-2.12.x/job/scala-2.12.x-integrate-community-build/667/consoleFull is green

[2016-09-26 21:21] SethTisue commented on #155
fixed in #305 🎉

[2016-09-26 21:21] #155 closed, assigned to nobody

[2016-09-26 21:41] SethTisue commented on #246
specs2 is still using scalaz-stream, not fs2, so we must keep scalaz-stream, so a change having been merged to fs2 doesn't help us. (and having both scalaz-stream and fs2 may be desirable for other reasons, anyway, at least for the time being)

[2016-09-26 21:42] SethTisue opened #306 "add fs2"
this should have good cost/benefit ratio:
- nice clean modern build
- already published for 2.12.0-RC1
- no dependencies but ScalaCheck and ScalaTest
- lots of type fu in the code, to make scalac stammer and sweat

re fs2 vs scalaz-stream, see remarks at https://github.com/scala/community-builds/issues/246

[2016-09-26 21:44] SethTisue commented on #246
but if most future action is on fs2, it may not be worth worrying about unforking, running tests, etc, on this one. which is I why I've unassigned myself

[2016-09-26 21:45] SethTisue commented on #306
fyi @pchiusano @mpilquist. I'll take a stab at this

[2016-09-26 21:48] SethTisue commented on #306
[code]

I'll just omit the `docs` project since we don't have Tut yet (fyi @tpolecat, I don't think anybody has actually ever tried to add it?)

[2016-09-26 21:52] tpolecat commented on #306
The `tut-plugin` (which runs in sbt's 2.10 classloader) adds a dependency on `tut-core` (which is cross-built and runs in your program's classloader). It also adds a resolver so sbt can find `tut-core` on Bintray, which is where the plugin has to live. Someone else ran into this earlier today coincidentally. I guess I need to make `tut-core` find its way to Sonatype somehow? Where is `dbuild` look

[2016-09-26 22:31] SethTisue commented on #306
dbuild wants to build every Scala dependency itself, from source, not pull binary artifacts from Bintray or anywhere else. so we'd need to add `tut-core` to the community build

[2016-09-26 22:33] SethTisue commented on #306
note that sometimes adding a new project is trivial. example: https://github.com/scala/community-builds/pull/295/files — worked on the first try

[2016-09-26 22:50] SethTisue commented on #306
fixed by #307

[2016-09-26 22:50] #306 closed, assigned to SethTisue

[2016-09-26 22:52] mpilquist commented on #306
Awesome thanks Seth!

[2016-09-26 23:03] SethTisue commented on #176
the problem on the Twitter end still exists afaik (I didn't check again just now), but we don't care so much at our end now since #243, so I'm closing this

[2016-09-26 23:03] #176 closed, assigned to nobody

[2016-09-26 23:04] SethTisue commented on #176
fyi @mosesn @kevinoliver

[2016-09-27 00:10] SethTisue commented on #274
#309 means we'll still be using the "assemble" build system, to resolve the scala/scala-xml circularity.

ultimately we'd like to cut that circularity altogether (by having scala-xml implement an API), then we won't need "assemble" anymore. someday.

[2016-09-27 00:14] SethTisue commented on #274
the basic thing is done. the Jenkins/Chef part is now https://github.com/scala/scala-jenkins-infra/issues/189

[2016-09-27 00:16] #274 closed, assigned to SethTisue

[2016-09-27 04:53] mosesn commented on #176
@SethTisue thanks, we're aware of the problem but don't have an excellent solution yet.

[2016-09-27 16:19] SethTisue opened #310 "add scopt/scopt"
ConductR uses it. should be easy — it's already published for 2.12.0-RC1

fyi @eed3si9n @huntc

[2016-09-27 16:57] SethTisue commented on #310
done in #311

[2016-09-27 16:57] #310 closed, assigned to nobody

[2016-09-28 00:01] SethTisue opened #313 "add cats-core"
need to work around https://github.com/typelevel/cats/issues/1396 and pull in at least some of @BennyHill's https://github.com/typelevel/cats/pull/1382/files changes (definitely at least the https://github.com/typelevel/cats/issues/1377 one)

fyi @non

[2016-09-28 03:32] #313 closed, assigned to SethTisue

[2016-09-28 04:23] SethTisue commented on #302
fixed by #308

[2016-09-28 04:23] #302 closed, assigned to SethTisue

[2016-09-28 04:24] #252 closed, assigned to nobody

[2016-09-28 04:24] SethTisue commented on #246
specs2 dropped their scalaz-stream dependency (by in-sourcing it), so I think this is no longer relevant

[2016-09-28 04:24] #246 closed, assigned to nobody

[2016-09-28 04:25] SethTisue commented on #156
superseded by #264

[2016-09-28 04:25] #156 closed, assigned to nobody

[2016-09-28 04:26] SethTisue commented on #13
we should look at this again after 2.12.0 is done and we remove the Scalacheck sources from the scala/scala repo

[2016-09-28 04:28] SethTisue commented on #110
for the 2.11 builds, it's fine to leave spray as-is, I think.

in the 2.12 build, spray is actually commented out because of some JSON library problem — might be easy to fix, we should revisit it

[2016-09-28 04:29] SethTisue commented on #145
superseded by #150 for 2.12. (in the 2.11 build, wherever we left ENSIME is fine.)

[2016-09-28 04:29] #145 closed, assigned to nobody

[2016-09-28 04:30] SethTisue commented on #157
ScalaCheck, scalaz (7.1 and 7.2), and specs2 (2.x and 3.x) are all mixed up together, I think will have to be dealt with together

[2016-09-28 04:32] SethTisue commented on #249
unforked!

[2016-09-28 04:32] #249 closed, assigned to SethTisue

[2016-09-28 10:06] schmitch commented on #304
after: https://github.com/scala/scala/pull/5423
also we removed sbt-remote-client: https://github.com/playframework/playframework/commit/12dfb5041372845de9f77b5a215c9aa371953147

So it should be possible to run all sorts of tests, scripted, tests inside documentation and tests inside framework. But most important tests are probably Play-Integration-Tests and Play-WS since they failed on 2.12.0-RC1

[2016-09-28 18:25] SethTisue opened #316 "Spire running out of heap in 2.12 community build"
https://scala-ci.typesafe.com/job/scala-2.12.x-integrate-community-build/685/consoleFull has

[code]

[2016-09-28 18:27] SethTisue commented on #316
it might be random lossage because too many jobs at once rather than anything Spire specific?
<img width="216" alt="screen shot 2016-09-28 at 11 26 31 am" src="https://cloud.githubusercontent.com/assets/161079/18926921/78157d1e-856e-11e6-898a-b552052cf45a.png">

[2016-09-28 18:38] SethTisue commented on #316
provisionally closing on the assumption it's just https://github.com/scala/scala-jenkins-infra/issues/181 as usual :-\

[2016-09-28 18:38] #316 closed, assigned to SethTisue

[2016-09-28 19:46] SethTisue commented on #282
5397 is merged, but now we need to wait for a new 2.12.0 nightly

[2016-09-28 19:54] SethTisue commented on #304
yay, 5423 is merged. but we need to wait a bit now until https://scala-ci.typesafe.com/view/scala-2.12.0/job/scala-2.12.0-release-main/ produces a nightly that includes it

[2016-09-28 23:05] SethTisue commented on #304
sigh, blocked on https://github.com/sbt/sbt/issues/2758

[2016-09-29 18:00] SethTisue opened #321 "generate summary report"
it would be nice to have some code that (perhaps by parsing the log) generated a nice human-readable HTML page showing what projects are included what their dependencies are, whether the project is forked, how the old commit we're building is, what the latest build status is, whether we're running the test suite or not, etc etc etc

this could even be updated nightly and put on the web somewhere,

[2016-09-29 18:03] SethTisue opened #322 "make a GitHub org and keep all our (2.12) forks there"
at https://github.com/scala/community-builds/pull/320 @adriaanm writes:

acting as multiple GitHub users is too annoying IMO, but a new org would work

[2016-09-29 21:50] SethTisue commented on #304
we have 2.12.0-5757e04-nightly now. I'll trigger a Play run after https://scala-ci.typesafe.com/job/scala-2.12.x-integrate-community-build/694/consoleFull finishes

[2016-09-29 21:54] SethTisue commented on #282
we have 2.12.0-5757e04-nightly now. I'll trigger a run on this after https://scala-ci.typesafe.com/job/scala-2.12.x-integrate-community-build/694/consoleFull finishes

[2016-10-03 15:44] SethTisue commented on #282
test run (with an even newer nightly): https://scala-ci.typesafe.com/view/scala-2.12.x/job/scala-2.12.x-integrate-community-build/700/consoleFull (404 til Jenkins catches up)

[2016-10-03 15:44] SethTisue commented on #282
perhaps this will run afoul of https://issues.scala-lang.org/browse/SI-9946, which was just reported a few hours ago

[2016-10-03 16:00] SethTisue commented on #282
(The test run is on master. There is also a scala-2.12.0-RC1 branch, but the changes there are limited to Travis changes and library version changes, both irrelevant in the community build context.)

[2016-10-03 16:23] SethTisue commented on #282
not sure what to make of this, without digging into the sources:

[code]

@kxbmap any insight?

[2016-10-03 16:29] xuwei-k commented on #282
Maybe https://github.com/scalaz/scalaz/pull/1049
- https://github.com/scalaz/scalaz/blob/v7.2.6/core/src/main/scala/scalaz/MonadError.scala#L8
- https://github.com/scalaz/scalaz/blob/v7.1.10/core/src/main/scala/scalaz/MonadError.scala#L3

scalaz 7.2.x

[code]

scalaz 7.1.x

[code]

[2016-10-03 16:43] SethTisue commented on #282
ah. the community build is on scalaz 7.1.

well, I've been meaning to add a new, separate dbuild "space" for scalaz 7.2. that would allow us to move to a newer scalaprops as well. I'll do that (not sure how soon)

[2016-10-03 18:45] schmitch commented on #304
guess that should work now?

[2016-10-03 19:32] SethTisue commented on #304
let's find out

[code]

https://scala-ci.typesafe.com/view/scala-2.12.x/job/scala-2.12.x-integrate-community-build/702/consoleFull

[2016-10-03 20:03] schmitch commented on #304
well looks like the generated sources of `scala-java8-compat` aren't working in dbuild?

[2016-10-03 20:29] SethTisue commented on #304
[code]

[2016-10-03 20:35] SethTisue commented on #304
investigating...

[2016-10-03 20:36] schmitch commented on #304
no need to, I guess the branch from szeiger is just too old:

https://github.com/szeiger/scala-java8-compat.git#wip/scala-2.12.0-rc1-compat

just try to upgrade it to that: https://github.com/scala/scala-java8-compat

[2016-10-03 20:39] SethTisue commented on #304
oh, good catch, I'd forgotten that was forked.

[2016-10-03 20:43] SethTisue commented on #304
[code]

new run: https://scala-ci.typesafe.com/view/scala-2.12.x/job/scala-2.12.x-integrate-community-build/703/consoleFull (404 til Jenkins catches up)

[2016-10-03 23:08] SethTisue commented on #304
in Play-Java:

[code]

[2016-10-03 23:12] SethTisue commented on #304
trying again with

[code]

https://scala-ci.typesafe.com/job/scala-2.12.x-integrate-community-build/705/consoleFull

[2016-10-03 23:57] SethTisue commented on #304
that doesn't work:

[code]

@schmitch I'm going to stop fooling with this myself and leave it to you to suggest the next move

[2016-10-04 10:55] schmitch commented on #304
well excluding play-java is probably bad since the Integration Tests use it (and actually not included projects will be picked up from dbuild automatically as I've seen).

Actually I ran `Play-Java` against the nightly scala:

[code]

and it basically works. of course it doesn't recompile every dependency, but that would be too much effort. (I'm under Mac).

Does dbuild use any kind of special `JA

[2016-10-04 19:48] SethTisue commented on #304
dbuild doesn't use any different flags I can think of that might be relevant.

It happens that I'm in the process of upgrading the community build to use specs2 3.8, but I agree it's unlikely to be related.

let's see if it at least passes omitting Play-Integration-Test: ~~https://scala-ci.typesafe.com/view/scala-2.12.x/job/scala-2.12.x-integrate-community-build/720/consoleFull~~ ~~https://scala-c

[2016-10-04 20:56] alexarchambault commented on #294
Would the `/home/jenkins/workspace/scala-2.12.x-integrate-community-build/./target-0.9.5/project-builds/fastparse-6914fec92b407d06ed811a252dfd40c92cdd3a78/.dbuild/local-repo/0/org/scala-lang/modules/scala-xml/1.0.5/scala-xml-1.0.5.pom`, and its checksum (I guess sha1), be around somewhere? Could the checksum file be actually wrong?

I though at first that it might be a duplicate of https://github.

[2016-10-04 20:59] alexarchambault commented on #294
Also, as a workaround, it should be possible to disable checksum verifying altogether, with something like `coursierChecksums := Seq()`.

[2016-10-04 22:39] SethTisue commented on #157
I think we can avoid getting into a big mess here simply by dropping support for specs2 2.x. I'm actively working on it.

[2016-10-05 03:11] SethTisue commented on #304
ok ima let this one finish: https://scala-ci.typesafe.com/job/scala-2.12.x-integrate-community-build/728/consoleFull (404 til Jenkins catches up)

[2016-10-05 03:20] SethTisue commented on #282
this is now much more feasible after #324 (I'd feared multiplying spaces, but perhaps we can afford this one space split now)

[2016-10-05 03:23] SethTisue commented on #158
great strides on this made in #324 (as well as other, smaller recent PRs)

some things I'd like to at least take a stab at before closing this ticket:
- ScalaCheck upgrade (we're still on 1.11.x)
- ~~uncomment spray~~ (too hard right now, details at #110)

there's always lots of things that could be improved, but those seem like the big two

[2016-10-05 03:29] SethTisue commented on #110
returning to this now — #324 should clear the way

[2016-10-05 04:02] SethTisue commented on #304
yay, green. I merged that much in #325

[2016-10-05 14:09] ghost opened #326 "Add catalysts to CB"
Add https://github.com/typelevel/catalysts to CB.

This is really a reminder for me to do this and a courteous follow up to a chat on gitter with @SethTisue that this has not been (totally) neglected.

[2016-10-05 17:44] SethTisue commented on #161
@lihaoyi I took a quick stab at scalatags but it has version-checking logic in the build that needs updating — a different set of dependencies is needed for the different Scala version, and there are Scala-version-specific source directories, too. so I'm abandoning this for now, but once the library has been updated and published for 2.12 (issue opened: https://github.com/lihaoyi/scalatags/issues/

[2016-10-05 20:48] SethTisue commented on #157
yay, we dropped specs2 2.x in #324. our specs2 is still forked, but the changes in our fork are trivial and ready to contribute upstream

[2016-10-05 20:50] SethTisue commented on #13
it's no longer relevant that the scala/scala repo includes the ScalaCheck sources, because the community build doesn't build Scala anymore, and there is no ScalaCheck in the published Scala jars. so we're free to try again.

there's a good chance it might actually be easy(-ish?) now to move at least to 1.12.x, maybe 1.13.x

[2016-10-05 23:24] SethTisue commented on #110
these dependencies look potentially problematic:
- old Akka version (2.1, should be 2.4.x)
- old Shapeless version (1.2, should be 2.x)
- old ScalaTest version (2.2, should be 3.0.x)
- old Specs2 version (2.3, should be 3.8.x)
- two different twirl-api dependencies (??? — not sure what this is about)

@sirthias @jrudolph offhand, this looks like too many outdated libraries for likely success at in

[2016-10-06 05:06] SethTisue commented on #13
this looks very very promising:

I have a WIP branch SethTisue/community-builds#scalacheck-upgrade just going to 1.12.x. a test run very nearly succeeded: https://scala-ci.typesafe.com/view/scala-2.12.x/job/scala-2.12.x-integrate-community-build/737/consoleFull

only scala-partest failed to build:

[code]

scala-partest's current ScalaCheck dependency is 1.11.x, so this is probably some trivial 1.

[2016-10-06 07:23] sirthias commented on #110
I don't think having spray as part of the community still makes sense going forward.
spray is end of life and will not be maintained.
Additionally, basically all its logic has been moved over to Akka HTTP, which is already part of the build (AFAIK). So, there shouldn't be too many constructs that adding spray would test _in addition_ to Akka HTTP.
Therefore, I'd vote to simply close this ticket.

[2016-10-06 19:59] SethTisue commented on #282
we have scalaz 7.2 now in https://github.com/scala/community-builds/pull/329

[2016-10-06 20:25] SethTisue commented on #158
the ScalaCheck upgrade is #13, so I think we can close this one now.

[2016-10-06 20:25] #158 closed, assigned to SethTisue

[2016-10-06 21:04] SethTisue commented on #110
@sirthias got it! thanks for letting us know.

yes, akka-http is in the 2.12 community build now (as of a week or two ago)

[2016-10-06 21:04] #110 closed, assigned to nobody

[2016-10-07 22:15] SethTisue commented on #162
@matanster you may find the ivy resolution picture improved now if you tried again — the list of the resolvers in the config file is now much shorter

[2016-10-07 23:01] SethTisue commented on #162
or several (comma-separated); improved and documented in https://github.com/scala/community-builds/pull/331

[2016-10-07 23:03] SethTisue commented on #162
this is an open-ended ticket, but I'm basically satisfied with the current documentation, so I'm going to go ahead and close it.

it isn't documented yet how to specify the Scala nightly you want, but I'll get to that as part of https://github.com/scala/scala-jenkins-infra/issues/189

[2016-10-07 23:03] #162 closed, assigned to nobody

[2016-10-07 23:51] SethTisue commented on #13
yay we're on 1.12.x now.

as for going to 1.13.x, several projects are still on 1.12.x and there are compilation errors because of source-incompatible changes to ScalaCheck
- scalaz 7.2.x (7.3.x is on 1.13.x, but the change wasn't backported to 7.2.x)
- spire

three possible solution approaches:
- use spaces to support both 1.12 and 1.13
- stick with 1.12 for now and disable tests on any project r

[2016-10-07 23:57] SethTisue commented on #13
one other option would be to compile ScalaCheck 1.13 in its own space (https://github.com/SethTisue/community-builds/commit/dbfe1d40c275f1411dea83fd1bf485310dc9da6b) but not actually use it anywhere. I'm not sure that really adds enough value to be worth doing — it's not all that likely that there would be some code in 1.13 only that would tickle some Scala bug.

let's just stay on 1.12 for now. p

[2016-10-08 00:04] SethTisue commented on #59
seems tricky because we often enable/disable subprojects and/or tests, so I don't think we'd get an accurate count anyway. I don't plan to tackle it

[2016-10-08 00:05] SethTisue commented on #150
provisionally closing since ENSIME doesn't currently support 2.12

[2016-10-08 00:05] #150 closed, assigned to nobody

[2016-10-08 00:07] SethTisue commented on #228
note that we'd need a switch to disable this for builds considered experimental, we don't need to spam anybody while we're messing with their project's entry (or a dependency's entry)

[2016-10-08 00:08] SethTisue commented on #234
closing for lack of interest

[2016-10-08 00:08] #234 closed, assigned to nobody

[2016-10-08 00:19] SethTisue commented on #304
on second thought, I've overspent my time budget on this at this point. I'm going to declare victory for now unless the Play team wants to pursue it further, now or in the future.

it will be easier to revisit, anyway, once all dependencies have published for 2.12.0-RC2 or 2.12.0 final.

[2016-10-08 00:19] #304 closed, assigned to SethTisue

[2016-10-08 00:23] SethTisue commented on #300
@eed3si9n I'm going to close this ticket as not worth the effort unless/until sxr maintainers or community start actively supporting Scala 2.12

[2016-10-08 00:23] #300 closed, assigned to SethTisue

[2016-10-08 00:31] SethTisue commented on #322
before making the new org, we should decrease the number of unnecessary forks.

done:
- [x] migration-manager
  - branch pushed directly to origin
- [x] specs2
  - unforking PR: https://github.com/scala/community-builds/pull/333
- [x] breeze
  - unforking PR: https://github.com/scala/community-builds/pull/334
- [x] ssl-config
  - upstream PR: https://github.com/typesafehub/ssl-config/pull/48
- [x]

[2016-10-08 02:14] SethTisue commented on #322
2.11 still has tons of forks, but I think we should shrug and say so what, the action's on 2.12

[2016-10-08 10:55] milessabin commented on #228
FWIW, I'd prefer the build to be too chatty rather than not chatty enough. Would it be possible for notifications related to experimental builds to be labelled as such so that people can filter them to /dev/null if they wish?

[2016-10-08 13:17] kiritsuku commented on #234
The one is basically fixed because scala-ide no longer depends on sbt and therefore this issue no longer applies.

[2016-10-08 13:30] #157 closed, assigned to SethTisue

[2016-10-08 13:30] SethTisue commented on #157
fyi @etorreborre

[2016-10-08 23:32] SethTisue commented on #326
a start is made in https://github.com/scala/community-builds/pull/336

[2016-10-09 09:36] ghost commented on #326
@SethTisue Thanks!

`macros` is used by platform, so that perhaps could be explicitly added.

Regarding the other projects, they are all/mostly test related libraries that build on scalatest/specs2, etc. So the important point here is that they are _not_ using the test libs in `test` configuration. Nothing wrong here, but it might cause some unexpected changes in the dbuild dependencies.

That sai

[2016-10-10 16:43] djspiewak commented on #294
Just found this issue.  It appears to be identical to [this one](https://github.com/alexarchambault/coursier/issues/319).

@alexarchambault I'll experiment with disabling checksumming in our (Verizon's) builds to see if that gets us further on our end of this issue.  My guess is that it won't though, since I've seen other issues where jars were actually invalid (i.e. the wrong contents, not binary

[2016-10-12 19:13] SethTisue opened #338 "freeze all SHAs, move them forward together weekly?"
we track master of many projects now, especially in the 2.12 build

that's **good** because
- we find out about problems quickly

but it's also **bad** because
- anytime something fails, we never know right away whether it's because Scala changed, or because the project changed
- it slows down maintenance of the community build, because you can be in the middle of testing some change, when suddenl

[2016-10-12 20:23] #282 closed, assigned to SethTisue

[2016-10-13 14:00] dwijnand commented on #322
sbinary is moribund in terms of sbt 1.0

[2016-10-13 14:23] dwijnand commented on #338
I think your proposal is very viable.

But I wonder if perhaps the opposite makes sense - given:
- the projects in community build change much more frequently than scala/scala
- any reasonably aggressive change in scala/scala is tested with the community build even before merging

Why not freeze scala/scala instead, and bump at some interval (nightly/weekly/etc)?

[2016-10-13 18:54] adriaanm opened #342 "Easily switch between freezing projects in time / building HEAD"
When converging on a Scala release, we can't afford to have one core project add one commit and turn the community build into a 7hr nail-biting affair.

[2016-10-13 18:55] adriaanm commented on #342
To turn the repeatable build json into a list of URIs, extract the JSON between

[code]

and

[code]

save it as rep.json and:

[code]

[2016-10-13 19:03] SethTisue commented on #342
dupe of #338 ?

[2016-10-13 19:24] adriaanm commented on #342
yep, I'll move my comment  over

[2016-10-13 19:24] #342 closed, assigned to nobody

[2016-10-13 19:25] adriaanm commented on #338
Here's how I'm implementing this:

To turn the repeatable build json into a list of URIs, extract the JSON between

[code]

and

[code]

[code]

First shot: https://github.com/scala/community-builds/compare/2.12.x...adriaanm:2.12.x?expand=1
Validation:  https://scala-ci.typesafe.com/job/scala-2.12.x-integrate-community-build/796/console

[2016-10-14 15:32] SethTisue opened #347 "regression: simulacrum failing in 2.12 build since wartremover was added"
looks like wartremover adds itself to `libraryDependencies` which then confuses dbuild?

wartremover was added in mpilquist/simulacrum#68

it looks like the same fundamental problem (with sbt plugins that need access to the project Scala instead of Scala 2.10) as with scalafmt discussed at https://github.com/scala/community-builds/pull/341

[2016-10-14 19:45] SethTisue commented on #284
I should revisit this, soon, now that #340 and https://github.com/scala-js/scala-js/pull/2606 have been merged.

[2016-10-14 20:25] SethTisue commented on #224
I just updated the wiki in this repo with all the latest advice that I could think of.

[2016-10-14 20:25] #224 closed, assigned to SethTisue

[2016-10-14 20:25] SethTisue commented on #162
https://github.com/scala/community-builds/wiki was updated today with fresh instructions on this

[2016-10-14 20:47] SethTisue commented on #280
dbuild ticket: https://github.com/typesafehub/dbuild/issues/189 /cc @dwijnand

[2016-10-14 21:43] matanox commented on #162
Thanks!

Sent from my mobile

-------- Original Message --------
From:Seth Tisue notifications@github.com
Sent:Fri, 14 Oct 2016 23:25:43 +0300
To:scala/community-builds community-builds@noreply.github.com
Cc:matanster dev.matan@gmail.com,Mention mention@noreply.github.com
Subject:Re: [scala/community-builds] need better documentation on doing local runs (#162)

[2016-10-17 17:07] non commented on #13
I'll try to upgrade Spire ASAP.

[2016-10-17 21:54] SethTisue commented on #280
I did some local experimentation, and it turns out to work fine to replace `run-tests: false` with `extra.test-tasks: ["compile"]` if we want to compile tests without running them. I will make a PR that does that for as many projects as possible. And I've added a note about it to https://github.com/scala/community-builds/wiki/Maintenance

[2016-10-17 22:26] SethTisue opened #352 "upgrade to sbt 0.13.13"
@dwijnand @eed3si9n before 0.13.13 final is released, should we a run a community build using 0.13.13-RC3, to help ensure that the new version isn't breaking people's builds?

[2016-10-17 22:33] dwijnand commented on #352
Yes please, I was going to do that today then it slipped my mind.

If you don't get round to it today your time I'll take a shot at doing it tomorrow my time.

[2016-10-18 01:15] SethTisue commented on #352
(I wouldn't get to it until after #280)

[2016-10-18 01:28] SethTisue commented on #280
PR #353

[2016-10-18 02:14] SethTisue commented on #284
my local testing indicates that this is now fixed for scala-js. but let's do a full Jenkins run with a randomly selected recent unmerged 2.12 PR and be sure: https://scala-ci.typesafe.com/job/scala-2.12.x-integrate-community-build/818/consoleFull (with version=2.12.0-abf0ba2-SNAPSHOT)

[2016-10-18 06:09] #280 closed, assigned to SethTisue

[2016-10-18 15:12] SethTisue commented on #284
green!

[2016-10-18 15:12] #284 closed, assigned to SethTisue

[2016-10-18 15:18] SethTisue commented on #347
I was able to work around the scalafmt issue with:

[code]

probably the same trick would work here

[2016-10-18 18:38] SethTisue commented on #347
it didn't, I don't know why, and another attempt:

[code]

failed with:

[code]

I'm stuck. @cunei @dwijnand any ideas?

fyi @mpilquist

[2016-10-18 18:58] dwijnand commented on #347
Try:

[code]

[2016-10-18 22:24] SethTisue opened #356 "regression: akka-http is in a separate repository now"
as of https://github.com/akka/akka/pull/21690

for now I will freeze at an earlier commit

[2016-10-18 22:32] dwijnand commented on #352
#354 on 2.12.x was a success

#358 testing on the 2.11.x build projects

[2016-10-19 05:25] SethTisue commented on #347
@dwijnand thanks, that made the compile error go away, but it also didn't make dbuild/sbt stop complaining about the missing dependency, either :-/

I'll see if I can satisfy it by pulling down some wartremover jar using aether — hopefully it won't even really matter much what's in the jar

[2016-10-19 05:29] SethTisue commented on #347
dammit, that won't work, wartremover is actually getting run, so of course not having a compatible JAR causes errors:

[code]

[2016-10-19 05:31] SethTisue commented on #347
hmm

that sounds like an opening

we need to nuke e.g. `-Xplugin:/Users/tisue/.ivy2/cache/org.wartremover/wartremover_2.11/jars/wartremover_2.11-1.1.1.jar`

[2016-10-19 08:22] dwijnand commented on #352
Ok looks like 0.13.13-RC3 is good.

[2016-10-24 16:25] adelbertc opened #363 "Add typelevel/cats to build"
May be blocked on https://github.com/scala/community-builds/issues/13 for `cats-laws`

Currently the build is tracking @SethTisue 's fork. Once https://github.com/typelevel/cats/pull/1415 is merged we should be able to point back to typelevel/cats and run it against all of `catsJVM` (instead of just core and macros).

[2016-10-24 20:36] SethTisue opened #364 "somehow accommodate projects that are using wartremover"
this came up in the context of #347 / https://github.com/scala/community-builds/pull/355 (unfreezing simulacrum)

it would be super awesome if somebody else could figure this out, I already burned too much time on it

[2016-10-24 20:38] SethTisue commented on #347
new, non-simulacrum-specific ticket is #364. I could use community help with this one, I burned too much time on it already

[2016-10-24 20:38] #347 closed, assigned to SethTisue

[2016-10-25 17:32] SethTisue commented on #363
1415 is now merged and in #367 I brought my fork up to date with that

in order to get rid of the fork, https://github.com/typelevel/cats/issues/1396 would need to be fixed in the cats repo — right now we are working around it in my fork with https://github.com/SethTisue/cats/commit/04c921f5627c283b05d1407859289042e0d43ce0

[2016-10-25 17:38] SethTisue opened #368 "add japgolly libraries to 2.12 build"
nyaya, and maybe others? this would have caught scala/scala-dev#248

prompted by https://groups.google.com/d/msg/scala-internals/LGRU1gEwRgQ/_28LI2jUBAAJ

@japgolly let's discuss

[2016-10-25 17:41] adelbertc commented on #363
@SethTisue Coincidentally I was just working on a PR for you https://github.com/typelevel/cats/pull/1426 :-)

[2016-10-25 19:37] adelbertc commented on #363
@SethTisue Present for you:

https://github.com/scala/community-builds/pull/369

(https://github.com/typelevel/cats/pull/1426 is merged)

[2016-10-26 00:24] SethTisue commented on #176
recently: a team at Twitter "took it upon themselves to migrate their dependencies to maven central. The need to use maven.twttr.com should go away entirely soon"

Adriaan: "We'll drop the maven.twttr.com repo from our artifactory cache once the move is complete"

new ticket: https://github.com/scala/scala-jenkins-infra/issues/197

[2016-10-26 11:37] japgolly commented on #368
Ok considering the Eligibility page, I think it'd be a good idea to add this subset of my libraries to the community build:
- [nyaya](https://github.com/japgolly/nyaya)
- [test-state](https://github.com/japgolly/test-state)
- [univeq](https://github.com/japgolly/univeq) (required for test-state and scalacss)
- _[scalacss](https://github.com/japgolly/scalacss) (maybe)_

[2016-10-26 16:02] SethTisue commented on #368
ok, I'll pile all of that into the same PR and we'll see how much trouble we run into.

[2016-10-26 17:46] SethTisue commented on #326
sounds good. I don't plan to tackle this myself unless something else ends up needing it as a dependency

[2016-10-26 18:33] SethTisue commented on #352
https://github.com/scala/community-builds/pull/371

[2016-10-26 19:17] dwijnand commented on #352
BTW I was keeping this open for the final 0.13.13 upgrade.

[2016-10-26 19:45] SethTisue commented on #352
it's all yours :-)

[2016-10-27 01:31] SethTisue commented on #356
wip PR https://github.com/scala/community-builds/pull/371

[2016-10-27 14:13] #352 closed, assigned to nobody

[2016-10-27 17:19] SethTisue opened #373 "regression: akka-more fails with "bad apiURL""
apparently something is uncomfortable with the long version numbers dbuild concocts

[code]

the trigger seems to have been https://github.com/akka/akka/pull/21734 (hi @2m)

[2016-10-27 17:20] SethTisue commented on #373
maybe I can work around it with `extra.commands: ["set every apiURL := None"]`. I'll try it

[2016-10-27 18:48] #356 closed, assigned to SethTisue

[2016-10-27 19:03] #373 closed, assigned to SethTisue

[2016-10-27 19:15] 2m commented on #373
Ohi. I was not expecting to be summoned here. :)

It looks like the problem is interaction between dbuild where it makes these repeatable build version numbers and Ivy validation of `info.apiURL`? Right now it looks like the issue is contained in dbuild context.

@eed3si9n are we doing it right by setting `apiURL` in Akka like so: https://github.com/akka/akka/pull/21734? Do you think this could ca

[2016-10-28 19:25] japgolly commented on #368
Oh you're creating those PRs @SethTisue? Thanks! What do I need to do, if anything?

[2016-10-28 19:44] eed3si9n commented on #373
@2m I'm guessing that part is ok, but maybe it's something to do with Dbuild rewriting the version number not handling the apiURL? I'm passing the potato to @cunei

[2016-10-31 22:20] SethTisue commented on #368
lets talk specifics at https://github.com/scala/community-builds/pull/370. I'll close this ticket, actually, since some form of the PR will surely be merged

[2016-10-31 22:20] #368 closed, assigned to SethTisue

[2016-11-02 13:38] SethTisue opened #384 "regression: CrossVersion.patch not found during extraction"
a few projects have started to use `CrossVersion.patch` which is new in sbt 0.13.13

the community build is on 0.13.13, so that shouldn't be a problem. but for some reason ([source](https://scala-ci.typesafe.com/job/scala-2.12.x-integrate-community-build/902/consoleFull)):

[code]

this seems mystifying. it says `[macro-compat] Using sbt version: 0.13.13`. And we also see `<<= operator is deprecat

[2016-11-02 13:39] SethTisue commented on #384
@cunei @dwijnand any ideas?

[2016-11-02 13:43] dwijnand commented on #384
At a guess I think this issue and the Resolver.binraryRepo issue are one and the same. Something funky with what's on the classpath is happening. I don't know what.

[2016-11-02 13:46] SethTisue commented on #384
@dwijnand what issue is that?

[2016-11-02 13:57] dwijnand commented on #384
See https://github.com/scala/community-builds/issues/264#issuecomment-249343052

[2016-11-03 01:22] cunei commented on #384
If I can I will investigate; I am hacking on dbuild right now, so I might as well do some debugging concerning this matter.

[2016-11-03 02:59] cunei commented on #384
I did some debugging, and I found that some sbt 0.13.0 jars end up on the classpath, dragged in by the dbuild plugin. During the metabuild resolution, sbt prints:

[code]

and in the end _both_ end up on the classpath. It is a bit messy, I will have to study the situation for a bit.

[2016-11-05 00:05] #384 closed, assigned to SethTisue

[2016-11-05 00:12] cunei commented on #384
@SethTisue This should be fixed in 0.9.7-RC1, can you please try it?

[2016-11-05 00:29] SethTisue commented on #384
@cunei fantastic! I will try it soon

[2016-11-08 01:49] SethTisue opened #386 "make a 2.13.x community build"
* [x] make the needed Jenkins changes (done, thx @adriaanm)
* [x] add a 2.13.x tab in the Jenkins UI
* [x] create and push a `2.13.x` branch in this repo
* [x] see if a test run succeeds
* [x] update the documentation
* [ ] consider disk space needs — do we need more room on the behemoths?

[2016-11-08 01:50] SethTisue commented on #386
first run now that branch exists: https://scala-ci.typesafe.com/job/scala-2.13.x-integrate-community-build/7/consoleFull

EDIT: mostly succeeded, similar failures exist in the 2.12.x build currently

[2016-11-08 01:52] SethTisue commented on #386
@adriaanm I suspect we're going to need more disk space on the behemoths for this

[2016-11-08 02:00] SethTisue commented on #384
test run: https://scala-ci.typesafe.com/view/scala-2.11.x/job/scala-2.11.x-integrate-community-build/379/consoleFull (404 til Jenkins gets his tonsils out)

[2016-11-08 19:29] SethTisue commented on #384
@cunei I did another run with sbt and sbt-republish removed from the build — dbuild gave a message about duplicate artifacts, probably due to the name/moduleName change. we don't need to be building sbt anyway. the new run (https://scala-ci.typesafe.com/view/scala-2.11.x/job/scala-2.11.x-integrate-community-build/383/consoleFull) succeeded except for a macro-paradise failure I don't think has to d

[2016-11-08 19:58] SethTisue opened #388 "regression: genjavadoc (and browse) failing in 2.12.x build because of changes to Java comment scanning"
at e.g. https://scala-ci.typesafe.com/job/scala-2.12.x-integrate-community-build/920/consoleFull we see:

[code]

I believe the cause is scala/scala@fe2d7ff6821bcd0bf413b03c1c211b488a230fbe

@adriaanm maybe you could work this one out with the genjavadoc maintainers?

[2016-11-08 20:00] SethTisue commented on #388
oh, actually browse is failing too because of the same changeset:

[code]

[2016-11-08 20:27] SethTisue commented on #388
genjavadoc folks: @2m @szeiger @ktoso

this looks like a case where Adriaan was thinking of this stuff as internals rather than API so changing it around was fair game, but genjavadoc is using it as API

[2016-11-08 20:38] adriaanm commented on #388
Hmm, maybe I should revert, but this is final because it needs to be tail recursive, IIRC.

[2016-11-08 21:59] adriaanm commented on #388
https://github.com/typesafehub/genjavadoc/issues/93

[2016-11-10 21:20] soc opened #393 "Run community build on "First round of deprecation cleanups for 2.13""
As @SethTisue mentioned in https://github.com/scala/scala/pull/5515, it would be nice to have a community build against this as soon as the 2.13 community build works.

[2016-11-14 13:03] #393 closed, assigned to SethTisue

[2016-11-18 19:02] SethTisue opened #400 "regression (2.12.x): akka-http fails to extract"
reported by @milessabin

at e.g. https://scala-ci.typesafe.com/job/scala-2.12.x-integrate-community-build/950/consoleFull we see

[code]

the responsible commit is https://github.com/akka/akka-http/commit/45bc1d6049f82fa25f59c945aed2c61bd6d91433 — it adds a dependency on a custom build of sbt-bintray, retrieved from a special resolver. our Artifactory doesn't have that resolver, so the build fails

[2016-11-18 19:15] dwijnand commented on #400
I believe it's a custom build including https://github.com/softprops/bintray-sbt/pull/69.

[2016-11-18 20:18] SethTisue opened #401 "2.12.0 branch fails to extract"
reported by @milessabin, and I reproduced it locally (with `git checkout -b 2.12.0 --track origin/2.12.0; version=2.12.0 ./run.sh`):

[code]

the 2.12.0 branch isn't in active service on Jenkins anymore, but I think it does have some value as a stable target for testing compiler changes against (since the 2.12.x branch is constantly moving on and constantly breaking). so I'd like to at least under

[2016-11-19 23:39] milessabin commented on #338
@dwijnand @SethTisue your proposals aren't mutually exclusive ... we could do both.

[2016-11-21 10:49] 2m commented on #400
As @dwijnand has already identified, it is a `bintray-sbt` release of that PR, which adds support for credential resolving from Travis environment variables seamless.

How do we fix this? Can we make community build not ignore custom resolvers?

[2016-11-21 11:19] dwijnand commented on #400
I assume that dbuild ignores custom resolvers for good reason.

I think the solution needs to be upstream. Either:

* in akka-http, use the official release of bintray-sbt, perhaps use [my workaround](https://github.com/softprops/bintray-sbt/pull/69#issuecomment-261621992) if the purpose is to pass credentials on Travis CI
* in bintray-sbt, revise the PR to something less controvertial or otherwis

[2016-11-21 20:05] SethTisue commented on #400
I don't know about dbuild _in general_ (@cunei would know the history on that)...

...but in the community build specifically, we want dbuild contacting resolvers out there on the Internet as little as possible, for performance reasons. it should get stuff from our Artifactory instance (https://scala-ci.typesafe.com/artifactory/). so we could solve this by adding Martynas's resolver there.

[2016-11-22 01:39] SethTisue commented on #401
Those commits seem not to exist. It must have something to do with the method @adriaanm used in https://github.com/scala/community-builds/issues/338#issuecomment-253613276 to get frozen SHAs?

I don't know exactly which 2.12.x run he used, but it was October 13 that day, so maybe https://scala-ci.typesafe.com/job/scala-2.12.x-integrate-community-build/791/consoleFull

yeah that must be the run, or

[2016-11-22 02:03] SethTisue commented on #401
oh, I see now in Adriaan's commit comment for 53980196da6cd117127108f088b91683a66b50bf that 791 is in fact the right run.

the last commit before the freeze was 337cf8826c89157c1705a0782aeee888a1545ff, at which time we had:

[code]

in the case of my own forks, I think I was treating those branches as WIP branches we didn't need to keep history on. presumably I later force-pushed them and the dang

[2016-11-22 02:11] SethTisue commented on #338
in the future, when we freeze all the SHAs, it will be vital to take steps to make sure that the commits we froze at don't disappear from GitHub. this has already happened to four projects from the 2.12.0 freeze, as detailed over at https://github.com/scala/community-builds/issues/401

basically I think we need to make a new GitHub organization, as originally planned, and fork not just certain rep

[2016-11-22 02:13] SethTisue commented on #338
@dwijnand I like your suggestion, but we can't _only_ do it that way — in practice, I'm afraid it's all too common for a Scala change to break something. it's already happened twice since 2.12.0. we would need to (as Miles suggests) do both, one where Scala is frozen and the projects move, and another where the projects are frozen and Scala moves.

[2016-11-23 18:06] SethTisue commented on #401
fixed in #406

[2016-11-23 18:06] #401 closed, assigned to SethTisue

[2016-11-28 10:22] milessabin opened #408 "Very slow updates when running community build locally"
When running the community build locally I see very long (>= 10 mins) pauses coinciding with log output of the form,

[code]

which I believe corresponds to an sbt update in the project about to be built. During these pauses I can see that the community build process is blocked on a socket read from,

[code]

which corresponds to https://scala-ci.typesafe.com/. Is it possible that this machine is

[2016-11-28 10:24] milessabin opened #409 "Cats tests not being compiled"
I noticed this when running a community build with `-Xexperimental` enabled. `-Xexperimental` enables `-Ypartial-unification` which should cause the compilation of the Cats tests to fail. There's no failure, so it appears that the tests are not being compiled.

[2016-11-28 10:28] dwijnand commented on #409
Both the [2.12.0](https://github.com/scala/community-builds/blob/618eaed3a32e82bec767b6e8eb6e8ccee5cf1fd4/community.dbuild#L423) and [2.12.x](https://github.com/scala/community-builds/blob/22b9e1547380856eb32174d404558613aae78982/community.dbuild#L413) branches only build the `coreJVM` and `macrosJVM` projects, with a comment saying "this is only some of Cats. we should try and add more".

[2016-11-28 15:23] SethTisue commented on #409
duplicate of #363

[2016-11-28 15:23] #409 closed, assigned to nobody

[2016-11-28 23:22] SethTisue commented on #408
Does the problem go away if you downgrade the sbt version in `community.dbuild`?

[code]

I was able to reproduce the problem locally on my laptop at Lightbend SF, and downgrading sbt fixes it, so I assume you'll see the same thing as well.

what's interesting also is that I see the same effect (slow with 0.13.13, fast with 0.13.12) even when running a local Artifactory. so apparently this has not

[2016-11-28 23:28] dwijnand commented on #408
I can't think or see anything obvious from the release notes. Would require more investigation.

[2016-11-28 23:29] SethTisue commented on #408
is there a nightly build of sbt 0.13.14 I can try, on the off chance whatever's going on has already been fixed?

[2016-11-28 23:38] dwijnand commented on #408
Looks like our nightly builds are broken..

https://repo.scala-sbt.org/scalasbt/ivy-snapshots/org.scala-sbt/sbt/0.13.14-20161128-062537/jars/

[2016-11-28 23:46] SethTisue commented on #408
A mysterious thing about this is that it's fast on Jenkins. So there's one set of conditions under which performance is fine.

Until we have a fix or workaround, maybe we can just downgrade the whole community build to sbt 0.13.12. Test run of that: https://scala-ci.typesafe.com/job/scala-2.12.x-integrate-community-build/988/consoleFull

[2016-11-28 23:57] milessabin commented on #408
I've been working on (and this ticket is based on) the 2.12.0 branch which uses 0.13.12.

[2016-11-29 00:19] SethTisue commented on #408
Ugh, perhaps I've made a mistake here where I thought something was fast because I'd downgraded sbt, but it was actually fast for a different reason? Dammit.

[2016-11-29 01:35] eed3si9n commented on #408
Maybe Dbuild caches something under some circumstances and changing the parameter invalidates the cache?

[2016-11-29 02:04] SethTisue commented on #408
The problem seems to be specific to running `update` on each project's build definition, to resolve plugins and their dependencies. Once the build definition has been compiled, doing `update` on the actual projects is pretty fast.

Taking `browse` as a sample project, if we clone the repo outside of dbuild and run `sbt -Dsbt.log.noformat=true`, we see:

[code]

and so on, 43 lines total.

But in a

[2016-11-29 02:40] SethTisue commented on #408
@cunei in the 442-line "Resolving..." list, a lot of the lines look funny to me:

[code]

those don't look like normal dependencies with normal version numbers, is it possible they're a sign of some bug in dbuild...?

[2016-11-29 02:46] SethTisue commented on #408
maybe https://github.com/scala/community-builds/pull/410 will help

[2016-11-29 06:44] milessabin commented on #408
Unfortunately I've not been able to do a full run overnight. My successful runs have taken a day and a half plus a ton of which is waiting on network IO.

[2016-11-29 06:46] milessabin commented on #408
I appreciate that you have limited time, but you shouldn't underestimate the benefits of people being able to run community builds without having to come through a central bottleneck ... I'd like to see community builds being used widely for releases of all sorts, not just scala/scala.

[2016-11-29 08:21] eed3si9n commented on #408
I just found a bug in sbt 0.13.13 that might explain this - https://github.com/sbt/sbt/issues/2851

[2016-11-29 09:34] milessabin commented on #408
Would that also affect 0.13.12?

[2016-11-29 11:08] eed3si9n commented on #408
Looking at it bit more closely, since the sbt/sbt#2851 seems to break only the build level keys, it might not be the cause of this slowdown.

[2016-11-29 21:46] cunei commented on #408
@SethTisue I am looking into it. The versions for org.apache#apache seem correct, those are real version numbers: http://search.maven.org/#search%7Cgav%7C1%7Cg%3A%22org.apache%22%20AND%20a%3A%22apache%22

[2016-11-29 22:31] SethTisue commented on #388
fixed by #411

[2016-11-29 22:31] #388 closed, assigned to nobody

[2016-11-29 23:07] SethTisue commented on #384
as of #410 we are now using 0.9.7-RC1

[2016-11-29 23:31] SethTisue commented on #322
lately we froze some projects because they added wartremover which confuses dbuild. it's #364

[2016-11-30 00:48] adriaanm opened #414 "add monix as a good source of macro regression backstops"
it caught e.g. SI-10009

https://github.com/monix/monix/blob/cff18e4f19559a56a0f984016c3da640368c7139/monix-execution/shared/src/main/scala_2.11/monix/execution/schedulers/ExecuteMacros.scala

(inferred from the reproduction in https://gist.github.com/alexandru/26400bfc6209d4884d9cc916ad48d196)

[2016-11-30 01:04] SethTisue commented on #414
fyi @alexandru

[2016-11-30 01:13] SethTisue commented on #408
@milessabin is it only the _first_ project built where the update on the build definition takes so long...? or is it every project? (my current suspicion is that it's only actually slow once per dbuild run, in which case this might not be quite as bad a problem as we feared?)

[2016-11-30 02:16] SethTisue commented on #386
doc updated in wiki.

I recently merged a bunch of changes onto 2.12.x, then merged 2.12.x onto 2.13.x. a 2.13.x test run seems to be doing well so far: https://scala-ci.typesafe.com/view/scala-2.13.x/job/scala-2.13.x-integrate-community-build/53/console . if there are failures I'll open individual tickets.

if disk space proves to be a problem, I'll open a new ticket on it when the time comes.

[2016-11-30 02:16] #386 closed, assigned to SethTisue

[2016-11-30 03:11] SethTisue commented on #400
I'll just go ahead and add Martynas's resolver to our Artifactory.

Here's a (very!) recent example where @softprops handed over the keys to one of his projects: https://github.com/unfiltered/unfiltered/issues/320. Perhaps this could happen on bintray-sbt as well.

[2016-11-30 03:52] SethTisue commented on #414
the cats part of this will have to wait until we have cats-laws, which we can't have until we move from ScalaCheck 1.12 to 1.13 (that's #13)

[2016-11-30 03:56] #414 closed, assigned to SethTisue

[2016-11-30 10:33] milessabin commented on #408
It's every project, at least at the top level. So, 10+ min hang for each of the thirty odd projects.

[2016-11-30 13:06] milessabin commented on #322
Given that wartremover is a linter, wouldn't it be better to patch the projects to disable it rather than freeze them? Also, are the upstream projects aware of the issue with wartremover and the freezing?

[2016-11-30 14:25] cunei commented on #408
@milessabin I have a few suggestions.
The first would be to run dbuild with the "``-d``" flag; that will cause all ivy logs and other diagnostic information to appear, so that we can have a better idea of what it is doing during the pauses.
The second is that, if there is a socket open to scala-ci.typesafe.com during update, it probably means it is trying to resolve and download artifacts from the

[2016-11-30 14:27] cunei commented on #408
@SethTisue The duplicate lines during resolution appear during a stand-alone sbt resolution, so it is not something dbuild-specific. Concerning the large number of downloaded dependencies, I am currently checking whether that is due to the additional plugin injected by dbuild, or some other factors.

[2016-11-30 14:28] dwijnand commented on #408
@cunei isn't that meant to be `~/.sbt/repositories` (rather than `~/.sbt/resolvers`), and include a `[repositories]` header:

[code]

[2016-11-30 14:33] milessabin commented on #408
@cunei thanks for that, very helpful. I'll try setting up a local artifactory and report back.

You say,

Could shared vs. individual .ivy2 repositories be made a configurable option?

[2016-11-30 15:24] cunei commented on #408
@milessabin Unfortunately that would not work; within dbuild there may be bizarre situations in which you have identically named artifacts which are actually different; they are internally maintained by storing them into a specially built artifacts store, in order to keep them apart. They are then "rematerialized" in various directories during build as needed, in order to keep Ivy happy. So, a sin

[2016-11-30 15:25] cunei commented on #408
@dwijnand Right on both counts. For me it's usually ``~/.sbt/re<*TAB!*>", so I got the name incorrectly. :+1:

[2016-12-01 02:04] SethTisue commented on #408
@cunei you would think so, but in my experience, it's still pathologically slow even with a local Artifactory

[2016-12-01 02:20] SethTisue commented on #408
I dunno, perhaps both the Artifactory on scala-ci.typesafe.com, _and_ my local Artifactory, are misconfigured in the same way, and that's ruining performance in both scenarios?

I checked and my Artifactory has "Unused Artifacts Cleanup Period" set to empty, which should mean it never discards old artifacts.

What about "Metadata Retrieval Cache Period" — currently defaulted to 600 seconds. Maybe

[2016-12-01 02:58] SethTisue opened #416 "2.12.x regression: play2-core failing"
a big 2.12 support commit (of @wsargent's) dropped recently, so maybe it has something to do with that.

there's an off chance there's a Scala regression here that's a concern for the 2.12.1 release

[2016-12-01 02:59] SethTisue commented on #416
at e.g. https://scala-ci.typesafe.com/job/scala-2.12.x-integrate-community-build/1010/consoleFull we see:

[code]

maybe an Akka version mismatch?

[2016-12-01 03:20] SethTisue commented on #408
It might also help to tell Artifactory which artifacts we expect to find on which remote resolvers. (A piece of advice I found online: "I highly recommend adding include/exclude rules on the remote repositories for the list of groupId/artifacts you are expecting. This will tell Artifactory to completely stop sending request outside for irrelevant artifacts")

I'm more and more convinced this must

[2016-12-01 03:27] retronym commented on #408
That seems unlikely to help (but you never know)

![image](https://cloud.githubusercontent.com/assets/65551/20780828/ead0b264-b7c9-11e6-9080-c00c29062853.png)

[2016-12-01 03:37] SethTisue commented on #408
@cunei but is it possible to use a single cache _only when resolving dependencies for build definitions_? we don't build sbt plugins in the community build anymore, so these are all just normal Scala 2.10 (or plain old Java) binary artifacts. we don't need, or want, any special dbuild magic to happen with them.

[2016-12-01 04:44] SethTisue commented on #416
maybe freezing Akka at the `v2.4.12` tag will fix it; that's the version of the binary dependency Play currently has. test run: ~~https://scala-ci.typesafe.com/job/scala-2.12.x-integrate-community-build/1015/consoleFull~~ https://scala-ci.typesafe.com/job/scala-2.12.x-integrate-community-build/1016/consoleFull

[2016-12-01 14:10] cunei commented on #408
@SethTisue dbuild rewrites version numbers and artifact names as it works, and it starts with a fresh ivy2 cache per project. Once each project has been compiled, you would have to go hunting what the local build created, and in which way it polluted the ivy2 cache, in order to clean it and prepare it for a new project; it would be a bit tricky.
Besides, in theory dbuild has been designed to be ab

[2016-12-01 15:07] cunei commented on #408
On my system and my local Artifactory, using dbuild, I see resolutions like:
[code]
So, definitely fast.

[2016-12-01 15:09] SethTisue commented on #416
in #417 I froze Akka at 2.4.12 to make the problem go away. but that's not a good long-term solution. @wsargent @patriknw @ktoso? did Akka inadvertently make a source-incompatible change here?

[2016-12-01 15:15] ktoso commented on #416
Oh, extending materializer is not covered by compat guarantees – Play should fix their `NoMaterializer`

I can send in a PR for that.

[2016-12-01 15:30] SethTisue opened #418 "override project MiMa versions to use latest"
lots of projects out there are using antiquated MiMa versions. It would improve the MiMa testing situation greatly if the community build overrode that and forced the latest binary release to be used

EDIT: or as Dale suggests, build MiMa from source and use that

[2016-12-01 15:37] SethTisue commented on #418
@dwijnand:

we used to build all sbt plugins. that was before my time, Adriaan got rid of that right around the time I started. not sure offhand what it would take to bring that back but only for certain plugins

[2016-12-01 16:00] ktoso commented on #416
And done: https://github.com/playframework/playframework/pull/6767

[2016-12-01 16:04] schmitch commented on #304
@SethTisue actually the master branch for play now has scala 2.12 pulled in, could you try running the tests again? just a single build and see if something breaks?

[2016-12-01 16:05] SethTisue commented on #304
sure, I'll put it in my queue. (not right away, because our Jenkins is overloaded right now with both 2.11.9 and 2.12.1 nearing completion)

[2016-12-01 17:18] SethTisue commented on #386
first completely green 2.13 run! https://scala-ci.typesafe.com/view/scala-2.13.x/job/scala-2.13.x-integrate-community-build/58/

[2016-12-01 17:20] adriaanm commented on #386
:tada:

[2016-12-01 19:09] SethTisue commented on #304
@schmitch you're asking for `Play-Integration-Test` to be added, is that correct?

[2016-12-01 19:09] schmitch commented on #304
yeah basically, but I guess every test might be running just fine.

[2016-12-01 19:12] SethTisue commented on #304
I don't know the structure of Play (I sometimes learn it a little, and then forget again) so I'm not smart about what to add exactly, I have to be told. I'll try adding `Play-Integration-Test` unless you make a different, precise suggestion

[2016-12-02 22:36] milessabin commented on #408
I can confirm that a local Artifactory fixes this problem. I think it would be a good idea to guide people in that direction from the outset.

[2016-12-02 23:41] SethTisue opened #421 "Akka: track release-2.4 branch, not master"
master is 2.5, and my guess is that breakages like https://github.com/scala/community-builds/issues/416 and https://github.com/playframework/playframework/issues/6773 and https://github.com/akka/akka-http/issues/606 are likely to recur, and I can't afford to spend time chasing them down

at the moment the whole community build is frozen while we put the finishing touches on Scala 2.12.1. I'll take

[2016-12-02 23:47] SethTisue commented on #421
fyi @ktoso @patriknw

[2016-12-02 23:49] SethTisue commented on #416
the particular issue here is now fixed, and the broader issue is https://github.com/scala/community-builds/issues/421

[2016-12-02 23:49] #416 closed, assigned to nobody

[2016-12-02 23:50] SethTisue commented on #400
done

[2016-12-02 23:50] #400 closed, assigned to SethTisue

[2016-12-02 23:50] SethTisue commented on #408
hmm, not for me. can you attach your config? (Artifactory can dump it out as XML)

[2016-12-03 18:49] SethTisue commented on #304
trying `Play-Integration-Test` here: https://github.com/scala/community-builds/pull/425

[2016-12-04 03:20] SethTisue opened #427 "unfork ScalaMock, it is being maintained again"
and has 2.12 support now too

as per https://github.com/paulbutcher/ScalaMock/pull/155#issuecomment-261709667

fyi @paulbutcher @barkhorn thanks & kudos to both of you for reanimating ScalaMock

I will give this a try and let you know if I need anything.

[2016-12-05 15:46] cunei commented on #408
@SethTisue On my instance, the values for "Metadata Retrieval Cache Period" all default to 43200 (12 hours). I suspect that may be related to the "slow-sometimes-then-fast-again" behavior that I sometimes observe, and to the fact that it's mostly slow in your case. Not sure that is the answer, but it seems worth trying. Also, I'm on Artifactory 4.x, in case that makes a difference.

[2016-12-05 18:40] milessabin commented on #408
My local Artifactory configuration is [here](https://gist.github.com/milessabin/65897ecb792e212d242c451776cf8b25) ... suggestions for improvements most welcome.

[2016-12-06 05:08] SethTisue opened #430 "multiple projects are forked to remove bintray-sbt"
it's typesafehub/dbuild#158, which we'd hoped was resolved by dbuild 0.9.7-RC1, but wasn't

[2016-12-06 05:08] SethTisue commented on #427
fixed by #429. unfortunately I had to fork because of #430

[2016-12-06 05:08] #427 closed, assigned to SethTisue

[2016-12-06 05:09] SethTisue commented on #421
fixed by #429, but unfortunately I had to fork akka-http because of #430

[2016-12-06 05:09] #421 closed, assigned to SethTisue

[2016-12-06 08:48] barkhorn commented on #427
If i read this right, this is more of a problem with dbuild publish overrides than with the Scalamock build?
Still, if you have suggestions how to allow you to build this without a fork, let me know.

[2016-12-06 09:34] ktoso commented on #421
Thanks, watching #430 then.

[2016-12-06 15:43] SethTisue commented on #427
Correct, and I don't know another workaround

[2016-12-06 21:40] SethTisue commented on #364
relocated @milessabin comment:

if someone could find a way to disable it just using `extra.commands`, without having to fork, that would be awesome

upstream projects are aware if I @-mention them at fork or freeze time, which I uuuusually do. we don't have a good system for this

[2016-12-06 21:41] SethTisue commented on #322
the GitHub org now exists: https://github.com/scalacommunitybuild

I will migrate forks there, time permitting. (I don't have time right now to tackle it all at once, but at minimum we can make our new forks there.)

[2016-12-07 21:58] SethTisue commented on #408
I thiiiiiiiiink that jacking up retrievalCachePeriodSecs to a big number (I picked 86400 = 24 hours) may have solved my performance problems. As in the first project built during first run of the day is still slow (because expired metadata on everything), but then it gets faster from then on.

I'll keep observing the behavior to try to be more sure.

[2016-12-08 08:33] milessabin commented on #408
My first successful 2.12.x branch community build after setting up a local Artifactory (so, from cold) took about 3.5 hours. Is that comparable to the sort of times you're seeing?

[2016-12-08 23:30] SethTisue opened #434 "regression: ScalaMock failing, fails to use Scala-version-specific source directory"
because https://github.com/scala/scala-dev/issues/252 remains unfixed, sbt doesn't use `core/src/main/scala-2.12` and therefore there are compilation failures

example failure log at https://scala-ci.typesafe.com/job/scala-2.12.x-integrate-community-build/1062/consoleFull

[2016-12-08 23:32] SethTisue commented on #434
reproducible locally in ScalaMock repo with

[code]

[2016-12-08 23:33] SethTisue commented on #434
[code]

this suggests a workaround where we simply use `extra.commands` to do `set unmanagedSourceDirectories ...`

[2016-12-08 23:59] SethTisue commented on #434
I'm fixing in #433

[2016-12-08 23:59] #434 closed, assigned to SethTisue

[2016-12-12 19:44] SethTisue commented on #322
all the forks are now on the new org

to do before closing this ticket:

* [x] document the new org
* [x] do something with the forks list above? (make a new ticket?)

[2016-12-12 21:38] SethTisue commented on #408
I haven't done a cold timing recently, but 3.5 hours sounds very good — faster than it runs on Jenkins.

I did some work on this over the weekend — starting with a fresh local Artifactory config with only Maven Central, and then:

* only adding resolvers as needed to resolve specific artifacts
* never adding a resolver without using Artifactory's "include filters" feature to ensure that the resolv

[2016-12-12 21:39] SethTisue commented on #408
fwiw, locally I'm on Artifactory 4.14.3 now and my current config (which does not use the scala-ci Artifactory for anything) is https://gist.github.com/SethTisue/04dfcd01480882e4cf359d8e60e3f054

[2016-12-12 22:36] milessabin commented on #408
@SethTisue I'm tempted to go with your config. Is there any reason why I ought to prefer chaining off the scala-ci Artifactory rather than going direct to the upstream repos as you've done?

[2016-12-12 22:51] SethTisue commented on #408
@milessabin maintenance — chaining is set-and-forget, the real list of resolvers needs updating, roughly once/month

but having your own config gives you more control, which might matter to you if (as I do) you use it for everything you do, not just for the community build

[2016-12-12 23:04] milessabin commented on #408
That sounds reasonable.

However I'm not convinced my current set up makes that as smooth as it might be. I ended up chaining several repos from the scala-ci Artifactory and then adding a couple more direct ones. Presumably I could chain them all from scala-ci. But then I need to know which scala-ci repos I ought to be chaining.

Would it be possible to have scala-ci advertise a _single_ (virtual?

[2016-12-13 19:03] SethTisue commented on #408
Probably, since that's what I have in my local config — a single virtual repository, with two entries in my `~/.sbt/repositories`, one for Maven-style access and one for Ivy-style access. So I assume the scala-ci Artifactory could be set up the same way. I'd have to ask Adriaan if there were specific reasons he set it up the way he did, or if he was just fumbling around. ("Fumbling around" is how

[2016-12-13 20:03] milessabin commented on #408
Yeah, fumbling around here too :-)

[2016-12-13 21:28] SethTisue commented on #386
Dotty exiting (https://github.com/scala/scala-jenkins-infra/issues/205) may relieve the disk space situation

[2016-12-13 22:47] SethTisue opened #439 "deal with remaining forks"
done:
- [x] monix/minitest
  - upstream PR: https://github.com/monix/minitest/pull/4
- [x] specs2
  - upstream PR (Jan 9 2017): https://github.com/etorreborre/specs2/pull/532
- [x] catalysts
  - upstream PR (Jan 9 2017): https://github.com/typelevel/catalysts/pull/10

pending:
- [ ] scala-ssh
  - upstream PR: https://github.com/veact/scala-ssh/pull/5
  - but maybe it's fine to just keep tracking @

[2016-12-13 22:47] #322 closed, assigned to SethTisue

[2016-12-14 15:58] SethTisue commented on #439
current forks:

[code]

[2016-12-14 16:12] SethTisue commented on #430
closing in favor of umbrella ticket #439

[2016-12-14 16:12] #430 closed, assigned to nobody

[2016-12-14 16:14] SethTisue commented on #439
I should probably expand this list to include freezes, which are just a degenerate case of forking, really

[2016-12-16 02:54] xuwei-k commented on #13
now spire depends on scalacheck 1.13

https://github.com/non/spire/commit/4268d92f#diff-fdc3abdfd754eeb24090dbd90aeec2ceR7

https://github.com/scalaz/scalaz/pull/1282 backported

[2016-12-16 04:40] SethTisue commented on #13
@xuwei-k nice! seriously, that's really helpful.

and, great news about Spire.

I won't have time to return to this ticket until January or maybe February, but it's still very much on my mind. it's the most important pending change to our projects list.

[2016-12-16 19:55] SethTisue commented on #364
maybe the wartremover folks could use the approach taken by scalafmt at https://github.com/olafurpg/scalafmt/pull/610 (and succinctly described at https://github.com/sbt/sbt/issues/2786#issuecomment-261773807)? (I haven't studied it enough to know whether this is plausible)  they would have to require sbt 0.13.13, which is when the synthetic-project support was added

[2016-12-17 10:27] olafurpg commented on #364
FWIW, I use synthetic projects in the scalafix compiler plugin which may be closer to wartremover's situation. See [here](https://github.com/scalacenter/scalafix/blob/89587b55ea931fc251842705b17b49b7afa25fae/scalafix-sbt/src/main/scala/scalafix/sbt/ScalafixPlugin.scala#L34-L49) for how I deal with 2.11 and 2.12. A synthetic project is needed for each supported scala version. A nice side-effect to

[2016-12-19 19:14] SethTisue commented on #386
once we changed the Scala version number on the 2.13.x branch to 2.13.0, some projects broke.

I submitted upstream PRs on all failing non-leaf projects with the needed (trivial) changes. so we are now back to all green except for about 5 or 6 leaf projects (that is, projects which other projects in the build don't depend on)

I'm content to leave the leaf projects alone for now. after all, soon e

[2016-12-19 19:16] SethTisue commented on #386
well hmm, maybe I should comment out those leaf projects, just to get the build nominally green so that the 2.13 release-main job can proceed

[2016-12-19 19:23] adriaanm commented on #386
The minimal fix will do here -- 2.13 is still a bit green itself anyway :-)

[2016-12-20 20:49] SethTisue commented on #386
failing leaves commented out in 56a8cca4de89cec81228f4ff50ba97f04e84ea5c

[2016-12-22 01:10] adriaanm opened #442 "run weekly 2.12.x community build with optimizer enabled"

[2016-12-22 16:55] SethTisue opened #443 "add Dispatch"
Dispatch is being revived for 2.12 at https://github.com/dispatch/reboot/issues/134

[2016-12-22 17:00] ashawley commented on #443
The new default 0.12.0 branch for dispatch will now compile in Scala 2.12.

[2016-12-28 16:13] SethTisue opened #444 "regression: Play fails to compile in 2.11.x-jdk8 build"
as seen at https://scala-ci.typesafe.com/job/scala-2.11.x-jdk8-integrate-community-build/318/consoleFul

@gmethvin perhaps https://github.com/playframework/playframework/commit/8cffd51aeb8a35e59406c1dcb99e136cb5689fce ...?

[2016-12-28 18:44] gmethvin commented on #444
well it looks like the failing line of code is:
[code]
But the code on master looks correct: https://github.com/playframework/playframework/blob/master/framework/src/play/src/main/scala/play/api/Configuration.scala#L984

[2016-12-28 18:45] SethTisue commented on #444
what about on the 2.4.x branch? that's the branch the 2.11.x-jdk8 build uses, and the branch the commit I linked to is on

[2016-12-28 18:48] schmitch commented on #444
Same error is on the 2.5.x branch btw: https://github.com/playframework/playframework/pull/6839/commits/c6312f15e929949283dc4cbb42a237e4b0b0d55b

[2016-12-28 18:52] gmethvin commented on #444
Okay I see what happened. Looks like we backported and missed one of the uses of that method.

[2016-12-29 18:01] SethTisue commented on #13
lift-json is the latest project to now require 1.13

[2017-01-02 17:46] SethTisue commented on #444
green at https://scala-ci.typesafe.com/job/scala-2.11.x-jdk8-integrate-community-build/319/, so I guess this is fixed. thanks @gmethvin!

[2017-01-02 17:46] #444 closed, assigned to nobody

[2017-01-03 05:22] gmethvin commented on #444
Yes it's fixed now.

[2017-01-03 19:50] SethTisue commented on #443
(I threw http4s on the list at issue 161 instead, it looks like it might be trickier)

[2017-01-03 23:55] #443 closed, assigned to SethTisue

[2017-01-04 18:22] SethTisue commented on #13
tried adding http4s, but it needs cats-laws, which needs 1.13

[2017-01-04 22:40] #13 closed

[2017-01-04 22:43] SethTisue commented on #363
#448 removes a roadblock and adds cats-laws

#375 is the new #369

[2017-01-04 22:50] SethTisue commented on #58
I'm now much more knowledgeable on this. As in, I now use a local Artifactory for everything (all community build work and all my other work too) — so I can answer questions, at least. There is some discussion and lore at #408.

[2017-01-06 00:19] adelbertc commented on #363
Fixed by https://github.com/scala/community-builds/pull/375

[2017-01-06 00:19] #363 closed, assigned to SethTisue

[2017-01-06 00:27] SethTisue commented on #326
closing for inactivity. regardless, improvements here would still be welcome

[2017-01-06 00:27] #326 closed, assigned to nobody

[2017-01-10 23:48] SethTisue commented on #408
TIL about the "Eagerly Fetch Jars" option. it isn't on by default, and I didn't have it on in my local config (I do now). it seems plausible that turning it on for all of the remote repos could help. (we already have it enabled in the scala-ci Artifactory)

[2017-01-11 11:16] julienrf opened #456 "Run the community builds with a locally published version of Scala"
My goal is to evaluate the impact of a change in the scala-library on user code. Here is what I did:

- [Changed](https://github.com/scala/scala/compare/2.12.x...julienrf:remove-mutable-views) the scala-library ;
- Run the following sbt incantations (based on [this](https://github.com/scala/scala#using-the-sbt-build))
  - ~~~

    [info] Updating {file:/home/julien/workspace/dev/scala/scala/}libra

[2017-01-12 04:43] kzys commented on #294
For this particular scala-xml case, the checksum looks correct in Maven Central.

[code]

Was it different in the Jenkins sever? It might be too late to ask though.

[2017-01-12 22:40] SethTisue commented on #294
I noticed recently that a different project I added to the community build recently had the coursier plugin enabled, but there was no build failure. so, I tried fastparse again and whatever the problem was seems not to be reproducible currently: https://github.com/scala/community-builds/pull/458

I don't know what to make of it, but hey.

[2017-01-12 22:40] #294 closed, assigned to nobody

[2017-01-13 03:28] SethTisue commented on #456
it looks like dbuild's Aether build system insists on ignoring your local ivy repository even if you specifically ask for it. you can put `localIvy` in `options.resolvers` (via, in this repo, `resolvers.conf`) and it will be ignored, as we see if we edit `run.sh` to pass `-d` (for debug) to dbuild:

[code]

this is coming from code in dbuild, in support/src/main/scala/com/typesafe/dbuild/support/a

[2017-01-13 07:05] dwijnand commented on #456
What about using publishM2 and resolving for mavenLocal?

On Fri, 13 Jan 2017, 03:28 Seth Tisue, <notifications@github.com> wrote:

[2017-01-13 08:50] julienrf commented on #456
Thanks a lot @SethTisue for the explanation!

@dwijnand What should I put in the resolvers.conf file to tell dbuild to use maven-local? I will try that and if that doesn’t work then I’ll use scala-release-temp, as advised by @SethTisue.

[2017-01-13 12:10] cunei commented on #456
@julienrf You can always use ```publish```, rather than ```publishLocal```, by specifying any (other) local directory in the ```publishTo``` setting. For example:
[code]
Then, just add a new resolver pointing to the directory that you published the files to (I've not tried, but it should work, in theory).

[2017-01-13 12:17] cunei commented on #456
Possibly, you may need:
[code]

[2017-01-13 23:33] SethTisue commented on #456
Dale's suggestion worked. I did `publishM2` from the scala/scala repo, then here in this repo I added this line to resolvers.conf:

    01: "maven-local"

it also works to provide a full `file:///` URL instead.

then after adding `-d` to `run.sh` I see lines like:

[code]

🎉

(I imagine Toni's suggestion would work just as well.)

[2017-01-13 23:33] #456 closed, assigned to SethTisue

[2017-01-14 10:13] dwijnand commented on #456
Excellent. Using `publishM2` is good because it emulates "production" slightly better, ie. when you release to repo1 - even if the maven cache (~/.m2) isn't exactly a maven repository, it's still maven instead of ivy.

[2017-01-20 23:30] SethTisue opened #461 "scala-refactoring says it's being built, but isn't actually being built"
it can't be, because their master branch doesn't currently compile against Scala 2.12.1 since Adriaan's Java comment parsing change. a log such as https://scala-ci.typesafe.com/job/scala-2.12.x-integrate-community-build/1203/consoleFull doesn't seem to show any code being compiled and definitely doesn't show any tests being run. maybe the jars being published are empty?

fyi @sschaef

thank you @f

[2017-01-20 23:46] SethTisue commented on #461
doh: `extra.directory: "org.scala-refactoring.library"`

[2017-01-20 23:50] SethTisue commented on #461
yeah, after taking that line out, I get this error:

[code]

as expected.

[2017-01-20 23:52] #461 closed, assigned to SethTisue

[2017-01-20 23:53] SethTisue commented on #461
ok, I pushed two commits, one that fixes the entry, and then another that comments it out so it won't fail the build

[2017-01-20 23:53] SethTisue opened #462 "reinstate scala-refactoring once it becomes 2.12.1-friendly"
previously: #407, #461

/cc @sschaef @fommil

the issue in the scala-refactoring repo is https://github.com/scala-ide/scala-refactoring/issues/180

[2017-01-21 08:35] fommil opened #463 "add scala-debugger"
@chipsenkbeil

[2017-01-21 13:18] fommil commented on #462
please re-enable the compile of scala-refactoring's `master` branch. Tests are not green yet, hopefully soon!

[2017-01-22 00:49] chipsenkbeil commented on #463
@fommil, if dependencies need to already be in the build, then part of the debugger could be included, right? Looks like it would just be the debugger API, but it has slf4j-api as a dependency. Is that an issue? The language and tool modules have other dependencies not in the community builds. Ensime only uses the API module, so that should be okay, I'm assuming.

Also, I'd have to exclude the sbt

[2017-01-23 19:12] SethTisue commented on #463
Java-based dependencies like slf4j are always fine, dbuild will just pull those binary JARs from (e.g.) Maven Central. it's only Scala-based dependencies that need to be explicitly included in the community build so they can be rebuilt from source. I have edited https://github.com/scala/community-builds/wiki/Eligibility to be clearer on this point.

I agree that it would be very much worthwhile to

[2017-01-23 20:37] SethTisue commented on #462
I see that the failing tests were disabled in https://github.com/scala-ide/scala-refactoring/pull/185, so I will go ahead and do a full reinstatement.

[2017-01-23 21:05] #462 closed, assigned to nobody

[2017-01-25 19:07] SethTisue opened #465 "regression: Scala.js failing in all of the community builds"
so e.g. at https://scala-ci.typesafe.com/view/scala-2.11.x/job/scala-2.11.x-integrate-community-build/492/consoleFull we see:

[code]

@sjrd any idea what this is about?

[2017-01-25 19:08] SethTisue commented on #465
something to do with https://github.com/scala-js/scala-js/pull/2740 ?

[2017-01-25 19:14] sjrd commented on #465
Yep, it's definitely about https://github.com/scala-js/scala-js/pull/2740.
The problem is that the community builds insists on `test`ing every project that is a dependency of the project we really care about, i.e. `testSuite/test`. This causes `library/test` to be executed in the community build, although it's never part of our test harness.

The thing is: `library/test` is empty; it doesn't have

[2017-01-25 19:24] SethTisue opened #466 "regression: Slick failing in 2.12 and 2.13 community builds"
so e.g. at https://scala-ci.typesafe.com/job/scala-2.12.x-integrate-community-build/1211/consoleFull

[code]

attn @szeiger

[2017-01-25 19:37] szeiger commented on #466
https://github.com/slick/slick/pull/1686

[2017-01-25 19:39] sjrd commented on #465
https://github.com/scala-js/scala-js/pull/2753

[2017-01-26 20:10] SethTisue commented on #466
test 2.12 run: https://scala-ci.typesafe.com/job/scala-2.12.x-integrate-community-build/1214/consoleFull (404 til Jenkins finishes gazing at his reflection in a cool, clear mountain spring)

[2017-01-26 20:25] SethTisue commented on #466
green :-)

[2017-01-26 20:25] #466 closed, assigned to nobody

[2017-01-26 20:25] #465 closed, assigned to nobody

[2017-02-08 22:07] BennyHill commented on #439
Catalysts done - sorry for the delay

[2017-02-08 22:19] SethTisue commented on #439
@BennyHill I'll submit an unforking PR shortly

[2017-02-09 16:49] SethTisue opened #471 "play-core failing in 2.12.x and 2.13.x builds"
it's probably not 2.13 specific, probably the 2.12 would be failing too if it weren't broken for other reasons

[code]

@wsargent does this look like the usual kind of thing where the various Play repos are just a bit out of sync with each other and it will probably be fixed before long...?

[2017-02-09 20:13] wsargent commented on #471
Looking -- this seems to be coming from Play-JSON -- shows up in master:

https://github.com/playframework/play-json/blob/master/play-json/shared/src/main/scala/Json.scala#L68

Shows up in M2:

https://github.com/playframework/play-json/blob/2.6.0-M2/play-json/shared/src/main/scala/Json.scala#L68

Does not show up in M1:

https://github.com/playframework/play-json/blob/2.6.0-M1/play-json/src/main/

[2017-02-09 20:18] SethTisue commented on #471
yes, we are frozen at M1 of play-json, but that's because play-ws requires M1. can play-ws be upgraded?

[2017-02-09 20:22] SethTisue commented on #471
considering this at a higher level, perhaps it would be better if I just froze all of the Play repos at fixed versions in the community build. it really isn't the purpose of the Scala community build to be plan A for catching this kind of thing; it ought to be plan B, or, like, plan Z.

[2017-02-09 20:49] wsargent commented on #471
I can fix the dependencies.  Sorry, we're moving around a bunch of stuff right now.

[2017-02-10 18:32] ghost commented on #338
Thought: If it were easier/easy for the community build (CB) to be run locally (ie by project maintainers) they would be able to run their changes against the CB _before_ merging to master. I'm not suggesting they do this as part of, say, a Travis build nor even every merge.

But at times projects might actually want to do this - "I wonder if this will break anything". Just a thought on how to get

[2017-02-10 22:42] SethTisue opened #473 "regression: conductr-lib fails to extract"
this started recently: `[conductr-lib:error] java.lang.RuntimeException: These subprojects were not found: "lagom1ConductRBundleLib".  Found: "javaConductRBundleLib", "akka23TestLib", "play24ConductRBundleLib", "root", "akka24ConductRClientLib", "lagom1JavaConductRBundleLib", "play25Common", "play23Common", "akka24ConductRBundleLib", "play25ConductRClientLib", "scalaConductRBundleLib", "play24Cond

[2017-02-10 22:42] SethTisue commented on #473
thanks @BennyHill for reporting

[2017-02-10 22:46] SethTisue commented on #473
for now, I dealt with it by freezing (171dd016e5796f2be6386ff8db10fc3a21d77c13)

[2017-02-10 22:49] SethTisue commented on #408
I've added my local config to the repo: https://github.com/scala/community-builds/blob/2.12.x/artifactory.xml

[2017-02-10 22:49] SethTisue commented on #58
I've added my local config to the repo: https://github.com/scala/community-builds/blob/2.12.x/artifactory.xml

[2017-02-10 23:52] ghost opened #474 "Consider adding options to run.sh"
Currently, the main way to override value set in `run.sh` is to overrwrite local files. If options were added, not only is this cleaner for the obvious reasons, but would also allow standard variations to be kept in the repository - e.g. one config for latest (master), one for stable, etc

Suggested changes:

- Create directory `configs/scala` and move `community.dbuild, project-refs.conf, resolve

[2017-02-11 02:27] SethTisue opened #475 "spray-json-shapeless failing in 2.12.x build"
depends on shapeless which is currently broken in 2.12.x, but the failure can be seen by running the build against 2.12.1

at e.g. https://scala-ci.typesafe.com/job/scala-2.12.x-integrate-community-build/1258/consoleFull we see:

[code]

@fommil can you help with this? it isn't obvious to me what's going on here.

[2017-02-11 02:38] SethTisue commented on #475
to get the build green again, in #476 I just disabled compiling or running the tests

[2017-02-11 08:06] fommil commented on #475
That's very bizarre. I don't think I've changed anything, so could be a regression from anything to do with implicut resolution.

[2017-02-11 08:07] fommil commented on #475
@milessabin

[2017-02-11 08:33] SethTisue commented on #475
oh, maybe https://github.com/scala/scala/pull/5654 will fix it! let's wait and see

[2017-02-11 19:15] ghost commented on #474
First cut (but working) at https://github.com/BennyHill/community-builds/tree/fix/474

[2017-02-13 08:47] milessabin commented on #475
I think there's a good chance that scala/scala#5654 will fix it.

[2017-02-13 23:18] SethTisue commented on #475
optimistically closing on that assumption, I'll come back to it if we're guessing wrong

[2017-02-13 23:19] SethTisue commented on #471
verified that this also fails in the 2.12.x community build (with `version=2.12.1 ./run.sh`)

[2017-02-14 03:40] wsargent commented on #471
Should be fixed via https://github.com/playframework/play-ws/pull/78

[2017-02-14 06:07] #471 closed, assigned to SethTisue

[2017-02-14 06:07] SethTisue commented on #471
sweet, sweet green:

[code]

thank you @wsargent @cchantep!

[2017-02-14 09:01] milessabin commented on #475
Is there a successor issue to reenable spray-json-shapeless before release? If not, isn't closing this in advance just asking for it to fall between the cracks?

[2017-02-14 15:38] SethTisue commented on #475
oops, you're right

[2017-02-16 00:09] SethTisue commented on #475
the test still fails to compile in the context of the 2.12 community build even with `2.12.2-05d5338-nightly` in which SI-10154 is fixed, so apparently this is something else

whatever it is, spray-json-shapeless is the only affected project in the community build

I attempted to reproduce the problem outside of the community build, in the spray-json-shapeless repo, with

[code]

but the error did

[2017-02-16 07:03] fommil commented on #475
@milessabin any ideas?

[2017-02-20 11:15] milessabin commented on #475
@fommil on do my or @buzzard's comments on https://github.com/scala/scala/pull/5654 look relevant?

[2017-02-20 11:50] fommil commented on #475
I have absolutely no idea what is causing this

[2017-02-21 20:00] dwijnand opened #480 "zinc failing"
[code]

in https://scala-ci.typesafe.com/view/scala-2.11.x/job/scala-2.11.x-integrate-community-build/516/console

This is due to this change: https://github.com/typesafehub/zinc/pull/108

/cc @retronym @eed3si9n

[2017-02-21 23:49] retronym commented on #480
Is this "just" a matter of bumping the version of SBT used in this community build?

Seems to be on

[code]

I added the scare quotes above in anticipation of finding [this](https://github.com/scala/community-builds/blob/069acce95572c5659befb84d841e7142fef0af94/common.conf#L58-L61)

[code]

[2017-02-21 23:59] dwijnand commented on #480
Yeah I think you're right. But sbt/sbt#1523 is fixed with sbt/sbt#1531 which shipped in v0.13.6-RC1, so you shouldn't hit that issue.

[2017-02-22 01:34] dwijnand opened #482 "Make the community build a single-branch repo"
For one, this would mean that merging commits, even to a branch that isn't the default branch (e.g. the "2.11.x" branch when merging #481), which states "Fixes scala/community-builds#480", properly closes #480.

I believe the problem is related to Jenkins(?), but I'm not sure what the details are, so let's talk.

[2017-02-22 01:35] adriaanm commented on #482
We can't build the same set of projects on 2.11.x and 2.12.x, so this will have to be fixed on github's end. I logged a support ticket about this a while ago

[2017-02-22 01:35] adriaanm commented on #482
Our CI is set up under the assumption that the 2.11.x/2.12.x etc branches exist across repos

[2017-02-22 01:45] dwijnand commented on #482
I meant by having multiple configurations (eg 2.11.x/2.12.x/2.13.x) in the same branch.

By "across repos" do you mean between this repo and scala/scala?

[2017-02-22 01:47] adriaanm commented on #482
yes, jenkins checks out the 2.11.x branch during a build flow across many different repos

[2017-02-22 01:47] adriaanm commented on #482
I agree it's a disappointment that github doesn't support this yet, but I assume there's many repo setups like ours

[2017-02-22 01:47] #482 closed, assigned to nobody

[2017-02-22 01:49] retronym commented on #482
We probably don't do it in this repo, but, as we do in `scala/scala`, we should really merge 2.11.x -> 2.12.x -> 2.13.x (even if many of the changes are discarded with `git merge -sours`).

[2017-02-22 01:52] dwijnand commented on #482
Btw, that was only one reason for a mono-branch setup. I'm sure for day-in-day-out maintenance of the community builds it's a major PITA. This isn't just the GitHub thing.

[2017-02-22 05:40] SethTisue commented on #482
I do in fact do those merges! Actually 2.11.x -> 2.11.x-jdk8 -> 2.12 -> 2.13

sort of... not that much actually. the two 2.11 branches are pretty stable these days, changes are rare. I have to merge 2.12 stuff forward onto 2.13, but it's nbd. making parallel edits in two files on the some branch wouldn't really be notably easier I don't think.

[2017-02-24 00:56] SethTisue commented on #480
I will resolve this by just freezing zinc at the last green commit. The 2.11 community build is basically unmaintained at this point — it's full of freezes and forks, and Scala 2.11.x development more generally is coming to an end. A likely future (and not very distant, either) is that we freeze *all* of the projects in the 2.11 community build, not just this one.

Note that zinc (either typesafeh

[2017-02-24 01:06] #480 closed, assigned to SethTisue

[2017-02-24 01:22] dwijnand commented on #480
Basically there could be ancient, deprecated APIs in the compiler/interpreter/scaladoc/etc that sbt still calls for whatever reason. And a well-intentioned person might remove them, breaking sbt.

Fortunately a few, an unknown-percentage-of-the-whole, are commented in the scala/scala repo: e.g https://github.com/scala/scala/search?l=Scala&p=6&q=sbt&type=Code&utf8=%E2%9C%93

[2017-02-24 02:31] SethTisue commented on #480
so what would our strategy be for catching that? (is the community build the right venue?)

[2017-02-24 08:32] dwijnand commented on #480
If the Scala team feels like it wants to change the API in the near future then we should definitely have [all sbt 1 + modules](https://github.com/sbt/sbt/wiki/Module-status) up and running in the 2.12 and 2.13 community builds, probably using tags to start with, while we continue to faff about refactoring and breaking compatibilities between our own repos. Then the team would have to make a judge

[2017-02-24 12:28] dwijnand commented on #480
@SethTisue Thinking more about this, while dealing with differences in the compiler API between versions in sbt/zinc, I think we're doing the work twice. The compiler is holding on to APIs "for sbt" while sbt is dealing with version differences in the compiler. I would have to go back and check what's going on in sbt 0.13, but I think some of those compiler APIs could be removed now.

---

Also, r

[2017-02-24 13:22] fommil commented on #480
+1 we have so many *BackCompat mixins and implicit classes

[2017-02-24 14:34] dwijnand commented on #480
@SethTisue Just did some comparing-and-contrasting between sbt/sbt incremental compiler sources and sbt/zinc. sbt/sbt (i.e sbt 0.13) is using the deprecated sources. In sbt/zinc there are 2.11+ sources and 2.10 sources, where the 2.11+ sources use the modern APIs (like enteringPhase instead of atPhase).

[2017-02-24 19:23] SethTisue commented on #480
Dale — good thoughts, may I suggest you copy/paste into a new ticket and let's discuss further there? either here or scala-dev, whichever you think is more appropriate

[2017-02-24 19:37] dwijnand commented on #480
https://github.com/scala/scala-dev/issues/316

[2017-02-28 03:21] SethTisue commented on #473
@huntc can you advise me on how the config should be updated...?

[2017-02-28 03:37] huntc commented on #473
The Lagom Libs recently received a Java and a Scala flavour:

lagom1JavaConductRBundleLib
lagom1ScalaConductRBundleLib

No more lagom1ConductRBundleLib.

Apologies for having forgotten to advise.

[2017-02-28 04:48] #473 closed, assigned to SethTisue

[2017-02-28 04:48] SethTisue commented on #473
no worries, wasn't urgent! all good now after #485

[2017-03-14 16:10] SethTisue opened #493 "regression: scalacheck started failing in 2.12/2.13 builds"
as a result of recent build changes @rickynils committed to fix https://github.com/rickynils/scalacheck/issues/318

namely

[code]

example failure from https://scala-ci.typesafe.com/job/scala-2.12.x-integrate-community-build/1331/consoleFull:

[code]

[2017-03-14 16:55] SethTisue commented on #338
https://github.com/scala/community-builds/pull/492 added Adriaan's freeze script to the repo

[2017-03-15 00:19] SethTisue commented on #493
worked around it for now by freezing ScalaCheck in d5f670c2f4ce6d4464cf673fe6c99d43097554a3

[2017-03-15 20:16] SethTisue opened #495 "add parallel collections module to 2.13 build and fix key projects to use it"
once https://github.com/scala/scala/pull/5603 is merged

as per discussion on that PR

[2017-03-15 21:23] SethTisue commented on #495
I hit merge on 5603 just now, so I can start on this tomorrow if tonight's bootstrap job is green

[2017-03-16 18:51] SethTisue opened #499 "regression: scalafix, scalamock failing in 2.12"
e.g. at https://scala-ci.typesafe.com/job/scala-2.12.x-integrate-community-build/1343/consoleFull

[2017-03-16 20:32] SethTisue opened #500 "regression: scalaz & Monocle failing to extract (Scala Native issue)"
at e.g. https://scala-ci.typesafe.com/job/scala-2.12.x-integrate-community-build/1344/consoleFull

Scala Native related:

[code]

not reproducible locally, I guess because my Mac has that stuff on it

relevant scalaz commit is https://github.com/scalaz/scalaz/commit/1e3ce71fcf0a63c88166778c3f3823c9c8322f19

[2017-03-16 22:35] SethTisue commented on #474
fixed by #478

[2017-03-16 22:35] #474 closed, assigned to nobody

[2017-03-17 01:25] SethTisue commented on #500
addressed for the time being in a003917d77a10dd41baae420a318e97d612b2fed by freezing at last good commit; but I should report the problem upstream to the scala-native project (the error is coming from scala-native/sbt-scala-native/src/main/scala/scala/scalanative/sbtplugin/ScalaNativePluginInternal.scala)

[2017-03-17 02:12] SethTisue commented on #499
scalamock fixed in 870122c542aaa91a4ee7668c920eeca9b1e738f2

[2017-03-17 02:13] SethTisue commented on #499
scalafix issue is:

[code]

we recently refreshed our fork of scalafix, and when we did, we picked up a dependency change from `"org.scalameta" % "paradise"` to  `"org.scalamacros" % "paradise"`

@olafurpg can you explain what this is about? why did the dependency change?

I have worked around it for now by force-pushing the community-build-2.12 branch of scalafix in the scalacommunitybuild org ba

[2017-03-17 03:00] SethTisue commented on #499
sigh, but then I get:

[code]

we recently disabled the `contrib` subproject in scalameta, because there were failures and it didn't seem like something that was appropriate to include in the community build anyway. not that I even actually know what the `contrib` project is or why scalafix's core depends on it.

@olafurpg can you enlighten me about that as well, and suggest how I ought to be hand

[2017-03-17 03:17] SethTisue commented on #495
[code]

ahhhhhhh

[2017-03-17 03:46] SethTisue commented on #495
[code]

🤔

[2017-03-17 04:02] SethTisue commented on #495
pushed a fix for the hamcrest thing (though I don't understand it)

[2017-03-17 04:04] SethTisue commented on #495
fixed by #501

[2017-03-17 04:20] SethTisue commented on #495
reopening because there's still the "and fix key projects to use it" part left to do

[2017-03-17 05:57] SethTisue commented on #495
[code]

37 projects remain green. scala-js and specs2 are the heavies here.