[2017-03-17 09:32] olafurpg commented on #499
I'm sorry to hear this.

The contrib module had breaking tests because of a bug in our ci build, which has been fixed. Scalafix core depends on contrib, it contains utilities to traverse/manipulate trees which may or may not make it into scalameta core later.

I recommend we disable scalafix and scalameta in the community build for now. Both projects are still rapidly evolving, with a lot of movin

[2017-03-17 14:54] SethTisue commented on #499
as of https://scala-ci.typesafe.com/job/scala-2.12.x-integrate-community-build/1349/consoleFull our fork is green again (by rewinding to February and altering the scalameta dependency), so I'm content to just leave it where it is for now. later on, we can revisit the issue — either in the direction of refreshing the fork, or in the direction of disabling it, as the case may be, depending.

in 203b

[2017-03-17 14:54] #499 closed, assigned to nobody

[2017-03-17 21:34] SethTisue commented on #500
reported upstream at https://github.com/scala-native/scala-native/issues/562

[2017-03-18 00:50] SethTisue commented on #495
Scala.js: ticket opened at https://github.com/scala-js/scala-js/issues/2811 requesting they make whatever the necessary change is

[2017-03-18 00:55] SethTisue commented on #495
log with current set of failures: https://scala-ci.typesafe.com/view/scala-2.13.x/job/scala-2.13.x-integrate-community-build/283/consoleFull (2.13.0-pre-e2a2cba)

[2017-03-18 01:12] SethTisue commented on #495
I'm having trouble seeing what the specs2 errors have to do with parallel collections. maybe there's some other cause.

the last 2.13.x run with green specs2 was 2.13.0-pre-ef63cb9 https://scala-ci.typesafe.com/view/scala-2.13.x/job/scala-2.13.x-integrate-community-build/275/consoleFull just a couple days ago. in that build specs2 was at 3eb0e7fa808131608d9cd139736fda6f28aaf219 which is the same S

[2017-03-18 01:53] SethTisue commented on #495
hmm, this looks like a clue:

[code]

no such line appears in the green run at https://scala-ci.typesafe.com/view/scala-2.13.x/job/scala-2.13.x-integrate-community-build/267/consoleFull

let's go in with:

[code]

which reproduces the failure, at least (and the `Rewriting junit:junit` thing, but note that running dbuild with `-d` is needed in order to see that)

@cunei I'm totally puzzled by this.

[2017-03-18 02:00] SethTisue commented on #495
@cunei perhaps it's not unrelated that when I added scala-parallel-collections to the build, I had to do:

[code]

maybe somehow the same problem — a JUnit-related Java-based dependency not being found

[2017-03-18 02:18] SethTisue commented on #495
workaround attempt `"set libraryDependencies in core += \"junit\" % \"junit\" % \"4.12\" % \"test\""` did not help, dbuild just went ahead and rewrote that one too

[2017-03-18 02:29] SethTisue commented on #495
@cunei the only other recent change I can think of that might somehow possibly be relevant is the switch in Scala version number format — used to be 2.13.0-abcd123-nightly, is now 2.13.0-pre-abcd123 (in the 2.12 series it's "bin" instead of "pre", so that could be relevant to why we're only having this problem in a 2.13 context)

[2017-03-18 02:48] SethTisue commented on #495
OK, I finally have a solid lead on this. I think the problem is that scala-parallel-collection publishes, or dbuild thinks scala-parallel-collections publishes.... _something_ (junit?) that causes a bunch of extra dependencies to show up:

[code]

these dependencies should certainly not be there, as none of these projects have been modified to depend on the new module.

and in fact, removing scala

[2017-03-18 02:52] SethTisue commented on #495
hehehehe gotcha!

[code]

glad that neither I nor dbuild turns out to be insane after all

[2017-03-19 03:08] SethTisue commented on #495
fixed it over at https://github.com/scala/scala-parallel-collections/pull/10

[2017-03-20 00:18] xuwei-k commented on #500
monocle will also fail https://github.com/julien-truffaut/Monocle/pull/508

[2017-03-20 17:11] SethTisue opened #502 "regression: weird MiMa related json4s failure"
at e.g. https://scala-ci.typesafe.com/job/scala-2.12.x-integrate-community-build/1359/consoleFull we see:

[code]

they did recently move to a newer MiMa version (to 0.1.14) in 8781fb6ac70e600843e4a725c611275e18186948

but they're already using the right key name

[code]

so I'm puzzled. I'll investigate further

[2017-03-20 17:14] SethTisue opened #503 "regression: breeze can't find spire dependency"
seen at e.g. https://scala-ci.typesafe.com/job/scala-2.12.x-integrate-community-build/1356/consoleFull

looks like the cause is

[code]

looks like we should freeze Spire until they've published under org.typelevel and breeze has updated their dependency

[2017-03-20 17:16] SethTisue commented on #500
thanks for the heads up — I froze Monocle in 5395c19670720f762a34ed343872e14dd34b3fa6

it looks like Guillaume is working on this and we'll be able to unfreeze before long, once he has a fix

[2017-03-20 17:23] SethTisue commented on #503
froze spire for now in 2eed49651966c247b36b29910725678990775f68. fyi @dlwh

[2017-03-20 21:53] SethTisue commented on #502
oh haha, that code is in our own `community.dbuild`. ok, easy fix

[2017-03-20 22:07] #502 closed, assigned to SethTisue

[2017-03-21 17:04] SethTisue opened #504 "regression: scalaprops doesn't compile"
seen at e.g. https://scala-ci.typesafe.com/job/scala-2.12.x-integrate-community-build/1362/consoleFull

[code]

@xuwei-k any idea what this is about? looks related to scalaz upgrade?

I'll try to work around it for now by freezing scalaprops at 275dec775d7a9443f31f18a6258fbfd443e8deb1 (EDIT: frozen in 0c4961020a3b2336a95c64da83dcebbe315927e2)

[2017-03-21 17:27] xuwei-k commented on #504
Ah, Yes I was cherry-picked CorecursiveList into the scalaz `series/7.2.x` branch, release scalaz 7.2.10, and use CorecursiveList in scalaprops.

https://github.com/scalaz/scalaz/commits/series/7.2.x

[code]

freeze https://github.com/scalaz/scalaz/tree/8c7d8ab41f4b40d02f938f9609be0f7e3568764f (before scala-native commit) instead of https://github.com/scalaz/scalaz/tree/0506a651beab3a700f241a8cb45

[2017-03-21 20:22] #504 closed, assigned to nobody

[2017-03-21 20:22] SethTisue commented on #504
thank you Kenji!

[2017-03-21 22:32] SethTisue commented on #59
I've gotten interested in this again, partly because I would really like to have a number to put in a [blog post](https://github.com/typesafehub/scala-team/issues/39)

the most accurate approach would be to inject some instrumentation into the compiler. I guess this would be a little compiler plugin that we'd add to all the projects that would count the lines and print a line of output with a sum,

[2017-03-21 22:42] gkossakowski commented on #59
@SethTisue have you considered running `cloc` from the compiler plugin? You could easily access the set of sources compielr is about to compile from the plugin and rely on cloc's impl for skipping comments and counting code?

[2017-03-22 18:05] fommil commented on #475
I can run `sbt test` in spray-json-shapeless with this

[code]

and I get green lights... so if this still happens in the community build then my guess is a shapeless regression.

[2017-03-25 19:50] sjrd opened #506 "Question: should the community build monitor Scala.js' `master` or `0.6.x` branch?"
Currently, the community build monitors Scala.js' `master` branch. Until now, that was the obvious thing to do, as it was the only long-lived branch in Scala.js.

However, now Scala.js has two long-lived branch: `0.6.x` and `master` (the latter targeting 1.0.0). So we have a dilemma: which branch should be tracked?

Downstream Scala.js projects definitely build against `0.6.x` for the moment, so t

[2017-03-27 17:17] SethTisue opened #507 "Monix regression in 2.12.x build"
https://scala-ci.typesafe.com/job/scala-2.12.x-integrate-community-build/1375/consoleFull shows:

[code]

@alexandru (nice to meet you the other day!) any idea what's up here? the failure was with monix/monix@56240d928737f0a119f8773d61a119ea953a7061, last green build was run 1372 with monix/monix@bfb9274fcf29ddb93bcd0ca8684570a3d8a11ea3 (Scala version in both is 2.12.2-bin-4dc194d)

[2017-03-28 02:43] alexandru commented on #507
@SethTisue sorry, for some reason my [Minitest](https://github.com/monix/minitest) needs to depend on `scala-reflect` (compile, not provided) and when I upgraded some dependencies `scala-reflect` was dropped.

I have released Minitest 1.0.1 on Maven Central and the problem should be solved soon.

[2017-03-29 15:49] SethTisue commented on #507
fixed since run 1376, thanks!

[2017-03-29 15:49] #507 closed, assigned to SethTisue

[2017-03-30 22:53] SethTisue commented on #506
(as an aside, note that dbuild's "spaces" features would actually allow building both; one of them in a "space" of its own that doesn't affect anything else, and another that other projects would actually see/use (to the limited/nonexistent extent that Scala.js gets "used" at all by anything downstream, in a community build context). that would probably be overkill here though.)

my experience in

[2017-03-30 23:40] sjrd commented on #506
We're literally only waiting for the CI job: https://scala-webapps.epfl.ch/jenkins/job/scalajs-pr/3826/ ;)

[2017-04-02 21:21] SethTisue opened #509 "re-add spray-json to 2.13 build"
of the things removed in #508, this had the most dependees, so I should tackle it next:

[code]

[2017-04-03 18:31] SethTisue commented on #506
master is green again on 2.13. let's leave it there

[2017-04-03 18:31] #506 closed, assigned to nobody

[2017-04-04 00:50] SethTisue commented on #59
@gkossakowski that's a good idea. the plugin could just print the filenames, then we'd grep for those and pass them to cloc.

[2017-04-04 02:27] SethTisue commented on #495
scala-js and specs2 are back in, so I'm going to close this; re-additions (and re-removals, surely) will happen gradually over the rest of the 2.13 cycle

[2017-04-04 02:27] #495 closed, assigned to SethTisue

[2017-04-06 12:24] SethTisue opened #513 "regression: Slick failing, problem with Ornate"
seen at e.g. https://scala-ci.typesafe.com/job/scala-2.12.x-integrate-community-build/1395/consoleFull

[2017-04-06 16:21] SethTisue opened #515 "move scalaz to 7.3.x?"
@aloiscochard asked if this would be possible

we can certainly try it and see what happens. cc @xuwei-k

[2017-04-06 16:29] SethTisue commented on #515
I'll do a trial run sometime soonish (not this week, hopefully within the next week or two). success will depend on how many projects have scalaz-based code that is source-incompatible with 7.3. (dbuild will override their declared dependency, so as usual with community build stuff, only source compatibility matters.)

[2017-04-06 17:10] SethTisue commented on #513
cc @szeiger. I think it might work to just exclude the "root" project, since it isn't a real project anyway

[2017-04-06 17:18] SethTisue commented on #500
scalaz is unfrozen, since @xuwei-k added workaround code while we await a real fix

[2017-04-06 17:19] SethTisue commented on #509
fixed by #510

[2017-04-06 17:19] #509 closed, assigned to SethTisue

[2017-04-06 18:00] SethTisue commented on #513
2.11.x-jdk8 was affected as well. on that branch, I just froze it, we don't really need stuff unfrozen there: 75fcae36a68590cc5d0478bf0a16d6524822792a, green run https://scala-ci.typesafe.com/view/scala-2.11.x/job/scala-2.11.x-jdk8-integrate-community-build/358/

[2017-04-06 18:02] #513 closed, assigned to SethTisue

[2017-04-06 18:11] szeiger commented on #513
Oh, only a missing dependency because you don't build Ornate. I thought it would be something more sinister like strange exceptions being thrown from the internals of Rhino because a Java 8 installation on the build slave is a few patch levels too old :)

[2017-04-06 19:31] SethTisue opened #517 "deal with -Xfatal-warnings for Scala 2.12.2 release, and after"
once https://github.com/scala/scala/pull/5402 is merged, some projects in the community build that have `-Xfatal-warnings` will start failing — we've already seen that in the test runs on that PR.

What I have time to do right now (meaning in time for 2.12.2) is flip a big switch and temporarily disable `-Xfatal-warnings` community-build wide. At least, I think I can fairly-easily do that in dbuil

[2017-04-07 16:20] SethTisue commented on #513
@szeiger would you like to take a stab at adding Ornate?

[2017-04-07 16:43] SethTisue commented on #503
https://github.com/non/spire still has the old org

[2017-04-07 16:57] SethTisue commented on #264
sbt 1.0 is now a lot closer to being a reality, so it's time or almost time to proceed with this. I asked @dwijnand about it just now and he agreed. as we already said earlier, it will probably be necessary to use tags rather than track branches.

[2017-04-10 10:40] szeiger commented on #513
I don't think it would be a very useful addition. It's an application (not a library), written in pretty simple Scala (nothing interesting to test) and heavily using Nashorn (which provides many opportunities for things to go wrong that are unrelated to what we want to test in the community build)

[2017-04-10 21:30] SethTisue commented on #517
it looks like #521 will be sufficient here, no big hammer needed

[2017-04-10 21:30] #517 closed, assigned to SethTisue

[2017-04-10 21:42] som-snytt commented on #517
When everything looks like a big nail, one always reaches for a big hammer.

[2017-04-10 21:46] SethTisue commented on #517
btw I'm working on fixing the warnings in scala-partest

[2017-04-11 01:10] SethTisue commented on #506
here's a master change that broke a project (utest): https://github.com/lihaoyi/utest/issues/108

for now, freezing Scala.js at scala-js/scala-js@d6e876381a61f58f122fad0232de53a0b499b720: d9704d00eb27e602686a795d8b6eeeebc846d9af

[2017-04-11 02:38] som-snytt commented on #517
I have a fix for partest, since I was also touching another partest fix.

[2017-04-11 02:40] SethTisue commented on #517
you snooze you lose https://github.com/scala/scala-partest/pull/83

[2017-04-11 02:44] som-snytt commented on #517
Gah, conflicts.

[2017-04-11 19:40] SethTisue opened #526 "assorted new 2.12.x failures"
https://scala-ci.typesafe.com/job/scala-2.12.x-integrate-community-build/1418/consoleFull

[code]

same in 1417, so all probably not intermittent

 - [X] scalaprops, algebra, play-ws, atto: disable `-Xfatal-warnings`
 - [X] scalameta: needs https://github.com/scala/scala/pull/5844
 - [X] scalamock: regression in specs2 (https://github.com/etorreborre/specs2/commit/e4e9ab7)
 - [X] akka-sse:

[code]

[2017-04-11 19:54] SethTisue commented on #526
akka-sse: no recent commits in the upstream repo. last green run was with 2.12.2-bin-1ef37f0. nontrivial Scala PRs merged since then: 5402 (unused warnings), scala/scala#5816 (apply/unapply)

@adriaanm and @lrytz both suspect 5816

[2017-04-11 20:07] SethTisue commented on #526
warnings fix in 6430c0a822582aaf0089c36a6c1697dbf779d460, https://scala-ci.typesafe.com/job/scala-2.12.x-integrate-community-build/1419/consoleFull in progress

[2017-04-11 20:57] SethTisue commented on #526
now scalaprops needs the same JSExportDescendentObjects fix utest got

UPDATE: f61b173b3b07759960a4057a30853f76093521af, newer test run https://scala-ci.typesafe.com/job/scala-2.12.x-integrate-community-build/1420/consoleFull

[2017-04-11 21:45] SethTisue commented on #526
refreshed scalameta fork in scalacommunitybuild org, so we're testing the latest there. dbuild tweaks in c420055427d537b76161b473d3ebf32271cb2ed3. new test run https://scala-ci.typesafe.com/job/scala-2.12.x-integrate-community-build/1421/consoleFull

[2017-04-11 21:59] SethTisue commented on #526
5844 merged, new release-main job: https://scala-ci.typesafe.com/job/scala-2.12.x-release-main/756/consoleFull

[2017-04-11 22:12] SethTisue commented on #526
akka-sse thing is now scala/bug#10261

[2017-04-12 02:12] SethTisue commented on #526
as of run 1421, just 3 failures: scalameta, ​scalamock, ​akka-sse. run 1422 should fix scalameta; https://github.com/scala/scala/pull/5845 isn't merged yet but should fix akka-sse; hopefully the scalamock thing is a transient, timeout-type thing (it looks like it from the name of the failed test)

[2017-04-12 15:53] SethTisue commented on #526
the scalamock thing is not transient; `org.scalamock.test.specs2.SuiteScopePresetMockParallelTest` fails in every run

[2017-04-12 19:15] adriaanm commented on #526
investigating after lunch

[2017-04-12 19:56] SethTisue commented on #526
scalameta fixed by #527

[2017-04-12 20:54] SethTisue commented on #526
in local test: `[info] Project akka-sse----------------: SUCCESS (project rebuilt ok)`

[2017-04-14 16:17] SethTisue commented on #526
scalamock thing was addressed by freezing specs2 in 65c3a820f15aa702c66052d30cf76cbb70a33c6c and b433526d22cc7fced09f400f59c6f3a22807f7ef

[2017-04-14 16:17] #526 closed, assigned to SethTisue

[2017-04-18 01:35] SethTisue commented on #515
wip on this is at #524  in case we decide to return to it. the scalaz/scalaz readme still describes 7.2.x as the latest stable version, so it's fine to stay there for now.

[2017-04-18 08:37] aloiscochard commented on #515
Thanks for starting the effort @SethTisue !

[2017-04-20 14:49] SethTisue opened #531 "new monix failure in both 2.12 and 2.13"
not intermittent, it fails every time

seen at e.g. https://scala-ci.typesafe.com/job/scala-2.12.x-integrate-community-build/1449/consoleFull (1448 was green)

[code]

@alexandru are you seeing this failure in your own runs...?

[2017-04-20 15:25] SethTisue commented on #531
last green run monix/monix.git@6690cef9622d9dcda594dcdf8efdbcf19f20b0f2, first failed run monix/monix@59d044844424f3922dd923e942e90056ec18d179

[2017-04-20 15:30] SethTisue commented on #531
test run freezing at 6690cef: ~~https://scala-ci.typesafe.com/job/scala-2.12.x-integrate-community-build/1452/consoleFull (404 til Jenkins snaps out of the deep trance the conference center carpet patterns put him in)~~ https://scala-ci.typesafe.com/job/scala-2.12.x-integrate-community-build/1453/consoleFull

[2017-04-20 15:31] alexandru commented on #531
Thanks Seth for the report, I'm on it.

--
Alexandru Nedelcu
alexn.org

On Thu, Apr 20, 2017, at 18:30, Seth Tisue wrote:

Links:

  1. https://github.com/scala/community-builds/issues/531#issuecomment-295780250
  2. https://github.com/notifications/unsubscribe-auth/AAAt6SOFSttKQHayDm42m0z2IOnJlPEyks5rx3oDgaJpZM4NDI4h

[2017-04-20 18:25] SethTisue commented on #531
freeze is green, so I pushed it to 2.12.x: 3d1d24d560fd18a3eee4d3ed1f5fc886ccf35ca4

unfreezing again would be nice, but it's not urgent

[2017-04-21 11:09] alexandru commented on #531
@SethTisue I solved this issue, it's no longer happening.

[2017-04-24 18:35] #531 closed, assigned to nobody

[2017-04-24 18:35] SethTisue commented on #531
unfroze, local test passed. thanks!

[2017-04-26 00:55] SethTisue opened #533 "re-add scalameta to 2.13 community build"
@xeno-by you can see the failure details at https://scala-ci.typesafe.com/job/scala-2.13.x-integrate-community-build/318/consoleFull — it's because scala-parallel-collections is a module now. see https://github.com/scala/scala-parallel-collections#usage (which I just wrote today) for instructions on how to deal with it in your build and code

this isn't necessarily urgent, since (even in the 2.12

[2017-04-27 04:43] SethTisue opened #534 "regression: genjavadoc failing in 2.13 build"
last green https://scala-ci.typesafe.com/view/All/job/scala-2.13.x-integrate-community-build/364/consoleFull

first red https://scala-ci.typesafe.com/view/All/job/scala-2.13.x-integrate-community-build/366/consoleFull

there was activity in the repo recently, publishing for 2.13.0-M1

I will investigate

[2017-04-27 05:12] xuwei-k commented on #500
scala-native 0.2.0 released but I found an another issue https://github.com/scala-native/scala-native/issues/673

[2017-04-27 07:59] lrytz commented on #534
The revision that was picked is the current HEAD, i.e., with 2.13 support merged (https://github.com/typesafehub/genjavadoc/pull/103).

`[genjavadoc] [error] (genjavadoc-plugin/compile:doc) Scaladoc generation failed`

above that error:

[code]
So it seems the only source file that's passed to Scaladoc is `plugin/src/main/scala-2.12/com/typesafe/genjavadoc/Comments.scala`. The fact that this file

[2017-04-27 08:01] lrytz commented on #534
locally it seems ok:
[code]

[2017-04-29 10:30] xuwei-k commented on #500
https://github.com/julien-truffaut/Monocle/pull/518

[2017-05-01 18:54] SethTisue opened #538 "regression: Scaladoc blows up in 2.11.x-jdk8 build after scala-xml changes"
last green build was scala/scala-xml@383f5fa34335c156e077dc93fc0c7cf40f8d0ec5 https://scala-ci.typesafe.com/view/scala-2.11.x/job/scala-2.11.x-jdk8-integrate-community-build/372/

first failing build scala/scala-xml@8495b63b132593d96f55876a4bc050578bed22db https://scala-ci.typesafe.com/view/scala-2.11.x/job/scala-2.11.x-jdk8-integrate-community-build/373/

scala-xml itself builds, but then multipl

[2017-05-01 20:15] ashawley commented on #538
So this only affects 2.11?

And the errors are about missing definitions for scala-library?

Unfortunately, those are two big changes, IMO.  Although, if I had to guess , the exclude rule change should only be in the scope of the scala-compiler dependency for _testing_...

The change scala/scala-xml@de0b47e from a few days prior dropped an import from `NodeSeq`, that was reportedly, "unused".  I p

[2017-05-01 20:17] SethTisue commented on #534
after merging 070502d5c521d866f4d791f93dcf1953c9b807fe forward onto 2.13.x, the error changes:

[code]

[2017-05-01 21:31] SethTisue commented on #534
cripes. this new error happens running dbuild on Jenkins, but doesn't happen running dbuild locally 😱

on the Jenkins runs, this whole section, where the plugin/src/main sources get compiled, is missing from the log:

[code]

wtf.

[2017-05-01 21:47] SethTisue commented on #534
in the code in genjavadoc's `project/Build.scala` that sets `unmanagedSourceDirectories in Compile`, adding some debugging output:

[code]
shows that

[2017-05-01 21:47] SethTisue commented on #534
in the code in genjavadoc's `project/Build.scala` that sets `unmanagedSourceDirectories in Compile`, adding some debugging output:

[code]

shows that the paths get mangled:

[code]

[2017-05-01 21:48] SethTisue commented on #534
haha it's because the presence of `scala-2.13.x-integrate-community-build` in the pathname triggers the regex! lol

[2017-05-01 21:56] SethTisue commented on #534
PR: https://github.com/typesafehub/genjavadoc/pull/104

[2017-05-01 22:08] #534 closed, assigned to nobody

[2017-05-01 22:20] SethTisue commented on #538
yes

I don't know how to interpret the error yet.

I'll do a test run against scala/scala-xml@121034f shortly so we won't have to guess which one it was, at least

[2017-05-01 22:46] SethTisue commented on #538
121034f has the same problem, so looks like @lrytz will be answering for this at the gates of heaven, not you

[2017-05-01 22:48] ashawley commented on #538
Ok, cool.  Thanks for figuring that out.

If it is Lukas's change, then it will also include the upgrade of sbt-scala-module:

https://github.com/scala/sbt-scala-modules/compare/v1.0.4...v1.0.8

[2017-05-01 22:53] SethTisue commented on #538
scala-xml build log:

<details>

[code]

</details>

[2017-05-01 22:54] SethTisue commented on #538
ok so that log is full of references to 2.12.2 even though this is a 2.11 build, so there you go

[2017-05-01 23:00] SethTisue commented on #538
ah OK I think I know what's going on here. Lukas assumed that we never want to build a 2.11 Scala module on JDK 8, and that logic is baked into sbt-scala-modules:

[code]

that was a rather reasonable assumption, but it happens to be wrong in the context of the 2.11.x-jdk8 community build specifically.

I will now attempt to override this in the community build config rather than having to change

[2017-05-01 23:07] ashawley commented on #538
So, how did the community build work when the build.sbt for scala-xml was this?

[code]

Or is building 2.11 on jdk8 new?

[2017-05-01 23:09] SethTisue commented on #538
not new.

it is indeed mysterious why dbuild was able to override `scalaVersion` before but not now.

[2017-05-01 23:15] SethTisue commented on #538
maybe this will help

[code]

[2017-05-01 23:19] SethTisue commented on #538
haha deja vu, this is https://github.com/scala/community-builds/issues/142 (October 2015) all over again, except my fix wasn't quiiiite right before

[2017-05-01 23:23] #500 closed, assigned to nobody

[2017-05-01 23:31] #538 closed, assigned to SethTisue

[2017-05-01 23:32] SethTisue commented on #538
fix in #542. #541 has some followup

[2017-05-01 23:34] SethTisue commented on #538
doh! you're both off the hook

"In order that the happiness of the saints may be more delightful to them and that they may render more copious thanks to God for it, they are allowed to see perfectly the sufferings of the damned", said Thomas Aquinas, so @lrytz is going to be up there laughing at me wrestling with dbuild for all of eternity

[2017-05-02 06:50] lrytz commented on #534
Sorry for the pain.. That was not easy to spot.

[2017-05-02 07:00] lrytz commented on #538
[code]

Just to clarify: the only thing the boolean flag does is define whether or not the version is included in `crossScalaVersions`, depending on the presence of the `TRAVIS_TAG` environment variable.

[2017-05-02 18:00] SethTisue commented on #534
no worries :-)

[2017-05-13 14:37] xuwei-k commented on #493
https://github.com/rickynils/scalacheck/commit/9b71bb3dfe186c03292faa59976487af2ee23caa

[2017-05-13 15:05] SethTisue opened #544 "regression: cats-effect breaking in 2.12 build"
last green scala/scala@c9c5cfd typelevel/cats-effect@2e0e05c2d6e3940ad4be5c75ea4a675b126da4b9 https://scala-ci.typesafe.com/job/scala-2.12.x-integrate-community-build/1501/consoleFull

first red scala/scala@2f52c61 typelevel/cats-effect@36a0fb64dfec3f28f40f7a632037a1536047ea32 https://scala-ci.typesafe.com/job/scala-2.12.x-integrate-community-build/1502/consoleFull

there are no relevant differenc

[2017-05-13 15:11] SethTisue commented on #493
thanks for the heads up. unfreeze test run https://scala-ci.typesafe.com/job/scala-2.12.x-integrate-community-build/1505/consoleFull (404 til Jenkins determines if the small houseplant on his desk is real or artificial)

[2017-05-13 15:29] SethTisue opened #545 "regression: scalatex started failing in 2.12 build"
last green scala/scala@2f52c61 lihaoyi/scalatex@8ea09e83533b634c7f00b7ceba7fa93b982c6764 https://scala-ci.typesafe.com/job/scala-2.12.x-integrate-community-build/1502/consoleFull

first red scala/scala@2f52c61 lihaoyi/scalatex@8ea09e83533b634c7f00b7ceba7fa93b982c6764 https://scala-ci.typesafe.com/job/scala-2.12.x-integrate-community-build/1503/consoleFull

[code]

[2017-05-13 15:45] SethTisue commented on #493
try again without fatal warnings: https://scala-ci.typesafe.com/job/scala-2.12.x-integrate-community-build/1506/consoleFull

EDIT: ScalaCheck built this time, but it'll take a while to rebuild the world

[2017-05-13 17:36] SethTisue commented on #545
both the Scala and the scalatex versions are the same, so it must be a change in a dependency

[code]

lihaoyi/fastparse@c3ac46db0ce32a64302ebf20447959dd016b58ed says "Still a WIP, since a bunch of tests are failing", and we don't run fastparse's test suite, so that seems like a likely culprit

[2017-05-13 17:42] SethTisue commented on #545
hmm freezing at lihaoyi/fastparse@b177199946568be501b67587fdd548d0f7c88d48 didn't fix the problem in a local test?!

[2017-05-13 22:38] #493 closed, assigned to SethTisue

[2017-05-15 21:41] SethTisue commented on #545
this was fixed upstream, presumably it was https://github.com/lihaoyi/Scalatex/commit/ae6fed847aa97ceae1418f177d4a17472f7272b3 that did the trick

first green-again run https://scala-ci.typesafe.com/job/scala-2.12.x-integrate-community-build/1511/

[2017-05-15 21:41] #545 closed, assigned to SethTisue

[2017-05-16 00:13] SethTisue commented on #475
I'm going to close this since it isn't, so far as we know, actionable in this repo.

[2017-05-16 00:13] #475 closed, assigned to nobody

[2017-05-16 00:18] SethTisue commented on #503
https://github.com/non/spire has the new org now, but https://github.com/scalanlp/breeze/blob/master/math/build.sbt still has the old dependency

@dlwh could you update the dependency so we can unfreeze spire?

[2017-05-16 00:33] SethTisue commented on #544
@alexandru @djspiewak this is too involved for me to look into. dealing with by freezing cats-effect at 2e0e05c: 06cf7c62c669f243a8ae6cf8d56fc0e2d89fcbec. not sure if you or another cats-effect contributor wants to look into it

[2017-05-16 00:33] #544 closed, assigned to SethTisue

[2017-05-16 04:58] djspiewak commented on #544
@SethTisue I'll take a look at it.  Sorry, didn't realize that this was even a thing.  The build is clean locally and in our own CI.  It looks a lot like this is somehow being compiled against a snapshot of cats-core 1.0; could that be the case?

[2017-05-16 05:28] SethTisue commented on #544
yes, the community build builds snapshots of everything, and collectively rewires them all to depend on those just-built snapshots, instead of on previously published artifacts. you can think of it as globally replacing binary dependencies with source dependencies.

the snapshots are usually of a project's development branch....unless a project has specifically been frozen at a particular commit,

[2017-05-16 06:36] djspiewak commented on #544
That's what I thought it did.

So this is a problem mostly because there are a number of instances that we depend upon which didn't exist in cats 0.9, so they were recreated in cats-effect.  I'll poke around over the weekend and see if I can contrive a way of making things compatible with both.  I guess that for now, freezing the cats-effect side (by far the less important project) is the right th

[2017-05-16 07:08] fommil commented on #475
It's this still failing? I thought I fixed everything? I'm honestly too busy to fix this failures at the moment as I'm moving house. Can you please request help from scala/contributors ?

[2017-05-16 15:04] SethTisue commented on #475
it isn't making the community build red, because we simply disabled running your tests. very likely the problem isn't actually fixed, though someone would have to re-enable your tests and do a test run in order to find out.

I don't have time to pursue this further on my own, including seeking help elsewhere. the community build has alerted to you and Miles to a possible regression that may break

[2017-05-16 16:00] fommil commented on #475
sure, no problem. This will have to rot.

[2017-05-23 18:48] SethTisue opened #549 "move from cats 0.9 to 1.0"
the needed cats-effect change was made in https://github.com/typelevel/cats-effect/pull/61 (thanks @djspiewak!), but we can't unfreeze cats until https://github.com/monix/monix/issues/366 is resolved

[2017-05-27 22:58] fommil commented on #475
@SethTisue I fixed some compiler warnings (escalated to error in CI) in both spray-json-shapeless and pcplod. Could you please re-enable them? 2.12.2 introduced some pretty harsh unused variable checks.

[2017-05-30 14:13] SethTisue commented on #475
https://github.com/scala/community-builds/pull/550

[2017-05-30 18:21] fommil commented on #475
I'm pretty sure this is a regression in shapeless because it passes fine with scala-2.12.2 + shapeless-2.3.2 and the problem been happening since before 2.12.2 was cut. @milessabin have there been any changes in shapeless master that could impact typeclass derivation of sealed families?

specifically, typeclass derivation of this AST https://github.com/fommil/spray-json-shapeless/blob/master/src/t

[2017-05-30 19:00] SethTisue commented on #475
@fommil would you like me to do a test run with shapeless frozen at https://github.com/milessabin/shapeless/releases/tag/shapeless-2.3.2?

[2017-05-30 19:02] fommil commented on #475
the 2.3.2 release would be about right 77a826e7aad0abc91dd60c69c1283c5abcec86a6

[2017-05-30 19:10] SethTisue commented on #475
okay, let's try it: https://scala-ci.typesafe.com/job/scala-2.12.x-integrate-community-build/1540/consoleFull

[2017-05-30 19:28] SethTisue commented on #475
note how responsive I am when we aren't about 9 timezones apart :-)

[2017-05-30 19:36] SethTisue commented on #475
gah

[code]

I'll look into it, probably some 1 line tweak is needed

[2017-05-30 19:43] fommil commented on #475
Ha! And the irony, I was in the states when I fixed my end.

[2017-05-31 23:51] SethTisue opened #552 "sbt 1.0 support"
let's start thinking about this

dbuild already allows projects to use different sbt versions, by overriding `extra.sbt-version`

we'll need dbuild to support 1.0.

is it plausible that dbuild could support a mix of sbt 0.13 and sbt 1.0 based projects in the same overall build?

**if yes**, then we're fine, all the real work will be on the dbuild side, and here we'd just need to make sure each pro

[2017-05-31 23:56] SethTisue commented on #552
hmm. perhaps 2.12.x-sbt-1.0 would never need to have any commented-out projects, only projects that are retrieved from published binaries (rather than built from source), for dependent projects to use

[2017-06-01 12:33] SethTisue opened #553 "add a compiler and/or sbt plugin to every project?"
the desire for this has come up at least three times:

* to count the number of lines of code in the build (https://github.com/scala/community-builds/issues/59#issuecomment-288240127)
* in the context of wanting to test [HPE Fortify](https://www.lightbend.com/blog/lightbend-and-hpe-announce-new-hpe-fortify-scala-plugin-for-static-application-security-testing-sast)
* @dragos said today they had hop

[2017-06-01 12:53] cunei commented on #553
I think not. The "commands" in theory could be used to inject additional files, and therefore to add a plugin file, but the "commands" are only invoked after the dependencies have already been rearranged, therefore well after the sbt project had been loaded, and therefore too late for plugins (but still in time to add source files to the project, for instance).
I'm thinking... Well, the options `s

[2017-06-01 14:11] dwijnand commented on #553
Careful not to confuse sbt plugins with compiler plugins.

[2017-06-01 14:13] cunei commented on #553
Sorry, I misread

[2017-06-01 14:14] dragos commented on #553
Indeed... for us, it's the Sbt plugin that we need to add. I'm guessing @SethTisue was thinking about compiler plugins.

[2017-06-01 14:18] cunei commented on #553
The same should apply for compiler plugins as well, actually. The line `addCompilerPlugin` is just `libraryDependencies += compilerPlugin(dependency)`, and `scalacOptions` can be tweaked in the same way by using `settings`.

[2017-06-01 14:20] SethTisue commented on #553
I've renamed the issue to cover both kinds :-)

[2017-06-03 16:18] SethTisue commented on #475
I'll have to come back to this sometime after June 14.

[2017-06-16 19:50] SethTisue opened #555 "regression: 2.12 and 2.13 builds consistently failing"
this started sometime while I as AWOL for a couple weeks for Scala Days, eng meeting, vacation

[2017-06-16 19:51] SethTisue opened #556 "mima failing in 2.11.x-jdk8 build"
[code]

[2017-06-19 21:51] SethTisue commented on #556
as of typesafehub/migration-manager@f29a309582357fe83e81ea8d8ffbb878c7099228 MiMa cross builds on 2.10 and 2.12, but not 2.11

so it would reasonable to drop it from the 2.11 build entirely, but I think we might as well leave it in; it's sufficient to just freeze it at the last green commit

[2017-06-19 22:05] SethTisue commented on #556
fixed by 87bc75f6ef517f4d348a9701bf812ef0258436bf

[2017-06-19 22:05] #556 closed, assigned to SethTisue

[2017-06-20 01:02] SethTisue commented on #555
new 2.12.x test run: https://scala-ci.typesafe.com/job/scala-2.12.x-integrate-community-build/1597/consoleFull

hopefully specs2 will work. scala-js will still fail pending a Node upgrade I'll attempt tomorrow once Adriaan is again standing by to fix Chef blowups

[2017-06-20 20:14] SethTisue commented on #555
I've seen multiple 2.12 and 2.13 jobs get stuck running ssl-config's test suite, not sure when that started :-\

[2017-06-21 04:02] SethTisue opened #560 "regression: ssl-config test suite often hangs"
at e.g. https://scala-ci.typesafe.com/job/scala-2.13.x-integrate-community-build/474/consoleFull

I've also seen this locally on my Mac

[code]

[2017-06-21 04:03] SethTisue commented on #555
current blocker for this is https://github.com/scala/community-builds/issues/560 since once ssl-config hangs, other projects can't run

[2017-06-21 14:46] SethTisue commented on #560
disabled running the tests in cd3c22d27ba31b38386a7b74b2562d2522fc5492

[2017-06-21 14:55] SethTisue opened #561 "monix failing in 2.13.x"
seen at e.g. https://scala-ci.typesafe.com/view/scala-2.13.x/job/scala-2.13.x-integrate-community-build/476/consoleFull

[code]

[2017-06-21 14:56] SethTisue commented on #561
dealt with it in edff76205ed254ed130aa27801bc3ae058d4aa07 by tracking series/2.x branch instead of master. fyi @alexandru

[2017-06-21 14:56] #561 closed, assigned to nobody

[2017-06-21 15:47] SethTisue opened #562 "regression: scalapb fails to compile"
seen at e.g. https://scala-ci.typesafe.com/job/scala-2.12.x-integrate-community-build/1608/consoleFull

[code]

fyi @thesamet @xuwei-k

[2017-06-21 15:57] SethTisue commented on #562
dealt with it by freezing scalapb in 10b0a3ce5319c3189f534feddeb7d6533f131ade

[2017-06-21 15:57] #562 closed, assigned to nobody

[2017-06-21 16:31] xuwei-k commented on #562
The last commit of scalapb/Lenses v0.4.12 is https://github.com/scalapb/Lenses/commit/301aafa6552ec81cf0 (Add support for zipping two lenses) but  current master branch does not contains it.
I guess @thesamet forget push some commits to master branch.

[2017-06-21 16:34] thesamet commented on #562
Yes, the release processes includes a push to github and it appears that that didn't happen for some reason. Will fix later and then submit PR to revert 10b0a3c

[2017-06-21 17:01] SethTisue opened #563 "regression: jawn-fs2 fails to compile"
seen at e.g. https://scala-ci.typesafe.com/job/scala-2.12.x-integrate-community-build/1610/consoleFull

[code]

[2017-06-21 17:02] SethTisue commented on #563
I attempted to deal with it in 5e2509ca2def8996b5e1eabeaa90b5c21c6647c9 by freezing jawn-fs2; we'll see how the next test run goes: https://scala-ci.typesafe.com/job/scala-2.12.x-integrate-community-build/1611/consoleFull

[2017-06-21 17:28] SethTisue commented on #563
yeah that made it green again. fyi @rossabaker

[2017-06-21 17:28] #563 closed, assigned to SethTisue

[2017-06-21 18:21] SethTisue opened #564 "regression: play-ws failing in 2.12.x build"
seen at e.g. https://scala-ci.typesafe.com/view/All/job/scala-2.12.x-integrate-community-build/1612/consoleFull

[code]

playframework/play-ws@ed7fcabf80aafd9b7a60a0c8db489e7f1620eaa0 seems like a likely culprit? /cc @wsargent

[2017-06-21 18:23] SethTisue commented on #564
froze play-ws in dcdc03f231a4da9a052d64738c94776c1aae012c; test run https://scala-ci.typesafe.com/view/All/job/scala-2.12.x-integrate-community-build/1613/consoleFull

[2017-06-21 18:37] SethTisue commented on #564
yup, green again

[2017-06-21 18:37] #564 closed, assigned to SethTisue

[2017-06-21 18:39] SethTisue commented on #560
@wsargent @ktoso I see there are no recent commits in the ssl-config repository. perhaps this caused by a regression elsewhere?

[code]

[2017-06-21 18:40] SethTisue commented on #560
closing this ticket since disabling the tests made the community build green again; y'all ssl-config maintainers can decide if there's something further here that needs pursuing

[2017-06-21 18:40] #560 closed, assigned to SethTisue

[2017-06-21 18:40] SethTisue commented on #555
2.13 is green now

[2017-06-21 18:41] SethTisue commented on #561
perhaps related? https://github.com/scala/community-builds/issues/549

[2017-06-21 19:00] SethTisue commented on #555
as is 2.12

[2017-06-21 19:00] #555 closed, assigned to SethTisue

[2017-06-21 19:44] wsargent commented on #560
:-/

[2017-06-21 21:30] wsargent commented on #564
Anything I need to do here?

[2017-06-21 21:41] SethTisue commented on #564
@wsargent it's y'all's test, I have no idea what the failure means... up to you whether it's something you ought to investigate. (from the Scala team's perspective, all else being equal, having some projects in the community build be frozen like this isn't a problem)

sometimes a thing like this is early notice of a real regression, and ignoring it would be a missed opportunity.

other times, it's

[2017-06-22 02:38] wsargent commented on #564
I just released play-ws 1.0.0 so it's probably that

[2017-06-24 03:37] rossabaker commented on #563
I haven't been able to keep tabs on this project as well as I'd like, but this looks like a result of publishing jawn-fs2 for fs2-0.10.0-M1 while the community build is still on fs2-0.9.  When fs2 is upgraded in the community build, I think jawn-fs2 can and should follow.

[2017-06-26 22:22] SethTisue opened #565 "regression: upickle failing in 2.12.x (and 2.13.x)"
seen at e.g. https://scala-ci.typesafe.com/job/scala-2.12.x-integrate-community-build/1629/consoleFull

[code]

[2017-06-26 22:24] SethTisue commented on #565
there are a bunch of changes in the non/jawn repo in recent days, generalizing things from `String` to `CharSequence`, so we probably should just freeze jawn at an older commit for now, until there's a release for downstream projects to move to

[2017-06-26 22:37] #565 closed, assigned to nobody

[2017-06-26 22:38] SethTisue commented on #565
fyi @non @travisbrown

[2017-06-27 15:36] SethTisue opened #566 "regression: specs2 failing in recent 2.12.x builds"
last green build was https://scala-ci.typesafe.com/job/scala-2.12.x-integrate-community-build/1631/consoleFull, etorreborre/specs2@58cbe743818c65fac22b36087ff1f30dce32f62e, scala/scala@e72ab5a

but then starting with https://scala-ci.typesafe.com/job/scala-2.12.x-integrate-community-build/1632/consoleFull same specs2 commit, scala/scala@65486a8

[code]

[2017-06-27 15:37] SethTisue commented on #566
[code]

[2017-06-27 15:51] SethTisue commented on #566
the problem is reproducible outside of the community build with:

[code]

[2017-06-27 21:22] SethTisue opened #567 "regression: tut failing in 2.13.x build"
seen at https://scala-ci.typesafe.com/job/scala-2.13.x-integrate-community-build/489/consoleFull

[code]

presumably as a result of https://github.com/scala/scala/pull/5903

[2017-06-27 21:22] SethTisue commented on #567
the 2.13.x community build is already somewhat slimmed down, and I think it's fine to just take `tut` (and its dependee `kxbmap-configs`) out for now and figure we'll re-add them later in the 2.13 cycle. fyi @tpolecat @kxbmap

[2017-06-27 21:25] #567 closed, assigned to nobody

[2017-06-27 21:29] SethTisue opened #568 "regression: macro-paradise failing in 2.13 build"
seen at e.g. https://scala-ci.typesafe.com/job/scala-2.13.x-integrate-community-build/490/consoleFull

[code]

the problem is in the `tests` subproject, and is presumably caused by scala/scala#5903

fyi @xeno-by

[2017-06-27 21:33] SethTisue commented on #568
it should be fine to just disable that subproject for now, and revisit the issue later in the 2.13 cycle

[2017-06-27 22:14] SethTisue commented on #568
done in d1f15ca6442f2113a5e8b6d051c5efdc3392d2cf

[2017-06-27 22:14] #568 closed, assigned to nobody

[2017-06-28 01:16] retronym commented on #566
The exact point of regression is scala/scala#5936 (fields/bitmaps)

[2017-06-28 02:45] retronym commented on #566
[code]

[code]

[2017-06-28 04:29] retronym commented on #566
Minimized a little:

[code]
[code]
[code]

[code]

[2017-06-28 05:19] adriaanm commented on #566
Thanks for minimizing! Since it's -*X*checkinit, not a release blocker. Looks like I was overzealous in my dropping `-        || sym.hasFlag(PARAMACCESSOR | SPECIALIZED | LAZY)` in that patch. We should still exclude `PARAMACCESSOR`.

[2017-06-28 05:21] adriaanm commented on #566
Added a comment to the PR with the likely fix: https://github.com/scala/scala/pull/5936/files#r124454146

[2017-06-28 16:21] SethTisue opened #569 "intermittent timeout on Windows in PipeSourceSinkTest"
seen at https://scala-ci.typesafe.com/job/scala-2.13.x-integrate-windows/240/consoleFull

[code]

we should just increase the timeout a little.

[2017-06-28 16:21] SethTisue commented on #569
the failure is on 2.13, but I should consider increasing the timeout all the way back on 2.11 and merge forward

[2017-06-29 06:29] alexandru commented on #561
@SethTisue fixed in https://github.com/monix/monix/commit/f78b832ba5612d50973d4f56db37d245fa449dfc

[2017-06-29 06:34] alexandru commented on #549
This cannot be fixed until Cats releases packages for master, because it's a binary compatibility issue, e.g...

[code]

[code]

[code]

Basically `AbstractMethodError` happens when binary compatibility is broken. And in this case it is broken because the `cats-laws` package has new methods in those traits.

Hopefully we'll fix this once Cats releases the scheduled `1.0.0-MF` version.

/cc  @djspi

[2017-06-29 06:37] alexandru commented on #561
Btw, related to https://github.com/scala/community-builds/issues/549 - that one cannot be fixed right now, I've written a comment why.

[2017-06-29 16:20] djspiewak commented on #549
I'll try to put in some work this weekend to push on some of the 1.0-MF stuff.  @kailuowang has really been driving that effort, but I think he's blocked on other people now.

[2017-07-11 18:30] SethTisue opened #572 "2.13 regression in multiple repos: `Numeric#parseString` related compile failures"
[code]

[2017-07-11 22:06] SethTisue opened #573 "add conductr-lib back to the 2.12 build"
provisionally removed by @retronym during the push for 2.12.3

previously: #570, #571

[2017-07-11 22:08] SethTisue commented on #573
from Slack:

[2017-07-12 22:52] SethTisue commented on #572
and the scala-collections-laws failure looks like the same thing

[2017-07-13 08:28] lrytz commented on #572
caused by https://github.com/scala/scala/pull/5523/files#diff-a1c7fbbd4efafafc57671a3ac783aaeaR212

[2017-07-14 17:42] SethTisue opened #574 "2.12 regression: new http4s related error"
https://scala-ci.typesafe.com/job/scala-2.12.x-integrate-community-build/1670/console

[code]

the usual cause for this error is that the project added Scala.js support that we need to disable

[2017-07-18 13:41] SethTisue commented on #552
@cunei is working on this

[2017-07-18 16:19] SethTisue opened #575 "2.11 regression: failure to resolve scala-xml 1.0.6"
first happened at https://scala-ci.typesafe.com/job/scala-2.11.x-integrate-community-build/712/

I figured this surely had to be transient, but a run the next day failed too: https://scala-ci.typesafe.com/job/scala-2.11.x-integrate-community-build/714/

[code]

a bunch of scala-xml build changes did recently go in so maybe there's actually a rational explanation and it's not just an Artifactory gl

[2017-07-18 16:27] SethTisue commented on #575
~~like maybe scala/scala-xml@91bd5c4753bb6351bb0d7fcceddce6417c0f9e42 and/or scala/scala-xml@a211848a41169953a43238f56bfe6f830ac1e953~~ see below

[2017-07-18 16:29] SethTisue commented on #575
[last green run](https://scala-ci.typesafe.com/job/scala-2.11.x-integrate-community-build/711/consoleFull) was at scala/scala-xml@f0c1e5f006e6708c868fd9aa93e0a732b5eb7713

[2017-07-18 16:58] SethTisue commented on #574
yup, http4s/http4s-websocket#6

[2017-07-18 17:07] #574 closed, assigned to SethTisue

[2017-07-18 17:11] SethTisue commented on #575
it's looking for `org.scala-lang.modules#scala-xml;1.0.6` but of course that's wrong, it should be `org.scala-lang.modules#scala-xml_2.11;1.0.6` (or maybe, depending on context, some dbuild-mangled thing)

[2017-07-18 17:17] SethTisue commented on #575
[happens in the 2.12 build as well](https://scala-ci.typesafe.com/job/scala-2.12.x-integrate-community-build/1679/console) and is reproducible locally too

[2017-07-18 17:41] SethTisue commented on #575
culprit commit is scala/scala-xml@a211848a41169953a43238f56bfe6f830ac1e953 (cc @lrytz). that's a big jump in sbt-scala-module version.

~~fwiw scala-parser-combinators is also now on the same sbt-scala-module version, not sure why it wouldn't be failing as well (it was green at https://scala-ci.typesafe.com/view/scala-2.11.x/job/scala-2.11.x-integrate-community-build/711/consoleFull on commit scal

[2017-07-18 17:45] SethTisue commented on #575
(hmm actually no... scala-parser-combinators only uses that version on a branch, not on master, and master is what the community build builds)

[2017-07-18 19:50] SethTisue commented on #575
I think this must be the culprit. from the v1.0.8..v1.0.12 diffs in the plugin:

[code]

[2017-07-18 20:41] SethTisue commented on #575
I don't fully understand what's going on here (outside of the community build, `xmlJVM/mimaReportBinaryIssues` does fine, reporting e.g. `checking against org.scala-lang.modules:scala-xml_2.12:1.0.6`), but it should be easy enough to work around by just not running MiMa here

[2017-07-18 20:46] #575 closed, assigned to nobody

[2017-07-18 21:50] SethTisue commented on #566
green again

[2017-07-18 21:50] #566 closed, assigned to retronym

[2017-07-18 23:28] SethTisue commented on #572
upstream PRs: https://github.com/Ichoran/scala-collections-laws/pull/1, https://github.com/scala-js/scala-js/pull/3067

[2017-07-18 23:29] SethTisue commented on #572
8dfe5d7aae52a709b0417c50526b8ec2acb9bbcf uses my forks. leaving this ticket open so we don't forget to revert it once the PRs are merged

[2017-07-19 00:34] SethTisue commented on #566
@retronym still failing in 2.13.x though, but I assume that'll go green too once https://github.com/scala/scala/pull/5997 is merged

[2017-07-19 06:52] lrytz commented on #575
I [burned a few version numbers](https://github.com/scala/sbt-scala-module/releases) recently, so it's just the successor of 1.0.9, which itself is just a renaming of 1.0.8.

it's just that 1.0.x hasn't been merged to master since the change.

I don't know either, but it very much reminds me of the bug that is linked in the diff you posted above: https://github.com/typesafehub/migration-manager/is

[2017-07-19 15:09] SethTisue commented on #572
Rex merged the collections PR.

The scala-js PR is pending. I was asked to target 0.6.x instead of master, so I rebased and force-pushed my branch. Probably the 0.6.x vs master thing won't matter here in the 2.13 community build (and the change is only temporary anyway), but mentioning it in case some mysterious failure crops up.

[2017-07-19 15:17] SethTisue commented on #561
@alexandru thanks! I think I'd actually prefer to stay on 2.x for now, here in the community build, since I assume that's what downstream users are generally still on

[2017-07-19 20:05] SethTisue commented on #572
scala-js PR merged onto 0.6.x, awaiting forward-merge onto master

[2017-07-20 02:02] SethTisue commented on #572
fixing other failures uncovered a third instance of this `parseString` problem, in monix this time:

https://scala-ci.typesafe.com/job/scala-2.13.x-integrate-community-build/540/consoleFull

[code]

I'll fix, but first, sleep.

[2017-07-20 12:50] SethTisue commented on #572
8a8bbbc19b3f44ac4cb3936584509eba4a8a3bc9 forks monix temporarily. test run: https://scala-ci.typesafe.com/view/scala-2.13.x/job/scala-2.13.x-integrate-community-build/544/consoleFull ~~(404 while Jenkins tries to remember which bottle of hot sauce is the hot one and which is the really really really hot one)~~

[2017-07-20 13:10] SethTisue commented on #572
green

monix upstream PR: https://github.com/monix/monix/pull/386

[2017-07-21 12:59] sjrd commented on #572
FYI: The fix contributed by @SethTisue has landed in Scala.js master.

[2017-07-24 21:38] SethTisue commented on #573
current dependency structure of conductr-lib

[code]

[2017-07-24 21:40] SethTisue commented on #573
`common -> akka24TestLib` is what is leading to the failure

in community.dbuild, we have the Akka 2.4 subprojects of conductr-lib disabled because "not our Akka version" says a comment, but actually, the community build is on Akka 2.4 not 2.5, so that seems to be a mistake

[2017-07-28 20:34] SethTisue commented on #572
test run with all 3 projects unforked: https://scala-ci.typesafe.com/view/scala-2.13.x/job/scala-2.13.x-integrate-community-build/558/consoleFull (404 while Jenkins comes down from his hallucinogenic moonflower trip... could be a while)

[2017-07-31 11:52] unoexperto commented on #566
I have this problem with 2.12.3

[2017-07-31 19:54] SethTisue commented on #566
@unoexperto please report it at https://github.com/scala/bug

[2017-08-01 19:44] SethTisue commented on #572
unforkings pushed

[2017-08-01 19:44] #572 closed, assigned to SethTisue

[2017-08-01 19:58] SethTisue opened #580 "unfork atto once upstream PR is merged"
10e2288860b72125cb7c7288309833d0dd2f6b13 can be reverted once  https://github.com/tpolecat/atto/pull/64 is merged

[2017-08-01 22:08] SethTisue commented on #264
PR: #581. interested parties please subscribe

[2017-08-02 13:19] SethTisue commented on #580
6b0fb4c2725d4e6c43779aa5fc496fd6eedbe06f

[2017-08-02 13:19] #580 closed, assigned to SethTisue

[2017-08-02 13:20] SethTisue commented on #573
3922d2a92edc6a8bfe18531ad119791c447ec818

[2017-08-02 13:20] #573 closed, assigned to SethTisue

[2017-08-03 16:12] SethTisue opened #582 "include more of Lift, not just lift-json"
see prior discussion with @joescii at https://github.com/scala/scala-xml/pull/150. cc @Shadowfiend

this isn't something I can personally take on; I can sometimes to afford to take on things like lift-json, but 1) since Lift is a whole framework with a big complicated build, and 2) since Lift doesn't typically have open-source downstream dependencies, the cost/benefit isn't there for me.

on the o

[2017-08-03 16:14] joescii commented on #582
I'll get a conversation going in the Lift community regarding this issue. Thanks a million, Seth!

[2017-08-04 06:10] dwijnand commented on #553
I tested and `libraryDependencies in ThisBuild += compilerPlugin(dependency)` adds the compiler plugin to all projects in the build.

For sbt plugins I assume what's needed is _enabling_ the plugin in every project. And, yes, I agree, having the ability to do so once at the use site (as opposed to the `triggers` definition site) would make things more straight-forward for lots of builds.

[2017-08-04 13:47] SethTisue commented on #582
Lift was also affected by https://github.com/scala/bug/issues/10437 . this could have been caught by the community build

...but note that (since it only involves Scala and doesn't involve rebuilding other dependencies) could it _also_ have been caught if Lift included the current Scala nightly in their own CI. see https://stackoverflow.com/a/40622879/86485 for info on using the current nightly

[2017-08-04 14:11] Shadowfiend commented on #582
Yes, this is also a good point… We'll mull this over and figure out what the best path forward is.

Are there guidelines as to what kind of stuff *should* be included in the community build vs not?

[2017-08-04 15:02] SethTisue commented on #582
yup, https://github.com/scala/community-builds/wiki/Eligibility

[2017-08-04 15:53] SethTisue commented on #549
now that cats 1.0.0-MF is out, is it a plausible time to unfreeze, or to at least move to newer frozen versions?

[2017-08-04 17:30] alexandru commented on #549
Hey, so the `master` in Monix is fixed and actually depends on Cats 1.0.0-MF.

[2017-08-08 23:10] SethTisue commented on #549
well, let's take a stab at this and just see what happens: https://scala-ci.typesafe.com/job/scala-2.12.x-integrate-community-build/1743/consoleFull

[2017-08-08 23:18] SethTisue commented on #534
I neglected to unfork after the upstream PR was merged. now remedied in e063a134ca5414ac5c059f25aed1f403f72e9597

[2017-08-09 13:23] alexandru commented on #549
@SethTisue apparently that build failed, any ideas why?

[2017-08-09 19:50] SethTisue commented on #549
[code]

**doodle**: we have doodle forked, but I see they are already on cats 1.0.0-MF on their master branch, so I assume that when we refresh our fork (which is still on cats 0.9), the problem will go away. not worried about this one

**fs2-cats**: is there someone reading this who could take care of [upgrading fs2-cats to cats 1.0.0-MF](https://github.com/functional-streams-for-scala/fs2-cats/i

[2017-08-09 20:50] rossabaker commented on #549
http4s on cats-1.0.0-MF is on the [release-0.18.x](https://github.com/http4s/http4s/blob/release-0.18.x/) branch.  I don't think that branch has users yet, but runs [green](https://travis-ci.org/http4s/http4s/builds/262084025).

[2017-08-10 16:19] djspiewak commented on #549
Tagging @mpilquist for the fs2 questions.

[2017-08-10 22:33] SethTisue commented on #549
new test run with http4s's release-0.18.x branch: https://scala-ci.typesafe.com/job/scala-2.12.x-integrate-community-build/1753/consoleFull

[2017-08-11 13:12] rossabaker commented on #549
Why was this aborted?  Did it hang?

[2017-08-11 15:14] SethTisue commented on #564
seen again at https://scala-ci.typesafe.com/job/scala-2.12.x-integrate-community-build/1755/console when I tried unfreezing again

[2017-08-11 20:00] SethTisue commented on #564
resolved differently now in eccacc3d679b2e64d09e7036fb770608da2bf7ac — rather than freezing play-ws, we no longer compile or run its `integration-tests` project, which is the one with the failing test. fyi @gmethvin

[2017-08-11 20:11] SethTisue commented on #549
I killed it so I could use the Jenkins node for something more pressing. I'll be returning to this soon.

[2017-08-11 20:36] SethTisue commented on #552
@cunei dbuild 0.9.9 supports this, right?

[2017-08-11 20:37] SethTisue commented on #552
@cunei dbuild 0.9.9 supports this, right?

provisionally closing assuming the answer is "yes"

[2017-08-11 20:37] #552 closed, assigned to nobody

[2017-08-11 20:42] SethTisue commented on #549
notes on work in progress:
* doodle already moved to cats-1.0.0-MF on their `develop` branch, so we probably just need to refresh our fork
* Michael already fixed fs2-cats
* jawn-fs2 needs fs2-io now (there's probably no reason we weren't building fs2-io)

[2017-08-11 21:14] SethTisue commented on #549
@rossabaker currently blocked on jawn-fs2 which still uses `fs2.time` which was removed from fs2 between 0.10.0-M2 and 0.10.0-M5. can you update jawn-fs2 to the newer fs2 version?

[2017-08-11 21:48] SethTisue commented on #549
@rossabaker working around it for now by excluding these subprojects: "jawn", "argonaut", "json4s", "json4s-jackson"

[2017-08-11 23:00] rossabaker commented on #549
jawn-fs2 is now based on fs2-0.10.0-M5 on master, and is released as jawn-fs2-0.12.0-M1.

[2017-08-11 23:04] SethTisue commented on #549
@rossabaker I see https://github.com/rossabaker/jawn-fs2/commit/e313fefcd98e5d58943d4b3056843c06422c3518 exists, but it isn't on master

[2017-08-12 00:07] rossabaker commented on #549
Oops. 😳  _Now_ it's on master.

[2017-08-12 00:10] SethTisue commented on #549
@rossabaker thanks! the http4s part of this is now green 🎉, I'm just making sure something didn't regress elsewhere before merging.

[2017-08-12 01:34] #549 closed, assigned to SethTisue

[2017-08-12 01:36] SethTisue commented on #549
@rossabaker note that we're not running http4s's tests, because org.http4s.CookieSpec org.http4s.EntityDecoderSpec are failing

[2017-08-12 04:07] SethTisue opened #587 "bintray is no longer sufficient reason to fork"
I'm finding that the following combination works:

* dbuild 0.9.9
* sbt-bintray 0.5.1
* `extra.options: ["-Dbintray.user=dummy", "-Dbintray.pass=dummy"]`

so we should unfork projects when possible. (many are forked to remove, usually, bintray-sbt 0.3.1)

[2017-08-12 14:00] #264 closed, assigned to nobody

[2017-08-12 19:53] cunei commented on #552
The answer is "yes" :slightly_smiling_face:

[2017-08-14 22:43] SethTisue commented on #563
happened in #586

[2017-08-14 22:52] SethTisue opened #591 "unfork the many projects that we forked because of bintray-sbt"
to unfork a project, it needs to upgrade to sbt-bintray 0.5.1, and we need to add

[code]

[2017-08-14 22:54] SethTisue commented on #591
according to the comments in community.dbuild, at least, relevant projects are:

* [x] lightbend-emoji (0872df4f92762b48791034668dad93c2f61f6698)
* [x] tut (9b5e4b87145f4bb299231c03f24f698567487ee7)
* [x] doodle (6c68eb0737e0effa6e1d2a16c9013e2a9d1cdeac)
* [x] sbt-testng (1eb0d9a3c84754ac9e0bed19669f3362426924c6)
* [x] sbinary (99e8031c6aa80f490f9979fa41072755b55b58e5)

we can ignore:
* scalameta

[2017-08-14 23:13] SethTisue commented on #591
tut, lightbend-emoji, doodle: https://scala-ci.typesafe.com/job/scala-2.12.x-integrate-community-build/1799/consoleFull (404 til Jenkins finishes hanging clothes hangers on the sprinkler heads in his hotel room because what could possibly go wrong?)

[2017-08-14 23:52] SethTisue commented on #591
try again (lightbend-emoji worked; doodle failed because I hadn't updated its entry fully; it didn't get to tut yet): https://scala-ci.typesafe.com/job/scala-2.12.x-integrate-community-build/1800/consoleFull

[2017-08-15 00:28] SethTisue commented on #591
and again: https://scala-ci.typesafe.com/job/scala-2.12.x-integrate-community-build/1801/consoleFull

[2017-08-15 01:11] SethTisue commented on #587
dupe of #591

[2017-08-15 01:11] #587 closed, assigned to SethTisue

[2017-08-16 16:13] SethTisue opened #592 "move Akka from 2.4 to 2.5"
it's time, 2.5 has been out for a while.

https://github.com/SethTisue/community-builds/commits/akka-2.5 has an initial stab

the test run at https://scala-ci.typesafe.com/job/scala-2.12.x-integrate-community-build/1829/  shows that unforking akka-http (possible now that they're running modern sbt-bintray) caused some weird OSGi-related OutOfMemoryError (cranking up the heap size didn't help, it m

[2017-08-16 18:59] SethTisue commented on #592
as part of this, we should unfork akka-contrib-extra, now that it is using a modern version of sbt-bintray. I made an incomplete stab at it in 790f4e0225051b9a515bdf806b3715de58dd18e0

same for akka-http now that https://github.com/akka/akka-http/issues/1355 is fixed

[2017-08-17 21:11] SethTisue commented on #592
for akka-http, `set every OsgiKeys.bundleVersion := "10.0.0"` seems to do the trick

[code]

[2017-08-17 21:26] SethTisue commented on #592
let's see what breaks next: https://scala-ci.typesafe.com/job/scala-2.12.x-integrate-community-build/1835/consoleFull

the Scala community build: like 116 weasels in your pants!

[2017-08-18 01:14] retronym commented on #592
🐹🐹🐹🐹🐹🐹🐹🐹🐹🐹🐹🐹🐹 ▶️  👖

[2017-08-18 03:38] #592 closed, assigned to SethTisue

[2017-09-08 00:48] SethTisue opened #594 "regression: http4s, 2.12: "tests" subproject fails to compile (missing scalaz)"
seen e.g. at https://scala-ci.typesafe.com/job/scala-2.12.x-integrate-community-build/1886/consoleFull

[code]

[2017-09-08 00:50] SethTisue commented on #594
this seems peculiar as we have http4s forked: `configs/project-refs.conf:  http4s-uri:                   "https://github.com/scalacommunitybuild/http4s.git#community-build-2.12"`

so the root cause must be in a dependency

[2017-09-08 01:00] SethTisue commented on #594
perhaps this is the first project to break because of specs2 3.4 vs 4.0

an example recent green build is https://scala-ci.typesafe.com/job/scala-2.12.x-integrate-community-build/1859/consoleFull where we see:

[code]

whereas in the failed build we see

[code]

[2017-09-08 01:49] #594 closed, assigned to nobody

[2017-09-08 14:54] SethTisue opened #596 "regression: Shapeless failing in 2.13 build"
at e.g. https://scala-ci.typesafe.com/view/scala-2.13.x/job/scala-2.13.x-integrate-community-build/639/consoleFull

[code]

@milessabin you want to look into this one?

[2017-09-09 20:23] hrhino commented on #596
I suspect it's because scala/scala#6035 gave us a tuple method named `transpose`, as well.

[2017-09-11 10:09] milessabin commented on #596
Thanks for the heads up ... I'm going to push back on the renaming to `transpose` ... it's really not an improvement on `invert` (which admittedly is not a good name either).

See https://github.com/scala/scala/pull/6035#issuecomment-328484411.

[2017-09-11 19:54] SethTisue opened #597 "regression (2.12): compilation failure (NPE in StringTypeTag.typeToString) building zinc"
seen at https://scala-ci.typesafe.com/view/scala-2.12.x/job/scala-2.12.x-integrate-community-build/1896/consoleFull

[code]

[2017-09-11 21:20] SethTisue commented on #597
huh. it went away in the next run. I won't worry about it

[2017-09-11 21:20] #597 closed, assigned to SethTisue

[2017-09-11 22:26] SethTisue commented on #597
weird, I saw this in a local run just now, but in sbt-librarymanagement instead of zinc:

[code]

[2017-09-11 22:27] SethTisue commented on #597
oh, the underlying cause is https://github.com/sbt/util/issues/119 . so upgrading the community build to sbt 1.0.1 (for those projects that we build with 1.0.x at all, which at the moment is just sbt and its modules) should take care of it. I'll do that now

[2017-09-12 00:24] SethTisue commented on #591
done

[2017-09-12 00:24] #591 closed, assigned to SethTisue

[2017-09-12 00:46] SethTisue opened #599 "provide guidance to project maintainers on including “latest Scala nightly” in their CI matrices"
we should figure out how to do this and provide a sample `.travis.yml` that does it. the Scala modules could be a good place to start

[2017-09-12 20:30] SethTisue opened #600 "new 2.12 failures: cats-effect, blaze"
cats-effect failure started at https://scala-ci.typesafe.com/job/scala-2.12.x-integrate-community-build/1905/

the blaze failure is at https://scala-ci.typesafe.com/job/scala-2.12.x-integrate-community-build/1906/ — waiting for 1907 to finish to find out if the problem is intermittent

[2017-09-12 20:32] SethTisue commented on #600
[code]

[2017-09-12 20:32] SethTisue commented on #600
[code]

[2017-09-12 21:33] SethTisue commented on #600
in a local test, the cats-effect failure happened, but the blaze one didn't

[2017-09-12 22:58] SethTisue commented on #600
blaze didn't recur in 1907, so that's one intermittent. the cats-effect one is still happening

EDIT: blaze issue reported upstream at https://github.com/http4s/blaze/issues/97

[2017-09-13 03:05] SethTisue commented on #600
possible culprit: typelevel/cats@5bb0252057156f85a8a17fb197f0f2497be3e85e

[2017-09-13 14:37] SethTisue opened #601 "new 2.12 failure: fansi"
at e.g. https://scala-ci.typesafe.com/job/scala-2.12.x-integrate-community-build/1908/

[code]

[2017-09-13 23:29] SethTisue commented on #601
looks like this is just because we have utest forked. perhaps we can unfork now, if not, I will at least refresh the fork

[2017-09-14 00:01] SethTisue commented on #601
pursuing over at #602

[2017-09-14 01:06] #601 closed, assigned to SethTisue

[2017-09-14 01:08] SethTisue commented on #600
cats-effect fixed by #602

[2017-09-14 01:08] #600 closed, assigned to SethTisue

[2017-09-14 01:09] SethTisue commented on #600
@djspiewak heads up that cats-effect will need a change to accommodate typelevel/cats@5bb0252057156f85a8a17fb197f0f2497be3e85e

[2017-09-14 01:18] SethTisue opened #603 "2.13: sbinary fails to extract"
https://scala-ci.typesafe.com/job/scala-2.13.x-integrate-community-build/651/console

[code]

note that we unforked sbinary in 99e8031c6aa80f490f9979fa41072755b55b58e5. this failure started when I merged the change onto 2.13.x

[2017-09-14 14:24] SethTisue opened #604 "2.12: new scalapb failure"
[code]

needs utest upgrade (missing piece of #601)

[2017-09-14 15:18] SethTisue commented on #562
took care of it in https://github.com/scala/community-builds/pull/605

[2017-09-14 20:44] SethTisue commented on #569
the test wasn't added until 2.12

[2017-09-14 20:45] SethTisue commented on #569
I see we already increased it once at https://github.com/scala/scala-dev/issues/313

[2017-09-14 20:47] SethTisue commented on #569
why'd I open this ticket in the community-builds repo? it was seen in integrate-windows, not the community build. oh well :-\

[2017-09-14 20:52] SethTisue commented on #569
https://github.com/scala/scala/pull/6081

[2017-09-14 20:52] #569 closed, assigned to SethTisue

[2017-09-14 21:14] SethTisue commented on #603
perhaps https://github.com/sbt/sbinary/pull/10 will fix it. even if not, it's a good baseline to start from

[2017-09-14 21:26] SethTisue commented on #603
hmm, at https://scala-ci.typesafe.com/job/scala-2.13.x-integrate-community-build/654/consoleFull the scala-xml one went away but we still see:

[code]

[2017-09-14 22:14] SethTisue commented on #603
this is a tough one...

I suspect this snippet of code in sbt-houserules:

[code]

dependency extraction shouldn't normally cause library dependencies to be retrieved, but perhaps `(scalaBinaryVersion in update).value` is the culprit

[2017-09-14 22:21] SethTisue commented on #603
this is a tough one. I don't have a clue what's going on. why would dbuild/sbt attempt to actually retrieve a dependency during dependency extraction?

[2017-09-15 00:50] SethTisue commented on #603
I should enable dbuild's debugging mode and look at the resulting log; that's an obvious thing I haven't tried yet. (Most community build problems are solvable by looking at the regular log, so I sometimes forget about the debug log.)

[2017-09-16 16:28] #604 closed, assigned to nobody

[2017-09-18 19:49] SethTisue opened #606 "where'd fommil/spray-json-shapeless go?"
@fommil ?

[2017-09-18 19:52] SethTisue commented on #606
I had a clone sitting around on my laptop which I've put at https://github.com/scalacommunitybuild/spray-json-shapeless — last commit March 2017

[2017-09-18 19:59] SethTisue commented on #606
in both 2.11 community builds, only ensime depends on spray-json-shapeless, and we have spray-json-shapeless frozen at v1.1.0, which is old enough to be included in https://github.com/scalacommunitybuild/spray-json-shapeless

in the 2.12 community build, nothing depends on spray-json-shapeless, so it's okay to just drop if it's effectively a dead project

[2017-09-18 20:01] SethTisue commented on #606
provisionally dropped from 2.12 in 51b548f8480c73d6834547b5ca7c7a1cc8def388

[2017-09-18 20:31] SethTisue commented on #603
full debug-mode log: https://gist.github.com/SethTisue/e74c824f82daff525a16db2a428482c0

I don't see any new clues :-\

[2017-09-18 20:34] fommil commented on #606
Oh yeah, i put everything I'm not maintaining into an attic at gitlab. Off with its head!

[2017-09-18 20:35] fommil commented on #606
You can kill ensime from 2.11

[2017-09-18 20:52] SethTisue commented on #606
ok, thanks for clarifying.

ensime is already frozen in the 2.11 build.... actually deleting it there isn't necessary, freezing is adequate. I'll go ahead and use the scalacommunitybuild fork of spray-json-shapeless

[2017-09-18 20:53] SethTisue commented on #606
6f44121f310e4d76772cd5dd81df3a38b8e4031f (closing on the assumption this will work)

UPDATE: it worked.

[2017-09-18 20:53] #606 closed, assigned to SethTisue

[2017-09-20 19:03] SethTisue commented on #603
asked for volunteer extra pairs of eyes on Slack. anyone watching this repo who wants to take a look, be my guest. not sure if there's something weird and elusive going on here? maybe it's something obvious staring me in the face that I'm somehow not seeing

[2017-09-20 19:03] SethTisue commented on #603
@cunei any insight?

[2017-09-20 20:53] cunei commented on #603
It seems you are using "2.13.0-pre-12b8cfb" as a Scala version during extraction. The failed dependency is not one of the main build level, but one of the plugins level. So sbt is just trying to compile the build definition, before dependency extraction, when the failure occurs. There may just not be a scalacheck published against 2.13.0-pre-12b8cfb. The same error occurs if you check out sbinary

[2017-09-21 19:35] SethTisue commented on #603
exactly

thanks!

[2017-09-21 20:02] SethTisue opened #608 "add more of scalafix"
https://github.com/scalameta/semanticdb-sbt

as per @olafurpg's comment on #605

[2017-09-23 00:36] cunei commented on #603
The failure is due to the different version of `sbt-houserules`. Version 0.3.3 works ok, but version 0.3.4 leads to the incorrect dependency.

[2017-09-23 00:46] SethTisue commented on #608
needs a fork to remove coursier and use a newer, dbuild-friendly version of sbt-bintray

[2017-09-23 00:59] SethTisue commented on #603
0.3.4 adds:

[code]

maybe that's confusing dbuild? sbinary's own project/build.properties still says 0.13.16

[2017-09-23 01:00] SethTisue commented on #603
this, in 0.3.4, also looks like it could trip up dbuild:

[code]

[2017-09-23 01:36] cunei commented on #603
dbuild is not involved. You get the same result if you check out commit `2a1cfe45192719e118bd8a87b1c8ae2284fc6d61` of sbinary, change scalaVersion to `2.13.0-pre-fa78b6d`, and start sbt.

[2017-09-23 01:37] SethTisue commented on #608
needs https://github.com/alexarchambault/case-app too (fyi @alexarchambault)

[2017-09-23 01:38] SethTisue commented on #608
oh my

[code]

[2017-09-23 01:49] SethTisue commented on #603
hmm. `scalaBinaryVersion in update` seems especially suspicious?

[2017-09-23 02:15] SethTisue commented on #608
well okay, 999 cuts didn't kill me, why not add paiges too? fyi @non @johnynek @coltfred

[2017-09-23 04:47] SethTisue commented on #608
c69ea941328e5ea6160aadc387de50b4bd9e7549 has substantial progress: it adds paiges, case-app, and semanticdb-sbt-runtime, and also adds scalafix's `cli` subproject. it doesn't go all the way to adding the `unit` subproject.

[2017-09-24 22:19] SethTisue commented on #608
I see that `unit` is defined in an unusual way (novel to me, anyway) that pulls in source directories from subprojects we are attempting to exclude. in our fork, perhaps we just need to remove the lines from `build.sbt` that refer to subprojects we don't want

[2017-09-24 22:54] #608 closed, assigned to SethTisue

[2017-09-24 22:56] SethTisue commented on #608
yup, scalacommunitybuild/scalafix@1eb5b9ca did the trick

[2017-09-24 23:35] SethTisue opened #609 "add a Java 9 community build"
starting, I suppose, with just a stripped-down thing that only attempts to build some basic stuff like the Scala standard modules, then expanding from there

Scala 2.12 only is fine for now, I think. the behemoths are already somewhat pressed for space (and the space can't be increased without rebuilding the nodes), and even just adding the 2.12/jdk9 combo will make the problem, one might say, wor

[2017-09-25 00:05] SethTisue commented on #609
my experience attempting this locally was that all extractions failed with `[scalacheck] [error] scala.reflect.internal.MissingRequirementError: object java.lang.Object in compiler mirror not found.`

but then I made an empty sbt project and ran it with Java 9, and https://github.com/sbt/sbt-launcher-package/pull/143 kicked in and showed the "Copying runtime jar." message. I thought then running d

[2017-09-25 00:37] SethTisue commented on #609
helps, but is not sufficient. adding `extra.options: ["-Dscala.ext.dirs=/Users/tisue/.sbt/0.13/java9-rt-ext-oracle_corporation_9"]` to every projects allows extraction to proceed farther, but then eventually every projects gets an error like:

[code]

[2017-09-25 00:42] SethTisue commented on #609
an old (2014) ticket on Java 9 support dbuild is https://github.com/typesafehub/dbuild/issues/155

[2017-09-25 01:03] retronym commented on #609
That might be https://github.com/scala/scala-dev/issues/304. The only workaround I know it to refactor the `.scala` files in the build to avoid using the empty package.

[2017-09-25 01:03] SethTisue commented on #609
this is reproducible outside dbuild simply by switching to Java 9 and then firing up sbt in e.g. the scala-xml or scala-parser-combinators repo

two repos that *don't* have this problem: utest, scalacheck

as an experiment, I went into scala-parser-combinators and ripped out sbt-scala-module, after which `scala-parser-combinatorsJVM/test` passed. so the problem is with that plugin somehow

[2017-09-25 01:14] SethTisue commented on #609
okay, so let's work on that over at https://github.com/scala/sbt-scala-module/issues/33, then come back here later

[2017-09-25 01:33] SethTisue commented on #609
a "community build" consisting only of scalacheck (with scala and scala-xml binaries retrieved via aether), at https://github.com/SethTisue/community-builds/blob/wip-2.12.x-jdk9/configs/community.dbuild, is passing locally with the `extra.options: ["-Dscala.ext.dirs=...` workaround 🎉

so it looks like dbuild works on Java 9, which is good news, and we'll just need to expand the build a step at a t

[2017-09-25 01:46] SethTisue commented on #609
questioning, all the while, how ambitious it's appropriate to get with this how soon! I could see this staying pretty minimal for a long time

until _at least_:

* community projects have added Java 9 to their own CI matrices
    * which will probably be happening pretty rapidly over the next year or so... but in the meantime we don't need to get out ahead of the community on this

and probably no

[2017-09-25 02:51] johnynek commented on #608
I’d love to see Paiges added to the community build.

[2017-09-25 03:10] SethTisue commented on #608
@johnynek it's in.

[2017-09-25 04:32] johnynek commented on #608
Thank you!

On Sun, Sep 24, 2017 at 17:10 Seth Tisue <notifications@github.com> wrote:

--
P. Oscar Boykin, Ph.D. | http://twitter.com/posco | http://pobox.com/~boykin

[2017-09-25 05:00] retronym commented on #609
Are we able to set the Java version individually per-project? That would allow us more flexibility: we could build problematic projects on Java 8 and run compliant ones on 9.

[2017-09-25 14:55] cunei commented on #609
Not at the moment; dbuild uses whatever version of Java is in the environment, and makes no attempt to control it.

[2017-09-28 17:52] SethTisue opened #611 "publish all built artifacts to a generally accessible location"
so that people who want to test their own projects against a collection of libraries all built against the latest Scala (or Scala PR), can

suggested by @hrhino in sbt/sbt just now, but I know the idea has come up before. I don't _think_ there's already a ticket on it

dbuild already operates by hijacking the `publish` task, so it's quite possible that it's actually already creating a directory th

[2017-09-28 17:53] SethTisue commented on #611
@cunei any thoughts on whether this would need any work on the dbuild side...?

[2017-09-28 19:17] SethTisue opened #612 "2.12: new cats-effect failure"
seen at https://scala-ci.typesafe.com/view/scala-2.12.x/job/scala-2.12.x-integrate-community-build/1998/consoleFull

[code]

root cause is https://github.com/scala/scala/pull/6089 (hello @lrytz)

[2017-09-28 19:20] SethTisue commented on #612
@djspiewak could you make the needed changes to the cats-effect sources? (if you can do it fairly soon, awesome. otherwise, I can just disable `-Xfatal-warnings` for cats-effect in the context of the community build)

[2017-09-28 19:29] djspiewak commented on #612
@SethTisue I'll take care of it this week.  Sorry for the delay.

[2017-09-28 19:35] dwijnand commented on #611
See https://github.com/sbt/sbt-standalone-build, where (among other goals) we want to publish nightly builds of sbt (from the various repo builds).

[2017-09-28 19:36] SethTisue commented on #612
no worries, that's plenty fast

[2017-09-28 22:12] cunei commented on #611
It's very easy: dbuild already has support for publishing the generated artifacts to the local file system, to Artifactory or to Maven repos, to S3, to arbitrary servers via scp, or to Bintray. All the details are here: http://typesafehub.github.io/dbuild/0.9.9/deploy.html#the-deploy-section

[2017-09-30 18:01] djspiewak commented on #612
@SethTisue This should be fixed as of `284268a`.  Do you need a release?

[2017-10-01 00:36] SethTisue commented on #612
Nope, if it’s on master, the community build will pick it up. I’ll check on it on Monday. Thanks!

[2017-10-02 18:54] SethTisue commented on #609
Akka has announced Java 9 support (as of Akka 2.5.6). I'll make Akka a priority next time I do some work on this

[2017-10-02 21:18] #612 closed, assigned to SethTisue

[2017-10-02 21:18] SethTisue commented on #612
Adriaan had temporarily disabled `-Xfatal-warnings` in 7c29e2b648ef6ff7340553567d13ee9b0370e9c7; now reverted. green in a local test

[2017-10-02 21:47] SethTisue commented on #603
I dealt with it (in 87ce08eae13235aa382c12e22e809edbd4e5dc29) by forking sbinary and downgrading sbt-houserules in the fork.

it should work to unfork once sbt 0.13.17 is out that fixes the underlying problem (sbt/sbt#3393) and once a new sbt-houserules has been released that removes the workaround code inserted in 0.3.4 for that issue

thx @cunei for your help!

[2017-10-03 02:57] SethTisue commented on #603
ugh, I should have seen this coming: downgrading sbt-houserules also downgrades from sbt-bintray 0.5 to bintray-sbt 0.3, and then we run afoul of the usual dbuild/bintray-sbt incompatibility

[2017-10-03 03:07] #603 closed, assigned to SethTisue

[2017-10-03 03:07] SethTisue commented on #603
scalacommunitybuild/sbinary@3fa07bf377b81c0579e78936b54e2d181c4fc542 just removes sbt-houserules altogether. done.

[2017-10-03 18:49] SethTisue commented on #596
@lrytz opinion on how to proceed here? it's starting to make me itchy to have the 2.13 community build red for so long — and having Shapeless failing takes out numerous downstream projects too

[2017-10-04 06:35] lrytz commented on #596
Not too sure.. @szeiger is deep into collections, maybe he could share his thoughts? https://github.com/scala/scala/pull/6035#issuecomment-334062557

[2017-10-16 20:15] SethTisue opened #616 "Run Scalafix in the community build"
at https://github.com/scala/scala-abide/issues/82 a while back @retronym wrote:

Abide has been superseded by Scalafix, but the idea remains valid

the comments on the ticket have some ideas from @cunei about how to do this with dbuild

[2017-10-17 02:25] SethTisue commented on #609
the new build has grown from one to five projects.

they are: scala-xml, plus

[code]

how I got there:

I rebased Jason's backport PR onto 2.10.x (which has other JDK9 stuff merged on it that Jason's PR doesn't include yet)

after much trial and error, my efforts to get dbuild+sbt to use a Scala version with "SNAPSHOT" and/or a SHA in the version number failed, so I publish a 2.10.7 snapshot as `

[2017-10-20 18:14] SethTisue opened #617 "disk space regression on behemoth 2"
I think something must have changed in the community build recently that is making the community builds chew up way more disk than they used to — as in, you can't even run the 2.12 and 2.13 builds once each without ending up out of disk.

needs investigation.

[2017-10-20 18:35] SethTisue commented on #609
@retronym might pick this up and run with it for a while. thus, brain dump:

I have pushed my wip fumblings on this to https://github.com/SethTisue/community-builds/commits/wip-2.12.x-jdk9

to get it up on Jenkins, some work on the scala-jenkins-infra repository will be needed:
* the new build should go on behemoth 1; behemoth 2 already runs out of space a lot, behemoth 1 is much less prone to tha

[2017-10-21 22:15] cunei commented on #617
Note that the directories "~/.dbuild/cache*" collect all of the artifacts generated by dbuild, and are never garbage collected (it has been a "todo" in dbuild for a very long time). I don't know about the setup of the community build in particular, but you may want to check the size of those dirs every now and then, and zap them on occasion. That is especially true now that there are many projects

[2017-10-26 03:23] retronym commented on #617
The main culprit appears to be `scala-*-integrate-community-build/target-0.9.9/project-builds`.

[code]

I've [proposed](https://github.com/lihaoyi/fastparse/pull/173) a change to fastparse to reduce the space used by its tests. It checkouts a bunch of open source git repos as corpi to test its parsers, but neglected to do a shallow clone in one place. We could disable its tests in the meantime.

[2017-10-26 03:27] retronym commented on #617
Here's a [snapshot](https://www.dropbox.com/s/ob517ljaf3384fa/ncdu.out.zip?dl=0) of the disk usage generated by, and viewable with, `ncdu`.

[2017-10-26 22:39] SethTisue commented on #617
TIL `ncdu`, slick! I'll switch to that from the `du -ka . | sort -nr` shell alias I've been using for 25 years

[2017-10-26 22:51] SethTisue commented on #617
in 1f2859bf70e71ecfb453dc3035ed4dc0e39dc10f I temporarily switched the community build to use @retronym's branch of fastparse (green run: https://scala-ci.typesafe.com/job/scala-2.12.x-integrate-community-build/2075/consoleFull). hopefully that PR will be merged and we can unfork again

leaving the ticket open for now.

[2017-10-26 22:54] SethTisue commented on #617
that is definitely worth considering.

traditionally we have deleted that stuff at the start of each run, rather than the end, in case we need the files in order to do postmortems on failures

in practice, I'd say I've used that capability only a handful of times over the past two years. if it were ever really needed we could do a new run on a branch where the cleanup command is removed/commented.

[2017-10-31 01:56] retronym commented on #617
Is there any performance argument for leaving results of the previous community build in place?
 I seem to recall that project builds are somewhat incremental, but if we are changing the compiler each time there seems little prospect for avoiding rebuilds.

@cunei @SethTisue taking the idea a bit further, how about a mode in dbuild itself to clean up each project's directory (remove any `.dbuild`

[2017-10-31 02:11] SethTisue commented on #617
I had left the `target` directory in place in order to facilitate postmortems, but in practice, I've rarely or never used that capability. if I want to do a postmortem, I usually try to reproduce the problem locally where it's more convenient to work with, then go from there. I've rarely or never needed to actually do the postmortem on the behemoth itself.

so I'd be fine with blowing away the tar

[2017-10-31 02:12] SethTisue commented on #617
note that there is existing code to delete `target`, it just currently happens at the beginning of a run, not at the end

[2017-10-31 03:05] retronym commented on #617
Just to clarify, there are few different folders named `.dbuild`. I was hoping to purge `projectA/**/.dbuild/**` eagerly, after dbuild project builds that project. But I don't have a model for what parts (if any) of those directories are "outputs" and required for downstream projects.

[2017-11-02 19:20] SethTisue commented on #617
this hasn't been a problem lately, optimistically closing

[2017-11-02 19:20] #617 closed, assigned to SethTisue

[2017-11-09 02:59] SethTisue opened #626 "add more http4s now that we have circe"
we'd disabled a number of http4s subprojects because we didn't have circe, but now we could try again (since #623 was merged)

/cc @rossabaker @travisbrown

[2017-11-09 03:25] rossabaker commented on #626
I think we're talking about [this configuration](https://github.com/scala/community-builds/blob/8e107e25107dc0f9020c3f20cf460d9ab2e6a33c/configs/community.dbuild#L1383)?

The circe modules and the examples all make sense.  docs won't build anything unless you're running tut.

[2017-11-14 01:27] SethTisue commented on #626
fixed by #627

[2017-11-14 01:27] #626 closed, assigned to SethTisue

[2017-11-16 22:03] SethTisue opened #629 "we can unfork coursier-using projects now (if version is new enough)"
we have a number of projects that we had to fork because they are using coursier. it would be nice if we didn't have to fork for that reason — it has now become (I think) the most common reason we have to fork

perhaps some fix is needed in dbuild, or in coursier? or can we configure our way around whatever the problem is?

[2017-11-16 22:03] SethTisue commented on #629
I don't think we have recently tried to see if the problem persists with the latest coursier release

and I also don't think we have made any effort to find out what's going wrong, exactly, and where a fix might be needed

[2017-11-16 22:06] SethTisue commented on #629
https://scala-ci.typesafe.com/job/scala-2.12.x-integrate-community-build/2189/consoleFull is an experiment re-adding coursier to an arbitrarily chosen project, namely case-app (chosen because it has few dependencies)

the coursier version used is the latest release, 1.0.0-RC13

[2017-11-16 22:09] SethTisue commented on #439
I've opened https://github.com/scala/community-builds/issues/629 on the coursier situation

[2017-11-16 22:13] SethTisue commented on #629
well color me surprised but also tickle me pink: `[info] Project case-app----------------: SUCCESS (project rebuilt ok)`

[2017-11-16 22:25] SethTisue commented on #629
let's try fs2 next: https://scala-ci.typesafe.com/job/scala-2.12.x-integrate-community-build/2191/consoleFull

[2017-11-17 22:32] soronpo opened #630 "Document how to test community-build against a locally-built compiler"
This documentation is missing.

[2017-11-17 22:37] SethTisue commented on #630
will do

[2017-11-17 22:41] SethTisue commented on #630
Note to self, I should also note somewhere, probably both here and in the scala/scala repo, that anyone can request a community build against their scala/scala PR

[2017-11-19 02:40] SethTisue commented on #248
for a long time we had to fork any project that used coursier and remove it

but I've discovered recently that projects that use coursier 1.0.0-RC10 work just fine in the community build (!). no idea what got fixed along the way. /cc @alexarchambault

[2017-11-19 02:41] SethTisue commented on #596
scala/scala#6035 was reverted

[2017-11-19 02:41] #596 closed, assigned to nobody

[2017-11-19 02:42] SethTisue commented on #629
fs2 worked, the failure was in some downstream project, since I pulled in some newer changes in addition to the coursier reinstatement.

so this is looking good, I'll just need to chip away it one project at a time

fyi @alexarchambault

[2017-11-19 18:11] SethTisue commented on #629
I think there are no remaining projects that we have forked _only_ because of coursier. So I'm going to close this, and just keep in mind that we should keep an eye out for further unforking opportunities.

[2017-11-19 18:11] #629 closed, assigned to SethTisue

[2017-11-19 18:54] alexarchambault commented on #248
@SethTisue What kind of issues were you seeing?

https://github.com/coursier/coursier/issues/187 had been a problem on the CI of ensime, throwing file not found exceptions for directories that should have been created, but it should have been fixed (by https://github.com/coursier/coursier/commit/83a08d172cffa85e23fefb9fa6c5fb1c9e59eca5, for reasons that are unclear, but still ;)

https://github.co

[2017-11-20 21:58] SethTisue commented on #630
locally built Scala: https://github.com/scala/community-builds/wiki/Local-runs#can-i-use-a-locally-built-scala

requesting a run against a Scala PR: https://github.com/scala/community-builds/wiki#can-i-run-it-against-a-pull-request-in-scalascala

and, over in scala/scala: scala/scala#6185

[2017-11-20 21:58] #630 closed, assigned to SethTisue

[2017-11-20 23:52] SethTisue commented on #58
declaring the current state good enough

[2017-11-20 23:52] #58 closed

[2017-11-20 23:54] SethTisue commented on #228
I really don't think I'm ever going to get to this

partly because I think it would likely be too noisy, and there isn't that much use to it without human involvement. project maintainers are unlikely to know what to make of the failures, and often the failures are really my problem and not theirs.

I think the current human-centric (Seth-centric) approach, with @-notification to maintainers on is

[2017-11-20 23:54] #228 closed, assigned to nobody

[2017-11-20 23:56] SethTisue commented on #248
@alexarchambault I'm just not very motivated to go back and try and figure out what was going on before, interesting as it might be to know. mainly just glad it's working!

as for the original idea behind this ticket, I don't think the community build is a good place to pioneer replacing Ivy with Coursier. it should happen in sbt first.

[2017-11-20 23:56] #248 closed, assigned to nobody

[2017-11-20 23:58] SethTisue commented on #338
I think the current state of this is good enough. Adriaan's script exists when we need to do a mass freeze. other decisions about whether to freeze or track a branch can be made a repo-by-repo basis. plus we can adjust the overall tendency to track vs. freeze — right now I lean pretty heavily towards track, but I can allow myself more freezing in cases where tracking gets annoying. it's fine.

[2017-11-21 00:00] SethTisue commented on #364
this hasn't been a problem lately. we still have simulacrum frozen over it, but it hasn't caused problems with any other projects in a long time. (for all I know, some newer wartremover version may even have eased the problem.) we can reopen if needed

[2017-11-21 00:00] #364 closed, assigned to nobody

[2017-11-21 00:01] SethTisue commented on #503
having some frozen projects is not so bad. should we find a reason to unfreeze, we can tackle it then. closing for now.

[2017-11-21 00:01] #503 closed, assigned to nobody

[2017-11-21 00:02] SethTisue commented on #515
from what I hear, the new action is on scalaz 8 these days. it seems unlikely we'll ever move the community build to 7.3. we can reopen this if the situation changes. closing for now

[2017-11-21 00:02] #515 closed, assigned to nobody

[2017-11-21 00:04] SethTisue commented on #582
closing for inactivity. happy to reopen if someone wants to take it back up. (I don't think it's something I'll tackle myself.)

if Lift wants to include "latest Scala nightly" in their CI matrix, the ticket where we're gathering lore on that is https://github.com/scala/community-builds/issues/599

[2017-11-21 00:04] #582 closed, assigned to nobody

[2017-11-21 00:04] SethTisue commented on #533
closing because tons of projects have been removed from the 2.13 build, we don't need individual tickets

[2017-11-21 00:04] #533 closed, assigned to nobody

[2017-11-21 00:06] SethTisue commented on #418
I don't think I'm ever going to tackle this, and it's not clear that the community build is the right venue for tackling it, anyway.

[2017-11-21 00:06] #418 closed, assigned to nobody

[2017-11-21 00:07] SethTisue commented on #442
we don't have enough disk space on the Jenkins nodes for this at present. (and they aren't easy to expand, they would need to be rebuilt)

[2017-11-21 00:09] SethTisue commented on #408
seems unlikely anyone will pursue this further. having an Artifactory config in the repo for people to use is fine. not that many people want to do local runs; it's fine to use Jenkins most of the time.

[2017-11-21 00:09] #408 closed, assigned to nobody

[2017-11-21 00:12] SethTisue commented on #439
the number of remaining forks is not that great, and having some freezes is not so bad, either. let's declare victory. the current state of things good enough, overall. we can continue to evaluate individual cases individually

[2017-11-21 00:12] #439 closed, assigned to SethTisue

[2017-11-21 03:51] #463 closed, assigned to nobody

[2017-11-21 10:02] dwijnand commented on #418
Indeed, the community build should serve scala/scala's needs not mima's.

[2017-11-21 15:08] SethTisue opened #635 "declare victory on 2.12 community build and move on"
recently added: ammonite, coursier, scalafmt, scala-debugger, pureconfig, circe

that closes out my list (at #161) of projects that I realllllly wanted in

and certainly the overall build is now plenty large enough

I recently closed out all open pull requests and closed most open issues

[2017-11-21 15:08] SethTisue commented on #635
(...though the build will require continued attention as we move to Java 9 and Scala 2.13...)

[2017-11-21 15:08] SethTisue commented on #635
post-victory

[2017-11-21 15:08] #635 closed, assigned to nobody

[2017-11-21 15:09] SethTisue commented on #635
victory tour plans:
* count the lines of code (#59)
* blog about it
* do a talk about it

[2017-11-21 15:15] SethTisue commented on #635
in the 2.12 build, I hereby encourage myself to be increasingly willing to just freeze projects, to lessen ongoing maintenance cost

[2017-11-24 23:16] SethTisue opened #638 "should Map and/or Seq and/or Set still extend `Function1`?"
we discussed this on Gitter about a month ago, in response to @nafg's question: https://gitter.im/scala/collection-strawman?at=59f378ab51915d962afb2f5a

and @szeiger asked about it there just now: https://gitter.im/scala/collection-strawman?at=5a184823540c78242d43ebe2

but we should have a ticket of record. here it is

[2017-11-24 23:18] SethTisue commented on #638
what I said about this a month ago:

@odersky suggested removing `Set`'s function-ness, but leaving `Map` and `Seq` alone.

to expand on my earlier thoughts:

I still would prefer that none of these things were `Function1`s, for my originally stated reasons

I agree that `Set` is worst, `Seq` is not as bad, and `Map` is least bad. so it's a matter of degrees, but I still think they're all bad. I o

[2017-11-25 02:09] SethTisue commented on #638
hmm, but, there's also the matter of `PartialFunction`, which I didn't cover... the `.apply _` trick gets you a `Function1` but not a `PartialFunction`. started thinking about it after I wrote the above, and I see @joroKr21 brought it up on Gitter just now. he writes:

not sure if I have a good response to that, I'll have to think on it a little more

[2017-11-25 02:48] joroKr21 commented on #638
Yep, `PartialFunction` is better justified. To me a lot of the weirdness actually comes from the fact that `PartialFunction` is a `Function1` when Liskov points the other way around. I guess it's mostly there so we can destructure tuples with `map { case (x, y) => ... }` but with auto tupling in Dotty maybe it's time to reverse the relation. Also another thought - would it make sense for exhaustiv

[2017-11-25 04:14] SethTisue commented on #638
I think reversing `Function`/`PartialFunction` is out of scope for this ticket because it's almost certainly out of scope for Scala 2.13. (If anyone disagrees or wants to discuss it further, let's take it to https://contributors.scala-lang.org.)

interesting, I'll think on that too.

[2017-11-25 04:42] SethTisue commented on #59
I decided I liked Grzegorz's suggestion of running `cloc` directly from the plugin. I'm trying to get this done in the most expeditious manner possible and doing it this way means we don't need to clutter up the dbuild log with a lot of extra stuff.

here's the compiler plugin: https://github.com/sethtisue/cloc-plugin

working now on integrating it in this repo.

[2017-11-25 17:04] SethTisue commented on #59
keeping the ticket open until we actually have a full count in hand. (we only count lines compiled during a particular run, so many runs will only have a partial count, if any cached builds are used.)

[2017-11-26 00:40] nafg commented on #638
But the collections design for 2.13 is meant to last through Dotty no? So
at what point is there an opportunity to reverse Function1 and
PartialFunction?

On Fri, Nov 24, 2017, 11:14 PM Seth Tisue <notifications@github.com> wrote:

[2017-11-26 01:49] SethTisue commented on #638
let's keep this ticket on one topic, please — that's another discussion. (past discussions about it have gotten quite involved.)

one reason not to entangle collections types with function types is that it reduces our freedom to maneuver on both sides.

[2017-11-26 05:25] nafg commented on #638
Good point. I guess that's an argument not to extend Function1 or
PartialFunction.

On Sat, Nov 25, 2017 at 8:49 PM Seth Tisue <notifications@github.com> wrote:

[2017-11-26 10:44] odersky commented on #638
I don't think this will work. Seq's are perfectly good functions and so are maps. If you remove that you will break a lot of code for no apparent gain. And like I said on the gitter this would be a very serious change that will break lots of code in very obscure ways. We can consider to do this only if we are have _proven_ rewrite tools that will work close to 100% of the time. So far we do not ha

[2017-11-27 07:38] dwijnand commented on #638
Do Scalafix not deliver this?

[2017-11-27 20:28] SethTisue commented on #553
yup, it works, I was successful with this over at https://github.com/scala/community-builds/pull/639

[2017-11-28 15:15] SethTisue commented on #638
doh — I opened this in the wrong repo!

new ticket of record, with a link to here: https://github.com/scala/collection-strawman/issues/306

[2017-11-28 15:15] #638 closed, assigned to nobody

[2017-11-28 15:28] SethTisue commented on #59
a recent run has 1.74 million total lines:

[code]

[2017-11-28 15:36] #59 closed

[2017-11-28 17:48] SethTisue opened #644 "gather tree-size data too, to measure code-expansion caused by e.g. macros"
we now have line-count information gathered by a compiler plugin that we inject into every project. now that the infrastructure is in place, we could gather other information too

@adriaanm suggests:

tree nodes seems to me like an appropriate thing to count

[2017-11-28 19:54] gkossakowski commented on #59
The https://www.scala-lang.org/blog/2017/11/27/macros.html says that community build is ~3 million LoCs. where does the difference come form?

[2017-11-28 20:01] SethTisue commented on #59
the "corpus" that Olafur mentions in that blog post may be derived in part from the community build, but isn't the same and is apparently larger. for example, he lists scanamo and lila as being included, but neither of them is in the community build.

@olafurpg is your corpus on GitHub somewhere?

[2017-11-28 20:02] olafurpg commented on #59
I just realized we may be counting js/jvm cross-built files twice, which may explain the difference. I will double check tomorrow! 😅

[2017-11-28 20:03] SethTisue commented on #59
you're not generating Scaladoc, are you? I was double-counting until I added a `if (!global.settings.isScaladoc)` check

[2017-11-28 20:03] olafurpg commented on #59
I manually added a few more projects. I'm on the phone now but I can send a link to the corpus and steps to reproduce when I'm back at the computer.

[2017-11-28 20:06] olafurpg commented on #59
I run compile for all projects that either define 2.11 or 2.12 in their cross Scala version

[2017-11-28 20:21] SethTisue commented on #59
fwiw, I consider it expected and normal that the community build would be smaller than other corpuses of open source Scala code. getting stuff in the community build is hard, for multiple reasons:

* because we can't add a project until all of its recursive Scala-based dependencies have already been added (since everything is built from source)
* because everything must be source compatible with t

[2017-11-29 09:19] olafurpg commented on #59
OK I re-ran the analysis deduplicating jvm/js cross-built files and the occurrences of `'\n'` (metric could definitely be refined) and they appear to be ~2 million loc instead of 3 million. Without jvm/js deduplication I can only count 2.3 million loc so I was doing something wrong when I first ran the analysis. I'll update the blog post to reflect this.

Two notable additions to my corpus are orn

[2017-11-30 20:18] SethTisue commented on #161
we might look at https://github.com/olafurpg/scala-experiments for candidate additions. also the [Dotty community build](https://github.com/lampepfl/dotty-community-build)

[2017-12-01 21:47] SethTisue opened #646 "new 2.12 utest failure (test.utest.FormatterTests)"
`test.utest.FormatterTests` failed at https://scala-ci.typesafe.com/job/scala-2.12.x-integrate-community-build/2323/

there are no recent commits in the utest repo, so I tried to reproduce it locally in the utest repo with `++2.12.5-bin-f2a1519` followed by `utestJVM/testOnly test.utest.FormatterTests` but the test passed. so I'll have to look closer

new test run to see if it's intermittent: http

[2017-12-02 19:03] SethTisue commented on #646
huh, it went away. I won't bother to investigate unless it recurs

[2017-12-02 19:03] #646 closed, assigned to SethTisue

[2017-12-04 23:11] gkossakowski commented on #59
Thanks for checking the numbers!

[2017-12-08 08:55] adamw commented on #161
I just noticed this & a (so far failed) attempt to add sttp. No idea how this works, but if you would need some help on the sttp's build, let me know :)

[2017-12-13 22:41] SethTisue opened #650 "move sbt tags from 1.0.4 -> 1.1.0"
sequel to #642, sister to #645

it can wait until 1.1.0 is finalized, I think.

[2017-12-13 22:41] SethTisue commented on #650
we might make another attempt to enable the test suite (last time we tried, as part of #642, just one test failed)

[2017-12-17 00:59] SethTisue opened #653 "push through cats 1.0 upgrade everywhere"
a number of breaking changes were made between 1.0.0-MF (which is about where we are currently) and 1.0.0-RC1

I don't want to attempt this too early, since I'll likely just hit projects that haven't upgraded yet, but most of those projects will upgrade of their own accord if I just wait a little longer, I don't want to get too deep into the business of submitting upgrade PRs myself. so for now I'

[2017-12-17 00:59] SethTisue commented on #653
todo list:

* [ ] unfreeze circe (PR: #651)
* [ ] ...?

[2017-12-20 20:51] SethTisue opened #657 "don't disable tests build-wide, just for specific subprojects where the failures are"
there are a number of projects where we don't run _any_ tests just because of (perhaps as little as) _one_ failing test in _one_ subproject

I hadn't previously tried to find a way to disable tests just for one subproject, but I know one now:

    set executeTests in thisParticularSubproject in Test :=
      Tests.Output(TestResult.Passed, Map(), Iterable())

we should do a sweep through `communit

[2017-12-20 21:17] SethTisue commented on #657
test run with all test suites re-enabled: https://scala-ci.typesafe.com/job/scala-2.12.x-integrate-community-build/2450/consoleFull ~~(404 til Jenkins finishes wondering what the difference between a tea "bag" and a tea "sachet" really is, anyway)~~

[2017-12-21 20:31] SethTisue commented on #657
results from this round:

* succeeded: shapeless, scala-stm, scala-async, scala-refactoring
* failed: specs2, genjavadoc, scoverage, parboiled, scalacheck-shapeless, sbt
* blocked: akka-more, akka-http, breeze, ssl-config, scalikejdbc, scala-ssh, monix, unfiltered, akka-contrib-extra, scala-gopher, zinc, ammonite, http4s, github4s

[2017-12-21 20:50] SethTisue commented on #657
69878ce9c86b4a466795003dfedb500a6a6fbd76 re-enables tests on those four projects 🎉

most of the blocked projects are blocked by specs2 and/or genjavadoc

the genjavadoc failure looks like an overly sensitive test (only ordering differs, I think?)

what's going on with specs2? the single failing test in `core` (after which the other subprojects don't get to run)  is `org.specs2.specification.Isolat

[2017-12-21 20:53] SethTisue commented on #657
let's try again but disable running the tests in specs2 `core` only: https://scala-ci.typesafe.com/job/scala-2.12.x-integrate-community-build/2457/consoleFull (404 til Jenkins stops feeling he can't even and decides that actually he can even)

[2017-12-21 20:59] SethTisue commented on #657
as for genjavadoc, the failure is reproducible outside dbuild with `++2.12.5-bin-3792784` followed by `genjavadoc-plugin/testOnly *BasicSpec`; it passes with `++2.12.4`

it looks like I just need to submit an upstream PR that adds an appropriate `plugin/src/test/resources/patches/2.12.5.patch` file (hopefully the Scala version number handling is smart enough to select that file when a Scala versio

[2017-12-21 21:34] SethTisue commented on #657
https://github.com/lightbend/genjavadoc/pull/123 fixes the genjavadoc issue, and a445762d04626b11dc2bb9f1c5fbd4fa8d9f04ef re-enables the tests

[2017-12-21 21:35] SethTisue commented on #657
let's try again but with SethTisue/community-builds@ca8faf34e593a6758f46d3bf6d4d1b8b32d4bb5a which disables running the tests in specs2 `core` only: https://scala-ci.typesafe.com/job/scala-2.12.x-integrate-community-build/2457/consoleFull ~~(404 til Jenkins stops feeling he can't even and decides that actually he can even)~~

EDIT: again, with another specs2 project's tests disabled: https://scala

[2018-01-01 04:39] SethTisue opened #658 "make sure we're tracking the right Shapeless"
@milessabin writes:

http://milessabin.com/blog/2017/12/31/shapeless-2.3.3/#important-note-for-users-of-scala-21112-and-2124

[2018-01-09 00:32] SethTisue opened #659 "scala-refactoring test failure in ReusingPrinterTest"
seen at e.g. https://scala-ci.typesafe.com/job/scala-2.11.x-jdk8-integrate-community-build/476/consoleFull

the failing test in question:

[code]

run 475 was green even though neither scala itself nor scala-refactoring changed between Dec 21 and Dec 31

there are two versions of the test, one for 2.12 and one for not-2.12, perhaps the version checking logic got confused by some dbuild thing? just

[2018-01-09 01:12] SethTisue commented on #659
went green again in 477, so apparently intermittent

[2018-01-09 01:12] #659 closed, assigned to nobody

[2018-01-10 01:30] SethTisue commented on #658
@milessabin we already tracking shapeless's master branch, so I don't think there's anything to do here

[2018-01-10 01:30] #658 closed, assigned to SethTisue

[2018-01-10 01:51] SethTisue commented on #657
the part of this that enables specs2 tests has now been merged onto 2.12.x as its own thing.

I rebased my `run-more-tests` branch, here's a new test run: https://scala-ci.typesafe.com/job/scala-2.12.x-integrate-community-build/2507/consoleFull (404 til Jenkins gets back from the optometrist)

[2018-01-10 16:57] SethTisue commented on #657
the specs2 failure in run 2507 seems mysterious, and 2506 (not on this branch) had mysterious failures as well, so let's just run it again: https://scala-ci.typesafe.com/job/scala-2.12.x-integrate-community-build/2509/consoleFull

[2018-01-16 23:16] SethTisue opened #662 "regression: scala-js started failing"
[code]

last green run:
* https://scala-ci.typesafe.com/job/scala-2.12.x-integrate-community-build/2522/consoleFull
* Scala: 2.12.5-bin-4bf5e52 (scala/scala@4bf5e52)
* scala-js: scala-js/scala-js@6169a651ad74c482a6fa7f0295fa3b13c04a04c9

first red run:
* https://scala-ci.typesafe.com/job/scala-2.12.x-integrate-community-build/2523/consoleFull
* Scala: 2.12.5-bin-707b0f3 (scala/scala@707b0f3)
* sca

[2018-01-16 23:42] SethTisue commented on #662
the problem is reproducible outside the community build, on scala-js's master branch, with:

[code]

@sjrd @lrytz @retronym does scala/scala#6160 seem like it might be causing this somehow...?

[2018-01-17 00:06] sjrd commented on #662
Uh. I wouldn't be terribly surprised if https://github.com/scala/scala/pull/6160 somehow interfered with one of the uses we make of annotations to encode the JS interop semantics. In particular I'd venture a wild guess about member exports.

I will have a look tomorrow.

[2018-01-17 00:09] SethTisue opened #663 "regression: scalameta(-2) started failing"
last green run:
* https://scala-ci.typesafe.com/job/scala-2.12.x-integrate-community-build/2514/consoleFull
* Scala version: 2.12.5-bin-8b65cb2 (scala/scala@8b65cb2)

first red run:
* https://scala-ci.typesafe.com/job/scala-2.12.x-integrate-community-build/2516/consoleFull
* Scala version: 2.12.5-bin-9b4554d (scala/scala@9b4554d)

in both runs we are using https://github.com/scalacommunitybuild/sc

[2018-01-17 00:14] SethTisue commented on #663
okay the relevant PR is @hrhino's scala/scala#6087:

[code]

hence "value samTp is not a member of Boolean"

[2018-01-17 00:21] SethTisue commented on #663
the problem is reproducible outside of the community build with:

[code]

then edit build.sbt as follows:

[code]

then launch sbt, then:

[code]

and boom.

[2018-01-17 00:32] SethTisue commented on #663
@hrhino @olafurpg how shall we proceed here? @hrhino does this look fixable to you by adding a `scalameta/semanticdb-scalac/src/main/scala-2.12.5` directory with a tweaked version of the 2.12.4 code? or will your scala/scala#6087 changes need to be adjusted to re-expose what scalameta is using?

cc @adriaanm

[2018-01-17 00:35] hrhino commented on #663
@SethTisue I'm checking right now.

As I understand it, they copy the relevant parts of `SemanticdbAnalyzer` from version to version, so someone's going to have to make a 2.12.5 PR. If it's not too early I'd be glad to do that for scalameta (ping @olafurpg) and sit on it until the release, assuming that this doesn't complicate things too much.

Otherwise I suspect a tweak to the compiler to re-exp

[2018-01-17 00:41] SethTisue commented on #663
sgtm. as soon as you've PRed it, I can pull the changes into https://github.com/scalacommunitybuild/scalameta/commits/community-build-2.12 in order to get the community build green again.

[2018-01-17 01:21] hrhino commented on #663
So I lied; I don't think I should actually make a 2.12.5 PR until the 2.12.5 release is finalized, since it involves going into `Namers` and `Typers` and grabbing all of the matching changes, so it would indeed be premature to take a stab at that.

I did make a PR (scalacommunitybuild/scalameta#3) which ~will~ ought to unbreak the community build: it simply adapts changes so far in those two files

[2018-01-17 12:58] sjrd commented on #662
https://github.com/scala-js/scala-js/pull/3258

[2018-01-17 16:54] SethTisue commented on #662
[code]

thanks Sébastien!

[2018-01-17 16:54] #662 closed, assigned to SethTisue

[2018-01-17 17:06] SethTisue commented on #663
(continued discussion there)

[2018-01-17 20:37] SethTisue commented on #609
sbt 0.13.17-RC2 and 1.1.0 exist now and should make this a bit easier

[2018-01-17 20:46] SethTisue commented on #663
fixed in c5c11cc3f90088f09e1a8ef01fa4bb418fef78dd

[2018-01-17 20:46] #663 closed, assigned to nobody

[2018-01-17 22:26] SethTisue commented on #657
run 2509: `failed: scoverage, scalacheck-shapeless, scala-gopher`

I'm pretty happy with the other results, so I'm going to declare victory and go with what we have

[2018-01-17 22:27] #657 closed, assigned to SethTisue

[2018-01-17 22:28] SethTisue commented on #650
@dwijnand can I interest you in PR-ing this...?

[2018-01-17 22:39] SethTisue commented on #653
okay, let's get the ball rolling on this: https://github.com/SethTisue/community-builds/tree/cats-1.0

[2018-01-18 21:34] SethTisue opened #666 "regression: ssl-config consistently hanging"
see e.g.

[code]

that's from https://scala-ci.typesafe.com/view/scala-2.12.x/job/scala-2.12.x-integrate-community-build/2537/consoleFull, also runs 2536, 2534

[2018-01-18 21:46] SethTisue commented on #666
there have been no changes in ssl-config since November.

last green run 2529, first red run 2533

[2018-01-18 21:51] SethTisue commented on #666
oh, this is just a duplicate of #560. it came back because we re-enabled the tests in 2cbaa43b7ce78453080f29a461433cbaf63c22e5. I've re-disabled them in 96218367186202051e0f71540b60d633813551e0

[2018-01-18 21:51] #666 closed, assigned to nobody

[2018-01-18 21:51] SethTisue commented on #560
as we saw at #666 recently, this still happens if the tests are enabled

[2018-01-18 21:56] SethTisue commented on #662
scala-js/scala-js#3258 is merged onto 0.6.x now, but hasn't reached master yet. at the time we unfork we should also merge 2.11.x-jdk8 onto 2.12.x in order to get b5f6cea63ee6c11d2b9c0465dbbc1ae9a9248dce

[2018-01-18 22:00] sjrd commented on #662
I'll set up a merge from 0.6.x to master as soon as https://github.com/scala-js/scala-js/pull/3260 is merged.

Oh and ... er ... yeah sorry about the split of `tools`. I should have foreseen that it would require some adaptations to the community build :s

[2018-01-19 16:11] sjrd commented on #662
The fix has now reached master :)

[2018-01-20 19:14] SethTisue opened #667 "document running local Artifactory via Homebrew"
for a long time I've been running a local Artifactory inside a Docker container, following some of @eed3si9n's instructions. but I was setting up a new laptop today and I decided to see if involving Docker was really necessary.

I found that this works (on MacOS):

    brew install artifactory
    brew services start artifactory

now Artifactory is running at http://127.0.0.1:8081

if Artifactory

[2018-01-20 19:35] SethTisue opened #668 "regressions: multiple projects failing in 2.12 build"
[code]

seems to have started with https://scala-ci.typesafe.com/job/scala-2.12.x-integrate-community-build/2539/consoleFull

[2018-01-20 21:03] SethTisue commented on #668
the unfiltered failure is reproducible outside of dbuild by bumping its specs2 dependency to 3.9.5. it looks like the problem @xuwei-k addressed in unfiltered/unfiltered@de0e391b7e5aefdeadb0bb3b18e2e9eed1b30c48

[2018-01-21 01:03] SethTisue commented on #668
oy, when it rains it pours

* [x] unfiltered
    * tracking newer branch with fix 1a29991dbc896642fee542e8c2f76a16734bb55e
    * different failing test disabled in 2250e1b1551c513a535fec9080dba0fb01018075
* [x] github4s
    * failing tests disabled in 6ae3e15ca3bde8cc8e4af4511946364433c89191
* [x] breeze
    * fixed by scalanlp/breeze@6be6625654935e55ef679c84a19468c9e07cd5db I think?
* [x] ammonit

[2018-01-21 01:53] #650 closed, assigned to dwijnand

[2018-01-21 01:56] SethTisue commented on #668
most of this stuff is fallout from #657, which I think I must have merged prematurely

oh well, at least this time, I'm often able to re-disable the tests in a particular subproject, rather than repo-wide

[2018-01-21 02:14] SethTisue commented on #668
test run: https://scala-ci.typesafe.com/job/scala-2.12.x-integrate-community-build/2553/consoleFull

[2018-01-22 07:47] dwijnand commented on #657
TIL of `executeTests`.

[2018-01-22 20:40] SethTisue commented on #668
current list of consistently failing projects:

* [x] monix 4ac0a17d528363e5302b118b6daa2d16a533bdee
* [x] ammonite c7ee812758ca5607be5056b37a7f686f7a322168
* [x] akka-contrib-extra bdc7022eab3d31e863392406eab2c8aeda967e76

(I had listed monix and ammonite as fixed, but the fixes just uncovered new problems.)

[2018-01-23 00:28] SethTisue commented on #668
prospective fixes pushed (plus doodle and scodec-bits fixes), new test run: https://scala-ci.typesafe.com/job/scala-2.12.x-integrate-community-build/2558/consoleFull ~~(404 til Jenkins gets his tonsils out)~~

[2018-01-23 04:15] SethTisue commented on #668
green in local test

[2018-01-23 04:15] #668 closed, assigned to SethTisue

[2018-01-23 04:21] SethTisue commented on #653
https://scala-ci.typesafe.com/job/scala-2.12.x-integrate-community-build/2558/consoleFull (404 til Jenkins finishes spray-painting everything in his field of vision black)

[2018-01-23 18:45] SethTisue commented on #653
in local testing,

[code]

looks like http4s has their own fork of ~~parboiled 1?~~ parboiled 2

[2018-01-24 00:51] SethTisue commented on #668
green on Jenkins (https://scala-ci.typesafe.com/job/scala-2.12.x-integrate-community-build/2561/)

[2018-01-24 01:34] SethTisue commented on #653
https://scala-ci.typesafe.com/job/scala-2.12.x-integrate-community-build/2563/consoleFull

[2018-01-24 16:48] SethTisue commented on #653
[code]

getting close!

[2018-01-24 20:04] SethTisue commented on #653
the scalikejdbc failure looks probably unrelated and intermittent

algebra has a cats 1.0 upgrade PR we can probably use

pureconfig has upgraded to cats 1.0 on master, so we just need to refresh our fork

[2018-01-24 22:01] SethTisue commented on #653
https://scala-ci.typesafe.com/job/scala-2.12.x-integrate-community-build/2570/consoleFull

progress: only spire now fails (and breeze and multibot depend on it)

[2018-01-24 22:25] #653 closed, assigned to SethTisue

[2018-01-24 22:27] SethTisue opened #672 "re-add spire (and its dependencies breeze and multibot)"
I removed these 3 projects in #671 because spire was failing to compile

[code]

full log at https://scala-ci.typesafe.com/job/scala-2.12.x-integrate-community-build/2570/consoleFull

[2018-01-24 22:29] SethTisue commented on #672
fyi @non @dlwh @tixxit @denisrosset @OlegYch

would someone like to try and sort out what the problem is? I think it's some sort of source incompatibility between the versions of spire and algebra we are using?

[2018-01-24 22:31] SethTisue commented on #653
the removal of spire, breeze, and multibot now has its own ticket: #672

[2018-01-24 22:35] denisrosset commented on #672
I think so, the `Order` typeclass was cleaned up before the cats 1.0.0, but Spire is not yet updated, due to its dependency on algebra.

[2018-01-24 23:37] SethTisue opened #674 "2.13: re-enable Scala.js tests"
as per https://github.com/scala/community-builds/commit/d44382bdad9939acf7c3979436f5be531cb92327

cc @sjrd

[2018-01-24 23:39] SethTisue commented on #674
Sébastien, I'll need your guidance here, I don't understand the failures. let us know if we can answer any questions about what's changed in 2.13, and hopefully we'll meet in the middle somewhere.

[2018-01-24 23:40] SethTisue commented on #674
I assume it will be reproducible outside of dbuild if you just use the latest 2.13 nightly. if not let me know

[2018-01-24 23:44] sjrd commented on #674
Yes, the 2.13 nightly reproduced the bug.

This is an easy one: it's because the fix for https://github.com/scala/bug/issues/10512 hasn't reached your 2.13.x branch yet, but we already have tests for it. The tests are disabled in 2.12.{0-4} and 2.13.0-M2, because those versions are known to be defective wrt. it, but "2.13.0-pre-whatever" does not qualify to exclude the test.

In fact, `testSuiteJV

[2018-01-24 23:51] SethTisue commented on #674
aha. okay, I think at our team meeting yesterday someone said they'd be doing that shortly (in the next few days)

[2018-01-24 23:59] sjrd commented on #674
If I manually disable that test, both `testSuiteJVM/test` and `testSuite/test` succeed.

[2018-01-25 23:16] SethTisue commented on #674
update: I merged 2.12.x onto 2.13.x, but there isn't a new nightly build yet

[2018-01-26 00:10] SethTisue commented on #667
within Lightbend I got one "I don't use Docker, and use the brew install way too" and one "For me, Docker is preferred in cases where I want to be able to swap between specific version" (not a consideration for the community build I think, I've never had an issue that depended on Artifactory version)

[2018-01-26 02:33] SethTisue commented on #674
new nightly: 2.13.0-pre-79e5101

trying to re-enable the test suite uncovered a regression in (I think) constant-folding: https://github.com/scala/scala-dev/issues/465

[2018-01-26 04:01] SethTisue opened #675 "2.13: new failures since 2.12.x -> 2.13.x merge in scala/scala"
failed: ​utest, ​scala-continuations, ​akka-actor

see https://scala-ci.typesafe.com/view/scala-2.13.x/job/scala-2.13.x-integrate-community-build/915/consoleFull

[2018-01-30 17:21] SethTisue commented on #675
duplicate of https://github.com/scala/scala-dev/issues/466 (now fixed)

[2018-01-30 17:21] #675 closed, assigned to SethTisue

[2018-01-31 02:08] SethTisue opened #677 "2.13: use the same, or nearly the same, config file as 2.12"
merging from 2.12.x to 2.13.x is an ongoing hassle, because we've deleted so many projects from 2.13.x (intending to restore most of them later in the 2.13 cycle)

also re-adding projects by copy-pasting from 2.12.x is going to suck.

here's an idea for making these things easier. instead of removing projects, we should make a way to designate which projects are allowed to fail. then we can leave

[2018-01-31 02:23] SethTisue commented on #321
now that we have the cloc-report script in place, reporting lines-of-code counts, that could be a starting point for incrementally adding more reporting. it could start just as plain-text stuff in the log (or write it to a separate file), and then gradually get closer to the full vision.

[2018-01-31 02:24] SethTisue commented on #321
not clear whether we want to get all of the information by groveling through the dbuild output, or whether it would help to load the HOCON config ourselves.

[2018-01-31 02:34] SethTisue commented on #338
Reopening because I've been thinking about this again. It's annoying constantly having projects changing out from under me when I'm working on the community build. For example, the Akka team is very industrious and is always committing stuff, and the akka-actor tests take a while to run, and then the akka-more tests take quiiiiiite a while to run (we weren't running them before, now we are).

Lean

[2018-02-01 19:58] SethTisue commented on #603
over at https://github.com/sbt/sbinary/pull/11 I've submitted a PR that, once merged, should permit unforking

[2018-02-06 02:14] SethTisue opened #679 "regression: some repos now fail with cross-version suffixes error on scala-xml"
[code]

not sure when this started or what's going on, need to investigate. some of the failing repos are kind-projector, scalajson, akka-actor

[2018-02-06 02:16] SethTisue commented on #679
in scalajson's case I think ~~this might have to do with the scalajson -> scalatest -> scalactic -> scala-reflect -> scala-xml dependency chain?~~

oh but that isn't the chain, scala-reflect doesn't depend on scala-xml. the scala-xml dependency is scalatest's.

[2018-02-06 02:17] SethTisue opened #680 "regression: scala-parser-combinators failing"
[code]

the lack of a Scala version suffix makes me wonder if this somehow related to #679

[2018-02-06 17:29] SethTisue opened #682 "regression: Scaladex frozen (won't extract)"
after some recent commits by @MasseGuillaume

[code]

not sure if we need to add a resolver to our Artifactory, or what. it isn't clear to me where sbt-compat is even coming from, here (`git grep sbt-compat` in the scaladex repo shows nothing)

[2018-02-06 17:35] SethTisue commented on #682
worked around it for now by freezing Scaladex at an older commit (e42200ee546bf92d756e34eefc1deff9c777d3c9)

[2018-02-06 20:23] MasseGuillaume commented on #682
@SethTisue https://github.com/scalacenter/scaladex/commit/56035c71fba13366fb78fda5b21076fe9ab0ec4b#diff-a84f91f20f040218bccd09fed4761fb3 ?

[2018-02-06 23:43] SethTisue commented on #682
@MasseGuillaume maybe? I really don't know. maybe something to do with https://github.com/sbt/sbt/issues/3393? sbt-compat is [all the way at version 1.2.4](https://github.com/dwijnand/sbt-compat/releases) these days

@jrudolph @dwijnand?

[2018-02-07 00:04] SethTisue commented on #680
it's MiMa, somehow: `[scala-parser-combinators] [error] (scala-parser-combinatorsJVM/*:mimaPreviousClassfiles) sbt.ResolveException: unresolved dependency: org.scala-lang.modules#scala-parser-combinators;1.1.0: not found`

I haven't succeeded in reproducing it outside of dbuild.

[2018-02-07 00:08] SethTisue commented on #680
gah. why does it try both of these?

[code]

[2018-02-07 00:10] SethTisue commented on #680
and why doesn't scala-xml have the same problem?

I'm looking at both builds trying to identify suspect differences. downgrading scala-parser-combinators from sbt-scala-module 1.0.13 to 1.0.2 didn't help

[2018-02-07 00:10] SethTisue commented on #680
tried this on a hunch, didn't help:

[code]

[2018-02-07 00:21] SethTisue commented on #680
I wonder if scala-xml is different somehow because it's part of the bootstrap and thus is built with dbuild's "scala" build system rather than its "sbt" build system

by what mechanism is MiMa even getting run, here, anyway?

oh, sbt-scala-module has

[code]

it also has this which looks related and perhaps suspicious:

[code]

maybe we don't need to run MiMa at all in the context of the community

[2018-02-07 00:27] SethTisue commented on #680
oh ffs, this is duplicate of #575. okay, I'll disable MiMa here, just as we did for scala.xml. :-/

[2018-02-07 00:30] SethTisue commented on #575
I hit this again with scala-parser-combinators in #680, but forgot about this previous occurrence. Add my flailings on that ticket to the case file.

[2018-02-07 00:31] #680 closed, assigned to SethTisue

[2018-02-07 00:45] SethTisue commented on #679
not sure I have a complete list of failing projects in hand, but:

I think all the failing projects are either:

* compiler plugins (kind-projector, twotails)
* ScalaTest users (the others)

[2018-02-07 00:56] SethTisue commented on #679
from e.g. the kind-projector log,

[code]

note the missing `_2.12`

[2018-02-07 01:09] SethTisue commented on #679
I wonder exactly this when regressed, there might be a clue there. but Jenkins is down

downgrading sbt-version from 0.13.17 to 0.13.16 doesn't help. running dbuild with `version=2.12.4` doesn't help.

oh, now this is interesting: scala/scala-xml#181

that looks very interesting

/cc @ashawley

[2018-02-07 01:19] SethTisue commented on #679
darnit, rewinding scala-xml to scala/scala-xml@171a1995ef89f8342d776a86c9e551b33a677958 (October 2017) doesn't make the errors go away. sorry Aaron, false alarm

[2018-02-07 01:23] ashawley commented on #679
Yeah, I wondered what fixing the exclusion rule would actually do to do the community build, but then the Typesafe Jenkins crashed, so I never found out, until...

Ok, hope it is a false alarm.

[2018-02-07 01:25] SethTisue commented on #679
okay, I noticed something else the failing projects have in common: they are on sbt 1.

and yeah, if I rewind kind-projector to non/kind-projector@5729d05, before the sbt 1 move, the problem goes away.

so that's progress at least, this is some sbt 0.13 vs sbt 1 difference

[2018-02-07 01:31] SethTisue commented on #679
using kind-projector as our guinea pig, on sbt 0.13.17 `++2.12.4` then `show fullClasspath` shows:

[code]

but on sbt 1.1.0

[code]

is the difference significant? not sure. it sure looks relevant. also fwiw `~/.sbt/boot/scala-2.12.4/lib` contains a `scala-xml_2.12.jar`

[2018-02-07 01:41] SethTisue commented on #679
Scalatest's xml dependency, from its `ivy-3.0.4.xml`:

[code]

[2018-02-07 01:44] SethTisue commented on #679
I wonder if this is a bug in dbuild's "Scala" build system. `org.scala-lang.modules#scala-xml;0.1-dbuildxa3d7c1f2fbbff31cd9ef52c50629720657fe755c` is just wrong (missing `_2.12`), and it's got dbuild's fingerprints on it.

hypothesis: scala-compiler, scala-library, and scala-reflect all correctly lack the `_2.12` suffix, so maybe dbuild thinks everything that's part of the Scala bootstrap is suppo

[2018-02-07 02:18] SethTisue commented on #679
okay I bet we can deal with this by pulling scala-xml out of the "Scala" build system section, or maybe by not using that build system at all. which would be a nice simplification anyway actually

trying it...

[2018-02-07 02:33] SethTisue commented on #679
thinking out loud:

* in a 2.12 context, we could say that's it, we're just not upgrading the scala-xml version used by Scaladoc anymore. so then there's no need to have scala-xml in the 2.12 community build (except perhaps as a standalone thing that isn't used by any downstream projects)
* in a 2.13 context, we plan to cut the Scaladoc tools's dependency on scala-xml anyway, so at that point scal

[2018-02-07 02:44] SethTisue commented on #679
another thought would be to use `conflictWarning := ConflictWarning.disable` or something similar to just sweep the problem under the rug.

[2018-02-07 03:04] SethTisue commented on #679
gah, that causes Scaladoc generation to fail in every project because scala-xml isn't on the classpath. we could inject scala-xml into every project, but then it's on the classpath all the time, not just for Scaladoc generation.

[2018-02-07 04:49] SethTisue commented on #679
new hope: I think this might be addressable just using dbuild's `cross-version` setting appropriately. the current behavior around scala-xml isn't dbuild acting crazy, it's explicitly specified in our config file with `cross-version: disabled`. I never had to mess with this before or even think about it before.

[2018-02-07 05:00] SethTisue commented on #679
[code]

this is promising, builds seem to be passing.

I'm seeing:

[code]

which isn't ideal, we would prefer that the freshly built scala-xml be used. but it's hardly a show-stopper

[2018-02-07 05:02] SethTisue commented on #679
@cunei reading all of this over might amuse you.

[2018-02-07 05:08] SethTisue commented on #679
effectively, our config file was wrong before, but something changed in sbt 1 that exposed the previously latent bug.

[2018-02-07 05:12] SethTisue commented on #679
right now I'm testing with `version=2.12.4` because scala-ci.typesafe.com is down so I can't test against Scala nightlies. I'm a little afraid my fix might prove not quite right once used with a Scala version such as `2.12.5-bin-.....` or `2.13.0-pre-...`, but I can cross that bridge when I come to it.

[2018-02-07 05:12] #679 closed, assigned to SethTisue

[2018-02-07 11:09] dwijnand commented on #682
Even if sbt-compat isn't an sbt plugin it's cross-built to sbt versions so I published it to the sbt's sbt-plugin-releases ivy repo, and there are variants for version 1.1.0 for both sbt 0.13 and sbt 1:

* https://repo.scala-sbt.org/scalasbt/sbt-plugin-releases/com.dwijnand/sbt-compat/scala_2.12/sbt_1.0/1.1.0/jars/
* https://repo.scala-sbt.org/scalasbt/sbt-plugin-releases/com.dwijnand/sbt-compat/s

[2018-02-12 17:59] SethTisue opened #685 "add specs2 version 4"
version 4 has been out for a while now is probably what we should go forward with as our only specs2 version in the 2.13 community build. I can embark on that plan right now, I think. (reasoning: any project unwilling to prioritize upgrading is a laggard project anyway and at least until later in the 2.13 cycle, we are comfortable cutting laggard projects.)

in the 2.12 build, I'm not sure. maybe

[2018-02-12 19:02] SethTisue commented on #685
the "add version 4 to 2.13 build" part is done in 82c96cf645fd11a4f0cecd09442a7c93b0bf7c50

[2018-02-15 18:15] SethTisue opened #686 "run community builds locally until Jenkins upheaval dies down"
running them locally on MacOS. tracking status here:

* 2.13.x 🍏 Feb 15 `2.13.0-pre-81ad83d` scala/scala@81ad83d
* 2.12.x 🌶 Feb 16
    * [ ] only twotails failed; probably green again after https://github.com/scala/scala/pull/6327
    * [ ] intermittent but fairly frequent fs2 test failures
* 2.11.x-jdk8  💹 Feb 15 scala/scala@009e59a8a66fd21f62a7504fb354792495cb6528
    * [x] scala-swing needed mi

[2018-02-16 18:31] SethTisue commented on #686
status on Jenkins:

* 2.11.x (jdk6) needs JDK 6 install on behemoths
* 2.11.x-jdk8 🥝 Feb 16 https://scala-ci.typesafe.com/view/all/job/scala-2.11.x-jdk8-integrate-community-build/494/
* 2.12.x 💹 (except twotails) https://scala-ci.typesafe.com/view/scala-2.12.x/job/scala-2.12.x-integrate-community-build/2615/
* 2.13.x 🌳 Feb 16 https://scala-ci.typesafe.com/job/scala-2.13.x-integrate-community-build

[2018-02-21 23:25] SethTisue commented on #686
twotails is green again in 2.12, there have been some other new failures but I'll open separate tickets for those if needed.

not really done til https://github.com/scala/scala-jenkins-infra/issues/242 happens, but we have that ticket so I'll close this one.

[2018-02-21 23:25] #686 closed, assigned to SethTisue

[2018-02-21 23:33] SethTisue commented on #685
I think this can stay the way it is for now (version 3 in 2.12 build, version 4 in 2.13 build)

* if some 2.12 projects actually start requiring version 4, we'll cross that bridge when we come to it
* if some 2.13 project doesn't work with version 4, we'll ask them to upgrade

we can reopen if the situation changes.

[2018-02-21 23:33] #685 closed, assigned to SethTisue

[2018-03-02 00:25] SethTisue commented on #609
what are those great crashing footfalls I hear? it's our THREE mighty behemoths, LARGER than the old ones. what a thrilling and awe-inspiring sight they are! and apparently they have JDK 9 on them already 🤖🤖🤖 💪💪💪 ⓽⓽⓽ 💥💥💥

I created https://scala-ci.typesafe.com/view/scala-2.12.x/job/scala-2.12.x-jdk9-integrate-community-build via the Jenkins UI by copying the regular 2.12.x job, adding `-jdk9-` to

[2018-03-08 22:13] SethTisue opened #689 "fs2 started failing to compile in 2.12 build"
[code]

this look like a version mismatch thing between fs2 and cats-effect rather than a Scala issue

[2018-03-08 23:43] #689 closed, assigned to SethTisue

[2018-03-08 23:44] SethTisue commented on #689
dealt with it by freezing cats-effect at 0.9

also monix just today moved off cats-effect 0.9 onto a development version; so we have to freeze monix too

we can unfreeze all this stuff (or just move to newer tags, tags are probably better; it's hard trying to keep up with fast-evolving projects like these) once it settles down again

fyi @mpilquist @alexandru

[2018-03-09 05:18] alexandru commented on #689
@SethTisue ouch, sorry, the upcoming cats-effect 0.10 contains some cleanups, the project being still binary compatible but not source compatible.

It's coming up next week: https://github.com/typelevel/cats-effect/milestones

[2018-03-13 05:22] SethTisue commented on #689
no worries, it's normal

[2018-03-15 08:55] gnanasekar6914 opened #691 "cala spark notebook inside IntelliJ"
Hello All,

I use andypetrella/spark-notebook, and it's great:

docker run -p 9001:9001 andypetrella/spark-notebook:0.7.0-scala-2.11.8-spark-2.1.0-hadoop-2.7.3
However, I would like to use such a notebook from inside InteliJ to use completion and debugging. How to achieve this?

I see the IntelliJ you can have New -> jupyter, but I think it is only python. Or does it work on scala and spark?

I al

[2018-03-15 15:13] SethTisue commented on #691
http://scala-lang.org/community/ has advice on where to seek help with Scala

[2018-03-15 15:13] #691 closed, assigned to nobody

[2018-03-21 12:30] SethTisue commented on #364
hit this recently adding a project (curryhoward) that has wartremover 2.2.1 which is the latest version, so there hasn't been a fix.

[2018-03-21 13:51] SethTisue commented on #364
#698 adds wartremover to the build, fixing the problem

[2018-03-22 18:56] ashawley commented on #609
It failed.  Didn't look like there were any more builds kicked off.  Did this end up getting hung up?

[2018-03-22 18:57] SethTisue commented on #442
we have plenty of disk space now, since the recent big Jenkins overhaul

[2018-03-22 19:00] SethTisue opened #699 "generate one log file per project, not one gigantic unwieldy single log file"
either by changing dbuild, or by post-processing the current gigantic log

the individual files would then be available as build artifacts in the Jenkins web UI

this would

* make my life as maintainer easier, finding stuff in the current gigantic log just sucks
* make it easier for outside contributors to help
* make it easier for the maintainers of included projects to help when something goes

[2018-03-22 19:05] SethTisue commented on #699
@cunei this doesn't already exist in dbuild, right? do you think this would be an easy modification to dbuild?

[2018-03-22 19:13] SethTisue commented on #609
work on 2.12.5 (and the usual thousand other things) interceded. ironically, since this would have caught the big regression in 2.12.5. sigh

yeah so in the first run a bunch of projects failed to even extract, I looked at a sampling and it was usually (always?) because something in the build choked on the unexpected Java version number

so I'll need to start just marching down the list and making

[2018-03-22 19:28] ashawley commented on #609
Oh, ok. Yeah, that's brutal.

[2018-03-22 22:10] retronym commented on #609
[code]

I know this problem, it requires an updated shade plugin, as in https://github.com/playframework/play-ws/issues/173. I'll take this up with coursier and argonaut-shapeless.

Issue: https://github.com/coursier/coursier/issues/822

Workaround: https://github.com/scala/community-builds/pull/700

[2018-03-22 23:46] retronym commented on #609
[code]

This probably just means that project is building with SBT 0.13.16 or lower, which is yet to update to Scala 2.10.7 to get support of for Java 9.

https://github.com/scala/community-builds/pull/701

[2018-03-22 23:52] retronym commented on #699
What would be really great would be to emit a JUnit XML format file. Treat each project as a "test class". Treat "extract", "compile" "test" as test methods. Stick the log output in the file, and let Jenkins render it. For steps that are blocked by prior failures, mark the status as "skipped".

The report tracks pass/fail history, so you can easily find the first build in which a particular failur

[2018-03-23 00:24] retronym commented on #699
In the meantime, what's the best `curl/grep` combo to find errors? I came up with:

[code]

[2018-03-23 01:17] retronym commented on #699
As a stopgap, I've enabled the [Log Parser Plugin](scala-2.12.x-jdk9-integrate-community-build)

I've updated the configuration, so far just of the [scala-2.12.x-jdk9-integrate-community-build](https://scala-ci.typesafe.com/view/scala-2.12.x/job/scala-2.12.x-jdk9-integrate-community-build/) build, with some patterns.

with

[code]

It isn't particularly pretty, but maybe it is a net positive. It s

[2018-03-23 14:20] SethTisue commented on #609
that's odd — we override the sbt versions of all included projects (to 0.13.17 and 1.1.1, currently)

[2018-03-23 22:39] cunei commented on #699
Have you tried looking into `target-0.9.11/logs`...? You will find all the logs there.

[2018-03-23 22:52] cunei commented on #699
To elaborate further: the compilations and extractions are logged separately, as well as being piped to the master log, since at least originally they were meant to be produced by separate compilation workers: the 'd' in dbuild was originally for 'distributed'. Later that went the same as the 's' in sbt, but I digress.

The logs are identified by extraction/build UUID, so it is not immediately obv

[2018-03-31 03:20] retronym commented on #699
I've copied that config to the other two community build jobs.

[2018-04-01 14:42] SethTisue opened #704 "round of new 2.12 failures"
consistently failing in [recent runs](https://scala-ci.typesafe.com/view/scala-2.12.x/job/scala-2.12.x-integrate-community-build/): fs2, ​play-core, ​refined, ​ammonite

and there's also a new circe failure (compilation fails) in [run 2714](https://scala-ci.typesafe.com/view/scala-2.12.x/job/scala-2.12.x-integrate-community-build/2714/consoleFull)

[2018-04-01 14:55] SethTisue commented on #704
fs2 is a compilation failure: "value shift is not a member of object cats.effect.Async" — presumably solvable by freezing fs2 and/or cats-effect at the last green versions

play-core is a compilation failure: "framework/src/play-ahc-ws/src/main/scala/play/api/libs/ws/ahc/AhcWSResponse.scala:19: class AhcWSResponse needs to be abstract, since method uri in trait StandaloneWSResponse of type => java

[2018-04-01 14:57] SethTisue commented on #704
circe failure is "/modules/literal/src/test/scala/io/circe/literal/interpolator/JsonInterpolatorSuite.scala:18:9: Invalid JSON in interpolated string" — seems rather mysterious since the most recent circe commit is Mar 19 and we haven't bumped the Scala version here in this repo recently

it failed again in run 2715 so not transient

[2018-04-01 15:02] SethTisue opened #705 "round of new 2.13 failures"
in [recent runs](https://scala-ci.typesafe.com/job/scala-2.13.x-integrate-community-build/) we see:

failed: singleton-ops, linter, scapegoat, scala-stm, curryhoward, scala-newtype, scala-collection-compat

we should get the 2.13 build green again before everything breaks when we move onto the new collections

[2018-04-01 15:07] SethTisue commented on #705
* singleton-ops: no clue what this is about: "/src/test/scala/singleton/twoface/TwoFaceCharSpec.scala:28: Cannot extract value from singleton.twoface.impl.Shell.Two.Int[FuncApply,FuncArgs,Arg1,Arg1Wide,Arg2,Arg2Wide]"
* linter: this is a recent 2.12 addition that uses REPL APIs and therefore needs adjusting for 2.13. I should just remove it from the build for now, it's a leaf project
* scapegoat:

[2018-04-02 18:34] SethTisue commented on #704
last totally green run was https://scala-ci.typesafe.com/view/scala-2.12.x/job/scala-2.12.x-integrate-community-build/2672/ (Mar 17)

wrong guess — actually ammonite has upgraded upickle in recent weeks (multiple times). so we either need to freeze ammonite for now, or upgrade our upickle. in general we don't like to upgrade low level dependencies like upickle that have made breaking changes, beca

[2018-04-02 18:40] SethTisue commented on #704
although I haven't looked _too_ closely at it, the culprit commit in play-ws is probably playframework/play-ws@e84d4cd891880e289f7e1fb158093f874c6ece8b, so freezing play-ws at ~~playframework/play-ws@c521ad1b975e9a3287179436897a0e08c47a3e56~~ some earlier commit until playframework is upgraded should do the trick

[2018-04-02 18:43] SethTisue commented on #704
testing these theories at #706

[2018-04-02 18:59] SethTisue commented on #704
as for circe,

`[info] Project circe depends on: catalysts, cats, cloc-plugin, discipline, jawn-0-11, json4s, kind-projector, machinist, macro-compat, macro-paradise, scala, scala-parser-combinators, scalacheck, scalatest, scalaz, scodec-bits, shapeless, simulacrum, specs2, spray-json, wartremover`

do I need to go groveling through this list and try and figure out what change in a dependency migh

[2018-04-02 19:02] SethTisue commented on #704
the circe failure is the `literal` subproject, and

[code]

this isn't much. there are very recent commits in shapeless, so maybe try a slightly older commit like milessabin/shapeless@546ec68fc6fcc3b7c6c33caf8ac6ce2a4d18cbb1

[2018-04-03 16:17] SethTisue commented on #704
#706 made some progress. new status is `failed: monocle, circe, lagom`

* circe: need a new theory
* monocle: is hitting a new deprecation in scalaz; we just need to disable `-Xfatal-warnings`
* lagom: persistence-jdbc-core subproject has missing dependency com.github.dnvriend#akka-persistence-jdbc. unrelated to changes in this PR, I think. probably we should just disable the subproject? (we don't

[2018-04-05 15:34] SethTisue commented on #704
after #706 and #707, just circe still fails

[2018-04-08 15:02] SethTisue commented on #705
since moving to a newer 2.13 snapshot there is one additional failure: fastparse

[2018-04-08 15:22] SethTisue commented on #704
the circe issue isn't reproducible outside dbuild with `++2.12.6-bin-84112e8!` and `literal / test` (and changing `"paradise" % paradiseVersion cross CrossVersion.patch` to `"paradise_2.12.5" % paradiseVersion` everywhere in build.sbt)

[2018-04-08 15:50] SethTisue commented on #704
here's everything on the test classpath for `literal`:

[code]

[2018-04-08 18:13] SethTisue commented on #704
[fixed circe](26e9b5b67250eb14ed2d0c92ed6b263d20398dc8) by freezing jawn, fyi @travisbrown that circe breaks if jawn dependency is upgraded to 0.12.1

[2018-04-08 18:13] #704 closed, assigned to SethTisue

[2018-04-09 03:42] SethTisue commented on #704
whole build is green again after a few more fixes:

* 08fe468 - fork scapegoat
* b18f32c - freeze http4s
* 5ca98c5 - fix Slick by excluding new subprojects

[2018-04-09 04:00] SethTisue commented on #705
0c3c69ed9d8cd00cfcfbdec4155b379c89d048bb takes care of the removals, scapegoat was fixed in 2.12.x (and I merged the fix to 2.13.x)

...so that leaves ~~singleton-ops and~~ (I removed singleton-ops) fastparse as the only failing project in https://scala-ci.typesafe.com/job/scala-2.13.x-integrate-community-build/1026/consoleFull

[2018-04-12 17:10] SethTisue commented on #705
fastparse went green again, transient issue I guess

everything is green in https://scala-ci.typesafe.com/job/scala-2.13.x-integrate-community-build/1034/ . bye old collections, onward to new collections!

[2018-04-12 17:10] #705 closed, assigned to SethTisue

[2018-04-12 17:11] SethTisue opened #710 "2.13: move to new collections"
774c22c58973ee095d76cda5fc188255e742854c flips the switch. now to deal with the failures

[2018-04-12 17:30] SethTisue commented on #710
after 1338c90cbd98c31d219e7f6d1b8f78496c52902e, in local testing,

* these are green (10): scala-xml, cloc-plugin, machinist, sbt-testng, scala-collection-compat, scala-js-stubs, scala-partest, scala-partest-interface, scalaj-http, sourcecode
* these key projects fail but I suggest we try hard to get them green before M4 (4): macro-paradise, scala-parser-combinators, scalacheck, kind-projector
* p

[2018-04-12 18:10] lrytz commented on #710
for scalacheck there's a pr / branch. on my phone right now

[2018-04-12 18:14] lrytz commented on #710
https://github.com/rickynils/scalacheck/pull/391 / https://github.com/lrytz/scalacheck/tree/newCollections?files=1

[2018-04-13 00:39] SethTisue commented on #710
@lrytz thanks, using that now. and I fixed kind-projector.

nscala-time and sbinary are now giving:

[code]

which puzzles me. perhaps `set publishArtifact in packageDoc in jvm := false` is somehow not as selective as it looks

[2018-04-13 08:31] lrytz commented on #710
Oh I forgot to mention: if you build scalacheck from my branch (https://github.com/lrytz/scalacheck/tree/newCollections), the groupId changed to org.scala-lang.modules (https://github.com/lrytz/scalacheck/commit/2013eca70ca1776d455e9ec50cd7716e4098c77d). So you'd have to revert that.

[2018-04-13 14:27] SethTisue commented on #710
ahhhhhhhhh :-)

[2018-04-19 08:33] xuwei-k commented on #710
https://github.com/scalaz/scalaz/pull/1730

[2018-04-20 13:08] julienrf commented on #710
https://github.com/scala/scala-parser-combinators/pull/148

[2018-04-21 11:02] xuwei-k commented on #710
fixed scalaprops https://github.com/scalaprops/scalaprops/commit/b98d71cc43178cd2be9122bf956d1377c48fea25

[2018-04-21 19:43] ashawley opened #712 "Frozen scalacheck"
Any reason to have scalacheck frozen still?  Looks like the community build has it frozen to a commit that is a year old.

There has been a lot of commits recently to scalacheck, and it seems like a 1.14.0 release is going to drop pretty soon.

Does the community build breathe the compiled scalacheck in to other projects?  Is it a pain in the neck when scalacheck project breaks binary compatibilit

[2018-04-23 08:20] lrytz commented on #710
For the record, to not duplicate work: I'm working on scala-java8-compat (almost done), i have a local path for genjavadoc, and @ennru created a branch for akka-actor (https://github.com/ennru/akka/tree/newCollections).

[2018-04-24 14:02] julienrf commented on #710
@SethTisue kind-projector compiles without warning and the tests pass with scala-2.13.0-pre-1c0be29. Can you point me to the error you faced?

[2018-04-24 14:04] SethTisue commented on #710
@julienrf it was https://github.com/non/kind-projector/pull/68

[2018-04-24 14:09] SethTisue commented on #712
I froze ScalaCheck in the 2.12 community build because a ScalaCheck change broke the ScalaCheck integration in specs2 3.9.x

in specs2 4.x, there's no problem. the 2.13 community build is on specs2 4.x

pushing the specs2 3.9.x->4.x upgrade through the 2.12 build is probably doable, but I don't consider it a priority.

eh? (I have some guesses about what you had in mind before auto-correct kicked

[2018-04-24 14:56] ashawley commented on #712
This answers my question about dbuild breathing scalacheck to downstream projects.  This is what I was getting at.

[2018-04-24 19:38] SethTisue commented on #611
I've been thinking about this again lately, and I'd like to record one thought that holds me back, which is that even if we did publish the artifacts, the process of using them for testing is one that would be difficult for library authors. we'd need to write instructions that explained how to alter their builds to retrieve artifacts from our custom resolver, and the details of this would be fiddl

[2018-04-24 19:59] hrhino commented on #611
So at the very least, speaking as a maintainer of few libraries, I'd be interested in using it to test out prerelease Scalas (Scalæ?) on my company's rather large closed-source codebase, which is why this interested me to begin with. Last time I checked, all of our Scala dependencies were to community-build projects (for 2.12). I wonder how many corporate Scala users would be willing to do the sam

[2018-04-25 14:06] SethTisue commented on #611
I'll think on it... further context is at https://github.com/scala/scala-dev/issues/648

[2018-04-26 12:44] adriaanm commented on #710
I'll take macro-paradise

[2018-04-26 13:06] milessabin commented on #710
@adriaanm ping me when you're done with that and I'll get shapeless into shape.

[2018-04-28 12:26] SethTisue commented on #650
@dwijnand can I interest you in PR-ing a move to 1.1.4?

[2018-04-30 08:33] dwijnand commented on #650
Sure!

[2018-05-01 16:19] SethTisue commented on #712
I got thinking about this, and I think I changed my mind. working on it now at #715

[2018-05-02 16:53] SethTisue opened #716 "dbuild 0.9.12 upgrade"
over at https://github.com/lightbend/tooling-team/issues/140#event-1605939599, @cunei says there's 0.9.12 now, I guess we should upgrade the 2.12 and 2.13 branches.  (the 2.11 branches are frozen on 0.9.9.)

[2018-05-02 19:06] SethTisue commented on #712
#715 was merged

[2018-05-04 12:55] ashawley commented on #609
I've opened a PR for ScalaTest:

https://github.com/scalatest/scalatest/pull/1340

[2018-05-04 13:07] #712 closed, assigned to SethTisue

[2018-05-05 07:43] #716 closed, assigned to SethTisue

[2018-05-05 13:42] SethTisue commented on #710
status report:

* green key projects: kind-projector, scala-collection-compat, scala-js-stubs, scala-parser-combinators, scala-xml, scalacheck, scalaz
* also green: cloc-plugin, machinist, nscala-time, sbt-testng, scala-partest, scalaj-http, sourcecode
* **key projects failing, high priority for M4: scalatest, macro-paradise**
* stretch goals for M4: scala-java8-compat, scala-parallel-collections,

[2018-05-06 08:20] SethTisue commented on #609
this is still a back-burner task, but, to at least make sure we're not slipping backwards, I merged current 2.12.x onto https://github.com/SethTisue/community-builds/commits/wip-2.12.x-jdk9 and made sure it still works:

[code]

as for the full build, I've set a personal to-do item to make gradual progress on at least getting all of the projects extracting. today's increment of progress on that is

[2018-05-06 22:20] SethTisue commented on #677
a4d7d3bb7e127175de9599967a43ae1fbd26c72d and immediately following commits bring the configs back in synch

for now we'll just keep that in our heads, since the community build isn't part of the release flow anymore

[2018-05-06 22:20] #677 closed, assigned to SethTisue

[2018-05-07 08:07] SethTisue commented on #674
current status: we're on the new collections now, so scala-js has worse problems now :-)

the current config file has tests re-enabled (so I'm closing this ticket), but the run doesn't even get that far, currently.

scala-js-stubs works, which is the part downstream projects need.

[2018-05-07 08:07] #674 closed, assigned to SethTisue

[2018-05-07 08:11] SethTisue commented on #667
I've encountered another problem where every time you `brew upgrade artifactory`, it won't start up again. doesn't matter what that the two versions are. un-installing and re-installing doesn't fix it because some database files are left behind.

so my current recommendation is: after installing, use `brew pin` to stick with whatever version you have.

I thought I had it written down somewhere how

[2018-05-07 08:14] SethTisue commented on #667
(oh btw I don't actually know if the Java 9 workaround described above is even necessary anymore with current Artifactory versions, I'm `brew pin`ned so I don't know)

[2018-05-07 08:16] SethTisue commented on #672
this looks promising: https://github.com/non/spire/pull/673

[2018-05-07 08:32] SethTisue commented on #710
macro-paradise progress can be followed at https://github.com/scala/scala/pull/6606

[2018-05-07 08:58] SethTisue commented on #609
another increment: https://github.com/milessabin/shapeless/pull/830

[2018-05-07 09:07] SethTisue commented on #609
today's increment of progress: akka-http needs the same sbt-api-mappings version bump I submitted to Shapeless. it has the version bump already on master, we're frozen at an older commit. not sure how easy unfreezing will be, but let's try it: https://github.com/scala/community-builds/pull/723

UPDATE: yup, akka-http now extracting at https://scala-ci.typesafe.com/view/scala-2.12.x/job/scala-2.12.

[2018-05-07 09:57] SethTisue commented on #710
these are the currently failing projects. as in all their upstream dependencies are green, but the project itself fails:

* scala-refactoring, scalaprops, tut, sbinary, scala-js, sbt-io, scala-async, json4s, utest, scalatest, scala-collections-laws, scala-continuations

volunteers wanted, to tackle particular projects. or at least to investigate and report back on the nature of the failure and the

[2018-05-07 16:03] #672 closed, assigned to SethTisue

[2018-05-08 08:04] SethTisue commented on #710
@xuwei-k there is now a further error in sbinary:

[code]

[2018-05-08 10:33] SethTisue commented on #609
today's increment of progress: https://github.com/scalanlp/breeze/pull/708

[2018-05-08 14:48] ashawley commented on #609
I opened a PR for ScalaCheck:

https://github.com/rickynils/scalacheck/pull/407

[2018-05-08 15:10] SethTisue opened #724 "2.13: replace macro paradise dependencies with `-Ymacro-annotations`"
this is needed to test https://github.com/scala/scala/pull/6606

[2018-05-08 15:11] SethTisue commented on #724
me:

@adriaanm :

yeah, that's one solution I considered, but I think I can make something like `removeScalacOptions` but that operates on `libraryDependencies`. trying that first.

[2018-05-08 15:35] SethTisue commented on #724
stab: https://github.com/SethTisue/community-builds/tree/2.13-earthly-paradise

test run: https://scala-ci.typesafe.com/job/scala-2.13.x-integrate-community-build/1095/ ~~(404 while Jenkins rouses himself)~~

[2018-05-08 19:08] adriaanm commented on #724
Jenkins is done! Not sure how to interpret the result. What are the reverse dependencies for paradise in the community build? I looked at the `---== Dependency Information ===---` section but didn't see that many projects.

[2018-05-09 08:58] SethTisue commented on #609
scalameter and paradox are both failing to extract because they have meta-builds that aren't JDK 9 friendly

scalameter's meta-build in `project/project/Build.scala` pulls in https://github.com/storm-enroute/mecha which sets the Scala version to 2.10.4

and paradox's meta-build in `project/plugins.sbt` has `scalaVersion := "2.10.6"`

figuring that much out is my increment of progress for today. I'

[2018-05-09 16:41] SethTisue commented on #724
the Jenkins run is good enough to confirm that this approach to testing the PR is working. I'll push my changes once https://github.com/scala/scala/pull/6606 is merged

as for what the Jenkins run tells us about the quality of the PR, I'll respond on the PR

[2018-05-09 16:41] #724 closed, assigned to SethTisue

[2018-05-10 19:12] SethTisue commented on #609
today's increment of progress: opened these PRs:

* https://github.com/lightbend/paradox/pull/197
* https://github.com/storm-enroute/mecha/pull/8

I'm also tempted to learn how to use dbuild to tweak things in the meta-build... but if these PRs are merged, then that works too

[2018-05-11 04:26] xuwei-k commented on #710
- https://github.com/propensive/magnolia/pull/93
- https://github.com/lihaoyi/utest/pull/163

[2018-05-11 04:29] xuwei-k commented on #710
fixed some compile errors in sbt/io 1.1.x branch https://github.com/sbt/io/commit/6c4364e6348e3f34c46eefac3db6596d3ee5cf54 but community-builds reference v1.1.6  https://github.com/scala/community-builds/blob/dd1ed340ea8718156d4bf943532c00e5fa9a9a2e/configs/project-refs.conf#L98

[2018-05-11 05:29] SethTisue commented on #609
today's increment of progress: fixed up and merged https://github.com/lightbend/paradox/pull/197, and then merged the changes onto the branch we're using in our fork

[current](https://scala-ci.typesafe.com/view/scala-2.12.x/job/scala-2.12.x-jdk9-integrate-community-build/51/console) status: breeze (awaiting PR merge), monix (?), pureconfig (?), scala-debugger (?), scalameter (mecha PR was merged

[2018-05-11 07:47] SethTisue commented on #609
scalameter extracted in a local run, so I thought `git clean -ffdx` in `~/workspace/scala-2.12.x-jdk9-integrate-community-build` on the worker might fix it on Jenkins too, and [it did!](https://scala-ci.typesafe.com/view/scala-2.12.x/job/scala-2.12.x-jdk9-integrate-community-build/52/consoleFull)

[2018-05-12 07:09] SethTisue commented on #609
today's progress: dropped scala-debugger from the build in #725 (but @-mentioned its author and asked if he's interested in helping it get back in)

[2018-05-13 04:41] xuwei-k commented on #710
https://github.com/kxbmap/configs/pull/30

[2018-05-14 08:59] SethTisue commented on #609
scala-debugger is now reinstated, Chip made the needed fix

[2018-05-14 13:44] SethTisue commented on #609
monix PR: https://github.com/monix/monix/pull/671. but the PR being merged won't fix it on our end because we're frozen at an old SHA, so I've also forked it

pureconfig: we already have it forked, so I just pushed SethTisue/pureconfig@36d299fe43c022443445c00e4f36e6f384bb1d91

[2018-05-14 14:00] SethTisue commented on #609
current status: still waiting for these PRs to be merged: https://github.com/scalanlp/breeze/pull/708 (ping @dlwh!), https://github.com/milessabin/shapeless/pull/830 (ping @milessabin!), otherwise we're good to go

[2018-05-17 15:33] SethTisue commented on #609
scalameter stopped extracting but clearing the workspace again fixed it, I think because (again) the source dependency on mecha needed refreshing.

as for breeze and shapeless, 11fb142480bf96d2cd998d4a11950fa43342d9df uses the PR branches, I'll revert once the PRs are merged.

https://scala-ci.typesafe.com/view/scala-2.12.x/job/scala-2.12.x-jdk9-integrate-community-build/112/consoleFull

[2018-05-17 16:18] SethTisue commented on #609
yay everything extracted 🎉

now some OSGI thing in scala-xml is barfing, and then of course nothing else can run

`[scala-xml] [error] (xmlJVM/*:osgiRequireCapability) java.lang.StringIndexOutOfBoundsException: begin 6, end -1, length 14`

<details>

[code]

</details>

[2018-05-17 16:33] SethTisue commented on #609
maybe https://github.com/scala/scala-xml/pull/218 will help

[2018-05-17 17:15] SethTisue commented on #609
it didn't, and I couldn't reproduce it outside dbuild, so maybe it's choking on a dbuild-mangled version number

[2018-05-18 20:00] SethTisue commented on #609
gah, of course, it's https://github.com/scala/sbt-scala-module/issues/35 again, which has been pending so long I forgot about it

[2018-05-18 20:16] SethTisue commented on #609
https://github.com/scala/scala-xml/pull/220 should do it

[2018-05-18 20:42] SethTisue commented on #609
that worked. stuff is building now. let's see how far it gets: https://scala-ci.typesafe.com/view/scala-2.12.x/job/scala-2.12.x-jdk9-integrate-community-build/115/consoleFull

[2018-05-19 06:48] SethTisue commented on #609
sigh, for some reason https://github.com/slick/slick/issues/1908 brings the entire build to a halt

[2018-05-19 08:02] SethTisue commented on #609
do the best you can, [run 117](https://scala-ci.typesafe.com/view/scala-2.12.x/job/scala-2.12.x-jdk9-integrate-community-build/117/)!

[2018-05-19 08:07] xuwei-k commented on #710
https://github.com/json4s/json4s/commit/4053ceedde625524cbfaf34d155fbbc6c1013236

[2018-05-19 09:42] hvesalai commented on #609
You need to add `--add-modules java.xml.bind -XX:+IgnoreUnrecognizedVMOptions` to JVM parameters

[2018-05-19 11:56] SethTisue commented on #609
thanks, that does it (`--add-modules=java.xml.bind`). next up: [run 118](https://scala-ci.typesafe.com/job/scala-2.12.x-jdk9-integrate-community-build/118/)

[2018-05-19 20:32] SethTisue commented on #609
latest is [run 121](https://scala-ci.typesafe.com/job/scala-2.12.x-jdk9-integrate-community-build/121/)

in my local testing, we're now very close to being able to declare victory (as in, enough green projects, not all of them), but there is one more keystone project that is failing and taking out a big swath of the build, namely specs2. I've filed https://github.com/etorreborre/specs2/issues/659

[2018-05-20 06:39] SethTisue commented on #609
oh and there's one other thing I need to fix, which is that I pushed a "fix" for Scala.js that hardcodes `/Users/tisue` which obviously doesn't work on Jenkins. I think we shouldn't need to be setting `scala.ext.dirs` explicitly like this, it should be set for us by the sbt launch script, except I guess on Jenkins we have an outdated one.

locally, with Homebrew-installed sbt, if I  run sbt on Jav

[2018-05-26 06:00] xuwei-k commented on #710
https://github.com/kxbmap/configs/pull/31

[2018-05-27 01:13] xuwei-k commented on #710
https://github.com/scalikejdbc/scalikejdbc/pull/887

[2018-05-27 07:13] xuwei-k commented on #710
https://github.com/scallop/scallop/pull/166

[2018-05-29 15:13] milessabin commented on #710
https://github.com/milessabin/macro-compat/commit/b1bbe40105a649abf35511fe8e7de4c0419192f7

[2018-06-01 18:58] milessabin commented on #710
https://github.com/milessabin/shapeless/tree/shapeless-2.3.3-scala-2.13.0-M4

[2018-06-03 01:43] xuwei-k commented on #710
https://github.com/argonaut-io/argonaut/pull/304

[2018-06-11 07:45] lrytz commented on #710
scalacheck 1.14.0 for M4 is now available (http://search.maven.org/#artifactdetails%7Corg.scalacheck%7Cscalacheck_2.13.0-M4%7C1.14.0%7Cjar)

[2018-06-11 23:17] SethTisue commented on #609
specs2 needs scala-js-stubs, which I haven't fixed yet (still the highest priority needed fix)

scala-collection-compat and sourcecode were both failing because of a too-old sbt-osgi version; I've pushed fixes for both

[2018-06-12 11:37] MasseGuillaume commented on #710
@SethTisue I'm doing akka-actor. It looks like there is prior work here: https://github.com/ennru/akka/commit/a89c4faa73f0ff6d7ef854a7315bd757865f7a6f

[2018-06-12 16:59] SethTisue commented on #710
@MasseGuillaume 👍. I'd suggest opening a ticket in akka/akka to coordinate with the Akka team about it

[2018-06-12 17:05] SethTisue commented on #710
@xuwei-k thanks, your changes have made some projects green; others are waiting on scalatest and/or specs2.

what do you make of the argonaut errors at https://scala-ci.typesafe.com/job/scala-2.13.x-integrate-community-build/1169/consoleFull?

[2018-06-12 17:08] SethTisue commented on #710
overall status currently is: I won't be giving this much attention until after Scala Days NYC, but hopefully by then ScalaTest and specs2 will have done their M4 updates. that will unblock a ton of projects here.

the current failing list (from this [example recent run](https://scala-ci.typesafe.com/job/scala-2.13.x-integrate-community-build/1169/console)):

* scodec-bits, scala-js, jsoniter-scala

[2018-06-12 17:12] SethTisue commented on #710
oh and there are 20 green projects currently: cloc-plugin, json4s, kind-projector, kxbmap-configs, machinist, macro-compat, minitest, nscala-time, sbt-testng, scala-collection-compat, scala-js-stubs, scala-parser-combinators, scala-xml, scalacheck, scalaj-http, scalalib, scalaprops, scalaz, shapeless, sourcecode

[2018-06-12 18:56] SethTisue commented on #609
I pushed a scala-js-stubs fix. https://scala-ci.typesafe.com/view/scala-2.12.x/job/scala-2.12.x-jdk9-integrate-community-build/182/consoleFull has scala-js-stubs green. the rest is still running, I'll swing back by tomorrow and see how it did.

[2018-06-12 22:22] xuwei-k commented on #710
[code]

argonaut disabled specs2 and scalacheck dependency for compile only check in travis-ci 😅

- https://github.com/argonaut-io/argonaut/blob/59a81e7e64af19bdc57cb52d3a63f3595668b701/project/build.scala#L130-L139
- https://github.com/argonaut-io/argonaut/commit/96ce4b616e1d09
- https://github.com/argonaut-io/argonaut/blob/59a81e7e64af19bdc57cb52d3a63f3595668b701/.travis.yml#L31-L32

[2018-06-13 00:53] SethTisue commented on #609
119 projects are green now! declaring victory.

[2018-06-13 00:53] #609 closed, assigned to retronym, SethTisue

[2018-06-13 08:02] xuwei-k commented on #710
https://github.com/sbt/sbinary/pull/16

[2018-06-13 14:34] SethTisue commented on #609
* https://github.com/non/jawn/pull/106 (PR)
* https://github.com/pathikrit/better-files/issues/242 (issue requesting help)

[2018-06-13 21:10] soronpo commented on #710
singleton-ops should now be in the green thanks to this PR by @xuwei-k
https://github.com/fthomas/singleton-ops/pull/68

[2018-06-15 13:18] lrytz commented on #710
`scala-java8-compat` 0.9.0 is released. In this case we went for a separate branch, because the project exploits lots of internals of the collection library, and cross-building would be too cumbersome (https://github.com/scala/scala-java8-compat/commits/2.13.x).

[2018-06-15 13:52] MasseGuillaume commented on #710
I made a graph of the community build with scaladex. The bottom part is the critical path: scala-parser-combinators, scala-xml, macro-paradise, etc.

moved to: https://github.com/scala/community-builds/wiki/scala-2.13.x-migration#whats-next-

It's also possible to make similar graphs not limited to the community build.

[2018-06-16 15:53] xuwei-k commented on #710
https://github.com/sirthias/parboiled/pull/120

[2018-06-16 20:09] SethTisue opened #732 "Scala.js rt.jar config needs Java 8 vs 9 finesse"
see https://github.com/scala-js/scala-js/issues/3381

[2018-06-16 23:33] SethTisue opened #733 "provide frozen config for JVM torture testing"
the goal is to provide a frozen, known-good config for JVM developers (thinking mainly of Graal, but perhaps others as well) to torture test VM changes against a ton of Scala code

the main thing we can do to make this reproducible and reliable is:

* put a frozen config file on a branch that uses a fixed Scala version and fixed SHAs of all projects

ideally, this could be run offline, but there a

[2018-06-16 23:40] SethTisue commented on #733
I've pushed a stab at this to the `freeze-2.12-20180616` branch

let's try it: https://scala-ci.typesafe.com/view/scala-2.12.x/job/scala-2.12.x-integrate-community-build/3016/

[2018-06-17 21:34] SethTisue commented on #609
* https://github.com/unfiltered/unfiltered/issues/418 (issue reporting test failures)

[2018-06-17 21:43] SethTisue commented on #733
that attempt needed a few tweaks. trying again: https://scala-ci.typesafe.com/view/scala-2.12.x/job/scala-2.12.x-integrate-community-build/3019/

[2018-06-17 23:04] #732 closed, assigned to SethTisue

[2018-06-18 15:38] SethTisue commented on #733
nearly green. cats and sbt failed; these are projects known to have intermittent test failures, so let's run one more time

https://scala-ci.typesafe.com/view/scala-2.12.x/job/scala-2.12.x-integrate-community-build/3023/ (404 til Jenkins queue clears)

[2018-06-18 19:56] SethTisue commented on #733
@milessabin once this is done you might like to use it for PR testing (e.g. https://github.com/scala/scala/pull/6582)

[2018-06-19 08:09] MasseGuillaume commented on #710
moved to: https://github.com/scala/community-builds/wiki/scala-2.13.x-migration

[2018-06-19 09:21] xuwei-k commented on #710
- https://github.com/eed3si9n/sjson-new/pull/95
- https://github.com/lightbend/scala-logging/pull/124
- https://github.com/unfiltered/unfiltered/commit/6150fc42271ec45b1f43e5d715f963

[2018-06-19 10:50] xuwei-k commented on #710
https://github.com/scalapb/protobuf-scala-runtime/pull/21

[2018-06-19 14:13] dwijnand commented on #710
Should we create a wiki page, in either this repo or scala/scala, to track this?

(ala https://github.com/sbt/sbt/wiki/sbt-1.x-plugin-migration / https://github.com/sbt/sbt/wiki/library-sbt-1.x-migration)

[2018-06-19 14:16] MasseGuillaume commented on #710
@dwijnand https://github.com/scala/community-builds/wiki/scala-2.13.x-migration

[2018-06-19 22:04] SethTisue commented on #733
run 3023 is green, so this is good to go

I'm going to leave the ticket open while I think a bit more about whether to set up some kind of formal process for doing this once a month, something like that.

[2018-06-19 22:10] SethTisue commented on #733
dear users of the frozen branch, if you have any trouble with pesky intermittent failures in particular projects, consider letting me know (via https://github.com/scala/community-builds/issues/new — include the failure log). I can disable certain tests, and/or gently nag the upstream maintainers a bit about either fixing or at least segregating flaky tests.

[2018-06-20 14:11] SethTisue opened #735 "add JDK 10 community build"
there is sufficient capacity on the behemoths.

if we run low on capacity, we could eventually drop the JDK 9 community build and just do 10 (and/or 11)

[2018-06-26 02:18] SethTisue commented on #609
* https://github.com/scalapb/ScalaPB/issues/466 (issue requesting fix)

[2018-06-26 02:23] SethTisue commented on #735
I made the job at https://scala-ci.typesafe.com/view/scala-2.12.x/job/scala-2.12.x-jdk10-integrate-community-build/ and queued a first run

presumably it will fail because JDK 10 isn't installed yet. (if it doesn't fail, I should look into that.)

[2018-06-26 02:32] SethTisue commented on #609
* https://github.com/scodec/scodec-bits/pull/92 (PR with fix)

[2018-06-26 02:34] SethTisue commented on #735
so far so good:

[code]

[2018-06-26 02:41] SethTisue commented on #735
steps I followed for installing OpenJDK 10:

* use instructions at https://stackoverflow.com/a/49507161/86485 as a guide
* go to http://jdk.java.net/10/
* copy URL of Linux tarball
* `curl -O 'https://download.java.net/java/GA/jdk10/10.0.1/fb4372174a714e6b8c52526dc134031e/10//openjdk-10.0.1_linux-x64_bin.tar.gz'`
* `sudo mv openjdk-10.0.1_linux-x64_bin.tar.gz /usr/lib/jvm`
* `cd /usr/lib/jvm`
* `s

[2018-06-26 02:43] SethTisue commented on #735
new run: https://scala-ci.typesafe.com/view/scala-2.12.x/job/scala-2.12.x-jdk10-integrate-community-build/2/

I see `export JAVA_HOME=/usr/lib/jvm/java-10-openjdk-amd64` so it's off to a good start, I'll come back tomorrow to check on it

[2018-06-26 02:43] SethTisue commented on #735
hmm I see I lied about `x64` vs `amd64` above, assuming this is working I'll go back and straighten that out.

[2018-06-27 20:40] SethTisue opened #737 "standardize on a single metaconfig version"
it would be nice not to need separate spaces for the two metaconfig versions

over at #730 @olafurpg said he'd work on getting scalafix and scalafmt to use the same version so we could eliminate the split in the config here

[2018-06-27 20:48] olafurpg commented on #737
I've opened https://github.com/scalameta/scalafmt/pull/1226 to upgrade scalafmt to the latest metaconfig. There were no breaking changes in v0.8, it was mostly a feature release

[2018-06-27 21:33] SethTisue commented on #737
interesting, I wonder why I thought the split was still necessary, then. maybe a figment of my imagination

let's see how #738 does

[2018-06-27 21:34] olafurpg commented on #737
The split was necessary until recently, I managed to upgrade scalafmt right
around scaladays Berlin.
On Wed, 27 Jun 2018 at 23:33, Seth Tisue <notifications@github.com> wrote:

[2018-06-28 20:50] SethTisue commented on #735
* https://github.com/scala/scala-parser-combinators/pull/160

[2018-06-28 20:50] SethTisue commented on #735
working now on getting everything to at least extract:

* https://github.com/scala/scala-parser-combinators/pull/160
* https://github.com/scala/scala-async/pull/200
* https://github.com/scala/scala-continuations/pull/40
* https://github.com/scala/scala-partest/pull/112
* cats: https://github.com/scala/community-builds/commit/b8a7fb31a0daaf579e8f580200b0ea7489cf96b7, d070bae138fe907de0f23ec7bfe800e

[2018-06-28 22:58] SethTisue commented on #735
yay, everything extracts 🎉

first real run in progress: https://scala-ci.typesafe.com/view/scala-2.12.x/job/scala-2.12.x-jdk10-integrate-community-build/14/

[2018-06-29 12:48] SethTisue opened #742 "add JDK 11 community build"
now that the JDK 10 build is up and running (https://github.com/scala/community-builds/issues/735), let's do 11 next

[2018-06-29 12:51] SethTisue commented on #735
scala-js-stubs is failing (which takes out much of the build) because the behemoth doesn't have rt.jar in the right place. so that's the next fix

[2018-06-29 12:52] SethTisue commented on #742
we should stop piling on behemoth 2 any further (it has all three 2.12 builds currently) and spread the jobs around more

UPDATE: I did some spreading around already. I should still choose carefully when adding this one

[2018-06-29 13:16] #737 closed, assigned to SethTisue

[2018-06-29 13:29] SethTisue commented on #735
note that I've moved the JDK 10 job to behemoth 1. behemoth 2 was getting overloaded

[2018-06-29 14:19] SethTisue commented on #735
installed JDK 10 on behemoth 1 using the above instructions (but with the `amd64`/`x64` mistake fixed)

[2018-06-29 14:35] SethTisue commented on #735
on behemoth 2, fixed the directory naming with

[code]

[2018-06-29 14:45] SethTisue commented on #735
behemoth 1 now has rt.jar in the right places, I think. let's see where scala-js-stubs goes green in https://scala-ci.typesafe.com/view/scala-2.12.x/job/scala-2.12.x-jdk10-integrate-community-build/21/

[2018-07-10 00:20] SethTisue commented on #735
some projects are currently failing to extract again, so I'll have to get that straightened out before we can see how scala-js-stubs is doing

[2018-07-10 20:46] SethTisue opened #747 "recurring trouble with scalameter failing extraction"
finally was able to reproduce it. reported upstream at https://github.com/scalameter/scalameter/issues/204

what's less clear is the best fix/workaround. I'm tempted to blow away `~/.sbt/0.13/staging` in `run.sh`, but it's not safe to do it on a machine where multiple concurrent jobs might be running.

if we can't determine the underlying cause (and I don't plan to investigate, it isn't important

[2018-07-11 06:26] axel22 commented on #747
@SethTisue If this is a big problem, I could just remove the source dependency on mecha in scalameter, and use a normal one.

[2018-07-12 00:01] SethTisue commented on #747
@axel22 that'd be nice, unless you can think of some workaround I could use

[2018-07-13 15:11] SethTisue commented on #609
status at https://scala-ci.typesafe.com/view/scala-2.12.x/job/scala-2.12.x-jdk9-integrate-community-build/274/ : `[info] >>> The dbuild result is----------------: FAILED (failed: paradox, akka-actor, slick, jackson-module-scala, http4s-websocket, fs2, kxbmap-configs, zinc)`

[2018-07-13 18:44] SethTisue commented on #742
I tried a run locally and got `EXTRACTION FAILED (failed: coursier, kxbmap-configs, scala-swing, slick)`

scala-swing fix here: https://github.com/scala/scala-swing/pull/82

[2018-07-18 01:21] SethTisue commented on #735
* everything extracts again (scalameta, scalameter needed fixes)
* scala-js-stubs and scala-js are both green now
* akka work is in progress at https://github.com/scala/community-builds/pull/749
* several projects (e.g. utest, scalaz) needed `-opt:l:method` disabled because https://github.com/scala/bug/issues/10717
* gigahorse needed some tests disabled

[2018-07-18 01:22] SethTisue commented on #735
let's see how the next test run does. I think we are close to being able to declare victory here. where victory is defined not as the whole build being green, but having approximately as much green as the JDK 9 build does, no key projects failing and taking out big swathes of the build

[2018-07-18 03:23] SethTisue commented on #710
currently (here's a [recent run](https://scala-ci.typesafe.com/job/scala-2.13.x-integrate-community-build/1240/console)) 41 projects are green

the highest priority failures (the ones blocking the most projects downstream are):

* akka-actor (the Akka team is working on it, with Guillaume M)
* utest (needs volunteer)
* minitest (Alexandru is on vacation)
* cats (Typelevel folks are working on publ

[2018-07-18 08:24] axel22 commented on #747
This commit should fix the issue.

https://github.com/scalameter/scalameter/commit/9924aad2e7cc47927e6270320d02307be07fdee3

[2018-07-18 16:59] SethTisue commented on #747
thanks Aleks! appreciated

[2018-07-18 16:59] #747 closed, assigned to nobody

[2018-07-19 09:11] dwijnand commented on #710
In addition to https://github.com/scala/community-builds/wiki/scala-2.13.x-migration
see also https://github.com/scala/make-release-notes/blob/2.13.x/projects-2.13.md

[2018-07-19 09:14] sjrd commented on #710
For Scala.js, while waiting for the parallel collections, you could try pruning [this line](https://github.com/scala/community-builds/blob/51704def2869eab5799e05fac0def54a806a9d82/configs/community.dbuild#L357) to only keep `"testSuite"`, removing `io`, `logging` and `linker`. The `testSuite` is supposed to pass.

[2018-07-25 09:09] milessabin commented on #710
@SethTisue scala/scala PR addressing the shapeless failure here: https://github.com/scala/scala/pull/6971.

[2018-07-26 22:44] SethTisue opened #757 "Akka won't compile on JDK 9+, sun.misc.Unsafe problem"
some previous history is at https://github.com/scala/community-builds/pull/749

in short, we're getting

[code]

note this is a scalac error message on a `.java` file

it happens on Jenkins and is also reproducible on MacOS on OracleJDK 9

but I have not been able to reproduce it outside of dbuild, even with `++2.12.7-bin-90c94cc`

[2018-07-26 23:00] SethTisue commented on #757
hmm maybe we need `--add-modules=jdk.unsupported` (though why it would work outside dbuild without that, idk)

[2018-07-26 23:26] SethTisue commented on #757
maybe it has something to do with the stuff in `project/AkkaBuild.scala` that monkeys with `-javabootclasspath`

[2018-07-27 00:09] SethTisue commented on #757
close, it was `-release 8`. though I don't know why

[2018-07-27 00:10] #757 closed, assigned to SethTisue

[2018-07-31 21:33] SethTisue commented on #609
141 green projects now! https://scala-ci.typesafe.com/view/scala-2.12.x/job/scala-2.12.x-jdk9-integrate-community-build/310/console has `failed: paradox, slick, scalikejdbc, kxbmap-configs, specs2-more, fs2, github4s, pureconfig, http4s-websocket, scala-debugger, twitter-util, zinc, akka-stream`

* akka-stream: https://github.com/scala/community-builds/pull/759 (I'm pursuing this and will consult

[2018-07-31 21:34] SethTisue commented on #609
someone want to look into the specs2-more and zinc failures...? or any of the others?

[2018-07-31 21:38] SethTisue commented on #735
as of https://scala-ci.typesafe.com/view/scala-2.12.x/job/scala-2.12.x-jdk10-integrate-community-build/110/console we have: `scala-async, paradox, log4s, slick, jsoniter-scala, twitter-util, http4s-websocket, jawn-0-10, scalaz8, scala-partest, jawn-0-11, kxbmap-configs, fs2, breeze, akka-stream, curryhoward`

many of these fail on 9 as well; see #609.

the log4s, jawn-0-10, and jawn-0-11 failures

[2018-08-06 22:01] SethTisue opened #763 "add Spark"
suggested by @soronpo at
https://contributors.scala-lang.org/t/spark-as-a-scala-gateway-drug-and-the-2-12-failure/1747/44

I had listed Spark at https://github.com/scala/community-builds/issues/161 as "probably out of scope", but perhaps that could change now that Spark is on Scala 2.12

some concerns I can think of are:

* build tool — I think Spark is built with Maven?
    * currently literally

[2018-08-06 22:02] SethTisue commented on #161
I've made a separate Spark ticket at https://github.com/scala/community-builds/issues/763

[2018-08-06 22:04] SethTisue commented on #763
in a reply to the above-linked post @adriaanm wrote "I don’t think we will have time to tackle this ourselves in the next 6 months." I agree. but perhaps there's someone in the community who would like to work on this. (either adding it here, or going the other route of adding latest-Scala-nightly to Spark's own testing setup)

[2018-08-06 22:37] soronpo commented on #763
I agree, but I'm wondering if there is some sort of middle-ground. The great thing about a large community build is that you can change the compiler and know that if the community build went through OK, then likely no bugs were added. If there are projects outside of the build and are important to the community, do we refine the scalac release process to say `after community build is green, check

[2018-08-06 23:12] SethTisue commented on #609
* akka-stream and akka-more are green
* fs2 is green now
* Play fails. ticket: https://github.com/playframework/playframework/issues/8555
* there are Slick test failures, see https://github.com/slick/slick/issues/1908
* http4s-websocket compilation failures. ticket: https://github.com/http4s/http4s-websocket/issues/12

[2018-08-06 23:54] SethTisue commented on #763
ideally probably yes, but in practice that would be an expansion of scope our team can't afford. (as it stands, the community build already uses a sizable chunk of my time, and I am a sizable chunk of our 5-person team)

not sure what you mean...?

or maybe you don't know either :-)  but do you have any ideas?

[2018-08-07 00:04] SethTisue commented on #763
at our current ambition level for the community build, our goal is to have some reasonably achievable level of validation of the Scala compiler and standard library.

as a side effect, we do happen to get a great deal of validation of a great deal of the library ecosystem, somewhat duplicating everyone's own CI, but that's gravy, not the goal.

at our current ambition level, all we need is a reall

[2018-08-07 07:09] jvican commented on #763
We use spark in our custom community build in Bloop, so I feel entitled to answer some of your questions Seth :smile:

They use primarily Maven but they maintain an sbt build tool thanks to the awesome https://github.com/sbt/sbt-pom-reader.

I don't think it's that big. In general, you can expect it to be about the size of akka/akka.

I have a suspicion adding it to the community build would be ea

[2018-08-07 08:34] cunei commented on #763
There used to be an embryonic build module for Maven, but it was never fully functional; the last update was in July 2012, and it was removed altogether due to bitrot in Oct 2014: https://github.com/lightbend/dbuild/commit/05ef639cdaa18a903b90d306dedb7f1d8d1aba5b
It would be absolutely possible to revive it, but it would require a non-negligible effort, maybe a couple of months of dedicated work.

[2018-08-07 15:06] SethTisue commented on #763
okay, sounds like I ought to take an initial stab at it and see if I encounter dragons or not

[2018-08-07 22:29] SethTisue commented on #677
introduced in 519e2f1dd528eae9fb1035cb230d7371d90128dc

I'll give it some time and make sure it's working as intended before I make it affect whether the Jenkins run is considered to have "succeeded" or not

[2018-08-08 22:20] SethTisue commented on #609
the expected-to-fail list is now kept in this repo itself, here: https://github.com/scala/community-builds/blob/2.12.x/report/Report.scala#L38

[2018-08-08 22:55] SethTisue commented on #609
PR to fix blaze: https://github.com/http4s/blaze/pull/213

we are using a frozen blaze so we won't immediately get the fix once this is merged. but perhaps http4s has moved on and could handle blaze master now, I should try it and see

[2018-08-09 02:26] SethTisue commented on #609
ticket on zinc failure: https://github.com/sbt/zinc/issues/567

[2018-08-12 16:13] SethTisue commented on #667
after `brew uninstall artifactory`, do `rm -rf /usr/local/var/artifactory /usr/local/Cellar/artifactory` before reinstalling

[2018-08-17 07:43] xuwei-k commented on #735
https://github.com/lightbend/paradox/issues/235

[2018-08-18 15:22] ijuma commented on #735
Nice. Btw, I think it's fine to drop the Java 9 build once the Java 10 build is in good shape.

[2018-08-31 03:21] xuwei-k commented on #710
Create new wiki page for 2.13.0-M5? or reuse https://github.com/scala/community-builds/wiki/scala-2.13.x-migration?

[2018-08-31 06:31] dwijnand commented on #710
I'd say let's keep that URL from M5, and move the M4 content to another page.

[2018-09-15 05:04] sjrd commented on #710
utest should be back on track https://github.com/lihaoyi/utest/pull/180

[2018-09-15 07:39] xuwei-k commented on #735
FYI https://github.com/sbt/sbt/issues/4350

[2018-09-18 15:44] SethTisue commented on #742
I'll do another local run before we ship 2.12.7, and I'll scrutinize the results (that is, each individual failure reason, not just the overall greenness level) more closely than I have so far.

[2018-09-19 02:08] SethTisue commented on #609
ticket on boopickle failure:
https://github.com/suzaku-io/boopickle/issues/105

[2018-09-19 02:09] SethTisue commented on #609
nope, we had to keep blaze frozen for now. I could re-fork it and cherry-pick
https://github.com/http4s/blaze/pull/213

[2018-09-19 15:57] SethTisue commented on #742
gah, `--add-modules=java.xml.bind` no longer works, so several projects (akka-more, scalafix, slick) don't even extract

EDIT: looks like this should work

[code]

[2018-09-19 21:52] SethTisue commented on #742
job created & assigned to behemoth 2: https://scala-ci.typesafe.com/view/scala-2.12.x/job/scala-2.12.x-jdk11-integrate-community-build/

[2018-09-19 21:53] SethTisue commented on #735
closing since the JDK 10 build has been in reasonably good shape for a while now and anyway the action is now on 11 (#742)

[2018-09-19 21:53] #735 closed, assigned to SethTisue

[2018-09-19 22:00] SethTisue commented on #742
OpenJDK 11 installed on behemoth 2 (using [this](https://github.com/scala/community-builds/issues/735#issuecomment-400159428) as a template):

[code]

and in this new run: https://scala-ci.typesafe.com/view/scala-2.12.x/job/scala-2.12.x-jdk11-integrate-community-build/2/consoleFull

I now see `Java home: /usr/lib/jvm/java-11-openjdk-x64` and dbuild is off and running

[2018-09-19 22:10] SethTisue commented on #742
also made a 2.13 job: https://scala-ci.typesafe.com/job/scala-2.13.x-jdk11-integrate-community-build, assigned to behemoth 1, after following the same JDK installation steps as above

[2018-09-20 03:07] SethTisue commented on #742
everything extracts now, at least, as of https://scala-ci.typesafe.com/view/scala-2.12.x/job/scala-2.12.x-jdk11-integrate-community-build/4/ . I had to fork coursier and kxbmap-configs to work around the JDK 11 `.lines` thing (https://github.com/scala/bug/issues/11125), and I had to fork pcplod to remove Sam's sbt-sensible plugin, which had something somewhere in it that chokes on JDK 11

[2018-09-20 19:04] SethTisue commented on #742
having a problems where dbuild shares `~jenkins/.dbuild` even across multiple JDK versions, leading to cache consistency errors

dealt with it by shutting down all community build jobs on all 3 behemoths, blowing away `~jenkins/.dbuild` on all 3 behemoths, installing JDK 11 on behemoth 3, and relocating the 2.12.x-jdk11 job from behemoth 1 to behemoth 3

a cleaner fix would be to have the run scri

[2018-09-20 22:35] SethTisue commented on #742
a cleaner fix would be to have the run script or the config file somehow read the JDK major version being used and include it in some dummy setting so that dbuild would know it matters for reproducible-run purposes. /cc @cunei

[2018-09-20 22:38] SethTisue opened #796 "flesh out JDK 11 and 12 community builds"
in #742 we got the build up and running, all projects extracting, and enough green projects ([18 green](https://scala-ci.typesafe.com/view/scala-2.12.x/job/scala-2.12.x-jdk11-integrate-community-build/9/console)) to be sure that basics are working

next steps:

- fix any new 11-only failures that are making the 11 build worse than the old 9 & 10 builds, the big glaring one is the scalacheck failur

[2018-09-20 22:39] SethTisue commented on #742
declaring victory on basics. new ticket for further improvements: https://github.com/scala/community-builds/issues/796

[2018-09-20 22:39] #742 closed, assigned to SethTisue

[2018-09-21 02:16] SethTisue commented on #796
I fixed these blockers: scalacheck, scalatest, utest, scala-java8-compat.

a new run is now in progress at https://scala-ci.typesafe.com/view/scala-2.12.x/job/scala-2.12.x-jdk11-integrate-community-build/18/consoleFull and will hopefully have substantially more than 18 green projects

@smarter joked that "every Scala codebase ever" is going to hit scala/bug#11125, and it seems that's not far from

[2018-09-21 02:39] SethTisue commented on #796
with `-release 8` multiple projects fail to compile because during Scaladoc generation we get the same "java.lang.AssertionError: assertion failed: type AnyRef in java.lang" errors @retronym and the Akka folks already saw back in March at https://github.com/akka/akka/pull/24711#issuecomment-372514176

[2018-09-21 02:43] SethTisue commented on #796
"As a workaround, try removing `-release 8` from the `scalacOptions in doc`", suggests @retronym. our current `addScalacOptions` mechanism isn't customizable that way, but probably I could do it project-by-project (which isn't so painful when it's only our own config file I'm modifying, not having to push commits to lots of forked repos)

[2018-09-21 05:51] SethTisue commented on #796
60 projects are green now. top ​blockers: ​87 ​specs2, ​81 ​macro-paradise, ​22 ​fastparse, ​21 ​akka

I'll need to go through the failures one by one and see if any them represent regressions in 2.12.7.

[2018-09-21 06:02] retronym commented on #796
Can we disable scaladoc generation globally and conveniently?

[2018-09-21 06:52] SethTisue commented on #796
@retronym good thought, I'll come back to it later.

the 14 failures at https://scala-ci.typesafe.com/view/scala-2.12.x/job/scala-2.12.x-jdk11-integrate-community-build/18/consoleFull:

* specs2, expecty, fastparse, macro-paradise, pprint, scala-partest, scala-refactoring, scalamock: scala/bug#11125
* scodec-bits: newly ambiguous methods on `ByteBuffer` because Oracle added new overloads
* akka: `

[2018-09-21 07:13] adriaanm commented on #796
Thanks Seth! I know it’s late over there.

[2018-09-25 17:55] SethTisue opened #797 "we are plagued by "Repository ​​consistency ​​check ​​failed" errors"
I keep getting this error on both on our Jenkins (and Linux) and locally on my MacOS laptops.

example: https://scala-ci.typesafe.com/view/scala-2.12.x/job/scala-2.12.x-integrate-community-build/3552/consoleFull

[code]

the problem goes away if I `rm -rf ~/.dbuild`, but that's pretty rough because I lose all the cached runs

in 3+ years of community build work, I don't recall ever seeing this err

[2018-09-26 23:39] SethTisue commented on #797
(downgrading dbuild to 0.9.13 (on the off-chance it might help, I have no specific reason to believe it would) isn't an option because it doesn't work with sbt 1.2.1+)

[2018-09-27 03:50] SethTisue commented on #797
I'm starting to wonder if this only happens when a run is aborted at an inopportune time, leaving files in an inconsistent state.

[2018-09-27 11:41] cunei commented on #797
The Java version is (should) be calculated as part of the build hash, so in theory there shouldn't be collisions due to the same build done with different JDK versions.
This looks like a serialization/deserialization bug in dbuild. The differences are of the form:
[code]
Not sure why that started appearing just now, however; maybe some odd interaction due to a newer library being pulled in? I need

[2018-10-01 03:36] SethTisue commented on #797
@cunei surely this started with c28d3d2177f2578174e0b72078da161ec440a747, where I do:

[code]

this dbuild feature, of using the extra nesting level to make changes to settings for the build definition itself, is a dbuild feature I've never used before

[2018-10-01 17:27] SethTisue commented on #735
I've deleted the JDK 10 job from Jenkins. 8 and 11 only now.

[2018-10-01 23:10] SethTisue commented on #796
https://github.com/etorreborre/specs2/pull/710 should fix specs2

[2018-10-01 23:13] SethTisue commented on #796
scalacommunitybuild/paradise@e4b6a5f34c451fd7683b7be5757731943a25008f should fix macro paradise

[2018-10-01 23:55] xuwei-k commented on #796
https://github.com/scodec/scodec-bits/pull/98

[2018-10-02 15:55] xuwei-k commented on #796
https://github.com/alexarchambault/case-app/pull/92

[2018-10-02 21:58] cunei commented on #797
I isolated the bug, it is indeed in the serialization/deserialization; will work on a fix. /cc @eed3si9n

[2018-10-03 01:52] xuwei-k commented on #796
https://github.com/playframework/play-doc/pull/40

[2018-10-03 01:53] xuwei-k commented on #796
https://github.com/functional-streams-for-scala/fs2/pull/1278

[2018-10-03 10:22] cunei commented on #797
This issue is fixed in https://github.com/lightbend/dbuild/commit/8827a458e43577cdaed8cce5dad362841974458f, I just released dbuild 0.9.15 with the fix. :blush:
/cc @eed3si9n

[2018-10-03 10:22] #797 closed, assigned to nobody

[2018-10-03 18:02] SethTisue opened #798 "possible to include at least a little Scala.js stuff?"
as I wrote at https://github.com/scala/bug/issues/11174 :

/cc @sjrd @japgolly

[2018-10-03 22:42] SethTisue commented on #796
thank you, Yoshida-san, for continuing to chip away at this. I'll keep at it as well :-)

https://scala-ci.typesafe.com/view/scala-2.12.x/job/scala-2.12.x-jdk11-integrate-community-build/57/ shows the current top blockers as:

[code]

[2018-10-04 05:10] xuwei-k commented on #796
- https://github.com/eed3si9n/expecty/pull/6
- https://github.com/atnos-org/eff/pull/152

[2018-10-04 15:18] nafg commented on #798
Isn't it well worth it? Scala.js is a major part of the scala ecosystem nowadays.

[2018-10-04 18:12] SethTisue commented on #797
@cunei I upgraded all the builds (except 2.11/JDK6) to 0.9.15 and everything seems to be working fine. thank you very much!

[2018-10-05 04:29] ngbinh commented on #798
Please do. Scala.js and scala.js react plays a vital role in our tech stack.

[2018-10-05 15:39] xuwei-k commented on #796
https://github.com/lihaoyi/fastparse/pull/196

[2018-10-09 21:28] SethTisue commented on #796
https://github.com/lightbend/ssl-config/issues/128 (just an issue, not a PR)

[2018-10-09 21:38] SethTisue commented on #796
https://github.com/lihaoyi/scalatags/pull/184

[2018-10-10 23:24] SethTisue commented on #798
first stab at #799

@nafg time and money are finite, these "worth it" judgements are extremely hard to make. it is clearly desirable, yes, there's no question. but for every thing we take on at Lightbend or the Scala Center or LAMP, there's 10 or 100 other things we can't take on that are also desirable

[2018-10-10 23:33] SethTisue commented on #798
P.S. note that we have enough capacity on our Jenkins, that isn't the issue. so if somebody in the community wants to put together a Scala.js community build config file, to be community-maintained going forward, I'd be happy to make a Jenkins job for it, assuming the dbuild issue we're hitting at #799 can be resolved (which is unclear)